// Core variables and mixins bourbon
@import "bourbon";

// Modal
.modal{
	.modal-header{position:relative;@include padding(10px $gutter);
		.close{@include margin(0);}
	}
	.close{display:block;@include position(absolute, 0 0 null null);z-index:20;@include padding(10px);color:$color-base;
		i{display:block;@include size(26px);@include padding(3px);font-size:1.25rem}
		&:hover{opacity:0.75}
	}
	.modal-xl{max-width:1070px}
	.modal-xxl{max-width:1200px}
}

.qrcode-user{text-align:center;
	img{display:block;max-width:200px;@include margin(null auto)}
}
.rating-list{display:flex;justify-content:center;background-color:shade($background, 0.5);max-width:300px;@include margin(null auto);@include padding(20px);border:1px solid $color-border;border-radius:8px;
	li{position:relative;flex-shrink:0;@include margin(null $gutter);
		input[type="radio"]{display:none}
		input[type="radio"]:checked+label{
			[class^=ica], span{color:$color-main}
		}
		label{text-align:center;cursor:pointer;
			span{display:block;color:#888;font-size:0.75rem;}
			[class^=ica]{display:block;@include size(32px);@include margin(0 auto 10px);color:#888;font-size:2rem}
		}
		&:last-child{margin-bottom:0}
	}
}
.location-list{
	li{display:flex;align-items:center;width:300px;@include padding($gutter/2)}
}
.switch-wrap{@include position(absolute, 12px $gutter null null);display:flex;justify-content:center;align-items:center}
.textarea-html{
	.inside{background-color:$background;max-height:300px;@include padding($gutter);font-size:81.3%;border-radius:0.25rem;overflow:auto;
		p, ul li{margin-bottom:$gutter}
	}
	div::-webkit-scrollbar{width:6px;height:6px}
	div::-webkit-scrollbar-thumb{background-color:#babfc3;border-radius:10px}
	div::-webkit-scrollbar-track{background:none}
}