/* Reset */
*{margin:0;padding:0;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}
*{-webkit-tap-highlight-color:rgba(0,0,0,0);/* Stops flash on tap iOS */}
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{border:0;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
ol,ul, ul li{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
table{border-collapse:collapse;border-spacing:0}
a{color:$color-main;outline:0;cursor:pointer;@extend %tr-all;
	&:hover{color:$color-main;text-decoration:none}
}
p{margin:0}
strong, b{font-weight:bold}
h1, h2, h3, h4, h5, h6{margin:0;font-weight:inherit}
img{vertical-align:top;max-width:100%}
img.responsive-img, video.responsive-video{display:block;max-width:100%;height:auto}
label{-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-o-user-select:none;user-select:none}
ul,ol,ul ul li,ul ol li,ol ol li,ol ul li,form,fieldset,.alert>p,.alert>ul{margin-bottom:0}
li,ul.large li,li p{line-height:$line-height}
a, img, span, label, li{text-decoration:none;-webkit-tap-highlight-color:rgba(255,255,255,0)}
button{box-shadow:none;border:none;outline:none;cursor:pointer}
.clearfix:before,.clearfix:after{content:'\0020';display:block;overflow:hidden;visibility:hidden;width:0;height:0}
.clearfix{zoom:1}
.clear, .clearfix:after{clear:both}
.f-left{float:left}
.f-right{float:right}
.hidden{display:none!important}
.block{display:block!important}
.line-through{text-decoration:line-through}
.word-break{word-break:break-word}

/* Typography */
.h1, .h2, .h3, .h4, .h5, .h6{font-family:$primary-font;font-weight:700}
h1{@extend .h1;font-size:1.5em}
h2{@extend .h2;font-size:1.425em}
h3{@extend .h3;font-size:1.375em}
h4{@extend .h4;font-size:1.25em}
h5{@extend .h5;font-size:1.125em}
h6{@extend .h6;font-size:1.125em}

/* Size scale */
.fs--s{font-size:0.75em}
.fs--m{font-size:0.875em}
.fs--l{font-size:1em}
.fs--xl{font-size:1.125em}
.fs--xxl{font-size:1.325em}

/* Style Line-height */
.lh-xl{line-height:1.65}

/* Style Font */
.fw-light{font-weight:300}
.fw-normal{font-weight:400}
.fw-medium{font-weight:500}
.fw-semibold{font-weight:600}
.fw-bold{font-weight:700}

/* Color */
.color-base{color:$color-base}
.color-main{color:$color-main}
.color-second{color:$color-second}
.color-price{color:$color-price}
.color-dark{color:$color-dark}
.color-grey{color:$color-grey}
.color-light{color:$color-light}
.color-error{color:$color-error}
.color-success{color:$color-success}
.color-warning{color:$color-warning}
.color-highlight-1{color:$color-highlight-1}

/* Margin/padding */
.m-top-0{margin-top:0}
.m-right-0{margin-right:0}
.m-bottom-0{margin-bottom:0}
.m-left-0{margin-left:0}

.m-top-1{margin-top:$gutter/3}
.m-right-1{margin-right:$gutter/3}
.m-bottom-1{margin-bottom:$gutter/3}
.m-left-1{margin-left:$gutter/3}

.m-top-2{margin-top:($gutter/3)*2}
.m-right-2{margin-right:($gutter/3)*2}
.m-bottom-2{margin-bottom:($gutter/3)*2}
.m-left-2{margin-left:($gutter/3)*2}

.m-top-3{margin-top:$gutter}
.m-right-3{margin-right:$gutter}
.m-bottom-3{margin-bottom:$gutter}
.m-left-3{margin-left:$gutter}

.m-top-4{margin-top:($gutter/3)*4}
.m-right-4{margin-right:($gutter/3)*4}
.m-bottom-4{margin-bottom:($gutter/3)*4}
.m-left-4{margin-left:($gutter/3)*4}

.m-top-5{margin-top:($gutter/3)*5}
.m-right-5{margin-right:($gutter/3)*5}
.m-bottom-5{margin-bottom:($gutter/3)*5}
.m-left-5{margin-left:($gutter/3)*5}

.m-top-6{margin-top:($gutter/3)*6}
.m-right-6{margin-right:($gutter/3)*6}
.m-bottom-6{margin-bottom:($gutter/3)*6}
.m-left-6{margin-left:($gutter/3)*6}

/* Lib extend */
%borderRadius-s{border-radius:3px}
%borderRadius-m{border-radius:5px}
%borderRadius-l{border-radius:10px}
%borderRadius-circle, %circle{border-radius:100%}

%backgroundCover--center{background-repeat:no-repeat;background-size:cover;background-position:center center}
%tr-all{transition:all .4s ease}
%userSelect-none{user-select:none}

/* Box Shadow */
.shadow-none{box-shadow:0!important}
.shadow--s{box-shadow:0 2px 4px rgba(0, 0, 0, 0.05)!important}
.shadow--m{box-shadow:0 4px 10px rgba(0, 0, 0, 0.2)!important}
.shadow--l{} // Chưa set
