$background       : #EFF0F5 !default;

// Color Font
$color-base       : #111 !default;
$color-main       : #2777FF !default;
$color-second     : #F98127 !default;
$color-third      : #333 !default;
$color-four       : #666 !default;

$color-dark       : #000 !default;
$color-light      : #fff !default;
$color-grey       : rgba(0,0,0,0.5) !default;
$color-price      : #FF3C00 !default; // Chưa set

$color-highlight-1: #F2AF83 !default;

$color-border     : #dadce0 !default;
$color-link       : $color-main !default;

$color-success       : #16A85A !default;
$color-error         : #fc4a4a !default;
$color-warning       : #FFC82C !default;

// Font Style
$font-icon: 'theicon'!default;

// Page
$base-font: $font-stack-system;
$base-font-size: 16px;
$base-font-weight: 400;

//$primary-font: 'Roboto', sans-serif;
$primary-font: 'Roboto', serif;

$max-width: 1170px;
$main_sprites: "../images/main_sprites.png";
$main_sprites_size: 600px 600px;
$line-height: 1.42857143;
$grid-gutter-width: 16px !default; // bật khi xài bootstrap
$gutter: 16px;

