// Core variables and mixins bourbon
@import "bourbon";

/*!
 * Layout
 * @author Thanh Lich
 */

/* Avatar */
.avatar{position:relative;@extend %borderRadius-circle}
.avatar--s{@include size(30px);line-height:30px}
.avatar--m{@include size(50px);;line-height:50px}
.avatar--l{@include size(90px);line-height:90px}
.avatar-img{@include position(absolute,0 null null 0);z-index:1;@include size(100%);@extend %backgroundCover--center;border-radius:100%}

/* Button */
.btn{display:inline-block;background-color:#fff;vertical-align:middle;cursor:pointer;white-space:nowrap;color:$color-base;font-weight:700;border:0 none;border-radius:30px;text-align:center;@extend %userSelect-none;box-shadow:inset 0 0 0 1px $color-border;
    &:hover, &:focus{background-color:shade(#fff, 10%)}
    &.disabled, &[disabled]{background-color:#000!important;color:#fff!important;cursor:not-allowed;pointer-events:none;box-shadow:none;opacity:0.5;}
    &.btn-default{background-color:$color-four;
        &:hover, &:focus{background-color:shade($color-four, 5%);color:#fff}
    }
    &.btn-primary{color:#fff;background-color:$color-main;box-shadow:none;
        &:hover, &:focus{background-color:shade($color-main, 5%);color:#fff}
	}
	&.btn-secondary{color:#fff;background-color:$color-second;box-shadow:none;
        &:hover, &:focus{background-color:shade($color-second, 5%);color:#fff}
    }
    &.btn--s{@include padding(5px 10px);font-size:0.938rem}
    &.btn--m{@include padding(11px 30px);font-size:1.125rem}
    &.btn--l{@include padding(15px 50px);font-size:1.25rem}
}

/* Utility - Ratio */
.aspectRatio{position:relative;
    &.aspectRatio--100{
        &:before{content:"";display:block;padding-top:100%}
    }
    &.aspectRatio--16-9{
        &:before{content:"";display:block;padding-top:56.25%}
    }
}