// Core variables and mixins bourbon
@import "bourbon";

// Modal
// .modal-backdrop.show{opacity:0.85;}
// .modal-dialog{max-width:640px;
// 	&.is-medium{max-width:640px}
// 	&.is-large{max-width:1000px}
// }
// .modal-content{background-color:$background;border:0;
// 	.modal-body{@include padding(30px);line-height:1.6;
// 		&.is-non{@include padding(0)}
// 	}
// 	.context-alert{
// 		h2{display:block;margin-bottom:$gutter*2;color:$color-second;font-size:1.25em}
// 		p{margin-bottom:$gutter*1.5}
// 		.tips{color:rgba(255,255,255,0.67)}
// 	}
// 	.context-video{
// 		video{display:block;width:100%;height:auto}
// 	}
// 	.context-speaker{
// 		span.avatar{display:block;@extend %backgroundCover--center;@include size(180px);@include margin(null auto);margin-bottom:25px;box-shadow:0 2px 6px rgba(0,0,0,0.34);transition:all 400ms ease;
// 			&.is-host{@include size(280px)}
// 		}
// 		p{color:$color-base;font-size:1.25em;font-weight:500;
// 			&.company{font-weight:700;color:$color-second;}
// 		}
// 		h4.name{display:block;@include margin(7px null null);color:$color-base;font-size:1.25em;font-weight:700}
// 		.desc-more{margin-top:$gutter;padding-bottom:10px;
// 			p{margin-bottom:$gutter*1.5}
// 			&.desc-company{padding-top:(($gutter*1.5) + 10px);padding-bottom:inherit;position:relative;
// 				p{margin-bottom:inherit;}
// 				&:after{content:'';@include position(absolute,0 0 null 0);@include margin(null auto);width:50px;height:2px;background:$color-second;}
// 			}
// 		}
// 	}
// }
// .func-close-modal{@include position(absolute, null null -70px 50%);z-index:33;cursor:pointer;@include size(64px);margin-left:-32px;
// 	&.is-normal{top:5px;bottom:inherit;left:inherit;right:5px;margin-left:0}
// 	[class^=icn]{display:block;@include size(64px);@include margin(null auto);@include padding(0);font-size:4rem}
// }


// modal
body.overlay-open-modal{overflow:hidden;}

.bl-modal{display:flex;justify-content:center;align-items:center;z-index:-1;opacity:0;visibility:hidden;@include position(fixed, 0);@include padding($gutter null);transition:all 400ms ease;background-color:rgba(0, 0, 0, 0.75);overflow-y: scroll;
	@media only screen and (max-width:360px){@include padding(40px null)}
}
body.overlay-open-modal .bl-modal {z-index:1001;opacity:1;visibility:visible;transition:all 400ms ease;
	.modal-container{transition:all 400ms ease;}
}

.bl-modal{
	.modal-container{@include position(absolute, null $gutter);background-color:#fff;border-radius:8px;overflow:hidden;max-width:768px;margin-left:auto;margin-right:auto;
		.bl-modal-heading{background-color:#f2f4f8;height:50px;
			.func-close-modal{color:inherit;@include position(absolute, 0 0 null null);z-index:12;@include size(46px);@include padding(15px);
				img{@include size(16px);}
			}
			span{display:block;@include padding(13px 50px);color:#000;font-size:16px;font-weight:bold;text-align:center}
		}
		.module-modal{background:none;@include padding($gutter);
			form{margin-top:20px;
				input,textarea{font-family:'OpenSans-Regular';font-size:18px;width:100%;margin-bottom:15px;border:1px solid #dedede;outline:none;box-shadow:0 2px 10px rgba(0,0,0,0.2);@include padding(20px 25px);border-radius:8px;
					::placeholder{font-size:18px;}
				}
				textarea{height:150px;}
				button{@include padding(10px 20px);background-color:$color-main;font-size:16px;font-family:'OpenSans-Bold';color:#fff;border-radius:4px;}
			}
		}

	}
	@include media-breakpoint-up(md){width:100%;}
}

