// Core variables and mixins bourbon
@import "bourbon";

/* Body */
html{-webkit-font-smoothing:antialiased}
body{font-family:$primary-font;font-size:$base-font-size;font-weight:$base-font-weight;line-height:$line-height;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%;
	@media only screen and (max-width:414px){font-size:calc(100% + 1 * (100vw - 360px)/ 39)}
}

/* Layout */
[class*="layout"]{position:relative;background-color:#f2f4f8;@include size(100%, auto);@include margin(0 auto)}
.container{position:relative;max-width:$max-width;@include margin(null auto)}

/* Menu */
.cd-nav-trigger{position:fixed;top:30px;left:7px;z-index:1000;background:transparent;width:35px;height:29px;overflow:hidden;text-indent:100%;white-space:nowrap;
	span{position:absolute;display:block;width:20px;height:2px;background:#000;top:50%;margin-top:-1px;left:50%;margin-left:-10px;
		&:before, &:after{
			content:"";position:absolute;left:0;background:inherit;width:100%;height:100%;transform:translateZ(0);-webkit-backface-visibility:hidden;backface-visibility:hidden;transition:transform 0.3s;
		}
		&:before{top:-6px;transform:rotate(0)}
		&:after{bottom:-6px;transform:rotate(0)}
	}
	&.menu-is-open{box-shadow:none;
		span{background-color:transparent;
			&:before, &:after{background:#fff}
			&:before{top:0;transform:rotate(135deg)}
			&:after{bottom:0;transform:rotate(225deg)}
		}
	}
	@include media-breakpoint-up(lg){display:none}
}
#navBar{@include position(fixed, 0 null 0 0);width:300px;@include padding(10px);padding-top:90px;z-index:0;transform:translateX(-100%);@extend %tr-all;visibility:hidden;overflow:hidden;-webkit-backface-visibility:hidden;backface-visibility:hidden;background-color:rgba(#08070d,0.9);border-radius:5px;opacity:1;transform:scale(0);transform-origin:top left;transition:transform 0.3s, visibility 0s 0.3s;
	li{position:relative;margin-bottom:20px;padding-right:40px;font-weight:400;font-size:20px;text-align:right;
		a{color:#fff!important;@extend %tr-all;
			span{color:$color-second;font-weight:bold}
		}
		&:last-child{margin-bottom:0}
	}
	&.is-visible{z-index:999;visibility:visible;transform:scale(1);transition:transform 0.3s, visibility 0s 0s}
	@include media-breakpoint-up(lg){display:none}
}
// $color-main:#45A3D6;
$color-main:#2989BE;

%backgroundCover--center{background-repeat:no-repeat;background-size:cover;background-position:center center}
%flex--center{display:flex;align-items:center;}
.heading{position: relative;margin-bottom:150px;text-align:center;
    p{font-family:'OpenSans-ExtraBold';position: absolute;top:-75px;z-index:1;color:#DFDFDF;font-size:100px;font-weight: bold;text-transform:capitalize; }
    h2{font-family:'OpenSans-Bold';color:$color-main;font-weight:700;font-size:3em;position: absolute;z-index: 2;
    }
}
h3.title{font-size:32px;position:relative;font-family:'DINREGULAR';
    &:after{content:'';@include position(absolute, null null -15px 0);@include size(100px,5px);background-color:$color-main;}
}
/* Header */
@keyframes scaleImg{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
header{box-shadow: 0 2px 4px rgba(0,0,0,0.15);background-color:#fff;transition:all 400ms ease;
    &.is-fixed{@include position(fixed,0 0 null 0);width:100%;z-index: 999;}
    .menu{height:90px;@extend %flex--center;padding:0 15%;
        .logo{flex-shrink:0;flex:0 0 20%;max-width:20%;
            img{display:block;}
            @media(min-width:1024px){
                img{margin-top:-10px}
            }
        }
        nav{flex-grow:1;min-width:0;flex:0 0 80%;max-width:80%;
            ul{@extend %flex--center; justify-content:flex-end;
                li{text-align:center;margin-left:30px;height:90px;display:flex;align-items:center;flex-shrink:0;
                    @media (max-width:1360px) and (min-width:1180px){margin-left:15px;}
                    &.is-active{
                        a{color:$color-main;
                            &:after{width:100%;}
                        }
                    }
                    a{font-size:1em;font-weight:600;display:inline-block;position:relative;color:#000;font-family: 'OpenSans-Bold';
                        &:after{content:'';position: absolute;height:5px;width:0;margin:0 auto;left:0;bottom:-7px;width:0;transition:all 400ms ease;background-color:$color-main;}
                        &:hover{color:$color-main;
                            &:after{width:100%;}
                        }
                    }
                    &.language-list{display:flex;align-items:center;position: relative;
                        .context-language{position:relative;display: flex;align-items:center;flex-grow:1;min-width:0;
                            span{font-size:1em;font-weight:600;flex-grow:1;min-width:0;}
                            img{display:block;margin-left:5px;width:18px;height:18px;}
                            &:after{content:'';position: absolute;top:7px;right:-20px;background-image: url('../images/icon_down_grey.png');background-size:14px 10px;background-repeat: no-repeat;width:14px; height:10px;}
                        }
                        .select-language{opacity:0; visibility: hidden; transition: all 400ms ease; position: absolute;width:200px;left:0;top:90px;z-index: 99;;background: #fff;
                            .opt{display:flex;align-items:center;padding:15px 20px;border-bottom:1px solid #dedede;
                                img{width:18px;height:18px;margin-right:10px;}
                            }
                        }
                        &:hover{
                            .select-language{
                                visibility: visible;opacity: 1;
                                .opt{&:after{display:none !important;}}
                            }
                            
                        }
                    }
                }
            }
        }
	}
}
.module-banner{position:relative;width:100%;background-color:#fff;
    &.single-img{overflow: hidden;
        .img-banner{ animation: scaleImg 10s ease-in infinite;
            transition: all 0.5s ease-in-out;display:block;@extend %backgroundCover--center;
            &:after{content:'';display:block;padding-top:41.5%;}
        }
        .breadcrumb-banner{border-radius:4px;text-align:center;max-width:450px;@include margin(null auto);z-index:11;@include padding(40px 20px);background-color:$color-main;@include position(absolute,50% 0 null 0);transform:translateY(-50%);
            h1{text-transform: uppercase;color:#fff;font-size:32px;letter-spacing:5px;font-family:'OpenSans-Bold';}
            ul{margin-top:10px;display:flex;align-items:center;justify-content:center;
                li{
                    a{padding:0 10px;color:#fff;font-size:16px;position: relative;font-family:'OpenSans-Regular';
                        &:after{content:'';@include position(absolute,7px -4px null null);width:9px;height:11px;background-image: url('../images/line_white.png');background-repeat: no-repeat;background-size: cover;background-position: center center;;}
                    }
                    &:last-child{
                        a{font-weight:bold;
                            &:after{display:none;}
                        }
                    }
                }
            }
        }
    }
    &:after{content:'';@include position(absolute,0 0 null 0);z-index:9;background-image: linear-gradient(to right,rgba(0,0,0,.3),rgba(0,0,0,0.5),rgba(0,0,0,0.7));@include size(100%);}
    .context-banner{position:relative;max-width:100%;text-align:center;
        .text-banner{@include position(absolute,50% 0 null 0);z-index:10;transform:translateY(-50%);
            h1{color:$color-main;font-size:72px;font-family: 'DINREGULAR';font-weight:700;}
            p{font-size:1.25em; display: -webkit-box;max-width:1024px;margin:0 auto;
                -webkit-line-clamp: 3;margin-top:10px;
                -webkit-box-orient: vertical;  
                overflow: hidden;line-height:2;
                color:#FFF;
            }
            .wrap-button{margin-top:30px;display:flex;align-items:center;justify-content:center;@include margin(null auto);
                a{border:2px solid $color-main;width:200px;display:block;@include padding(10px 20px);background-color:#fff;color:$color-main;font-weight:600;font-size:18px;
                &:last-child{margin-left:20px;
                    }
                    &:hover{background-color:$color-main;color:#fff;}
                }
            }
        }
        .slide-banner{
            .swiper-container{
                .swiper-slide{width:100%;overflow:hidden;
                    .item-slide{overflow:hidden;
                        animation: scaleImg 10s ease-in infinite;
                        transition: all 0.5s ease-in-out;box-shadow:0px 4px 6px rgba(0,0,0,0.2);background-size:cover;background-position:center center; background-repeat:no-repeat;
                        &:after{display:block;content:'';padding-top:41.5%;

                        }
                    }
                }
            }
        }

    }
}
.module-about-us{@include padding(50px 12% 90px);
    .context-about-us{margin-top:50px;
     display:flex;align-items:flex-start;
        .img{margin-top:35px;flex:0 0 40%;max-width:40%;position: relative;width:100%;height:auto;
            &:after{content:'';display:block;padding-top:56.25%;}
            .layer3{box-shadow:0px 4px 6px rgba(0,0,0,0.2);width:100%;height:100%;position:absolute;z-index:3;background-position:center center;background-size: cover;background-repeat: no-repeat;
                 &:after{content:'';display:block;padding-top:70%;}
            }
            .layer1,.layer2{background:transparent;position: absolute;width:100%;height:100%;border:1px solid rgba(0,0,0,0.3); top:-20px;left:-20px;z-index: 2;}
            .layer2{bottom:-20px;right:-20px;top:inherit;left:inherit;}
        }
        .content-about-us{flex:0 0 60%;max-width:60%;
            padding-left:100px;
            .desc{margin-top:20px;
                h3{color:$color-main;font-size:32px;position:relative;font-family:'DINREGULAR';margin-bottom:20px;
                }
                p{font-size:1.125em; display: -webkit-box;
                    -webkit-line-clamp: 5;
                    -webkit-box-orient: vertical;  
                    overflow: hidden;
                    color:#414141;
                    line-height: 1.6;
                    margin-bottom:30px;
                    .func-seemore-about{
                        color:$color-main;font-size:1em;font-weight:600;margin-left:20px;
                    }
                }
                .func-seemore{transition:all 400ms ease;text-align:center;max-width:150px;margin-left:auto;border-top-right-radius: 20px; border-bottom-left-radius: 20px;padding:10px 15px;background: #e1e1e1;color:$color-main;
					&:hover{background:$color-main;
						a{color:#fff;}
					}
                }
            }
           
        }
    }
}

.module-product{@include padding(50px 12% 90px);
    &.is-border{border-top:1px solid #dedede;}
    &.is-single{background-color:#f2f4f8;
        padding-top:120px;
        .context-product{display:flex;align-items: flex-start;
            .menu-product{flex-shrink: 0;width:300px;border-radius:4px;overflow:hidden;box-shadow:0 2px 10px rgba(0,0,0,0.2);
                .title{background-color: $color-main;@include padding(15px);color:#fff;font-size:18px;font-family:'OpenSans-Bold';}
                .menu-list{background-color:#fff;@include padding(null 15px);
                    ul.lv1{
                        li{border-bottom:1px solid #dedede;
                            .item-lv1{cursor:pointer; @include padding(15px null);display:flex;align-items:center;color:inherit;font-size:18px;font-family:'OpenSans-Bold';
                                span{flex-grow:1;min-width:0;}
                                img.icn-more{display:block;margin-left:auto;flex-shrink:0;@include size(16px);transition:all 400ms ease;
                                    &.is-active{transform:rotate(90deg);}
                                }
                            }
                            &:last-child{
                                a{border:none;}
                            }
                            ul.lv2{display:none;
                                &.is-show{
                                    display:block;
                                }
                                li{border: none;
                                    .item-lv2{cursor:pointer;@include padding(null null 15px);display:flex;align-items:center;color:inherit;font-size:18px;font-family:'OpenSans-Regular';
                                        span{flex-grow:1;min-width:0;}
                                        img.icn-more{display:block;margin-left:auto;flex-shrink:0;@include size(16px);transition:all 400ms ease;
                                            &.is-active{transform:rotate(90deg);}
                                        }
                                    }
                                    ul.lv3{display:none;padding-left:15px;
                                        &.is-show{
                                            display:block;
                                        }
                                        li{border: none;
                                            .item-lv3{cursor:pointer;@include padding(null null 15px);display:flex;align-items:center;color:inherit;font-size:16px;font-family:'OpenSans-Regular';
                                                span{flex-grow:1;min-width:0;}
                                                img.icn-more{display:block;margin-left:auto;flex-shrink:0;@include size(16px);transition:all 400ms ease;
                                                    &.is-active{transform:rotate(90deg);}
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .product-list{flex-grow:1;min-width: 0;margin-left:50px;margin-top:0;
                li{width:calc(100% /3);}
            }
            .product-detail{display:flex;align-items:flex-start;flex-grow:1;min-width: 0;margin-left:100px;margin-top:0;
                .image-product{width:45%;
                    .gallery-top{
                        .swiper-wrapper{
                            .swiper-slide{max-width:100%;
                                span.img{display:block;
                                    @extend %backgroundCover--center;
                                    &:after{display:block;content:'';padding-top:100%;}
                                }
                            }
                        }
                    }
                    .gallery-thumbs{margin-top:10px;
                        .swiper-wrapper{
                            .swiper-slide{height: 100%;
                                opacity: 0.4;width:25%;@extend %backgroundCover--center;
                                &:after{display:block;content:'';padding-top:100%;}
                            }
                        }
                        .swiper-slide-thumb-active {
                            opacity: 1 !important;
                            border:2px solid $color-main;
                          }
                    }
                }
                .content-product{margin-top:-10px;width:55%;padding-left:50px;
                    h3{margin-bottom:20px;font-size:32px;font-family:'OpenSans-Bold';text-transform:uppercase;}
                    .r-content{@include padding(15px null);border-bottom:1px solid #dedede;
                        h4{margin-bottom:10px;font-size:16px;font-family:"OpenSans-Bold";text-transform:capitalize;  color:$color-main;}
                        p{font-size:16px;font-family:"OpenSans-Regular";line-height:1.5;}
                        &:last-child{border-bottom:none;}
                    }
                    a.contact{margin-top:20px;
                        background-color:$color-main;display:block;@include padding(15px 25px);text-align:center;color:#fff;font-size:21px;font-family:'OpenSans-Bold';
                    }
                }
            }
        }
    }
    .heading{position: relative;
        p{position: absolute;top:-75px;z-index:1;color:#DFDFDF;font-size:100px;font-weight: bold;}
        h2{color:$color-main;font-weight:700;font-size:3em;position: absolute;z-index: 2;
        }
    }
    .context-product{margin-top:130px;
        .tag-list{display:flex;align-items:center;flex-wrap: wrap;
            li{border-radius:4px;
                padding:12px 25px;background-color:#DFDFDF;margin-right:20px;
				margin-bottom:20px; text-transform:capitalize;transition:all 400ms ease;
				a{font-size:18px;color:#353535;display:block;width:100%;font-family:"OpenSans-Bold";}
                &.is-active{
					background-color:$color-main;
					a{color:#fff;font-weight:700;}
                }
                &:hover{
					background-color:$color-main;
					a{color:#fff;}
                }
            }
        }
        .product-list{margin-left:-20px;margin-right:-20px;margin-top:10px;display:flex;align-items:flex-start;flex-wrap:wrap;
            li{display: block;width:25%;margin-bottom:30px;padding:0 20px;
                .item-product{border-radius:4px;overflow:hidden;display:block;background:#fff;box-shadow:0px 4px 6px rgba(0,0,0,0.2);                    
                    .image-product{overflow: hidden;
                        .img{transition:all 400ms ease;display:block;background-position: center center;background-repeat: no-repeat;background-size: cover;
                            &:after{display: block;content:'';padding-top:75%;}
                        }
                    }
                    .desc{padding:15px;position:relative;
                        h3{color:#000;text-align: center;text-transform: capitalize;font-size:1.125em;font-family:'DINREGULAR'; }
                        p{transition:all 400ms ease;display:flex;align-items:center;justify-content: center;@include position(absolute,null 0 -100% 0);@include size(100%);background-color:$color-main;text-align: center;font-size:0.938em;font-family:'OpenSans-Regular';color:#000;@include padding(16px);
                            img{margin-right:5px;}
                        }
                    }
                }
                &:hover{
                    .item-product{
                        .image-product{
                            .img{transform: scale(1.5);}
                        }
                        .desc{
                            p{bottom:0;}
                        }
                    }
                }
            }
        }
    }
}
.module-contact{padding:70px 12%;
    &.is-single{padding-top:120px;}
    .heading{position: relative;
        p{position: absolute;top:-75px;z-index:1;color:#DFDFDF;font-size:100px;font-weight: bold;}
        h2{color:$color-main;font-weight:700;font-size:3em;position: absolute;z-index: 2;
        }
    }
    .context-contact{
        &.is-custom{margin-top:70px;}
        margin-top:150px;display:flex;align-items:flex-start;
        .infor-contact{flex:0 0 50%;max-width:50%;padding-right:15%;
            .r-infor{display:flex;align-items: flex-start;margin-bottom:20px;
                p{font-size:1em; margin-left:10px;
                    a{color:$color-main;font-weight:700; text-decoration: underline;}
                }
                &:last-child{
                    img{margin-right:5px;}
                }
            }
        }
        .form-contact{flex:0 0 50%;max-width:50%;
            form{
                .r-input{
                    input,textarea{box-shadow:inherit;resize:none;width:100%;border:inherit;margin-bottom:30px;width:100%;padding:25px 40px;box-shadow: 0px 0px 10px rgba(0,0,0,0.2);font-size:1.125em;border-radius:4px;
                     }
                    textarea{min-height:150px}
                    &.wrap-input{
                        display: flex;
                        input{width:47%;
                            &:nth-child(2){margin-left:auto;}
                        }
                    }
                    button{background:#414141;transition:all 400ms ease;border:1px solid rgba(0,0,0,0.2);color:#fff;font-size:1em;text-align: center;padding:15px 25px;border-radius:4px;cursor: pointer;font-weight:600;
                        &:hover{background:#fff;color:#414141;}
                    }
                }
            }
        }
    }
}
.module-introduce{@include padding(120px 15% 90px);
    .heading{position: relative;margin-bottom:150px;text-align:center;
        p{position: absolute;top:-75px;z-index:1;color:#DFDFDF;font-size:100px;font-weight: bold;}
        h2{color:$color-main;font-weight:700;font-size:3em;position: absolute;z-index: 2;
        }
    }
    .context-introduce{
        h3.title{font-size:32px;position:relative;font-family:'DINREGULAR';
            &:after{content:'';@include position(absolute, null null -15px 0);@include size(100px,5px);background-color:$color-main;}
        }
        .desc-introduce{margin-bottom:100px;
            p{margin-top:60px;font-size:16px;line-height:1.6;font-family:'OpenSans-Regular';}
        }
    }
}
.module-organization{
    .context-organization{
        ul.organization-list{margin-top:70px;display:flex;align-items:flex-start;flex-wrap:wrap;
            li{max-width:25%;flex-shrink:0;
                .item-organization{margin-right:40px;margin-bottom:60px;
                    display:flex;align-items:center;
                    span.img{margin-right:20px;display:block;@extend %backgroundCover--center;@include size(100px);border-radius:50%;flex-shrink:0;
                        &:after{display:block;content:'';padding-top:100%;}
                    }
                    .content{flex-grow:1;min-width:0;
                        h4{font-size:18px;font-family: 'OpenSans-Bold';}
                        .infor{margin-top:5px;padding-left:15px;position: relative;
                            span{color:grey;font-size:14px;font-family:'OpenSans-Regular';}
                            &:after{content:'';@include position(absolute,0 null 0 0);width:3px;background-color:$color-main;}
                        }
                    }
                }
            }
        }
    }
}
.module-certificate{
    &.is-single{@include padding(120px 12%)}
    .heading{position: relative;margin-bottom:150px;text-align:center;
        p{position: absolute;top:-75px;z-index:1;color:#DFDFDF;font-size:100px;font-weight: bold;}
        h2{color:$color-main;font-weight:700;font-size:3em;position: absolute;z-index: 2;
        }
    }
    .title{margin-top:100px;}
    .context-certificate{
        ul.certificate-list{margin-top:70px;display:flex;align-items:flex-start;flex-wrap: wrap;
            li{flex-shrink: 0;max-width:calc(100% /4 );flex:0 0 25%;    
                .item-certificate{max-width:250px;margin-right:80px;margin-bottom:50px;
                    .img{display:block;@include size(250px,300px);
                    }
                    .desc{margin-top:10px;
                        h4{font-size:18px;font-family: 'OpenSans-Bold';margin-bottom:2px;}
                        span{font-size:14px;color:gray;
                            strong{color:#000;margin-left:5px;}
                        }
                    }
                }
            }
        }
    }
}
.module-addr{margin-top:50px;
    .context-addr{margin-top:70px;
        p{font-size:16px;font-family:'OpenSans-Regular';
            a{font-weight:700;margin-left:10px;}
        }
    }
}
.module-job{@include padding(120px 12% 90px);
    .context-job{
        ul.job-list{
            li{
                a.item-job{color:inherit;@include padding(30px);box-shadow:0 4px 15px rgba(0,0,0,0.2);border-radius:8px;margin-bottom:50px;display:flex;align-items:center;
                    .desc{flex-grow:1;min-width:0;
                        h2{margin-bottom:15px;font-size:32px;font-family:'DINREGULAR';font-weight:600;}
                        span{margin-bottom:5px;font-size:16px;font-family:'OpenSans-Regular';color:gray;}
                        p{margin-bottom:5px;font-size:16px;font-family:'OpenSans-Regular';color:gray;
                            span{margin-bottom:0;color:$color-main;margin-left:10px;font-weight:bold;}
                            &:last-child{margin-bottom:0}
                        }

                    }
                    .button-detail{display:block;margin-left:auto;flex-shrink:0;border:1px solid #000;@include padding(10px 20px);border-radius:4px;
                        font-size:16px;font-family: 'OpenSans-Regular';transition: all 400ms ease;
                        &:hover{background-color:$color-main;color:#fff;border-color:#fff;}
                    }
                }
            }
        }
        .job-detail{
            h3{font-size:48px;font-family:'DINREGULAR';}
            .desc{
                @include padding(30px);border:1px solid $color-main;border-radius:8px;margin-top:20px;
                span{margin-bottom:5px;font-size:16px;color:#000;font-weight:bold;font-family:"OpenSans-Regular";
                    &:last-child{margin-bottom:0;}
                    small{font-weight:400;margin-left:5px;color:gray;}
                }
            }
            .detail{margin-bottom:50px;margin-top:50px;border-bottom:1px solid #dedede;
                .content{margin-bottom:50px;
                    h4{font-size:24px;font-family:'OpenSans-Regular';margin-bottom:10px;}
                    ul{
                        li{color:gray;
                        padding-left:20px;
                        margin-bottom:5px;font-size:16px;font-family:'OpenSans-Regular';position: relative;
                            &:after{content:'';@include position(absolute,50% null null 2px);background-color:gray;width:5px;height:2px;}                        
                        }
                    }
                }
            }
            a.button-apply{font-family:'OpenSans-Bold';font-size:16px;color:inherit;background-color:$color-main;@include padding(10px 20px);color:#fff;text-transform: uppercase;font-weight:bold;letter-spacing:3px;text-align:center;margin:0 auto;}
        }

    }
}
.module-diff-product{
    .diff-product-title{font-size:32px;@include padding(25px null);font-family:'DINREGULAR';}
    
}
.func-list{@include position(fixed,null 10px 100px null);z-index: 10;
    .func{display:flex;align-items:center;justify-content:center;border-radius:50%;@include size(50px);background-color:$color-main;box-shadow:0px 4px 6px rgba(0,0,0,.3);
                &.func-mail{margin-top:20px;}
    }
}