@media (max-width:1024px){
	h3.title{font-size:32px;text-align:center;
		&:after{bottom:-10px;width:70px;left:0;right:0;margin:0 auto;}
	}
	header{
		.menu{
			justify-content: center;
			.logo{flex:inherit;max-width:inherit;
				img{width:50%;margin:0 auto;}
			}
			nav{display:none;}
		}
	}
	.page-content{
		.module-banner{
			&.single-img{
				.breadcrumb-banner{display:none;}
				.img-banner{
					&:after{padding-top:56.25%;}
				}
			}
			.context-banner{
				.text-banner{padding:0 20px;
					h1{font-size:32px;}
					p{font-size:18px;-webkit-line-clamp: 2;}
					.wrap-button{display:none;}
				}
				.slide-banner{flex:0 0 100%;max-width:100%;
					.swiper-container{
						.swiper-wrapper{
							.swiper-slide{
								.item-slide{
									&:after{padding-top:80%;}
								}
							}
						}
					}
				}
			}
		}
		.module-about-us{padding-right:20px;padding-left:20px;padding-bottom:20px;
			.context-about-us{margin-top:0;flex-wrap:wrap;
				.content-about-us{text-align:center;order:1;flex:0 0 100%;max-width:100%;padding-left:0;
					.desc{margin-top:0;
						h3{font-size:32px;}
						p{font-size:24px;}
						.func-seemore{margin-right:auto;}
					}
				}
				.img{order:2;flex:0 0 100%;max-width:100%;
					.layer1,.layer2{display:none;}
					.layer3{
						&:after{padding-top:0;
						}}
				}
			}
		}
		.module-product{@include padding(20px);
			&.is-single{
				.context-product{position: relative;
					.menu-product{position:absolute;z-index:2;width:100%;
						.title{
							img.icn-more{display:block;}
						}
						.menu-list{display:none;
							&.is-active{display:block;}
						}
					}
					.product-list{@include margin(0);padding-top:100px;
						li{padding:0 10px;
							
						}
					}
					.product-detail{padding-top:100px;
						margin-left:0;flex-direction:column;
						.image-product{width:100%;}
						.content-product{padding-left:0;width:100%;
							padding-top:30px;
							h3{font-size:24px;margin-bottom:10px;}
							.r-content{
								p{font-size:14px;}
							}
							.contact{font-size:14px}
						}
					}
				}
			}
			.heading{margin-bottom:70px;
				p{display:none;}
				h2{font-size:32px;}
			}
			.context-product{margin-top:10px;
				.tag-list{flex-wrap:nowrap;overflow-x: scroll;
					li{
						padding:10px 15px;margin-right:10px;
						margin-bottom:0; white-space: nowrap;
						a{font-size:18px;}
					}
				}
				.product-list{margin-top:20px;
					li{width:50%;
						.item-product{
							.desc{
								h3{font-size:18px;}
							}
						}
					}
				}
			}
		}
		.module-contact{@include padding(20px);
			&.is-single{@include padding(50px 20px);
				.heading{margin-bottom:70px;
					h2{left:0;right:0;}
				}
			}
			.heading{margin-bottom:50px;
				p{display:none;}
				h2{font-size:32px;}
			}
			.context-contact{flex-wrap: wrap;margin-top:50px;
				&.is-custom{
					
				}
				.infor-contact{margin-bottom:10px;flex:0 0 100%;max-width:100%;padding-right:0;
					.r-infor{margin-bottom:10px;
						img{display:none;}
						p{font-size:16px;margin-left:0;}
						&:last-child{
							img{margin-right:0;}
						}
					}
				}
				.form-contact{flex:0 0 100%;max-width:100%;
					form{
						.r-input{
							input{@include padding(15px);font-size:16px;}
						}
					}
				}
			}
		}
		.module-introduce{@include padding(20px);
			.heading{margin-bottom:50px;
				p{display:none;}
				h2{font-size:32px;right:0;left:0;margin:0 auto;}
			}
			.context-introduce{
				.desc-introduce{margin-bottom:40px;
					p{font-size:18px;}
				}
			}
		}
		.module-organization{
			h3.title{font-size:32px;text-align:center;
				&:after{bottom:-10px;width:70px;right:0;left:0;margin:0 auto;}
			}
			.context-organization{
				.organization-list{margin-top:35px;
					li{flex:0 0 calc(100%/3);max-width:calc(100%/3);
						.item-organization{margin-right:0;margin-bottom:40px;flex-direction:column;
							span.img{@include size(80px);margin-right:0;
							}
							.content{margin-top:10px;text-align:center;
								.infor{padding-left:0;
								&:after{display:none;}}
							}
						}
						&:last-child{.item-organization{
							margin-bottom:0;
						}
						}
					}
				}
			}
		}
		.module-certificate{
			&.is-single{@include padding(50px 20px);
				.heading{margin-bottom:50px;
					p{display:none;}
					h2{font-size:24px;@include margin(0 auto);right:0;left:0;}
				}
			}
			h3.title{font-size:32px;margin-top:50px;text-align:center;
				&:after{bottom:-10px;width:70px;right:0;left:0;margin: 0 auto;}
			}
			.context-certificate{
				.certificate-list{
					li{flex:0 0 calc(100%/3);max-width:calc(100%/3);padding:0 20px;
						@media(max-width:768px){
							flex:0 0 calc(100%/2);max-width:calc(100%/2);
						}
						
						.item-certificate{margin-right:0;max-width:100%;
							img{@include size(100%,350px)}
							.desc{text-align:center;}
						}
					}
				}
			}
		}
		.module-job{@include padding(50px 20px);
			.heading{margin-bottom:70px;
				p{display:none;}
				h2{font-size:32px;@include margin(0 auto);right:0;left:0;}
			}
			.context-job{
				.job-list{display:flex;flex-wrap:wrap;
					li{flex:0 0 50%;max-width:50%;@include padding( 0 20px);
						.item-job{flex-direction:column;
							.desc{
								h2{font-size:24px;}
								p,span{font-size:14px}
							}
							.button-detail{margin-right:auto;margin-top:20px;background-color:$color-main;color:#fff;border:none;}
						}
					}
				}
				.job-detail{h3{font-size:32px;}}
			}
		}
		.module-diff-product{
			.context-diff-product{
				.diff-product-title{font-size:24px;text-align:center;}
			}
		}
		.module-addr{
			h3.title{font-size:32px;margin-top:50px;text-align:center;
				&:after{bottom:-10px;width:70px;right:0;left:0;margin: 0 auto;}
			}
			.context-addr{margin-top:30px;}
		}
	}
}
@media (max-width:578px){
	h3.title{font-size:24px;
		&:after{bottom:-10px;width:70px;}
	}
	header{
		.menu{
			justify-content: center;
			.logo{flex:inherit;max-width:inherit;
				img{width:50%;margin:0 auto;}
			}
			nav{display:none;}
		}
	}
	.page-content{
		.module-banner{
			&.single-img{
				.breadcrumb-banner{display:none;}
				.img-banner{
					&:after{padding-top:56.25%;}
				}
			}
			.context-banner{
				.text-banner{padding:0 20px;
					h1{font-size:24px;}
					p{font-size:16px;-webkit-line-clamp: 2;}
					.wrap-button{display:none;}
				}
				.slide-banner{flex:0 0 100%;max-width:100%;
					.swiper-container{
						.swiper-wrapper{
							.swiper-slide{
								.item-slide{
									&:after{padding-top:80%;}
								}
							}
						}
					}
				}
			}
		}
		.module-about-us{padding-right:20px;padding-left:20px;padding-bottom:20px;
			.context-about-us{margin-top:0;flex-wrap:wrap;
				.content-about-us{text-align:center;order:1;flex:0 0 100%;max-width:100%;padding-left:0;
					.desc{margin-top:0;
						h3{font-size:24px;}
						p{font-size:16px;}
						.func-seemore{margin-right:auto;}
					}
				}
				.img{order:2;flex:0 0 100%;max-width:100%;
					.layer1,.layer2{display:none;}
					
				}
			}
		}
		.module-product{@include padding(20px);
			&.is-single{
				.context-product{position: relative;
					.menu-product{position:absolute;z-index:2;width:100%;
						.title{
							img.icn-more{display:block;}
						}
						.menu-list{display:none;
							&.is-active{display:block;}
						}
					}
					.product-list{@include margin(0);padding-top:100px;
						li{padding:0;}
					}
					.product-detail{padding-top:100px;
						margin-left:0;flex-direction:column;
						.image-product{width:100%;}
						.content-product{padding-left:0;width:100%;
							padding-top:30px;
							h3{font-size:24px;margin-bottom:10px;}
							.r-content{
								p{font-size:14px;}
							}
							.contact{font-size:14px}
						}
					}
				}
			}
			.heading{margin-bottom:50px;
				p{display:none;}
				h2{font-size:24px;}
			}
			.context-product{margin-top:10px;
				.tag-list{flex-wrap:nowrap;overflow-x: scroll;
					li{
						padding:5px 10px;margin-right:10px;
						margin-bottom:0; white-space: nowrap;
						a{font-size:16px;}
					}
				}
				.product-list{
					li{width:100%;
						.item-product{
							.desc{
								h3{font-size:16px;}
							}
						}
					}
				}
			}
		}
		.module-contact{@include padding(20px);
			&.is-single{@include padding(50px 20px);
				.heading{margin-bottom:70px;
					h2{left:0;right:0;}
				}
			}
			.heading{margin-bottom:50px;
				p{display:none;}
				h2{font-size:24px;}
			}
			.context-contact{flex-wrap: wrap;margin-top:50px;
				// &.is-custom{
					
				// }
				.infor-contact{margin-bottom:10px;flex:0 0 100%;max-width:100%;padding-right:0;
					.r-infor{margin-bottom:10px;
						img{display:none;}
						p{font-size:16px;margin-left:0;}
						&:last-child{
							img{margin-right:0;}
						}
					}
				}
				.form-contact{flex:0 0 100%;max-width:100%;
					form{
						.r-input{
							input{@include padding(15px);font-size:16px;}
						}
					}
				}
			}
		}
		.module-introduce{@include padding(20px);
			.heading{margin-bottom:50px;
				p{display:none;}
				h2{font-size:24px;right:0;left:0;margin:0 auto;}
			}
			.context-introduce{
				.desc-introduce{margin-bottom:40px;
					p{font-size:14px;}
				}
			}
		}
		.module-organization{
			h3.title{font-size:24px;text-align:center;
				&:after{bottom:-10px;width:70px;right:0;left:0;margin:0 auto;}
			}
			.context-organization{
				.organization-list{margin-top:35px;
					li{flex:0 0 100%;max-width:100%;
						.item-organization{margin-right:0;margin-bottom:40px;flex-direction:column;
							span.img{@include size(80px);margin-right:0;
							}
							.content{margin-top:10px;text-align:center;
								.infor{padding-left:0;
								&:after{display:none;}}
							}
						}
						&:last-child{.item-organization{
							margin-bottom:0;
						}
						}
					}
				}
			}
		}
		.module-certificate{
			&.is-single{@include padding(50px 20px);
				.heading{margin-bottom:50px;
					p{display:none;}
					h2{font-size:24px;@include margin(0 auto);right:0;left:0;}
				}
			}
			h3.title{font-size:24px;margin-top:50px;text-align:center;
				&:after{bottom:-10px;width:70px;right:0;left:0;margin: 0 auto;}
			}
			.context-certificate{
				.certificate-list{
					li{flex:0 0 100%;max-width:100%;@include padding(0);
						.item-certificate{margin-right:0;max-width:100%;
							img{@include size(100%,350px)}
							.desc{text-align:center;}
						}
					}
				}
			}
		}
		.module-job{@include padding(50px 20px);
			.heading{margin-bottom:70px;
				p{display:none;}
				h2{font-size:24px;@include margin(0 auto);right:0;left:0;}
			}
			.context-job{
				.job-list{display:unset;
					li{max-width:100%;flex:0 0 100%;@include padding(0);
						.item-job{
							flex-direction: column;
							.desc{
								h2{font-size:24px;}
								p,span{font-size:14px}
							}
							.button-detail{margin-right:auto;margin-top:20px;background-color:$color-main;color:#fff;border:none;}
						}
					}
				}
			}
		}
		.module-diff-product{
			.context-diff-product{
				.diff-product-title{font-size:24px;text-align:center;}
			}
		}
		.module-addr{
			h3.title{font-size:24px;margin-top:50px;text-align:center;
				&:after{bottom:-10px;width:70px;right:0;left:0;margin: 0 auto;}
			}
			.context-addr{margin-top:30px;}
		}
	}
}