// Core variables and mixins bourbon
@import "../../../zalo_core_sass/bourbon";

/* Body */
html{-webkit-font-smoothing:antialiased}
body{background:$background;font-family:$primary-font;font-size:$base-font-size;font-weight:$base-font-weight;line-height:$line-height;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%;
	@media only screen and (max-width: 414px){font-size:calc(100% + 1 * (100vw - 360px)/ 39)}
	&.is-event{
		[class*="layout"]{background:transparent}
	}
}

/* Layout */
[class*="layout"]{position:relative;background-color:$background;max-width:600px;@include margin(0 auto);}

.page-content{position:relative;min-height:100vh;@include clearfix;
	&.is-bg{background-color:#fff}
	@include media-breakpoint-up(md){}
	::-webkit-scrollbar{display:none;background-color:transparent;width:7px;height:7px}
	::-webkit-scrollbar-thumb{background-color:transparent;border-radius:10px}
	::-webkit-scrollbar-track{background:none}
}