/*------------------------
	icons
-------------------------*/
@function unicode($str) {
  @return unquote("\"\\#{$str}\"");
}

$icn-check-small: unicode(ea03);
$icn-small-down: unicode(ea04);
$icn-small-right: unicode(ea05);
$icn-circle-remove: unicode(ea06);
$icn-bold-add: unicode(ea07);
$icn-preferences: unicode(ea09);
$icn-pin: unicode(ea0a);
$icn-bold-delete: unicode(ea0b);
$icn-chat-round: unicode(ea0c);
$icn-check-circle: unicode(ea0d);
$icn-users: unicode(ea0e);
$icn-single: unicode(ea0f);
$icn-crosshair: unicode(ea10);
$icn-map-pin: unicode(ea11);
$icn-calendar-grid: unicode(ea12);
$icn-shape-star: unicode(ea13);
$icn-shop: unicode(ea14);
$icn-search: unicode(ea15);
$icn-category: unicode(ea16);
$icn-plane: unicode(ea17);
$icn-receipt-list: unicode(ea18);
$icn-small-remove: unicode(ea19);
$icn-small-delete: unicode(ea1a);
$icn-pen-outline: unicode(ea1e);
$icn-shape-oval: unicode(ea20);
$icn-alert-circle-i: unicode(ea22);
$icn-circle-remove-outline: unicode(ea23);
$icn-check-circle-outline: unicode(ea24);
$icn-shape-star-half: unicode(ea25);
$icn-position-marker: unicode(ea26);
$icn-bed: unicode(ea29);
$icn-bus: unicode(ea2a);
$icn-umbrella: unicode(ea2b);
$icn-bed-king: unicode(ea2c);
$icn-check-square: unicode(ea2e);
$icn-shape-rectangle: unicode(ea2f);
$icn-small-up: unicode(ea30);
$icn-small-left: unicode(ea31);
$icn-stopwatch: unicode(ea35);
$icn-share: unicode(ea3a);
$icn-filter: unicode(ea3b);
$icn-sort: unicode(ea3c);
$icn-grid: unicode(ea40);
$icn-shopping-cart: unicode(ea41);
$icn-list: unicode(ea42);
$icn-clock: unicode(ea43);
$icn-lock: unicode(ea44);
$icn-launch: unicode(ea45);
$icn-cycling-track: unicode(ea46);
$icn-shape-square: unicode(ea47);
$icn-pin-outline: unicode(ea48);
$icn-chat-fill: unicode(ea49);
$icn-trash: unicode(ea4a);
$icn-flash: unicode(ea4b);
$icn-circle-delete: unicode(ea4c);
$icn-strong-up: unicode(ea4d);
$icn-credit-card: unicode(ea4e);
$icn-up-down: unicode(ea4f);
$icn-bold-negative: unicode(ea50);
$icn-bold-positive: unicode(ea51);
$icn-negative: unicode(ea52);
$icn-positive: unicode(ea53);
$icn-bold-neutral: unicode(ea54);
$icn-neutral: unicode(ea55);
$icn-move: unicode(ea56);
$icn-upload: unicode(ea58);
$icn-download: unicode(ea59);
$icn-bold-coupon: unicode(ea5a);
$icn-speaker: unicode(ea5b);
$icn-calendar-done: unicode(ea5c);
$icn-currency-dollar: unicode(ea5d);
$icn-bold-question: unicode(ea5e);
$icn-bold-info: unicode(ea5f);
$icn-home: unicode(ea60);
$icn-tail-right: unicode(ea61);
$icn-tail-left: unicode(ea62);
$icn-tail-down: unicode(ea63);
$icn-tail-up: unicode(ea64);
$icn-warning: unicode(ea65);
$icn-map: unicode(ea66);
$icn-multiple: unicode(ea67);
$icn-coupon: unicode(ea68);
$icn-pen-underline: unicode(ea69);
$icn-coins: unicode(ea6a);
$icn-bold-cash: unicode(ea6b);
$icn-cash: unicode(ea6c);
$icn-add: unicode(ea6d);
$icn-delivery: unicode(ea6e);
$icn-favorite-heart: unicode(ea6f);
$icn-contact: unicode(ea70);
$icn-cart-cancel: unicode(ea71);
$icn-fail: unicode(ea72);
$icn-bold-filter: unicode(ea73);
$icn-hamburger: unicode(ea74);
$icn-broadcast: unicode(ea75);
$icn-tools: unicode(ea76);
$icn-chart: unicode(ea77);
$icn-bold-shopping-cart: unicode(ea78);
$icn-bold-bag-remove: unicode(ea79);
$icn-bold-delivery: unicode(ea7a);
$icn-bold-box: unicode(ea7b);
$icn-bold-phone: unicode(ea7c);
$icn-preview: unicode(ea7d);
$icn-trash-simple: unicode(ea7e);
$icn-send: unicode(ea7f);
$icn-notification: unicode(ea80);
$icn-marker: unicode(ea81);
$icn-tag: unicode(ea82);
$icn-video: unicode(ea83);
$icn-player: unicode(ea84);
$icn-image: unicode(ea85);
$icn-bold-play: unicode(ea86);
$icn-bold-pause: unicode(ea87);
$icn-phone: unicode(ea88);
$icn-bold-nutrition: unicode(ea89);
$icn-url: unicode(ea8a);
$icn-bold-single: unicode(ea8b);
$icn-grid-interface: unicode(ea8c);
$icn-blog: unicode(ea8d);
$icn-bold-blog: unicode(ea8e);
$icn-playerline: unicode(ea8f);
$icn-bold-player: unicode(ea90);
$icn-bold-shop: unicode(ea96);
$icn-bold-remove: unicode(ea9a);
$icn-bold-headset: unicode(ea9b);
$icn-bold-category: unicode(ea9c);
$icn-bold-favorite: unicode(ea9d);
$icn-bold-group: unicode(ea9e);
$icn-bold-basket: unicode(ea9f);
$icn-bold-share: unicode(eaa0);
$icn-bold-squareshare: unicode(eaa1);
$icn-bold-verified: unicode(eaa3);
$icn-camera: unicode(eaa4);
$icn-bold-img: unicode(eaa5);
$icn-bold-image-library: unicode(eaa6);
$icn-bold-loudspeaker: unicode(eaa7);
$icn-bold-homesearch: unicode(eaa9);
$icn-bold-refresh: unicode(eaaa);
$icn-facebook: unicode(eaab);
$icn-zalo: unicode(eaae);
$icn-shipper: unicode(eaaf);
$icn-home-search: unicode(eab0);
$icn-bold-pen: unicode(eab1);
$icn-bold-bag: unicode(eab2);
$icn-bold-review: unicode(eab3);
$icn-check-list: unicode(eab4);
$icn-bold-mail: unicode(eab5);
$icn-mail: unicode(eab6);
$icn-bold-selectbox: unicode(eab8);
$icn-bold-receipt-list: unicode(eab9);
$icn-energy: unicode(eaba);
$icn-bold-calendar: unicode(eabb);
$icn-bold-bakery: unicode(eabc);
$icn-fullscreen: unicode(eabd);
$icn-zoom-in: unicode(eabe);
$icn-zoom-out: unicode(eabf);
$icn-bold-sort: unicode(eac0);
$icn-bold-file: unicode(eac1);
$icn-bold-bell: unicode(eac2);
$icn-love-card: unicode(eac3);
$icn-swap: unicode(eac4);
$icn-map-pin-2: unicode(eac5);
$icn-bold-backpack: unicode(eac6);
$icn-bold-discount: unicode(eac7);
$icn-bold-crown: unicode(eac8);
$icn-bold-gps: unicode(eac9);
$icn-bold-distance: unicode(eaca);
$icn-bold-departures: unicode(eacb);
$icn-bold-bus: unicode(eacc);
$icn-bold-train: unicode(eacd);
$icn-bold-clock: unicode(eace);
$icn-screen-touch: unicode(eacf);
$icn-bold-moon: unicode(ead0);
$icn-bold-oval: unicode(ead1);
$icn-bold-ship: unicode(ead2);
$icn-bold-qr: unicode(ead3);
$icn-bold-bulb: unicode(ead4);
$icn-bold-tag: unicode(ead5);
$icn-bold-present: unicode(ead6);
$icn-bold-bowl: unicode(ead7);
$icn-bold-tags-stack: unicode(ead8);
$icn-mobile: unicode(eada);
$icn-pc-monitor: unicode(eadb);

.icn-check-small::before {
  content: $icn-check-small;
}

.icn-small-down::before {
  content: $icn-small-down;
}

.icn-small-right::before {
  content: $icn-small-right;
}

.icn-circle-remove::before {
  content: $icn-circle-remove;
}

.icn-bold-add::before {
  content: $icn-bold-add;
}

.icn-preferences::before {
  content: $icn-preferences;
}

.icn-pin::before {
  content: $icn-pin;
}

.icn-bold-delete::before {
  content: $icn-bold-delete;
}

.icn-chat-round::before {
  content: $icn-chat-round;
}

.icn-check-circle::before {
  content: $icn-check-circle;
}

.icn-users::before {
  content: $icn-users;
}

.icn-single::before {
  content: $icn-single;
}

.icn-crosshair::before {
  content: $icn-crosshair;
}

.icn-map-pin::before {
  content: $icn-map-pin;
}

.icn-calendar-grid::before {
  content: $icn-calendar-grid;
}

.icn-shape-star::before {
  content: $icn-shape-star;
}

.icn-shop::before {
  content: $icn-shop;
}

.icn-search::before {
  content: $icn-search;
}

.icn-category::before {
  content: $icn-category;
}

.icn-plane::before {
  content: $icn-plane;
}

.icn-receipt-list::before {
  content: $icn-receipt-list;
}

.icn-small-remove::before {
  content: $icn-small-remove;
}

.icn-small-delete::before {
  content: $icn-small-delete;
}

.icn-pen-outline::before {
  content: $icn-pen-outline;
}

.icn-shape-oval::before {
  content: $icn-shape-oval;
}

.icn-alert-circle-i::before {
  content: $icn-alert-circle-i;
}

.icn-circle-remove-outline::before {
  content: $icn-circle-remove-outline;
}

.icn-check-circle-outline::before {
  content: $icn-check-circle-outline;
}

.icn-shape-star-half::before {
  content: $icn-shape-star-half;
}

.icn-position-marker::before {
  content: $icn-position-marker;
}

.icn-bed::before {
  content: $icn-bed;
}

.icn-bus::before {
  content: $icn-bus;
}

.icn-umbrella::before {
  content: $icn-umbrella;
}

.icn-bed-king::before {
  content: $icn-bed-king;
}

.icn-check-square::before {
  content: $icn-check-square;
}

.icn-shape-rectangle::before {
  content: $icn-shape-rectangle;
}

.icn-small-up::before {
  content: $icn-small-up;
}

.icn-small-left::before {
  content: $icn-small-left;
}

.icn-stopwatch::before {
  content: $icn-stopwatch;
}

.icn-share::before {
  content: $icn-share;
}

.icn-filter::before {
  content: $icn-filter;
}

.icn-sort::before {
  content: $icn-sort;
}

.icn-grid::before {
  content: $icn-grid;
}

.icn-shopping-cart::before {
  content: $icn-shopping-cart;
}

.icn-list::before {
  content: $icn-list;
}

.icn-clock::before {
  content: $icn-clock;
}

.icn-lock::before {
  content: $icn-lock;
}

.icn-launch::before {
  content: $icn-launch;
}

.icn-cycling-track::before {
  content: $icn-cycling-track;
}

.icn-shape-square::before {
  content: $icn-shape-square;
}

.icn-pin-outline::before {
  content: $icn-pin-outline;
}

.icn-chat-fill::before {
  content: $icn-chat-fill;
}

.icn-trash::before {
  content: $icn-trash;
}

.icn-flash::before {
  content: $icn-flash;
}

.icn-circle-delete::before {
  content: $icn-circle-delete;
}

.icn-strong-up::before {
  content: $icn-strong-up;
}

.icn-credit-card::before {
  content: $icn-credit-card;
}

.icn-up-down::before {
  content: $icn-up-down;
}

.icn-bold-negative::before {
  content: $icn-bold-negative;
}

.icn-bold-positive::before {
  content: $icn-bold-positive;
}

.icn-negative::before {
  content: $icn-negative;
}

.icn-positive::before {
  content: $icn-positive;
}

.icn-bold-neutral::before {
  content: $icn-bold-neutral;
}

.icn-neutral::before {
  content: $icn-neutral;
}

.icn-move::before {
  content: $icn-move;
}

.icn-upload::before {
  content: $icn-upload;
}

.icn-download::before {
  content: $icn-download;
}

.icn-bold-coupon::before {
  content: $icn-bold-coupon;
}

.icn-speaker::before {
  content: $icn-speaker;
}

.icn-calendar-done::before {
  content: $icn-calendar-done;
}

.icn-currency-dollar::before {
  content: $icn-currency-dollar;
}

.icn-bold-question::before {
  content: $icn-bold-question;
}

.icn-bold-info::before {
  content: $icn-bold-info;
}

.icn-home::before {
  content: $icn-home;
}

.icn-tail-right::before {
  content: $icn-tail-right;
}

.icn-tail-left::before {
  content: $icn-tail-left;
}

.icn-tail-down::before {
  content: $icn-tail-down;
}

.icn-tail-up::before {
  content: $icn-tail-up;
}

.icn-warning::before {
  content: $icn-warning;
}

.icn-map::before {
  content: $icn-map;
}

.icn-multiple::before {
  content: $icn-multiple;
}

.icn-coupon::before {
  content: $icn-coupon;
}

.icn-pen-underline::before {
  content: $icn-pen-underline;
}

.icn-coins::before {
  content: $icn-coins;
}

.icn-bold-cash::before {
  content: $icn-bold-cash;
}

.icn-cash::before {
  content: $icn-cash;
}

.icn-add::before {
  content: $icn-add;
}

.icn-delivery::before {
  content: $icn-delivery;
}

.icn-favorite-heart::before {
  content: $icn-favorite-heart;
}

.icn-contact::before {
  content: $icn-contact;
}

.icn-cart-cancel::before {
  content: $icn-cart-cancel;
}

.icn-fail::before {
  content: $icn-fail;
}

.icn-bold-filter::before {
  content: $icn-bold-filter;
}

.icn-hamburger::before {
  content: $icn-hamburger;
}

.icn-broadcast::before {
  content: $icn-broadcast;
}

.icn-tools::before {
  content: $icn-tools;
}

.icn-chart::before {
  content: $icn-chart;
}

.icn-bold-shopping-cart::before {
  content: $icn-bold-shopping-cart;
}

.icn-bold-bag-remove::before {
  content: $icn-bold-bag-remove;
}

.icn-bold-delivery::before {
  content: $icn-bold-delivery;
}

.icn-bold-box::before {
  content: $icn-bold-box;
}

.icn-bold-phone::before {
  content: $icn-bold-phone;
}

.icn-preview::before {
  content: $icn-preview;
}

.icn-trash-simple::before {
  content: $icn-trash-simple;
}

.icn-send::before {
  content: $icn-send;
}

.icn-notification::before {
  content: $icn-notification;
}

.icn-marker::before {
  content: $icn-marker;
}

.icn-tag::before {
  content: $icn-tag;
}

.icn-video::before {
  content: $icn-video;
}

.icn-player::before {
  content: $icn-player;
}

.icn-image::before {
  content: $icn-image;
}

.icn-bold-play::before {
  content: $icn-bold-play;
}

.icn-bold-pause::before {
  content: $icn-bold-pause;
}

.icn-phone::before {
  content: $icn-phone;
}

.icn-bold-nutrition::before {
  content: $icn-bold-nutrition;
}

.icn-url::before {
  content: $icn-url;
}

.icn-bold-single::before {
  content: $icn-bold-single;
}

.icn-grid-interface::before {
  content: $icn-grid-interface;
}

.icn-blog::before {
  content: $icn-blog;
}

.icn-bold-blog::before {
  content: $icn-bold-blog;
}

.icn-playerline::before {
  content: $icn-playerline;
}

.icn-bold-player::before {
  content: $icn-bold-player;
}

.icn-bold-shop::before {
  content: $icn-bold-shop;
}

.icn-bold-remove::before {
  content: $icn-bold-remove;
}

.icn-bold-headset::before {
  content: $icn-bold-headset;
}

.icn-bold-category::before {
  content: $icn-bold-category;
}

.icn-bold-favorite::before {
  content: $icn-bold-favorite;
}

.icn-bold-group::before {
  content: $icn-bold-group;
}

.icn-bold-basket::before {
  content: $icn-bold-basket;
}

.icn-bold-share::before {
  content: $icn-bold-share;
}

.icn-bold-squareshare::before {
  content: $icn-bold-squareshare;
}

.icn-bold-verified::before {
  content: $icn-bold-verified;
}

.icn-camera::before {
  content: $icn-camera;
}

.icn-bold-img::before {
  content: $icn-bold-img;
}

.icn-bold-image-library::before {
  content: $icn-bold-image-library;
}

.icn-bold-loudspeaker::before {
  content: $icn-bold-loudspeaker;
}

.icn-bold-homesearch::before {
  content: $icn-bold-homesearch;
}

.icn-bold-refresh::before {
  content: $icn-bold-refresh;
}

.icn-facebook::before {
  content: $icn-facebook;
}

.icn-zalo::before {
  content: $icn-zalo;
}

.icn-shipper::before {
  content: $icn-shipper;
}

.icn-home-search::before {
  content: $icn-home-search;
}

.icn-bold-pen::before {
  content: $icn-bold-pen;
}

.icn-bold-bag::before {
  content: $icn-bold-bag;
}

.icn-bold-review::before {
  content: $icn-bold-review;
}

.icn-check-list::before {
  content: $icn-check-list;
}

.icn-bold-mail::before {
  content: $icn-bold-mail;
}

.icn-mail::before {
  content: $icn-mail;
}

.icn-bold-selectbox::before {
  content: $icn-bold-selectbox;
}

.icn-bold-receipt-list::before {
  content: $icn-bold-receipt-list;
}

.icn-energy::before {
  content: $icn-energy;
}

.icn-bold-calendar::before {
  content: $icn-bold-calendar;
}

.icn-bold-bakery::before {
  content: $icn-bold-bakery;
}

.icn-fullscreen::before {
  content: $icn-fullscreen;
}

.icn-zoom-in::before {
  content: $icn-zoom-in;
}

.icn-zoom-out::before {
  content: $icn-zoom-out;
}

.icn-bold-sort::before {
  content: $icn-bold-sort;
}

.icn-bold-file::before {
  content: $icn-bold-file;
}

.icn-bold-bell::before {
  content: $icn-bold-bell;
}

.icn-love-card::before {
  content: $icn-love-card;
}

.icn-swap::before {
  content: $icn-swap;
}

.icn-map-pin-2::before {
  content: $icn-map-pin-2;
}

.icn-bold-backpack::before {
  content: $icn-bold-backpack;
}

.icn-bold-discount::before {
  content: $icn-bold-discount;
}

.icn-bold-crown::before {
  content: $icn-bold-crown;
}

.icn-bold-gps::before {
  content: $icn-bold-gps;
}

.icn-bold-distance::before {
  content: $icn-bold-distance;
}

.icn-bold-departures::before {
  content: $icn-bold-departures;
}

.icn-bold-bus::before {
  content: $icn-bold-bus;
}

.icn-bold-train::before {
  content: $icn-bold-train;
}

.icn-bold-clock::before {
  content: $icn-bold-clock;
}

.icn-screen-touch::before {
  content: $icn-screen-touch;
}

.icn-bold-moon::before {
  content: $icn-bold-moon;
}

.icn-bold-oval::before {
  content: $icn-bold-oval;
}

.icn-bold-ship::before {
  content: $icn-bold-ship;
}

.icn-bold-qr::before {
  content: $icn-bold-qr;
}

.icn-bold-bulb::before {
  content: $icn-bold-bulb;
}

.icn-bold-tag::before {
  content: $icn-bold-tag;
}

.icn-bold-present::before {
  content: $icn-bold-present;
}

.icn-bold-bowl::before {
  content: $icn-bold-bowl;
}

.icn-bold-tags-stack::before {
  content: $icn-bold-tags-stack;
}

.icn-mobile::before {
  content: $icn-mobile;
}

.icn-pc-monitor::before {
  content: $icn-pc-monitor;
}

