@font-face{
	font-family:'Open Sans';
	src:url('https://stc-zoa-transport.zdn.vn/resources/fonts/OpenSans/OpenSans-Light.eot?#iefix') format('embedded-opentype'), url('https://stc-zoa-transport.zdn.vn/resources/fonts/OpenSans/OpenSans-Light.woff') format('woff'), url('https://stc-zoa-transport.zdn.vn/resources/fonts/OpenSans/OpenSans-Light.ttf') format('truetype'), url('https://stc-zoa-transport.zdn.vn/resources/fonts/OpenSans/OpenSans-Light.svg#OpenSans-Light') format('svg');
	font-weight:300;
	font-style:normal;
}
@font-face{
	font-family:'Open Sans';
	src:url('https://stc-zoa-transport.zdn.vn/resources/fonts/OpenSans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('https://stc-zoa-transport.zdn.vn/resources/fonts/OpenSans/OpenSans-Regular.woff') format('woff'), url('https://stc-zoa-transport.zdn.vn/resources/fonts/OpenSans/OpenSans-Regular.ttf') format('truetype'), url('https://stc-zoa-transport.zdn.vn/resources/fonts/OpenSans/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
	font-weight:400;
	font-style:normal;
}
@font-face{
	font-family:'Open Sans';
	src:url('https://stc-zoa-transport.zdn.vn/resources/fonts/OpenSans/OpenSans-Italic.eot?#iefix') format('embedded-opentype'), url('https://stc-zoa-transport.zdn.vn/resources/fonts/OpenSans/OpenSans-Italic.woff') format('woff'), url('https://stc-zoa-transport.zdn.vn/resources/fonts/OpenSans/OpenSans-Italic.ttf') format('truetype'), url('https://stc-zoa-transport.zdn.vn/resources/fonts/OpenSans/OpenSans-Italic.svg#OpenSans-Italic') format('svg');
	font-weight:400;
	font-style:italic;
}
@font-face{
	font-family:'Open Sans';
	src: url('https://stc-zoa-transport.zdn.vn/resources/fonts/OpenSans/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'), url('https://stc-zoa-transport.zdn.vn/resources/fonts/OpenSans/OpenSans-SemiBold.woff') format('woff'), url('https://stc-zoa-transport.zdn.vn/resources/fonts/OpenSans/OpenSans-SemiBold.ttf') format('truetype'), url('https://stc-zoa-transport.zdn.vn/resources/fonts/OpenSans/OpenSans-SemiBold.svg#OpenSans-SemiBold') format('svg');
	font-weight:600;
	font-style:normal;
}
@font-face{
	font-family:'Open Sans';
	src:url('https://stc-zoa-transport.zdn.vn/resources/fonts/OpenSans/OpenSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'), url('https://stc-zoa-transport.zdn.vn/resources/fonts/OpenSans/OpenSans-SemiBoldItalic.woff') format('woff'), url('https://stc-zoa-transport.zdn.vn/resources/fonts/OpenSans/OpenSans-SemiBoldItalic.ttf') format('truetype'), url('https://stc-zoa-transport.zdn.vn/resources/fonts/OpenSans/OpenSans-SemiBoldItalic.svg#OpenSans-SemiBoldItalic') format('svg');
	font-weight:600;
	font-style:italic;
}
@font-face{
	font-family:'Open Sans';
	src:url('https://stc-zoa-transport.zdn.vn/resources/fonts/OpenSans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), url('https://stc-zoa-transport.zdn.vn/resources/fonts/OpenSans/OpenSans-Bold.woff') format('woff'), url('https://stc-zoa-transport.zdn.vn/resources/fonts/OpenSans/OpenSans-Bold.ttf') format('truetype'), url('https://stc-zoa-transport.zdn.vn/resources/fonts/OpenSans/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
	font-weight:700;
	font-style:normal;
}
@font-face{
	font-family:'Open Sans';
	src:url('https://stc-zoa-transport.zdn.vn/resources/fonts/OpenSans/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'), url('https://stc-zoa-transport.zdn.vn/resources/fonts/OpenSans/OpenSans-ExtraBold.woff') format('woff'), url('https://stc-zoa-transport.zdn.vn/resources/fonts/OpenSans/OpenSans-ExtraBold.ttf') format('truetype'), url('https://stc-zoa-transport.zdn.vn/resources/fonts/OpenSans/OpenSans-ExtraBold.svg#OpenSans-ExtraBold') format('svg');
	font-weight:900;
	font-style:normal;
}