// Core variables and mixins bourbon
@import "bourbon";

/* Body */
html{-webkit-font-smoothing:antialiased;-webkit-overflow-scrolling:touch; }
body{background-color:#000;font-family:$primary-font;font-size:$base-font-size;font-weight:$base-font-weight;line-height:$line-height;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%;-webkit-overflow-scrolling:touch;transition:all 0.4s ease;overflow-x:hidden;
	@media only screen and (max-width: 414px){font-size:calc(100% + 1 * (100vw - 360px)/ 39)}
	&.is-transparent{background:transparent;
		[class*="layout"]{background:transparent}
		.page-content{padding-top:60px;
			@include media-breakpoint-up(lg){padding-top:0}
		}
	}
	//&.is-scroll-home{background:#090756 url(../images/bg.png) center center no-repeat;background-attachment:fixed;}
}

/* All */
.container.max-width{max-width:1280px!important}
.bl-module{@include padding(60px 5px 10px);
	@include media-breakpoint-up(lg){@include padding(70px 0)}
}

.fancybox-button--close{text-indent:-9999px}

/* Layout */
[class*="layout"]{@include position(relative, null);-webkit-overflow-scrolling:touch}

.page-content{position:relative;@include padding(70px null null);@include clearfix;
	@include media-breakpoint-up(lg){padding-top:100px;padding-left:$gutter;padding-right:$gutter}
	.container{max-width:960px;@include margin(0 auto)}
	// &:after{content:'';position:absolute;top:0;right:0;left:0;width:100%;background-image:url(../images/img_bg_intro.png);background-size:cover;background-position:center center;background-repeat:no-repeat;padding-top:48.9%}
}
.title-heading{display:block;margin-bottom:30px;color:$color-second;font-family:$primary-font;font-size:1.75em;font-weight:bold;text-align:center;
	@include media-breakpoint-up(md){margin-bottom:40px;font-size:2.25em;line-height:1.33}
	@include media-breakpoint-up(lg){text-align:left;margin-bottom:60px;font-size:3em;line-height:1.25}
	&.is-white{color:#fff;margin-bottom:40px;text-align:left;}

}
/* Footer */
footer{background-color:#333;@include size(100%, auto)}

/* Header */
header{@include position(fixed,  0 0 null 0);z-index:99;@include size(100%, 60px);transition:all .4s ease;
	a.logo{@include position(absolute, 0 null null 50%);z-index:2;display:block;@include size(230px, auto);margin-top:16px;margin-left:-115px;opacity:0;transition:all .4s ease;display:none;
		i{display:block;background:url(../images/logo.1.0.1.png) 0 0 no-repeat;background-size:cover;@include size(260px, 50px);text-indent:-9999px}
		@media only screen and(max-width:349px){width:210px;margin-top: 18px;margin-left: -110px;}
		@include media-breakpoint-up(lg){@include position(relative, 10px null null inherit);@include margin(0);padding-top:0}
		@include media-breakpoint-up(xl){@include position(relative, inherit null null inherit);@include size(286px, auto);@include margin(0);padding-top:0;
			i{flex-shrink:0;@include size(286px, auto)}
		}
	}
	// class has-bg cho các trang con
	&.has-bg{background-color:#000;
		a.logo{opacity:1;display:block;}
		.user-info{
			.avatar{display:block}
		}
		@include media-breakpoint-up(md){
			.menu-wrap{margin-left:70px;}
		}
		@include media-breakpoint-up(lg){position:relative!important;margin-top:0;
			.logo{top:0;left:15px}
			.menu-wrap{padding-left:15px;}
		}
		@include media-breakpoint-up(xl){
			.menu-wrap{margin-left:100px;padding-left:0;}
		}

	}
	.col-l{display:flex;align-items:center;
		@include media-breakpoint-up(xl){padding-left:0;}
	}
	.menu-wrap{display:none;
		@include media-breakpoint-up(lg){display:block;}
	}
	.user-info{@include position(absolute, 5px $gutter null null);display:flex;justify-content:space-between;align-items:center;margin-top:8px;
		.avatar{display:none}
	}
	@include media-breakpoint-up(lg){height:70px;margin-top:30px;
		.top-container{height:70px;}
		.user-info{margin-top:8px}
	}
	&.is-fixed{background-color:#000;margin-top:0;
		a.logo{opacity:1;display:block;
			@include media-breakpoint-up(lg){left:14px;}
		}
		@include media-breakpoint-up(md){
			.menu-wrap{margin-left:70px;}
		}
		@include media-breakpoint-up(lg){
			a.logo{left:14px;top:0}
		}
		@include media-breakpoint-up(xl){
			a.logo{left:14px;}
			.menu-wrap{margin-left:120px;}
		}
	}
}

/* Menu */
@mixin bars($width,$height,$color){position:relative;display:inline-block;background:$color;border-radius:2px;
	&:before,&:after{border-radius:2px;transition:transform 0.35s ease-in-out}
	&:before{content:'';display:block;position:absolute;width:$width;height:$height;top:-($height + 3px);background:$color}
	&:after{content:'';display:block;position:absolute;width:$width;height:$height;top:$height + 3px;background:$color}
}
@mixin closed($width,$height,$color){position:relative;display:inline-block;width:0;height:0;background:transparent;
	&:before,&:after{transition:transform 0.5s linear}
	&:before{content:'';display:block;position:absolute;width:$width;height:$height;top:0;background:$color;transform:rotate(-45deg)}
	&:after{content:'';display:block;position:absolute;width:$width;height:$height;top:0;background:$color;transform:rotate(45deg)}
}
.js-menu-mobile{@include position(absolute, 5px null null 0);z-index:12;@include size(50px);
	@include media-breakpoint-up(lg){display:none}
	.trigger-menu{position:relative;cursor:pointer;@include size(50px);
		.three-bars-icon{@include margin(24px 15px);user-select:none;@include bars(20px, 2px, #fff);
			&.close{@include closed(20px, 2px ,#fff)}
		}
	}
}

// Sidebar
[data-off]{background-color:#fff;box-shadow:0 10px 10px rgba(0,0,0,0.1)}
.slidebar-container{position:relative;height:100%;@include padding(30px null 20px);border:1px solid #eee;
	.js-menu-mobile{position:absolute;top:0;left:inherit;right:-50px}
	ul{
		li{display:block;
			a{display:block;@include padding(12px $gutter*2);color:$color-base;font-size:1.125em;font-family:$primary-font;font-weight:bold}
		}
	}
}

// Share
.share-fixed{display:none;@include position(fixed, null 15px 15px null);z-index:33;background-color:rgba(#07143D, 0.6);@include padding(5px);transition:all 0.4s ease;border-radius:30px;
	i.ics{display:block;background-image:url(../images/ico_social_simple.png);background-repeat:no-repeat;background-size:72px 24px;@include size(24px);
		&.ics-zalo{background-position:0 0}
		&.ics-facebook{background-position:-24px 0}
		&.ics-link{background-position:-48px 0}
	}
	span.label{flex-shrink:0;display:block;margin-right:8px;margin-left:4px;color:#fff;font-size:0.875rem;font-family:$primary-font;font-weight:bold;text-align:center}
	ul{display:flex;align-items:center;@include padding(5px null 0);border-radius:30px;
		li{flex-shrink:0;margin-right:5px;
			a{display:block;background-color:#0F3196;@include size(34px);margin-bottom:5px;@include padding(5px);transition:all 0.4s ease;border-radius:100%;
				&:hover{opacity:0.75;}
			}
		}
	}
	@include media-breakpoint-up(lg){display:flex;align-items:center}
}