/*!
 * Slidebars - A jQuery Framework for Off-Canvas Menus and Sidebars
 * Version: 2 Development
 * Url: http://www.adchsm.com/slidebars/
 * Author: Adam Charles Smith
 * Author url: http://www.adchsm.com/
 * License: MIT
 * License url: http://www.adchsm.com/slidebars/license/
 */

/**
 * Box Model, Html & Body
 */

.js-close-any-slidebar{cursor:pointer!important}

[canvas=container], [off-canvas] {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
	width: 100%;
	//height: 100%;
	overflow: hidden;
}

/**
 * Canvas
 */

[canvas] {
    z-index: 1;
}

[canvas=container] {
    width: 100%;
    height: 100%;
    overflow: hidden;
    //overflow-y: auto;
    position: relative;
    background-color: #e0e8ef !important; /* Basic background color, overwrite this in your own css. */
    -webkit-overflow-scrolling: touch; /* Enables momentum scrolling on iOS devices, may be removed by setting to 'auto' in your own CSS. */
	&:after{
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.5);
		top: 0;
		z-index: -1;
		@include opacity(0);
		@include transition(all 0.3s ease-in-out)
	}
	&.js-close-any-slidebar{
		&:after{z-index:9999;@include opacity(1)}
	}
}

[canvas=container]:before, [canvas=container]:after {
    clear: both;
    content: '';
    display: table;
}

/**
 * Off-Canavs
 */

[off-canvas] {
    display: none;
    position: fixed;
    overflow: hidden;
    overflow-y: auto;
    background-color: black; /* Basic background color, overwrite this in your own css. */
    //color: white; /* Basic colors, overwrite this in your own css. */
    -webkit-overflow-scrolling: touch; /* Enables momentum scrolling on iOS devices, may be removed by setting to 'auto' in your own CSS. */
}

[off-canvas*=top] {
    width: 100%;
    height: 255px;
    top: 0;
}

[off-canvas*=right] {
    width: 255px;
    height: 100%;
    top: 0;
    right: 0;
}

[off-canvas*=bottom] {
    width: 100%;
    height: 255px;
    bottom: 0;
}

[off-canvas*=left] {
    width: 255px;
    height: 100%;
    top: 0;
    left: 0;
}

[off-canvas*=reveal] {
    z-index: 0;
}

[off-canvas*=push] {
    z-index: 1;
}

[off-canvas*=overlay] {
    z-index: 9999;
}

[off-canvas*=shift] {
    z-index: 0;
}

/**
 * Animation
 */

[canvas], [off-canvas] {
    -webkit-transform: translate( 0px, 0px );
    -ms-transform: translate( 0px, 0px );
    transform: translate( 0px, 0px );
    -webkit-transition: -webkit-transform 300ms;
    transition:         transform 300ms;
    -webkit-backface-visibility: hidden; /* Prevents flickering, may be removed if experiencing problems with fixed background images in Chrome. */
}

[off-canvas*=shift][off-canvas*=top] {
    -webkit-transform: translate( 0px, 50% );
    transform: translate( 0px, 50% );
}

[off-canvas*=shift][off-canvas*=right] {
    -webkit-transform: translate( -50%, 0px );
    transform: translate( -50%, 0px );
}

[off-canvas*=shift][off-canvas*=bottom] {
    -webkit-transform: translate( 0px, -50% );
    transform: translate( 0px, -50% );
}

[off-canvas*=shift][off-canvas*=left] {
    -webkit-transform: translate( 50%, 0px );
    transform: translate( 50%, 0px );
}

/**
 * Print
 */

@media print {
    [canvas] {
        -webkit-transform: translate( 0px, 0px ) !important;
        -ms-transform: translate( 0px, 0px ) !important;
        transform: translate( 0px, 0px ) !important;
    }

    [off-canvas] {
        display: none !important;
    }
}

// Sb-slidebar
.zad-old{
.menu-sliding{display:none;position:absolute;top:6px;left:6px;z-index:99;background:url(../images/ico_menu.png) 0 0 no-repeat;background-size:cover;width:40px;height:40px;text-indent:-9999px;
    @media only screen and (max-width:$large-screen){display:block}
}
.sb-slidebar{background:#fff;width:80%;height:100%;
    .info-slidebar{display:block;position:relative;background-color:#eee;padding:15px;padding-left:70px;
        .avatar-info{display:block;position:absolute;top:15px;left:15px;background-repeat:no-repeat;background-position:center center;background-size:cover;width:40px;height:40px;@include radius(100%)}
        .desc-info{
            .name{display:block;margin-bottom:2px;color:$color-base;font-size:0.875em;line-height:$line-height}
            .number-money{display:block;margin-bottom:10px;font-size:0.875em;
                strong{color:#5FA512}
            }
        }
    }
    .menu-inside{
		.func-hotline{
			a{display:flex;align-items:center;background-color:#f1f3f7;padding:10px 15px;color:$color-four;font-size:0.938em;
				i{display:flex;justify-content:center;align-items:center;width:24px;margin-right:10px;font-size:1.5rem}
			}
		}
		.link-ts{position:relative;display:block;position:relative;background-color:#eef8ff;width:100%;min-height:54px;line-height:18px;padding:15px 10px 0 15px;color:$color-four;font-weight:normal;font-size:0.938em;overflow:hidden;box-shadow:0 2px 6px rgba(0,0,0,0.1);
			&:before{position:absolute;top:5px;right:10px;content:"";}
			.icz{position:relative;top:-1px;margin-right:10px}
			.account-ts{display:block;margin-top:-5px;margin-bottom:12px;padding-left:34px;color:#888;font-size:0.75rem}
		}
        li{display:block;width:100%;border-bottom:1px solid $color-border;
            &:last-child{
                a{background:none}
            }
            a{display:block;position:relative;width:100%;height:54px;line-height:54px;padding:0 10px 0 15px;color:$color-four;font-weight:normal;font-size:0.938em;overflow:hidden;
                &.active, &.collapsed.in{background-color:$color-main;color:#fff}
				.icz{position:relative;top:-1px;margin-right:10px}
				&.has-ico{display:flex;align-items:center;}
				.ico-img{display:block;max-width:24px;height:auto;margin-right:10px}
            }
            .collapse{display:none;
                &.in{display:block}
            }
            .inside-inside{background-color:tint($color-main, 90%);padding-left:30px;-webkit-transform:none;
                li{position:relative;border-bottom:1px solid tint($color-main, 70%);
                    a{position:relative;height:auto;padding-top:15px;padding-bottom:15px;padding-left:30px;line-height:18px;
						&:before{position:absolute;top:50%;left:5px;content:"";@include triangle(10px, $color-four, right);margin-top:-5px;@include opacity(0.75)}
						&.has-dropdown{
							&:before{position:absolute;top:50%;left:3px;content:"";@include triangle(10px, $color-four, down);margin-top:-2px;@include opacity(0.75)}
							&.collapsed{
								&:before{display:none}
								&:after{position:absolute;top:50%;left:5px;content:"";@include triangle(10px, $color-four, right);margin-top:-5px;@include opacity(0.75)}
							}
						}
                        &.active{background-color: inherit;
                            color: #67737f;}
					}
                    &:last-child{border-bottom:none}
                }
            }
        }
    }
}

// Filter
.sb-filter, .date-filter{background-color:#e8eaee!important;width:100%;
    .nav{position:absolute;top:0;left:0;z-index:9999;background-color:#fff;width:100%;height:44px;line-height:44px;margin-bottom:3px;box-shadow:0px 1px 3px rgba(0, 0, 0, 0.25);font-size:1em;text-align:center;font-weight:500;
        .context-back{position:absolute;left:0;z-index:2;padding:0 15px;color:$color-main;line-height:44px;font-size:0.875rem}
		.context-cancel{position:absolute;right:0;z-index:2;padding:0 15px;color:$color-main;line-height:44px;font-size:0.875rem}
    }
    .wrap{position:absolute;overflow:auto;z-index:9;top:50px;left:0;right:0;bottom:60px;padding:15px;-webkit-overflow-scrolling:touch;
        .list-group{margin-bottom:10px;
            .wrap-select{background-color:#fff;height:40px;@include radius(4px);
                &:before{right:12px}
            }
            input[type="text"], select{padding:10px;font-size:0.875em;@include radius(4px)}
            .controls-date{min-width:100%;width:100%}
            .controls-currency{
                input {
                    padding-right: 24px;
                }
                &:after {
                    font-size: 14px;
                    top: 11px;
                }
            }
            .flex-container {
                display: -webkit-flex;
                display: flex;
                align-items: center;
                .flex-item {
                    &.left, &.right {
                        flex-basis: 48%;
                        flex-shrink: 0;
                    }
                    &.center {
                        text-align: center;
                        flex: 1;
                    }
                }
            }
        }
	}
	.filter-container{margin:0;padding:10px 10px 0;border:0;
		.filter-child{padding:0;border:0}
	}
    .sticky{position:fixed;z-index:1000000;bottom:0;left:0;right:0;padding:12px 15px;background:#fff;box-shadow:0 -1px 3px rgba(0, 0, 0, 0.25)}
}
}