/* #Page:table
================================================== */
.zad-old{
table{table-layout:fixed;margin:0;border-spacing:0;border-bottom:solid 1px #e0e8ef;-webkit-box-sizing:content-box;box-sizing:content-box;
    tr{
        &.active td{background-color:#bae4ff!important;border-bottom:1px solid #98D2F6!important}
		&.total td{font-weight:bold}
        &.pointer{cursor:pointer}
		&.disabled{
			td{background-color:#f6f6f6;@include opacity(0.65)}
		}
		&.row-total{background-color:#f1f5f8;font-weight:bold;font-size:1.125em;}
    }
    td{min-height:50px;padding:8px 10px;color:#444;font-size:0.75em;-ms-word-break:break-all;word-wrap:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;vertical-align:top;-webkit-box-sizing:content-box;box-sizing:content-box;
        *{-ms-word-break:break-all;word-wrap:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto}
		p{margin-bottom:0}
        .nu{color:#2c3436}
        .large{font-size:0.875rem}
        .sale-price{display:block;color:$color-price}
        &.rel{position:relative}
		&.row-style1{background-color:#f2f6fa}
    }
    table{width:100%;box-shadow:none;border-bottom:none;
        td, th{background:none!important;font-size:1em}
    }
	tfoot{
		tr{
			td{background-color:#e4edf4;font-weight:bold;font-size:0.75em;
				&.row-style1{background-color:#dbe6ee}
			}
		}
	}
    th{background-color:#ebf2f7;padding:6px 10px;color:$color-second;font-size:0.75em;font-weight:bold;text-align:left;-webkit-box-sizing:content-box;box-sizing:content-box;
		.icz{position:relative;top:-1px;margin-right:5px;@include opacity(0.65)}
		.icz-question-fill{
			@media only screen and (max-width:$large-screen){display:none}
		}
        &.thead{padding:7px 10px;font-size:0.688em}
        a{color:$color-second;}
		&.col-result{
			@media only screen and (max-width:$small-screen){width:30%!important}
		}
    }
    .have-bdr{border-left:solid 1px #e0e8ef}
    .have-colspan{padding:0;border:0 none}
    .line-func{display:inline-block;width:1px;height:34px;margin-right:20px;border-left:1px solid #e0e8ef;vertical-align:middle}
    .toggle{margin-top:-15px}
    .name-campaign{display:table;min-height:36px;margin-bottom:3px;color:$color-base;font-weight:bold;
		a{display:flex;align-items:center;
			.txt-ins{color:#000;font-weight:500;
				.status{font-weight:normal}
			}
			.avatar-campaign{flex-shrink:0;display:block;background-repeat:no-repeat;background-size:cover;background-position:center center;width:30px;height:30px;margin-right:5px;}
		}
		.txt-ins{
			vertical-align:middle;display:table-cell;
		}
		&.have-i{position:relative;
			.icc{position:absolute;top:50%;left:0;margin-top:-18px}
			@media only screen and (max-width:$large-screen){
				.icc{margin-top:-15px;left:-10px}
			}
			.img{display:block;position:absolute;top:0;left:0;background-size:cover;background-position:center center;background-repeat:no-repeat;width:40px;height:40px}
			.desc{display:block;padding-left:50px}
		}
	}
    .user-follow{display:block;margin-top:3px;color:$color-second;font-size:0.875em;@include opacity(0.65)}
	&.table-default{
		tr{
			td{min-height:38px}
		}
	}
	&.table-bordered{
		td{border-bottom:1px solid $color-border}
		tr{
			&:last-child{
				td{border-bottom:0 none}
			}
		}
	}
	&.table-popup{
		tr{
			td{padding:4px 10px;border-bottom:1px solid $color-border}
		}
	}
	&.za-datatable thead th, &.za-datatable thead td {
		padding:6px 16px 6px 10px;
		cursor: pointer;
		&::after{
			content: '';
		}
		&.sortasc::after{
			content: ' \25bc';
		}
		&.sortdsc::after{
			content: ' \25b2';
		}
	}
	.set-price{color:#999;font-size:0.688rem}
    &.table-sort{
      th{
		  &.align-right {
			  a {position: relative;right:-10px;}
			  .icz{margin-right:0;}
		  }
        a{
          i{position:relative;padding-right:14px;
            &:before{position:absolute;top:5px;right:0;content:"";@include triangle(8px, $color-third, up)}
            &:after{position:absolute;top:10px;right:0;content:"";@include triangle(8px, $color-third, down)}
          }
          &.sort-up{display:block;position:relative;width:100%;height:100%;
            i{
              &:before{position:absolute;top:5px;right:0;content:"";@include triangle(8px, $color-second, up)}
              &:after{display:none;}
            }
          }
          &.sort-down{
            i{
              &:before{display:none}
              &:after{position:absolute;top:10px;right:0;content:"";@include triangle(8px, $color-second, down)}
            }
          }
          &.disabled-sort{
            cursor: default;
            i{
              &:before{display:none}
              &:after{display:none;}
            }
          }
        }
      }
    }
}
.table-container{
	.table{min-width:900px}
	@media only screen and (max-width:$large-screen){width:100%;overflow-x:scroll}
}
.dataTables_wrapper {
	.dataTables_scroll{overflow-x: auto;
		.dataTables_scrollHead{background-color: #ebf2f7;min-width:550px;
			.dataTables_scrollHeadInner{width:100% !important;
              table{
                width:100% !important;
              }
            }
		}
		.dataTables_scrollBody{border-bottom: 1px solid #eaeaea !important;overflow-x: hidden !important;min-width:550px;}
	}
}
}