/* #Zalo Ads
================================================== */
.zad-old{
.adsZalo{background-color:#fff;max-width:620px;margin:0 auto;box-shadow:0 0 6px 0px rgba(0,0,0,0.2);
	.list-adsZalo{
		ul{@include clearfix;
			li{display:block;position:relative;color:$color-base;
				a{display:block;position:relative;padding:6px 10px 6px 30px;color:$color-four;font-size:0.938em;text-transform:uppercase;
					@media only screen and (max-width:349px){font-size:0.75em}
					&:after{position:absolute;bottom:0;left:56px;right:0;content:"";background-color:$color-border;height:1px}
					&:active{background-color:tint($color-main,95%)}
					&.have-arr{padding:12px 10px 12px 46px;
						&:after{left:46px}
						&:before{position:absolute;top:50%;left:13px;right:0;content:"";background:url(../images/ic_arrow.png) 0 0 no-repeat;background-size:cover;width:20px;height:20px;margin-top:-10px}
					}
				}
				&.zaloAds-price{padding:15px;
					strong{color:$color-success}
				}
				.icc{margin-left:-20px;margin-right:6px}
			}
		}
	}
	.info-adsZalo{padding:15px;border-bottom:1px solid $color-border;
		p{color:$color-base;font-size:0.813em}
		.label{display:inline-block;width:110px}
		.ctn-label{word-break:break-word}
	}
}
}