.zad-old{

.ui-select-bootstrap > .ui-select-choices ,.ui-select-bootstrap > .ui-select-no-choice{
    max-height: 160px!important;
}
input.validate-failed,textarea.validate-failed,button.validate-failed,.child-validate-failed input
{
    border:1px solid #f00!important;
}
/*p.text-error{*/
    /*!*padding: 5px 0;*!*/
    /*margin:0;*/
    /*color: red;*/
    /*font-size: 0.75em;*/
    /*line-height: 1.42857;*/
/*}*/
.ajax-file-upload-container{
    display: none!important;
}
.btn.text-error {border-color:red;}
.text-error{
    color: red !important;
}
.ajax-file-upload-error{
    font-size: 0.75em;
    color: red;
}

/* bootstrap hack: fix content width inside hidden tabs */
.tab-content > .tab-pane:not(.active),
.pill-content > .pill-pane:not(.active) {
    display: block;
    height: 0;
    overflow-y: hidden;
}
/* bootstrap hack end */

.pac-container{
    z-index: 1060;
}
.upload-phone .btn{
    padding:4px 13px;
    font-size: 0.75rem;
}
.margin-right-550{margin-right: 550px;}
//======================================================
.toolbar-input{
    float:left;
}
.toolbar-input .toolbar-input-text{
    position: relative;
    float: left;
    margin-right: 10px;
    max-width:90px;
}
///rating
.star-ratings-css {
	unicode-bidi: bidi-override;
	color: #c5c5c5;
	font-size: 25px;
	height: 25px;
	width: 100px;
	margin: 0 auto;
	position: relative;
	padding: 0;
	text-shadow: 0px 1px 0 #a2a2a2;
	&-top {
		color: #e7711b;
		padding: 0;
		position: absolute;
		z-index: 1;
		display: block;
		top: 0;
		left: 0;
		overflow: hidden;
	}
	&-bottom {
		padding: 0;
		display: block;
		z-index: 0;
	}
}

// Method 2) Using a Sprite
.star-ratings-sprite {
	display:inline-block;
	background: url("../images/rsz_1star-rating-sprite.png") repeat-x;
	font-size: 0;
	height: 16px;
	line-height: 0;
	overflow: hidden;
	text-indent: -999em;
	width: 85px;
	margin: 0 auto;

	&-rating {
		background: url("../images/rsz_1star-rating-sprite.png") repeat-x;
		background-position: 0 100%;
		float: left;
		height: 16px;
		display:block;
	}

}

///////////// fading slider
.zaSlider {
	position: relative;
	min-height: 120px;
	.zaSlide1,.zaSlide2,.zaSlide3,.zaSlide4,.zaSlide5 {
		position: absolute;
	}
	.zaSlide1 {
		animation:zaFrameFade 15s infinite;
		-webkit-animation:zaFrameFade 15s infinite;
	}
	.zaSlide2 {
		animation:zaFrameFade2 15s infinite;
		-webkit-animation:zaFrameFade2 15s infinite;
	}
	.zaSlide3 {
		animation:zaFrameFade3 15s infinite;
		-webkit-animation:zaFrameFade3 15s infinite;
	}
}

.item-bestAds.zaSlider{ padding:0px!important;
	.zaSlide1,.zaSlide2,.zaSlide3,.zaSlide4,.zaSlide5 {
		margin: 12px;
	}
}

@keyframes zaFrameFade
{
	0%   {opacity:1;}
	33.333% { opacity: 0;}
	66.666% { opacity: 0; }
	100% { opacity: 1;}
}
@keyframes zaFrameFade2
{
	0%   {opacity:0;}
	33.333% { opacity: 1;;}
	66.666% { opacity: 0 ;}
	100% { opacity: 0;}
}
@keyframes zaFrameFade3
{
	0%   {opacity:0;}
	33.333% { opacity: 0;}
	66.666% { opacity: 1;}
	100% { opacity: 0;}
}

//////
.blockSubmitAdInfo{font-size:14px;line-height:28px;}
.blockSubmitAdInfo > span{display:block}
.blockSubmitAdInfo .red {color:red!important;}
.blockSubmitAdInfo > span > span{position:absolute;padding-left:100px;left:0;}

////
.has-level:before {
	position: relative;
	display: none;
	top: 3px;
	right: 0;
	width: 20px;
	height: 20px;
	background-size: cover;
	content: '';
}
.has-level.level-1:before{display:inline-block;background-image:url(https://static-ads.zaloapp.com/resources/webclient/default/images/rank_1.png)}
.has-level.level-2:before{display:inline-block;background-image:url(https://static-ads.zaloapp.com/resources/webclient/default/images/rank_2.png)}
.has-level.level-3:before{display:inline-block;background-image:url(https://static-ads.zaloapp.com/resources/webclient/default/images/rank_3.png)}
.has-level.level-4:before{display:inline-block;background-image:url(https://static-ads.zaloapp.com/resources/webclient/default/images/rank_4.png)}

////////////////////////////////
.pac-container{background-color:#fff;position:absolute!important;z-index:1000;border-radius:2px;border-top:1px solid #d9d9d9;font-family:Arial,sans-serif;box-shadow:0 2px 6px rgba(0,0,0,0.3);-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;overflow:hidden}.pac-logo:after{content:"";padding:1px 1px 1px 0;height:16px;text-align:right;display:block;background-image:url(https://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white3.png);background-position:right;background-repeat:no-repeat;background-size:120px 14px}.hdpi.pac-logo:after{background-image:url(https://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white3_hdpi.png)}.pac-item{cursor:default;padding:0 4px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;line-height:30px;text-align:left;border-top:1px solid #e6e6e6;font-size:11px;color:#999}.pac-item:hover{background-color:#fafafa}.pac-item-selected,.pac-item-selected:hover{background-color:#ebf2fe}.pac-matched{font-weight:700}.pac-item-query{font-size:13px;padding-right:3px;color:#000}.pac-icon{width:15px;height:20px;margin-right:7px;margin-top:6px;display:inline-block;vertical-align:top;background-image:url(https://maps.gstatic.com/mapfiles/api-3/images/autocomplete-icons.png);background-size:34px}.hdpi .pac-icon{background-image:url(https://maps.gstatic.com/mapfiles/api-3/images/autocomplete-icons_hdpi.png)}.pac-icon-search{background-position:-1px -1px}.pac-item-selected .pac-icon-search{background-position:-18px -1px}.pac-icon-marker{background-position:-1px -161px}.pac-item-selected .pac-icon-marker{background-position:-18px -161px}.pac-placeholder{color:gray}


tags-input{
  .tags {
	border: solid 1px #ddd;
	border-radius: 3px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

	input {
	  -webkit-box-shadow: none;
	  -moz-box-shadow: none;
	  box-shadow: none;
	  width: 40px;
	}

	&.focused {
	  -webkit-box-shadow: none;
	  -moz-box-shadow: none;
	  box-shadow: none;
	}
  }
  .host {
	margin-top: 0;
  }
}


//// Range input
.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  width: 100%; /* Full-width */
  height: 0px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  padding: 0;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  width: 10px; /* Set a specific slider handle width */
  height: 10px; /* Slider handle height */
  background: #008FE5;
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 10px; /* Set a specific slider handle width */
  height: 10px; /* Slider handle height */
  background: #008FE5;
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%;
}

.white {
  color: #fff;
  font-size: 0.75rem;
  margin-bottom: 5px;
}

.right {
  float: right;
}
}