* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box}

html,
body { 
	font-family: 'AvenirNext', Arial, "Helvetica Neue", Helvetica, sans-serif;
	min-height: 100vh; letter-spacing: 0.5px
}
	
@font-face {
	font-family: 'AvenirNext';
	src: url("../fonts/SVN-AvenirNext.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-AvenirNext.woff") format("woff"), url("../fonts/SVN-AvenirNext.ttf") format("truetype"), url("../fonts/SVN-AvenirNext.svg#SVN-AvenirNext") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AvenirNext';
	src: url("../fonts/SVN-AvenirNextBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-AvenirNextBold.woff") format("woff"), url("../fonts/SVN-AvenirNextBold.ttf") format("truetype"), url("../fonts/SVN-AvenirNextBold.svg#SVN-AvenirNextBold") format("svg");
	font-weight: bold;
	font-style: normal;
}


/* Modal */

.modal-open { overflow: inherit; }

.modal { display: none; overflow: auto; overflow-y: scroll; position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 1050; -webkit-overflow-scrolling: touch; outline: 0; -webkit-transition: 0.25s ease-in-out; -moz-transition: 0.25s ease-in-out; transition: 0.25s ease-in-out; }

.modal.in { visibility: visible; }

.modal.in .close { opacity: 1; filter: alpha(opacity=100); }

.modal.fade .modal-dialog { opacity: 0; filter: alpha(opacity=0); -webkit-transform: scale(0.5); -moz-transform: scale(0.5); -ms-transform: scale(0.5); -o-transform: scale(0.5); transform: scale(0.5); }

.modal.fade.in .modal-dialog { opacity: 1; filter: alpha(opacity=100); -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); }

.modal.fade .modal-dialog { -webkit-transition: -webkit-transform 0.3s ease-out; -moz-transition: -moz-transform 0.3s ease-out; -o-transition: -o-transform 0.3s ease-out; transition: transform 0.3s ease-out; }

.modal-dialog { position: relative; width: auto; margin: 10px auto; max-width: 500px; }

.modal-backdrop { position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 1040; background-color: black; }

.modal-backdrop.fade { opacity: 0; filter: alpha(opacity=0); -webkit-transition: 0.25s ease-in-out; -moz-transition: 0.25s ease-in-out; transition: 0.25s ease-in-out; }

.modal-backdrop.in { opacity: 0.5; filter: alpha(opacity=50); }

.modal-content { background: #fff; padding: 30px; border-radius: 5px}
.modal-title { text-align: center; font-size: 20px; margin-bottom: 12px;}

 /*hack for carousel*/
.modal { display: block !important; visibility: hidden; overflow-y: hidden;}
.modal.in { visibility: visible;}

a { text-decoration: none }
a, button, img{-webkit-tap-highlight-color:rgba(0, 0, 0, 0.2)!important}
a:focus, button:focus, img:focus {outline:0;}

::-webkit-input-placeholder { color: #ddd; opacity: .8;}
::-moz-placeholder { color: #ddd; opacity: .8;}
:-ms-input-placeholder { color: #ddd; opacity: .8;}
:-moz-placeholder { color: #ddd; opacity: .8;}

canvas { width: 100%; }
.img-responsive { max-width: 100%; width: auto; display: block }
.img-full { width: 100%; }
.center-middle { position: absolute !important; top: 50%; left: 0%;right:0;margin:0 auto; transform:translateY(-50%); z-index: 25;}
@media (min-width: 1000px) {
	.center-middle-pc { position: absolute !important; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); z-index: 25;}
}


.container { width: 1280px; margin: 0 auto; position: relative; z-index: 50;}

.video-bg-responsive { 
	position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; object-position: center; z-index: 1;
}

.nav-bar { position: absolute; top: 10px; left: 0; width: 100%; background-color: transparent; padding: 10px 25px; z-index: 20;}
.brand { display: inline-block; width: 147px; height: 30px; background: url(../images/img_logo.png) no-repeat center center; background-size: 100%;transition:all 400ms ease;opacity:1;}
.brand.hide{opacity:0;}
.bl-login, .bl-logged { 
	/* display: flex; */
	text-align: center; margin-top: -10%;
	padding: 30px 0; 
	/* border: 1px solid #2d358a; border-radius: 25px; */
	display:none;
}


.bl-logged { font-size: 24px; text-align: center; color: #fff }

.bl-txt { font-size: 38px; color: #fff; max-width: 40%; }
.bl-txt:before { display: block; content: ""; width: 104px; height: 72px; background: url(../images/quote.png) no-repeat; background-size: 100%; position: absolute; z-index: -1; top: -30px; left: -70px;}
.bl-txt b, .bl-txt strong  { color: #fac3c8; font-weight: bold; }
.author { padding-top: 70px; font-size: 24px; color: #00A4FF; text-transform: uppercase;}
.ad { padding-bottom: 10px; padding-top: 5px; font-size: 24px; color: #00A4FF; text-transform: uppercase;}
.bl-share { padding-top: 140px;}

.bl-share-m { position: absolute; left: 50%;  transform: translateX(-50%); bottom: 20px; z-index: 60; display: none;}


.form-group { position: relative; margin-bottom: 25px;}
.form-control { text-align: center; width: 450px; height: 50px; display: block; border: none; padding: 10px 0; border-bottom: solid 1px #2d358a; color: #fff; font-size: 1.125em; background-color: transparent; font-family: 'AvenirNext', Arial, "Helvetica Neue", Helvetica, sans-serif; font-size: 22px; }
.line { -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1); -moz-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1); transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1); position: absolute; left: 0; bottom: 0; background-color: #fac3c8; width: 0; height: 2px;}
.form-control:focus { box-shadow: none; outline: none;}
.form-control:focus + .line { width: 100%;}

.button { 
	/* background-color: #fff; color: #007dde; height: 50px; text-transform: uppercase; transition: all .3s linear; font-size: 16px; margin-top: 20px;
	line-height: 50px; border-radius: 30px; display: inline-block; padding-left: 20px; padding-right: 20px; font-weight: 600;width:200px; */
}
/* .button:hover { background-color: #007dde; color: #fff} */
.button img{width:100%;}
.zalo { width: 32px; height: 32px; display: inline-block; margin-right: 10px; vertical-align: middle; background: url(../images/zalo_icon.png) no-repeat 0 0; background-size: 100%; position: relative; }
.fb { width: 32px; height: 32px; display: inline-block; margin-right: 10px; vertical-align: middle; background: url(../images/fb_icon.png) no-repeat 0 0; background-size: 100%; position: relative;}
.zalo:before, .fb:before { display: block; content:"";  width: 32px; height: 32px; position: absolute; top: 0; left: 0; opacity: 0; transition: all .3s linear; background-size: 100%;}
.zalo:hover:before, .fb:hover:before { opacity: 1; }

.zalo:before { background-image: url(../images/zalo_icon_h.png);}
.fb:before { background-image: url(../images/fb_icon_h.png); }

.s-wrapper { display:none;position: absolute; left: 0; top: 0;  z-index: 10 ; width: 100%; min-height: 100vh;  background-size: cover;}
.visible { z-index: 5;}


#bg_video_m { display: none}
.img-mobile-top, .img-mobile-bottom { display: none; position: absolute; left: 0; z-index: 15; top: 0;}
.img-mobile-bottom  { top: auto}
.bl-video-m { display: none; width: 100%; position: relative;}

.bl-txt .img-full-m { display: none; }

.close{z-index:20;height:35px;width:35px;text-indent:-9999px;background:url(../images/btn_close2.png) no-repeat center center; background-size: 100%; position: absolute; top: -40px; right: -30px; border: 0; cursor: pointer;}
@media (max-width: 1380px) {
	.container { width: 1000px;}
	.form-control { width: 300px ;}
	.bl-txt { font-size: 28px;}
	.author { padding-top: 40px; font-size: 16px; }
	.ad { padding-bottom: 10px;font-size: 16px;}
	.bl-share { padding-top: 80px;}
	.zalo, .fb, .zalo:before, .fb:before { width: 24px; height: 24px;}
	.bl-txt:before { width: 70px; left: -50px; top: -20px;}
	
}

@media only screen and (max-height: 700px) {
	.container { width: 1000px;}
	.form-control { width: 300px ;}
	.bl-txt { font-size: 28px;}
	.author { padding-top: 40px; font-size: 16px; }
	.ad { padding-bottom: 10px; font-size: 16px;}
	.bl-share { padding-top: 80px;}
	.zalo, .fb, .zalo:before, .fb:before { width: 24px; height: 24px;}
	.bl-txt:before { width: 70px; left: -50px; top: -20px;}
}

@media (max-width: 1080px) {
	.container { width: 900px;}
}

@media (max-width: 980px) {
	.bl-login, .bl-logged{display:inherit;}
	.s-wrapper{display:block;}
	.s-wrapper, .s-ending { background: #243199;}
	.container { max-width: 100%;}
	.img-mobile-top, .img-mobile-bottom { display: block;}
	.video-bg-responsive { height: auto; position: static;}
	.bg-element { display: none;}
	#bg_video { display: none;}
	#bg_video_m { display: block;}
	.bl-txt { max-width: 100%; padding-left: 50px; padding-right: 50px; font-size: 30px;}
	.bl-share { display: none;}
	.bl-share-m { display: block;}
	
	.img-mobile-bottom { bottom: 0%; }
	/* .bl-video-m{ margin-top: 15%;} */
	.bl-video-m .img-mobile-bottom { bottom: -20%;}
	.bl-video-m .img-mobile-top { top: -16%;}
	.nav-bar { text-align: center;}
	.bl-txt { padding-top: 0;}
	.bl-txt:before {
		width: 40px;
		left: 2%;
		top: -5%;
	}
	.bl-txt .img-full-m { display: block; }
	.modal-dialog { max-width: 95%; padding: 20px;}
}

@media (max-width: 560px) {
	
	.img-mobile-top { top: 10%; }
	.img-mobile-bottom { bottom: 10%; }
	.bl-txt { max-width: 100%; padding-left: 25px; padding-right: 25px; font-size: 16px;}
	.bl-share { padding-left: 35px;}
	.author, .ad { font-size: 10px; padding: 10px 0;}
	.ad { padding-top: 0;}
	.bl-txt:before {
		width: 40px;
		left: 2%;
		top: -3%;
	}
	/* .bl-video-m{ margin-top: 30%;} */
	.bl-video-m .img-mobile-bottom { bottom: -25%;}
	.close { right: 50%; margin-right: -20px;}
	
}


/* .s-ending .container { position: absolute;} */

.bg-element { position: absolute; left: 0; top: 0; width: 100%; min-height: 100vh;  z-index: 5 ; background: url(../images/bg_element.png) no-repeat center center; background-size: cover; }
