/* Reset */
@charset "UTF-8";
*{margin:0;padding:0;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}
*{-webkit-tap-highlight-color:rgba(0,0,0,0);/* Stops flash on tap iOS */}
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{border:0;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
ol,ul, ul li{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
table{border-collapse:collapse;border-spacing:0}
a{color:$color-main;outline:0;cursor:pointer;transition:color .4s ease, background-color .4s ease;
	&:hover{color:$color-main;text-decoration:none}
}
p{margin:0}
strong, b{font-weight:bold}
h1, h2, h3, h4, h5, h6{margin:0;font-weight:inherit}
img{vertical-align:top;max-width:100%}
img.responsive-img, video.responsive-video{display:block;max-width:100%;height:auto}
label{-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-o-user-select:none;user-select:none}
ul,ol,ul ul li,ul ol li,ol ol li,ol ul li,form,fieldset,.alert>p,.alert>ul{margin-bottom:0}
li,ul.large li,li p{line-height:$line-height}
a, img, span, label, li{text-decoration:none;-webkit-tap-highlight-color:rgba(255,255,255,0);user-select:none}
button{box-shadow:none;border:none;outline:none;cursor:pointer}
.clearfix:before,.clearfix:after{content:'\0020';display:block;overflow:hidden;visibility:hidden;width:0;height:0}
.clearfix{zoom:1}
.clear, .clearfix:after{clear:both}
.hidden{display:none!important}
.block{display:block!important}
.transparent{background:transparent!important}
.line-through{text-decoration:line-through}
.text-break{word-break:break-word;word-wrap:break-word}

/* Typography */
.h1, .h2, .h3, .h4, .h5, .h6{font-weight:700}
h1{@extend .h1;}
h2{@extend .h2;}
h3{@extend .h3;}
h4{@extend .h4;}
h5{@extend .h5;}
h6{@extend .h6;}

/* Size scale */
.fs--s{font-size:0.75em!important}
.fs--m{font-size:0.875em!important}
.fs--l{font-size:1em!important}
.fs--xl{font-size:1.125em!important}
.fs--xxl{font-size:1.25em!important}
// font-size:26 = xxxl
.fs-xxxl{font-size:1.625em!important} 

/* Style Font */
.fw-light{font-weight:300}
.fw-normal{font-weight:400}
.fw-medium{font-weight:600}
.fw-bold{font-weight:bold}

/* Color */
.color-base{color:$color-base!important}
.color-second{color:$color-second!important}
.color-secondary{color:$color-secondary!important}
.color-disabled{color:$color-disabled!important}
.color-main{color:$color-main!important}
.color-link{color:$color-link!important}
.color-price{color:$color-price!important}
.color-dark{color:$color-dark!important}
.color-grey{color:$color-grey!important}
.color-light{color:$color-light!important}
.color-alert{color:$color-alert!important}
.color-error{color:$color-error!important}
.color-success{color:$color-success!important}
.color-warning{color:$color-warning!important}
.color-highlight-1{color:$color-highlight-1!important}
.color-highlight-2{color:$color-highlight-2!important}

/* Margin */
.m-top-0{margin-top:0!important}
.m-right-0{margin-right:0!important}
.m-bottom-0{margin-bottom:0!important}
.m-left-0{margin-left:0!important}

.m-top-1{margin-top:4px!important}
.m-right-1{margin-right:4px!important}
.m-bottom-1{margin-bottom:4px!important}
.m-left-1{margin-left:4px!important}

.m-top-2{margin-top:8px!important}
.m-right-2{margin-right:8px!important}
.m-bottom-2{margin-bottom:8px!important}
.m-left-2{margin-left:8px!important}

.m-top-3{margin-top:16px!important}
.m-right-3{margin-right:16px!important}
.m-bottom-3{margin-bottom:16px!important}
.m-left-3{margin-left:16px!important}

.m-top-4{margin-top:24px!important}
.m-right-4{margin-right:24px!important}
.m-bottom-4{margin-bottom:24px!important}
.m-left-4{margin-left:24px!important}

.m-top-5{margin-top:32px!important}
.m-right-5{margin-right:32px!important}
.m-bottom-5{margin-bottom:32px!important}
.m-left-5{margin-left:32px!important}

/* Padding */
.p-top-0{padding-top:0!important}
.p-right-0{padding-right:0!important}
.p-bottom-0{padding-bottom:0!important}
.p-left-0{padding-left:0!important}

.p-top-1{padding-top:4px!important}
.p-right-1{padding-right:4px!important}
.p-bottom-1{padding-bottom:4px!important}
.p-left-1{padding-left:4px!important}

.p-top-2{padding-top:8px!important}
.p-right-2{padding-right:8px!important}
.p-bottom-2{padding-bottom:8px!important}
.p-left-2{padding-left:8px!important}

.p-top-3{padding-top:16px!important}
.p-right-3{padding-right:16px!important}
.p-bottom-3{padding-bottom:16px!important}
.p-left-3{padding-left:16px!important}

.p-top-4{padding-top:24px!important}
.p-right-4{padding-right:24px!important}
.p-bottom-4{padding-bottom:24px!important}
.p-left-4{padding-left:24px!important}

.p-top-5{padding-top:32px!important}
.p-right-5{padding-right:32px!important}
.p-bottom-5{padding-bottom:32px!important}
.p-left-5{padding-left:32px!important}

/* Box Shadow */
.shadow-none{box-shadow:none!important}
.shadow--s{box-shadow:0 2px 4px rgba(0, 0, 0, 0.05)!important}
.shadow--m{box-shadow:0 4px 10px rgba(0, 0, 0, 0.2)!important}
.shadow--l{box-shadow:0 10px 20px rgba(0, 0, 0, 0.2)!important}
.shadow--xl{box-shadow:0 10px 30px rgba(0, 0, 0, 0.2)!important}

%tr-all{transition:all .35s ease}
