<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />
<meta name="description" content="">
<meta name="author" content="">
<title>Zalo Ads</title>
<link href="css/layout.css" rel="stylesheet"> 
</head>

<body class="zad-old">
<a href="#!" class="menu-help" data-toggle="modal" data-target="#popupContact-modal"><i class="icz icz-question-white"></i><strong>Liên hệ</strong></a>
<div canvas="container">
    <div class="wrap-header">
		<a id="btnMenu" href="#!" class="menu-sliding js-toggle-left-slidebar">Menu Sliding</a>
        <div class="top-header">
            <div class="top-header-inside">
                <a class="logo" href="campaign_list.html">Zalo</a>
				<div class="menu-us">
					<ul>
						<li><a class="active" href="#!">Tài khoản</a></li>
						<li><a href="#!">Chiến dịch</a></li>
						<li><a href="#!">Quản lý lời mời</a></li>
					</ul>
				</div>
                <div class="right-header">
                    <ul class="clearfix">
                        <li class="item item-add-cash show-on-small"><a class="ico"><i class="icz icz-add-cash"></i></a></li>
                        <li class="item dropdown"><a class="ico" id="dLabel7" role="button" data-toggle="dropdown" href="javascript:void(0)" title="Tin nhắn hệ thống"><i class="icz icz-notify"></i><span class="number">9</span></a>
                            <div class="dropdown-menu sub-dropdown-menu clearfix" role="menu" aria-labelledby="dLabel7">
                                <ul class="hgroup">
                                    <li class="active"><a href="#htab-01" role="tab" data-toggle="tab">Tin nhắn hệ thống</a></li>
                                    <li class="action-mark"><a href="#!">Đánh dấu là đã đọc</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active">
                                        <div class="nano" style="max-height:270px;">
                                            <ul>
                                                <li class="obj clearfix">
                                                    <p class="blank">Chưa có thông báo nào từ hệ thống</p>
                                                </li>
                                                <li class="obj new clearfix">
                                                    <a href="#!delete" class="func-delete" title="Xóa"><i class="icz icz-delete-mini"></i></a>
                                                    <a href="javascript:void(0);" class="ic-unread" title="Đánh dấu là đã đọc"></a>
                                                    <a href="#" class="link-obj"></a>
                                                    <div class="desc">
                                                        <p><span class="str">Lam Nguyen</span> vừa bình luận trên bài viết "Coca tưng bừng khai trư ơng..." của bạn<span class="timer">Cách đây 6 giờ</span></p>
                                                    </div>
                                                </li>
                                                <li class="obj clearfix">
                                                    <a href="#!delete" class="func-delete" title="Xóa"><i class="icz icz-delete-mini"></i></a>
                                                    <a href="javascript:void(0);" class="ic-read" title="Đánh dấu là chưa đọc"></a>
                                                    <div class="desc">
                                                        <p><a href="#!"><span class="str">Lam Nguyen</span> vừa bình luận trên bài viết "Coca tưng bừng khai trư ơng..." của bạn<span class="timer">Cách đây 6 giờ</span></a></p>
                                                    </div>
                                                </li>
                                                <li class="obj new have-action clearfix">
                                                    <a href="#!delete" class="func-delete" title="Xóa"><i class="icz icz-delete-mini"></i></a>
                                                    <a href="javascript:void(0);" class="ic-read" title="Đánh dấu là chưa đọc"></a>
                                                    <div class="desc">
                                                        <p><a href="#!"><span class="str">Lam Nguyen</span> vừa bình luận trên bài viết "Coca tưng bừng khai trư ơng..." của bạn<span class="timer">Cách đây 6 giờ</span></a></p>
                                                        <span class="action-ins">
                                                            <a href="#!" title="Đồng ý"><i class="icz icz-accept-notify"></i></a><a href="#!" title="Từ chối"><i class="icz icz-deny-notify"></i></a>
                                                        </span>
                                                    </div>
                                                </li>
                                                <li class="obj have-action clearfix">
                                                    <a href="#!delete" class="func-delete" title="Xóa"><i class="icz icz-delete-mini"></i></a>
                                                    <a href="javascript:void(0);" class="ic-read" title="Đánh dấu là chưa đọc"></a>
                                                    <div class="desc">
                                                        <p><a href="#!"><span class="str">Lam Nguyen</span> vừa bình luận trên bài viết "Coca tưng bừng khai trư ơng..." của bạn<span class="timer">Cách đây 6 giờ</span></a></p>
                                                        <span class="action-ins">
                                                            <a href="#!" title="Đồng ý"><i class="icz icz-accept-notify"></i></a><a href="#!" title="Từ chối"><i class="icz icz-deny-notify"></i></a>
                                                        </span>
                                                    </div>
                                                </li>
												<li class="obj have-action clearfix">
                                                    <a href="#!delete" class="func-delete" title="Xóa"><i class="icz icz-delete-mini"></i></a>
                                                    <a href="javascript:void(0);" class="ic-read" title="Đánh dấu là chưa đọc"></a>
                                                    <div class="desc">
                                                        <p><a href="#!"><span class="str">Lam Nguyen</span> vừa bình luận trên bài viết "Coca tưng bừng khai trư ơng..." của bạn<span class="timer">Cách đây 6 giờ</span></a></p>
                                                        <span class="action-ins">
                                                            <a href="#!" title="Đồng ý"><i class="icz icz-accept-notify"></i></a><a href="#!" title="Từ chối"><i class="icz icz-deny-notify"></i></a>
                                                        </span>
                                                    </div>
                                                </li>
												<li class="obj have-action clearfix">
                                                    <a href="#!delete" class="func-delete" title="Xóa"><i class="icz icz-delete-mini"></i></a>
                                                    <a href="javascript:void(0);" class="ic-read" title="Đánh dấu là chưa đọc"></a>
                                                    <div class="desc">
                                                        <p><a href="#!"><span class="str">Lam Nguyen</span> vừa bình luận trên bài viết "Coca tưng bừng khai trư ơng..." của bạn<span class="timer">Cách đây 6 giờ</span></a></p>
                                                        <span class="action-ins">
                                                            <a href="#!" title="Đồng ý"><i class="icz icz-accept-notify"></i></a><a href="#!" title="Từ chối"><i class="icz icz-deny-notify"></i></a>
                                                        </span>
                                                    </div>
                                                </li>
												<li class="obj have-action clearfix">
                                                    <a href="#!delete" class="func-delete" title="Xóa"><i class="icz icz-delete-mini"></i></a>
                                                    <a href="javascript:void(0);" class="ic-read" title="Đánh dấu là chưa đọc"></a>
                                                    <div class="desc">
                                                        <p><a href="#!"><span class="str">Lam Nguyen</span> vừa bình luận trên bài viết "Coca tưng bừng khai trư ơng..." của bạn<span class="timer">Cách đây 6 giờ</span></a></p>
                                                        <span class="action-ins">
                                                            <a href="#!" title="Đồng ý"><i class="icz icz-accept-notify"></i></a><a href="#!" title="Từ chối"><i class="icz icz-deny-notify"></i></a>
                                                        </span>
                                                    </div>
                                                </li>
												<li class="obj have-action clearfix">
                                                    <a href="#!delete" class="func-delete" title="Xóa"><i class="icz icz-delete-mini"></i></a>
                                                    <a href="javascript:void(0);" class="ic-read" title="Đánh dấu là chưa đọc"></a>
                                                    <div class="desc">
                                                        <p><a href="#!"><span class="str">Lam Nguyen</span> vừa bình luận trên bài viết "Coca tưng bừng khai trư ơng..." của bạn<span class="timer">Cách đây 6 giờ</span></a></p>
                                                        <span class="action-ins">
                                                            <a href="#!" title="Đồng ý"><i class="icz icz-accept-notify"></i></a><a href="#!" title="Từ chối"><i class="icz icz-deny-notify"></i></a>
                                                        </span>
                                                    </div>
                                                </li>
												<li class="obj have-action clearfix">
                                                    <a href="#!delete" class="func-delete" title="Xóa"><i class="icz icz-delete-mini"></i></a>
                                                    <a href="javascript:void(0);" class="ic-read" title="Đánh dấu là chưa đọc"></a>
                                                    <div class="desc">
                                                        <p><a href="#!"><span class="str">Lam Nguyen</span> vừa bình luận trên bài viết "Coca tưng bừng khai trư ơng..." của bạn<span class="timer">Cách đây 6 giờ</span></a></p>
                                                        <span class="action-ins">
                                                            <a href="#!" title="Đồng ý"><i class="icz icz-accept-notify"></i></a><a href="#!" title="Từ chối"><i class="icz icz-deny-notify"></i></a>
                                                        </span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <a href="#" class="more">Xem tất cả</a>
                                    </div>
                                </div>
                            </div>
                        </li>
						<li class="item user-select-container dropdown">
							<a class="ico user-select-body" href="javascript:void(0)" id="dLabel9" role="button" data-toggle="dropdown" title="Truy xuất tài khoản">
								<i class="icz icz-userGroup-white"></i>
							</a>
							<div class="dropdown-menu user-select-menu clearfix" role="menu" aria-labelledby="dLabel9" style="width:360px">
								<div class="user-select-in">
									<p>Truy xuất tài khoản: <strong>Nguyễn Nam Phương</strong>
									</p>
								</div>
								<div class="box-search">
									<input type="text" placeholder="Tìm kiếm tài khoản">
								</div>
								<div class="item-usm">
									<span class="avatar-usm" style="background-image:url(http://placehold.it/90x90)"></span>
									<div class="desc-usm">Lam Nguyen</div>
									<div class="d-flex align-items-center mg-left-auto">
										<div class="tel-usm">0996336166</div>
										<a class="func-exit" href="#!exit">
											<i class="fa fa-sign-out"></i>
										</a>
									</div>
								</div>
								<div class="item-usm">
									<span class="avatar-usm" style="background-image:url(http://placehold.it/90x90)"></span>
									<div class="desc-usm">Lam Nguyen</div>
									<div class="d-flex align-items-center mg-left-auto">
										<div class="tel-usm">0996336166</div>
										<a class="func-exit" href="#!exit">
											<i class="fa fa-sign-out"></i>
										</a>
									</div>
								</div>
								<div class="item-usm">
									<span class="avatar-usm" style="background-image:url(http://placehold.it/90x90)"></span>
									<div class="desc-usm">Lam Nguyen</div>
									<div class="d-flex align-items-center mg-left-auto">
										<div class="tel-usm">0996336166</div>
										<a class="func-exit" href="#!exit">
											<i class="fa fa-sign-out"></i>
										</a>
									</div>
								</div>
								<div class="item-agency">
									<div class="d-flex align-items-center">
										<span class="name-agency"><i class="fa fa-building"></i> Tên Agency</span>
										<a class="func-exit" href="#!exit">
											<i class="fa fa-sign-out"></i>
										</a>
									</div>
									<div class="item-usm-wrap">
										<div class="item-usm">
											<span class="avatar-usm" style="background-image:url(http://placehold.it/90x90)"></span>
											<div class="desc-usm">Lam Nguyen</div>
											<div class="d-flex align-items-center mg-left-auto">
												<div class="tel-usm">0996336166</div>
											</div>
										</div>
										<div class="item-usm">
											<span class="avatar-usm" style="background-image:url(http://placehold.it/90x90)"></span>
											<div class="desc-usm">Lam Nguyen</div>
											<div class="d-flex align-items-center mg-left-auto">
												<div class="tel-usm">0996336166</div>
											</div>
										</div>
									</div>
								</div>		
							</div>
						</li>
                        <li class="hide-on-med-and-down item dropdown">
							<a class="user h-role" id="dLabel3" role="button" data-toggle="dropdown">
								<span class="avatar"><img src="http://placehold.it/90x90" alt="ZOA"></span>
								<span class="user-name">Lâm Nguyễn Lâm Nguyễn</span>
								<span class="user-role">Quản trị bởi Zalo Ads</span>
							</a>
                            <ul class="dropdown-menu sub-action-menu position-left clearfix" role="menu" aria-labelledby="dLabel3" style="width:170px">
                                <li class="first"><a href="#!">Thông tin</a></li>
                                <li><a href="#!">Thoát</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="top-menu hidden clearfix">
            <div class="top-menu-inside">
                <ul class="fl clearfix">
                    <li><a href="#!" class="active"><span><i class="icz icz-home"></i></span></a></li>
                    <li class="item"><a href="#!"><span><i class="icz icz-manage"></i>Doanh thu</span></a></li>
                    <li class="item"><a href="#!"><span><i class="icz icz-report"></i>Quản lý tài khoản và ngân sách</span></a></li>
                    <li class="item"><a href="#!"><span><i class="icz icz-chart"></i>Quản lý lời mời</span></a></li>
					<li class="item item-help"><a href="#!"><span><i class="icz icz-about"></i>Hướng dẫn</span></a></li>
                </ul>
                <ul class="fr clearfix">
                    <li class="number-money">Số tiền còn lại: <strong>260,000đ</strong></li>
                    <li class="add-money"><a href="#!" class="btn btn-default btn-cash"><i class="icz icz-cash"></i>Nạp tiền</a></li>
                </ul>
            </div>
        </div>
		<!-- End Agency -->
		<div class="top-menu clearfix">
            <div class="top-menu-inside">
                <ul class="fl clearfix">
                    <li><a href="#!" class="active"><span><i class="icz icz-home"></i></span></a></li>
					<li class="item"><a href="#!"><span><i class="icz icz-report"></i>Báo cáo</span></a></li>
                    <li class="item"><a href="#!"><span><i class="icz icz-hiDeal"></i>Lịch sử giao dịch</span></a></li>
                    <li class="item"><a href="#!"><span><i class="icz icz-hiCash"></i>Lịch sử nạp tiền</span></a></li>
                    <li class="item dropdown"><a href="#!" role="button" data-toggle="dropdown" class="sub-menu-main"><span><i class="icz icz-manage"></i>Quản lý</span></a>
                        <ul class="dropdown-menu sub-action-menu clearfix" role="menu" aria-labelledby="dLabel1" style="width:180px">
                            <li><a href="#!">Nhóm đối tượng</a></li>
                            <li><a href="#!">Tập tin tải lên</a></li>
                        </ul>
                    </li>
					<li class="item item-help"><a href="#!"class="sub-menu-main"><span><i class="icz icz-about"></i>Hướng dẫn</span></a></li>
                </ul>
                <ul class="fr clearfix">
                    <li class="number-money">Số tiền còn lại: <strong>260,000đ</strong></li>
                    <li class="add-money"><a href="#!" class="btn btn-default btn-cash"><i class="icz icz-cash"></i>Nạp tiền</a></li>
                </ul>
            </div>
        </div>
		<!-- End Agency -->
		<div class="top-menu hidden clearfix">
            <div class="top-menu-inside">
                <ul class="fl clearfix">
                    <li><a href="#!" class="active"><span><i class="icz icz-home"></i></span></a></li>
                    <li class="item"><a href="#!"><span><i class="icz icz-manage"></i>Quản lý</span></a></li>
					<li class="item"><a href="#!"><span><i class="icz icz-ads"></i>Duyệt quảng cáo</span></a></li>
					<li class="item"><a href="#!"><span><i class="icz icz-report"></i>Báo cáo</span></a></li>
					<li class="item"><a href="#!"><span><i class="icz icz-chart"></i>Thống kê</span></a></li>
                    <li class="item dropdown"><a href="#!" role="button" data-toggle="dropdown" class="sub-menu-main"><span><i class="icz icz-userGroup"></i>Công ty quảng cáo</span></a>
                        <ul class="dropdown-menu sub-action-menu clearfix" role="menu" aria-labelledby="dLabel1" style="width:220px">
                            <li><a href="#!">Doanh thu</a></li>
                            <li><a href="#!">Quản lý tài khoản và ngân sách</a></li>
                            <li><a href="#!">Quản lý lời mời</a></li>
                        </ul>
                    </li>
					<li class="item item-help"><a href="#!"><span><i class="icz icz-about"></i>Hướng dẫn</span></a></li>
                </ul>
                <ul class="fr clearfix">
                    <li class="number-money">Số tiền còn lại: <strong>260,000đ</strong></li>
                    <li class="add-money"><a href="#!" class="btn btn-default btn-cash"><i class="icz icz-cash"></i>Nạp tiền</a></li>
                </ul>
            </div>
        </div>
		<!-- End Agency & User -->
    </div>
    <div class="wrap-content">
        <div class="wrap-inside">
            <div class="content-page">
                <div class="page-outside page-manage">
                    <div class="breadcrumb">
                        <span class="title">Tất cả chiến dịch (10)</span>
                        <div class="outside-mbc">
							<div class="controls-date fl mg-right-10">
								<input type="text" name="daterange" value="01/01/2016 - 01/10/2016" />
								<i class="icz icz-calendar"></i>
							</div>
							<a class="btn btn-primary btn-sm" href="#!" data-toggle="modal" data-target="#set-createAds">Tạo quảng cáo</a>
                        </div>
                    </div>
                    <div class="page-manage-inside">
                        <div class="func-bar-mobile">
                            <a href="#!" class="btn btn-sm fr sb-toggle-right">Bộ lọc »</a>
                            <a href="#!" class="btn btn-default btn-sm fr mg-right-10">Tải về</a>
                        </div>
                        <div class="func-bar clearfix hide-on-med-and-down">
                            <div class="link-and-search">
								<div class="ins-search wid-1">
									<input class="nonMag" type="text" placeholder="Nhập tên tài khoản">
								</div>
								<span class="line-func fl"></span>
                                <div class="ins-search wid-1">
                                    <input class="nonMag" type="text" placeholder="Nhập tên chiến dịch">
                                </div>
                                <div class="ins-select wid-1">
                                    <div class="wrap-select">
                                        <select>
                                            <option value="1" disabled selected>Tất cả chiến dịch</option>
                                            <option value="2">Danh mục 1</option>
                                            <option value="3">Danh mục 2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="ins-select wid-1">
                                    <div class="wrap-select">
                                        <select>
                                            <option value="1" disabled selected>Tất cả loại chiến dịch</option>
                                            <option value="2">Tất cả</option>
                                            <option value="3">Hiện</option>
                                            <option value="4">Ẩn</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
							<a href="#!" class="btn btn-default btn-sm fr hide-on-med-and-down">Tải về</a>
                        </div>
						<div class="func-filter">
							<ul>
								<li class="show-on-small">Thời gian: <strong>02/05 - 07/08</strong></li>
								<li>Số lượt nhấn: <strong>1.000.000</strong></li>
								<li>Chi phí: <strong>20.000.000</strong></li>
							</ul>
							<a href="#!" class="ls-his fr" data-toggle="modal" data-target="#ch-history">Lịch sử thay đổi</a>
						</div>
                        <table id="table" class="display table table-default" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th class="nonPad" data-hide="phone,tablet" style="width:30px">ID</th>
                                    <th style="width:30px"></th>
                                    <th class="nonPad nonBgimage align-right" style="width:36px"></th>
                                    <th style="width:45%">Tên chiến dịch</th>
									<th style="width:10%" data-hide="phone,tablet">Tài khoản</th>
                                    <th style="width:10%" data-hide="phone,tablet">Trạng thái <i class="icz icz-question-fill" data-toggle="tooltip" data-placement="top" title="Lorem ipsum"></i></th>
                                    <th style="width:10%" class="align-right col-result">Kết quả <i class="icz icz-question-fill" data-toggle="tooltip" data-placement="top" title="Lorem ipsum"></i></th>
                                    <th style="width:10%" data-hide="phone,tablet" class="align-right">Chi phí <i class="icz icz-question-fill" data-toggle="tooltip" data-placement="top" title="Lorem ipsum"></i></th>
                                    <th style="width:10%"data-hide="phone,tablet" class="align-right">Ngày kết thúc</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="align-middle" data-hide="phone,tablet">1</td>
                                    <td class="nonPad align-middle">
                                        <div class="toggle" title="Hiển thị trên trang">
                                            <input type="checkbox" class="toggle-input" name="toggle" id="toggle1" checked><label for="toggle1"></label>
                                        </div>
                                    </td>
                                    <td class="nonPad align-middle"><i class="icc icc-campaign-1 icc-small"></i></td>
                                    <td class="align-middle">
                                        <div class="name-campaign have-i">
											<a href="detail_campaign.html">
												<span class="txt-ins">Tên chiến dịch 01 bla bla bla bla bla bla
													<span class="user-follow hide-on-med-and-down">Phân công cho Nguyễn Thị A</span>
													<span class="status status-denied show-on-small">Hết hạn</span>
												</span>
											</a>
										</div>
                                    </td>
									<td class="align-middle" data-hide="phone,tablet"><a href="#!">bluelaguna</a></td>
                                    <td class="align-middle" data-hide="phone,tablet"><span class="status status-denied">Hết hạn</span></td>
                                    <td class="align-right align-middle">10,000<br /><p class="show-on-small"><strong class="price">61,000,000đ</strong></p></td>
                                    <td data-hide="phone,tablet" class="align-right align-middle">61,000,000đ</td>
                                    <td data-hide="phone,tablet" class="align-right align-middle">2011/04/25</td>
                                </tr>
                                <tr>
                                    <td class="align-middle" data-hide="phone,tablet">2</td>
                                    <td class="nonPad align-middle">
                                        <div class="toggle" title="Hiển thị trên trang">
                                            <input type="checkbox" class="toggle-input" name="toggle" id="toggle2" checked disabled><label for="toggle2"></label>
                                        </div>
                                    </td>
                                    <td class="nonPad align-middle"><i class="icc icc-campaign-1 icc-small"></i></td>
                                    <td class="align-middle">
                                        <div class="name-campaign have-i">
											<a href="detail_campaign.html">
												<span class="txt-ins">Tên chiến dịch 01 bla bla bla bla bla bla
													<span class="user-follow hide-on-med-and-down">Phân công cho Nguyễn Thị A</span>
													<span class="status status-pending show-on-small">Tạm dừng</span>
												</span>
											</a>
										</div>
                                    </td>
									<td class="align-middle" data-hide="phone,tablet"><a href="#!">bluelaguna</a></td>
                                    <td class="align-middle" data-hide="phone,tablet"><span class="status status-pending">Tạm dừng</span></td>
                                    <td class="align-right align-middle">10,000<br /><p class="show-on-small"><strong>61,000,000đ</strong></p></td>
									<td data-hide="phone,tablet" class="align-right align-middle">61,000,000đ</td>
                                    <td data-hide="phone,tablet" class="align-right align-middle">2011/04/25</td>
                                </tr>
                                <tr class="disabled">
                                    <td class="nonPad align-middle" data-hide="phone,tablet">3</td>
                                    <td class="nonPad align-middle">
                                        <div class="toggle" title="Hiển thị trên trang">
                                            <input type="checkbox" class="toggle-input" name="toggle" id="toggle3" disabled><label for="toggle3"></label>
                                        </div>
                                    </td>
                                    <td class="nonPad align-middle"><i class="icc icc-campaign-1 icc-small"></i></td>
                                    <td class="align-middle">
                                        <div class="name-campaign have-i">
											<a href="detail_campaign.html">
												<span class="txt-ins">Tên chiến dịch 01 bla bla bla bla bla bla
													<span class="status status-doing show-on-small">Đang chạy</span>
												</span>
											</a>
										</div>
                                    </td>
									<td class="align-middle" data-hide="phone,tablet"><a href="#!">bluelaguna</a></td>
                                    <td class="align-middle" data-hide="phone,tablet"><span class="status status-doing">Đang chạy</span></td>
                                    <td class="align-right align-middle">10,000<br /><p class="show-on-small"><strong>61,000,000đ</strong></p></td>
                                    <td data-hide="phone,tablet" class="align-right align-middle">61,000,000đ</td>
                                    <td data-hide="phone,tablet" class="align-right align-middle">2011/04/25</td>
                                </tr>
                                <tr>
                                    <td class="align-middle" data-hide="phone,tablet">3</td>
                                    <td class="nonPad align-middle">
                                        <div class="toggle" title="Hiển thị trên trang">
                                            <input type="checkbox" class="toggle-input" name="toggle" id="toggle4"><label for="toggle4"></label>
                                        </div>
                                    </td>
                                    <td class="nonPad align-middle"><i class="icc icc-campaign-1 icc-small"></i></td>
                                    <td class="align-middle">
                                        <div class="name-campaign have-i">
											<a href="detail_campaign.html">
												<span class="txt-ins">Tên chiến dịch 01 bla bla bla bla bla bla
													<span class="status status-doing show-on-small">Đang chạy</span>
												</span>
											</a>
										</div>
                                    </td>
									<td class="align-middle" data-hide="phone,tablet"><a href="#!">bluelaguna</a></td>
                                    <td class="align-middle" data-hide="phone,tablet"><span class="status status-doing">Đang chạy</span></td>
                                    <td class="align-right align-middle">10,000<br /><p class="show-on-small"><strong>61,000,000đ</strong></p></td>
                                    <td data-hide="phone,tablet" class="align-right align-middle">61,000,000đ</td>
                                    <td data-hide="phone,tablet" class="align-right align-middle">2011/04/25</td>
                                </tr>
                                <tr>
                                    <td class="align-middle" data-hide="phone,tablet">3</td>
                                    <td class="nonPad align-middle">
                                        <div class="toggle" title="Hiển thị trên trang">
                                            <input type="checkbox" class="toggle-input" name="toggle" id="toggle5"><label for="toggle5"></label>
                                        </div>
                                    </td>
                                    <td class="nonPad align-middle"><i class="icc icc-campaign-1 icc-small"></i></td>
                                    <td class="align-middle">
                                        <div class="name-campaign have-i">
											<a href="detail_campaign.html">
												<span class="txt-ins">Tên chiến dịch 01 bla bla bla bla bla bla
													<span class="user-follow hide-on-med-and-down">Phân công cho Nguyễn Thị A</span>
													<span class="status status-doing show-on-small">Đang chạy</span>
												</span>
											</a>
										</div>
                                    </td>
									<td class="align-middle" data-hide="phone,tablet"><a href="#!">bluelaguna</a></td>
                                    <td class="align-middle" data-hide="phone,tablet"><span class="status status-doing">Đang chạy</span></td>
                                    <td class="align-right align-middle">10,000<br /><p class="show-on-small"><strong>61,000,000đ</strong></p></td>
                                    <td data-hide="phone,tablet" class="align-right align-middle">61,000,000đ</td>
                                    <td data-hide="phone,tablet" class="align-right align-middle">2011/04/25</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="bottom-mn otr">
                            <div class="show-pagination form-default fl">
                                <label class="label">Hiển thị </label>
                                <span class="wrap-select">
                                    <select>
                                        <option value="0">20</option>
                                        <option value="1">30</option>
                                    </select>
                                </span>
                            </div>
                            <div class="pagination fr">
                                <ul class="clearfix">
                                    <li><a href="#!"> &#10094; </a></li>
                                    <li><a class="active" href="#!">1</a></li>
                                    <li><a href="#!">2</a></li>
                                    <li><a href="#!">3</a></li>
                                    <li><a href="#!"> &#10095; </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Content-->
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<!-- End Page-->
    
<!-- Begin Menu -->
<div ng-controller="HeaderMenuComponentController as header" off-canvas="sb-menu left reveal" class="sb-slidebar" ng-click="$event.stopPropagation();">
	<div class="menu-inside">
		<div class="info-slidebar">
            <span class="avatar-info" style="background-image:url(images/temp/img_avatar.png)"></span>
            <div class="desc-info">
                <span class="name">Lâm Nguyễn</span>
                <span class="number-money">Số tiền còn lại: <strong>260,000đ</strong></span>
                <a href="#!" class="btn btn-default btn-cash"><i class="icz icz-cash"></i>Nạp tiền</a>
            </div>
        </div>
		<ul class="clearfix collapsible" data-collapsible="accordion">
            <li><a href="#!"><i class="icz icz-cm"></i>Danh sách chiến dịch</a></li>
            <li><a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><i class="icz icz-manage"></i>Quản lý</a>
                <ul class="inside-inside panel-collapse collapse" id="collapse1">
                    <li><a href="#!">Duyệt quảng cáo</a></li>
                    <li><a href="#!">Người dùng</a></li>
                    <li><a href="#!">Nhóm người dùng</a></li>
                    <li><a href="#!">Chiến dịch</a></li>
                    <li><a href="#!">Voucher</a></li>
                    <li><a href="#!">Nhóm đối tượng quảng cáo</a></li>
                </ul>
            </li>
            <li><a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><i class="icz icz-report"></i>Báo cáo</a>
                <ul class="inside-inside panel-collapse collapse" id="collapse2">
                    <li><a href="#!">Báo cáo nạp tiền</a></li>
                    <li><a href="#!">Tình hình sử dụng tiền</a></li>
                    <li><a href="#!">Chi tiết sử dụng tiền</a></li>
                    <li><a href="#!">Báo cáo doanh thu</a></li>
                </ul>
            </li>
            <li><a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><i class="icz icz-chart"></i>Thống kê</a>
                <ul class="inside-inside panel-collapse collapse" id="collapse3">
                    <li><a href="#!">Thống kê về người dùng</a></li>
                    <li><a href="#!">Thống kê về quảng cáo</a></li>
                </ul>
            </li>
            <li><a href="#!" data-toggle="modal" data-target="#popupContact-modal"><i class="icz icz-contact"></i>Liên hệ</a></li>
			<li><a href="#!"><i class="icz icz-logout"></i>Đăng xuất</a></li>
        </ul>
	</div>
</div>

<!-- Begin Filter -->
<div ng-controller="HomeFilterComponentController as homeFilter" off-canvas="sb-filter right shift" class="sb-slidebar sb-filter" ng-click="$event.stopPropagation();">
    <div class="nav">
        <a class="context-back sb-close" href="#!">« Quay lại</a>
        <h2>Bộ lọc</h2>
    </div>
    <div class="wrap">
        <div class="list-group">
            <input type="text" placeholder="Nhập tên chiến dịch">
        </div>
        <div class="list-group">
            <div class="wrap-select">
                <select>
                    <option value="1" disabled selected>Tất cả chiến dịch</option>
                    <option value="2">Danh mục 1</option>
                    <option value="3">Danh mục 2</option>
                </select>
            </div>
        </div>
        <div class="list-group">
            <div class="wrap-select">
                <select>
                    <option value="1" disabled selected>Tất cả loại chiến dịch</option>
                    <option value="2">Danh mục 1</option>
                    <option value="3">Danh mục 2</option>
                </select>
            </div>
        </div>
        <div class="list-group">
            <div class="controls-date">
                <input type="text" id="d1" class="datetimepicker" value="Chọn ngày bắt đầu">
                <i class="icz icz-calendar"></i>
            </div>
        </div>
        <div class="list-group">
            <div class="controls-date">
                <input type="text" id="d2" class="datetimepicker" value="Chọn ngày kết thúc">
                <i class="icz icz-calendar"></i>
            </div>
        </div>
    </div>
    <div class="sticky">
        <div class="align-center">
            <a href="#!" class="btn btn-link wid50">Xóa tất cả</a><a href="#!" class="btn btn-primary wid50">Áp dụng</a>
        </div>
    </div>
</div>
<!-- End Filter -->
<!-- Popup -->
<div id="set-createAds" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md" style="width:320px">
		<div class="modal-content">
			<div class="wrap-popup">
				<h3 class="title-popup">Chọn tài khoản tạo quảng cáo<a aria-hidden="true" data-dismiss="modal" class="close c-close" title="Đóng lại"></a></h3>
				<div class="popup-inside form-default">
					<div class="user-select-container in-form dropdown">
						<a class="user-select-body" href="#!" id="dLabel9" role="button" data-toggle="dropdown">
							<span class="user-name">bluelaguna</span>
						</a>
						<div class="dropdown-menu user-select-menu clearfix" role="menu" aria-labelledby="dLabel9" style="width:360px">
							<div class="box-search">
								<input type="text" placeholder="Tìm kiếm tài khoản">
							</div>
							<span class="lstitle">All Accounts</span>
							<ul class="list clearfix">
								<li class="open"><a href="#!"><span class="user-name">bluelaguna1</span> <span class="phone-number">099.6336.666</span></a>
									<ul class="">
										<li class="open"><a href="#!"><span class="user-name">bluelaguna2</span> <span class="phone-number">099.6336.666</span></a>
											<ul class="">
												<li class="open"><a href="#!"><span class="user-name">bluelaguna3</span> <span class="phone-number">099.6336.666</span></a>
													<ul class="">
														<li class="open"><a href="#!"><span class="user-name">bluelaguna4</span> <span class="phone-number">099.6336.666</span></a>
															<ul class="">
																<li><a href="#!"><span class="user-name">bluelaguna5</span> <span class="phone-number">099.6336.666</span></a></li>
															</ul>
														</li>
													</ul>
												</li>
											</ul>
										</li>
										<li><a href="#!"><span class="user-name">bluelaguna2-1</span> <span class="phone-number">099.6336.666</span></a></li>
									</ul>
								</li>
								<li><a href="#!"><span class="user-name">bluelaguna1-1</span> <span class="phone-number">099.6336.666</span></a>
							</ul>
						</div>
					</div>
					<div class="clear"></div>
					<a href="#!" class="btn btn-primary fr">Tạo quảng cáo</a>
					<div class="clear"></div>
                </div>
			</div>
		</div>
	</div>
</div>

<div id="ch-history" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md" style="width:620px">
		<div class="modal-content">
			<div class="wrap-popup">
				<h3 class="title-popup">Lịch sử thay đổi<a aria-hidden="true" data-dismiss="modal" class="close c-close" title="Đóng lại"></a></h3>
				<div class="popup-inside form-default">
					<div class="list-campain-popup nano">
						<table class="display table table-default table-popup" cellspacing="0" width="100%">
	                        <thead>
	                            <tr>
	                                <th class="align-center">Ngày giờ</th>
	                                <th class="align-center">Tài khoản</th>
									<th class="align-center">Chiến dịch</th>
									<th class="align-center">Quảng cáo</th>
									<th class="align-center">Nội dung thay đổi</th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <tr>
	                                <td class="align-center align-middle">dd/mm/yyyy<br />hh:mm:ss</td>
	                                <td class="align-center align-middle"><a href="#!">Tên tài khoản</a></td>
									<td class="align-center align-middle"><a href="#!">Tên chiến dịch</a></td>
									<td class="align-center align-middle"><a href="#!">Tên quảng cáo</a></td>
									<td class="align-center align-middle">Thay đổi giá đặt<br /><span class="set-price">300đ => 500đ</span></td>
	                            </tr>
								<tr>
	                                <td class="align-center align-middle">dd/mm/yyyy<br />hh:mm:ss</td>
	                                <td class="align-center align-middle"><a href="#!">Tên tài khoản</a></td>
									<td class="align-center align-middle"><a href="#!">Tên chiến dịch</a></td>
									<td class="align-center align-middle"><a href="#!">Tên quảng cáo</a></td>
									<td class="align-center align-middle">Thay đổi giá đặt<br /><span class="set-price">300đ => 500đ</span></td>
	                            </tr>
								<tr>
	                                <td class="align-center align-middle">dd/mm/yyyy<br />hh:mm:ss</td>
	                                <td class="align-center align-middle"><a href="#!">Tên tài khoản</a></td>
									<td class="align-center align-middle"><a href="#!">Tên chiến dịch</a></td>
									<td class="align-center align-middle"><a href="#!">Tên quảng cáo</a></td>
									<td class="align-center align-middle">Thay đổi giá đặt<br /><span class="set-price">300đ => 500đ</span></td>
	                            </tr>
	                        </tbody>
	                    </table>
                    </div>
                    <div class="clear"></div>
                </div>
			</div>
		</div>
	</div>
</div>
<!-- jquery js -->
<script src="js/jquery.js"></script>
<script src="js/tether.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.mCustomScrollbar.min.js"></script>
<script src="js/slidebars.min.js"></script>
<script src="js/main.js"></script>
<!-- Data table-->
<script src="js/jquery.dataTables.min.js"></script>
<script src="js/jquery.dataTables_extend.min.js"></script>
<script>
$(document).ready(function () {
    var responsiveHelper = undefined;
    var breakpointDefinition = {
        tablet: 1024,
        phone: 480
    };
    var tableElement = $('#table');

    tableElement.dataTable({
        "autoWidth": false,
		"paging" : false,
        "searching" : false,
        "footer" : true,
        "info" : false,
        preDrawCallback: function () {
            // Initialize the responsive datatables helper once.
            if (!responsiveHelper) {
                responsiveHelper = new ResponsiveDatatablesHelper(tableElement, breakpointDefinition);
            }
        },
        rowCallback: function (nRow) {
            responsiveHelper.createExpandIcon(nRow);
        },
        drawCallback: function (oSettings) {
            responsiveHelper.respond();
        },
		initComplete: function () {
			
        }
    });
});      
</script>
<!-- Date Range-->
<script src="js/moment.min.js"></script>
<script src="js/daterangepicker.js"></script>
<script>
$(function() {
    $('input[name="daterange"]').daterangepicker({
        "opens": "left",
        timePicker: false,
        timePickerIncrement: 30,
        locale: {
            format: 'MM/DD/YYYY'
        }
    });
});
</script>
<!-- Date TimePicker-->
<script src="js/jquery.datetimepicker.js"></script>
<script>
    $('.datetimepicker').datetimepicker()
    .datetimepicker({value:'',step:10, lang:'vi'});
</script>
<script>
window.zaSlides = new slidebars();
window.zaSlides.exit();

	window.zaSlides.init();
	$('#btnMenu').on( 'click', function () {
		window.zaSlides.open('sb-menu');
	});
	//
	//zaLog('header controller');
	$( window.zaSlides.events ).on( 'opened', function () {
		$( '[canvas="container"]' ).addClass( 'js-close-any-slidebar' );
	} );

	$( window.zaSlides.events ).on( 'closed', function () {
		$( '[canvas="container"]' ).removeClass( 'js-close-any-slidebar' );
	} );

	$( 'body' ).on( 'click', '.js-close-any-slidebar', function ( event ) {
		event.stopPropagation();
		window.zaSlides.close();
	} );	
</script>
<script>
(function ($) {
    "use strict";
    function centerModal() {
        $(this).css('display', 'block');
        var $dialog  = $(this).find(".modal-dialog"),
        offset       = ($(window).height() - $dialog.height()) / 2,
        bottomMargin = parseInt($dialog.css('marginBottom'), 10);
		
        if(offset < bottomMargin) offset = bottomMargin;
        $dialog.css("margin-top", offset);
    }

    $(document).on('show.bs.modal', '.modal', centerModal);
    $(window).on("resize", function () {
        $('.modal:visible').each(centerModal);
    });
}(jQuery));	
</script>
<script>
$(window).load(function(){
    $(".nano").mCustomScrollbar({autoHideScrollbar: true, mouseWheelPixels: 200});
});	
</script>
</body>
</html>
