<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />
<meta name="description" content="">
<meta name="author" content="">
<title>Zalo Ads</title>
<link href="css/layout.css" rel="stylesheet"> 
</head>

<body class="has-mw zad-old">
<a href="#!" class="menu-help" data-toggle="modal" data-target="#popupContact-modal"><i class="icz icz-question-white"></i><strong>Liên hệ</strong></a>
<div canvas="container">
    <div class="wrap-header">
		<a id="btnMenu" href="#!" class="menu-sliding js-toggle-left-slidebar">Menu Sliding</a>
        <div class="top-header">
            <div class="top-header-inside">
                <a class="logo" href="campaign_list.html">Zalo</a>
				<div class="menu-us">
					<ul>
						<li><a class="active" href="#!">Tài khoản</a></li>
						<li><a href="#!">Chiến dịch</a></li>
						<li><a href="#!">Quản lý lời mời</a></li>
					</ul>
				</div>
                <div class="right-header">
                    <ul class="clearfix">
                        <li class="item item-add-cash show-on-small"><a class="ico"><i class="icz icz-add-cash"></i></a></li>
                        <li class="item dropdown"><a class="ico" id="dLabel7" role="button" data-toggle="dropdown" href="javascript:void(0)" title="Tin nhắn hệ thống"><i class="icz icz-notify"></i><span class="number">9</span></a>
                            <div class="dropdown-menu sub-dropdown-menu clearfix" role="menu" aria-labelledby="dLabel7">
                                <ul class="hgroup">
                                    <li class="active"><a href="#htab-01" role="tab" data-toggle="tab">Tin nhắn hệ thống</a></li>
                                    <li class="action-mark"><a href="#!">Đánh dấu là đã đọc</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active">
                                        <div class="nano" style="max-height:270px;">
                                            <ul>
                                                <li class="obj clearfix">
                                                    <p class="blank">Chưa có thông báo nào từ hệ thống</p>
                                                </li>
                                                <li class="obj new clearfix">
                                                    <a href="#!delete" class="func-delete" title="Xóa"><i class="icz icz-delete-mini"></i></a>
                                                    <a href="javascript:void(0);" class="ic-unread" title="Đánh dấu là đã đọc"></a>
                                                    <a href="#" class="link-obj"></a>
                                                    <div class="desc">
                                                        <p><span class="str">Lam Nguyen</span> vừa bình luận trên bài viết "Coca tưng bừng khai trư ơng..." của bạn<span class="timer">Cách đây 6 giờ</span></p>
                                                    </div>
                                                </li>
                                                <li class="obj clearfix">
                                                    <a href="#!delete" class="func-delete" title="Xóa"><i class="icz icz-delete-mini"></i></a>
                                                    <a href="javascript:void(0);" class="ic-read" title="Đánh dấu là chưa đọc"></a>
                                                    <div class="desc">
                                                        <p><a href="#!"><span class="str">Lam Nguyen</span> vừa bình luận trên bài viết "Coca tưng bừng khai trư ơng..." của bạn<span class="timer">Cách đây 6 giờ</span></a></p>
                                                    </div>
                                                </li>
                                                <li class="obj new have-action clearfix">
                                                    <a href="#!delete" class="func-delete" title="Xóa"><i class="icz icz-delete-mini"></i></a>
                                                    <a href="javascript:void(0);" class="ic-read" title="Đánh dấu là chưa đọc"></a>
                                                    <div class="desc">
                                                        <p><a href="#!"><span class="str">Lam Nguyen</span> vừa bình luận trên bài viết "Coca tưng bừng khai trư ơng..." của bạn<span class="timer">Cách đây 6 giờ</span></a></p>
                                                        <span class="action-ins">
                                                            <a href="#!" title="Đồng ý"><i class="icz icz-accept-notify"></i></a><a href="#!" title="Từ chối"><i class="icz icz-deny-notify"></i></a>
                                                        </span>
                                                    </div>
                                                </li>
                                                <li class="obj have-action clearfix">
                                                    <a href="#!delete" class="func-delete" title="Xóa"><i class="icz icz-delete-mini"></i></a>
                                                    <a href="javascript:void(0);" class="ic-read" title="Đánh dấu là chưa đọc"></a>
                                                    <div class="desc">
                                                        <p><a href="#!"><span class="str">Lam Nguyen</span> vừa bình luận trên bài viết "Coca tưng bừng khai trư ơng..." của bạn<span class="timer">Cách đây 6 giờ</span></a></p>
                                                        <span class="action-ins">
                                                            <a href="#!" title="Đồng ý"><i class="icz icz-accept-notify"></i></a><a href="#!" title="Từ chối"><i class="icz icz-deny-notify"></i></a>
                                                        </span>
                                                    </div>
                                                </li>
												<li class="obj have-action clearfix">
                                                    <a href="#!delete" class="func-delete" title="Xóa"><i class="icz icz-delete-mini"></i></a>
                                                    <a href="javascript:void(0);" class="ic-read" title="Đánh dấu là chưa đọc"></a>
                                                    <div class="desc">
                                                        <p><a href="#!"><span class="str">Lam Nguyen</span> vừa bình luận trên bài viết "Coca tưng bừng khai trư ơng..." của bạn<span class="timer">Cách đây 6 giờ</span></a></p>
                                                        <span class="action-ins">
                                                            <a href="#!" title="Đồng ý"><i class="icz icz-accept-notify"></i></a><a href="#!" title="Từ chối"><i class="icz icz-deny-notify"></i></a>
                                                        </span>
                                                    </div>
                                                </li>
												<li class="obj have-action clearfix">
                                                    <a href="#!delete" class="func-delete" title="Xóa"><i class="icz icz-delete-mini"></i></a>
                                                    <a href="javascript:void(0);" class="ic-read" title="Đánh dấu là chưa đọc"></a>
                                                    <div class="desc">
                                                        <p><a href="#!"><span class="str">Lam Nguyen</span> vừa bình luận trên bài viết "Coca tưng bừng khai trư ơng..." của bạn<span class="timer">Cách đây 6 giờ</span></a></p>
                                                        <span class="action-ins">
                                                            <a href="#!" title="Đồng ý"><i class="icz icz-accept-notify"></i></a><a href="#!" title="Từ chối"><i class="icz icz-deny-notify"></i></a>
                                                        </span>
                                                    </div>
                                                </li>
												<li class="obj have-action clearfix">
                                                    <a href="#!delete" class="func-delete" title="Xóa"><i class="icz icz-delete-mini"></i></a>
                                                    <a href="javascript:void(0);" class="ic-read" title="Đánh dấu là chưa đọc"></a>
                                                    <div class="desc">
                                                        <p><a href="#!"><span class="str">Lam Nguyen</span> vừa bình luận trên bài viết "Coca tưng bừng khai trư ơng..." của bạn<span class="timer">Cách đây 6 giờ</span></a></p>
                                                        <span class="action-ins">
                                                            <a href="#!" title="Đồng ý"><i class="icz icz-accept-notify"></i></a><a href="#!" title="Từ chối"><i class="icz icz-deny-notify"></i></a>
                                                        </span>
                                                    </div>
                                                </li>
												<li class="obj have-action clearfix">
                                                    <a href="#!delete" class="func-delete" title="Xóa"><i class="icz icz-delete-mini"></i></a>
                                                    <a href="javascript:void(0);" class="ic-read" title="Đánh dấu là chưa đọc"></a>
                                                    <div class="desc">
                                                        <p><a href="#!"><span class="str">Lam Nguyen</span> vừa bình luận trên bài viết "Coca tưng bừng khai trư ơng..." của bạn<span class="timer">Cách đây 6 giờ</span></a></p>
                                                        <span class="action-ins">
                                                            <a href="#!" title="Đồng ý"><i class="icz icz-accept-notify"></i></a><a href="#!" title="Từ chối"><i class="icz icz-deny-notify"></i></a>
                                                        </span>
                                                    </div>
                                                </li>
												<li class="obj have-action clearfix">
                                                    <a href="#!delete" class="func-delete" title="Xóa"><i class="icz icz-delete-mini"></i></a>
                                                    <a href="javascript:void(0);" class="ic-read" title="Đánh dấu là chưa đọc"></a>
                                                    <div class="desc">
                                                        <p><a href="#!"><span class="str">Lam Nguyen</span> vừa bình luận trên bài viết "Coca tưng bừng khai trư ơng..." của bạn<span class="timer">Cách đây 6 giờ</span></a></p>
                                                        <span class="action-ins">
                                                            <a href="#!" title="Đồng ý"><i class="icz icz-accept-notify"></i></a><a href="#!" title="Từ chối"><i class="icz icz-deny-notify"></i></a>
                                                        </span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <a href="#" class="more">Xem tất cả</a>
                                    </div>
                                </div>
                            </div>
                        </li>
						<li class="item user-select-container dropdown">
							<a class="ico user-select-body" href="javascript:void(0)" id="dLabel9" role="button" data-toggle="dropdown" title="Truy xuất tài khoản">
								<i class="icz icz-userGroup-white"></i>
							</a>
							<div class="dropdown-menu user-select-menu clearfix" role="menu" aria-labelledby="dLabel9" style="width:360px">
								<div class="user-select-in">
									<p>Truy xuất tài khoản: <strong>Nguyễn Nam Phương</strong>
									</p>
								</div>
								<div class="box-search">
									<input type="text" placeholder="Tìm kiếm tài khoản">
								</div>
								<div class="item-usm">
									<span class="avatar-usm" style="background-image:url(http://placehold.it/90x90)"></span>
									<div class="desc-usm">Lam Nguyen</div>
									<div class="d-flex align-items-center mg-left-auto">
										<div class="tel-usm">0996336166</div>
										<a class="func-exit" href="#!exit">
											<i class="fa fa-sign-out"></i>
										</a>
									</div>
								</div>
								<div class="item-usm">
									<span class="avatar-usm" style="background-image:url(http://placehold.it/90x90)"></span>
									<div class="desc-usm">Lam Nguyen</div>
									<div class="d-flex align-items-center mg-left-auto">
										<div class="tel-usm">0996336166</div>
										<a class="func-exit" href="#!exit">
											<i class="fa fa-sign-out"></i>
										</a>
									</div>
								</div>
								<div class="item-usm">
									<span class="avatar-usm" style="background-image:url(http://placehold.it/90x90)"></span>
									<div class="desc-usm">Lam Nguyen</div>
									<div class="d-flex align-items-center mg-left-auto">
										<div class="tel-usm">0996336166</div>
										<a class="func-exit" href="#!exit">
											<i class="fa fa-sign-out"></i>
										</a>
									</div>
								</div>
								<div class="item-agency">
									<div class="d-flex align-items-center">
										<span class="name-agency"><i class="fa fa-building"></i> Tên Agency</span>
										<a class="func-exit" href="#!exit">
											<i class="fa fa-sign-out"></i>
										</a>
									</div>
									<div class="item-usm-wrap">
										<div class="item-usm">
											<span class="avatar-usm" style="background-image:url(http://placehold.it/90x90)"></span>
											<div class="desc-usm">Lam Nguyen</div>
											<div class="d-flex align-items-center mg-left-auto">
												<div class="tel-usm">0996336166</div>
											</div>
										</div>
										<div class="item-usm">
											<span class="avatar-usm" style="background-image:url(http://placehold.it/90x90)"></span>
											<div class="desc-usm">Lam Nguyen</div>
											<div class="d-flex align-items-center mg-left-auto">
												<div class="tel-usm">0996336166</div>
											</div>
										</div>
									</div>
								</div>		
							</div>
						</li>
                        <li class="hide-on-med-and-down item dropdown">
							<a class="user h-role" id="dLabel3" role="button" data-toggle="dropdown">
								<span class="avatar"><img src="http://placehold.it/90x90" alt="ZOA"></span>
								<span class="user-name">Lâm Nguyễn Lâm Nguyễn</span>
								<span class="user-role">Quản trị bởi Zalo Ads</span>
							</a>
                            <ul class="dropdown-menu sub-action-menu position-left clearfix" role="menu" aria-labelledby="dLabel3" style="width:170px">
                                <li class="first"><a href="#!">Thông tin</a></li>
                                <li><a href="#!">Thoát</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="top-menu hidden clearfix">
            <div class="top-menu-inside">
                <ul class="fl clearfix">
                    <li><a href="#!" class="active"><span><i class="icz icz-home"></i></span></a></li>
                    <li class="item"><a href="#!"><span><i class="icz icz-manage"></i>Doanh thu</span></a></li>
                    <li class="item"><a href="#!"><span><i class="icz icz-report"></i>Quản lý tài khoản và ngân sách</span></a></li>
                    <li class="item"><a href="#!"><span><i class="icz icz-chart"></i>Quản lý lời mời</span></a></li>
					<li class="item item-help"><a href="#!"><span><i class="icz icz-about"></i>Hướng dẫn</span></a></li>
                </ul>
                <ul class="fr clearfix">
                    <li class="number-money">Số tiền còn lại: <strong>260,000đ</strong></li>
                    <li class="add-money"><a href="#!" class="btn btn-default btn-cash"><i class="icz icz-cash"></i>Nạp tiền</a></li>
                </ul>
            </div>
        </div>
		<!-- End Agency -->
		<div class="top-menu clearfix">
            <div class="top-menu-inside">
                <ul class="fl clearfix">
                    <li><a href="#!" class="active"><span><i class="icz icz-home"></i></span></a></li>
					<li class="item"><a href="#!"><span><i class="icz icz-report"></i>Báo cáo</span></a></li>
                    <li class="item dropdown"><a href="#!" role="button" data-toggle="dropdown" class="sub-menu-main"><span><i class="icz icz-userGroup"></i>Công ty quảng cáo</span></a>
						<ul class="dropdown-menu sub-action-menu clearfix" role="menu" aria-labelledby="dLabel1" style="width:200px">
							<li class="in-sub"><span class="label">Thành viên</span></li>
                            <li class="in-sub"><a href="#!">Quản lý thành viên</a></li>
							<li class="in-sub"><a href="#!">Quản lý lời mời thành viên</a></li>
							<li class="divider"></li>
							<li class="in-sub"><span class="label">Khách hàng</span></li>
                            <li class="in-sub"><a href="#!">Quản lý khách hàng</a></li>
							<li class="in-sub"><a href="#!">Quản lý lời mời khách hàng</a></li>
							<li class="in-sub"><a href="#!">Quản lý yêu cầu gia nhập</a></li>
							<li class="divider"></li>
							<li><a href="#!">Báo cáo doanh thu</a></li>
                        </ul>
                    </li>
                    <li class="item dropdown"><a href="#!" role="button" data-toggle="dropdown" class="sub-menu-main"><span><i class="icz icz-manage"></i>Quản lý</span></a>
                        <ul class="dropdown-menu sub-action-menu clearfix" role="menu" aria-labelledby="dLabel1" style="width:180px">
                            <li><a href="#!">Nhóm đối tượng</a></li>
                            <li><a href="#!">Tập tin tải lên</a></li>
                        </ul>
                    </li>
					<li class="item item-help"><a href="#!"class="sub-menu-main"><span><i class="icz icz-about"></i>Hướng dẫn</span></a></li>
                </ul>
                <ul class="fr clearfix">
                    <li class="number-money">Số tiền còn lại: <strong>260,000đ</strong></li>
                    <li class="add-money"><a href="#!" class="btn btn-default btn-cash"><i class="icz icz-cash"></i>Nạp tiền</a></li>
                </ul>
            </div>
        </div>
		<!-- End Agency -->
		<div class="top-menu hidden clearfix">
            <div class="top-menu-inside">
                <ul class="fl clearfix">
                    <li><a href="#!" class="active"><span><i class="icz icz-home"></i></span></a></li>
                    <li class="item"><a href="#!"><span><i class="icz icz-manage"></i>Quản lý</span></a></li>
					<li class="item"><a href="#!"><span><i class="icz icz-ads"></i>Duyệt quảng cáo</span></a></li>
					<li class="item"><a href="#!"><span><i class="icz icz-report"></i>Báo cáo</span></a></li>
					<li class="item"><a href="#!"><span><i class="icz icz-chart"></i>Thống kê</span></a></li>
                    <li class="item dropdown"><a href="#!" role="button" data-toggle="dropdown" class="sub-menu-main"><span><i class="icz icz-userGroup"></i>Công ty quảng cáo</span></a>
                        <ul class="dropdown-menu sub-action-menu clearfix" role="menu" aria-labelledby="dLabel1" style="width:220px">
                            <li><a href="#!">Doanh thu</a></li>
                            <li><a href="#!">Quản lý tài khoản và ngân sách</a></li>
                            <li><a href="#!">Quản lý lời mời</a></li>
                        </ul>
                    </li>
					<li class="item item-help"><a href="#!"><span><i class="icz icz-about"></i>Hướng dẫn</span></a></li>
                </ul>
                <ul class="fr clearfix">
                    <li class="number-money">Số tiền còn lại: <strong>260,000đ</strong></li>
                    <li class="add-money"><a href="#!" class="btn btn-default btn-cash"><i class="icz icz-cash"></i>Nạp tiền</a></li>
                </ul>
            </div>
        </div>
		<!-- End Agency & User -->
    </div>
    <div class="wrap-content">
        <div class="wrap-inside">
            <div class="content-page">
                <div class="page-outside page-manage">
                    <div class="breadcrumb">
                        <span class="title">
							<a href="#!" class="ellipsis-1">Công ty quảng cáo</a>
							<i>❯</i>
							<em class="current ellipsis-1">Quản lý lời mời khách hàng</em>
						</span>
                    </div>
                    <div class="page-manage-inside">
						<div class="func-bar clearfix">
							<div class="link-and-search">
								<span class="label-controls-date">Chọn thời gian</span>
								<div class="controls-date fl mg-right-10">
									<input type="text" name="daterange" value="01/01/2016 - 01/10/2016" />
									<i class="icz icz-calendar"></i>
								</div>
								<div class="ins-search wid-1">
									<input type="text" placeholder="Tìm theo SDT hoặc tên KH" class="input-name">
								</div>
							</div>
						</div>
                        <div class="table-container">
							<table id="table" class="display table table-bordered" cellspacing="0" width="100%">
								<thead>
									<tr>
										<th style="width:25%">Tên khách hàng</th>
										<th style="width:25%" class="align-center">Ngày gửi lời mời</th>
										<th style="width:25%" class="align-center">Người gửi lời mời</th>
										<th style="width:15%" class="align-center">Trạng thái</th>
										<th style="width:10%" class="align-center"></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="align-middle">
											<strong>Nguyễn Ngọc Lan</strong>
										</td>
										<td class="align-middle align-center">dd/mm/yyyy</td>
										<td class="align-center align-middle">Yahu</td>
										<td class="align-center align-middle">
											<span>Chờ phản hồi</span> |
											<a href="#!">Hủy yêu cầu</a>
										</td>
										<td class="align-center align-middle"><a href="#!" data-toggle="modal" data-target="#detail-more">Xem chi tiết</a></td>
									</tr>
									<tr>
										<td class="align-middle">
											<strong>Nguyễn Ngọc Lan</strong>
										</td>
										<td class="align-middle align-center">dd/mm/yyyy</td>
										<td class="align-center align-middle">Yahu</td>
										<td class="align-center align-middle">
											<span>Chờ phản hồi</span> |
											<a href="#!">Hủy yêu cầu</a>
										</td>
										<td class="align-center align-middle"><a href="#!">Xem chi tiết</a></td>
									</tr>
									<tr>
										<td class="align-middle">
											<strong>Nguyễn Ngọc Lan</strong>
										</td>
										<td class="align-middle align-center">dd/mm/yyyy</td>
										<td class="align-center align-middle">Yahu</td>
										<td class="align-center align-middle">
											<span>Chờ phản hồi</span> |
											<a href="#!">Hủy yêu cầu</a>
										</td>
										<td class="align-center align-middle"><a href="#!">Xem chi tiết</a></td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td colspan="5" class="align-middle">5 thành viên</td>
									</tr>
								</tfoot>
							</table>
						</div>
                        <div class="bottom-mn otr">
                            <div class="show-pagination form-default fl">
                                <label class="label">Hiển thị </label>
                                <span class="wrap-select">
                                    <select>
                                        <option value="0">20</option>
                                        <option value="1">30</option>
                                    </select>
                                </span>
                            </div>
                            <div class="pagination fr">
                                <ul class="clearfix">
                                    <li><a href="#!"> &#10094; </a></li>
                                    <li><a class="active" href="#!">1</a></li>
                                    <li><a href="#!">2</a></li>
                                    <li><a href="#!">3</a></li>
                                    <li><a href="#!"> &#10095; </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Content-->
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<!-- End Page-->
    
<!-- Begin Menu -->
<div ng-controller="HeaderMenuComponentController as header" off-canvas="sb-menu left reveal" class="sb-slidebar" ng-click="$event.stopPropagation();">
	<div class="menu-inside">
		<div class="info-slidebar">
            <span class="avatar-info" style="background-image:url(images/temp/img_avatar.png)"></span>
            <div class="desc-info">
                <span class="name">Lâm Nguyễn</span>
                <span class="number-money">Số tiền còn lại: <strong>260,000đ</strong></span>
                <a href="#!" class="btn btn-default btn-cash"><i class="icz icz-cash"></i>Nạp tiền</a>
            </div>
        </div>
		<ul class="clearfix collapsible" data-collapsible="accordion">
            <li><a href="#!"><i class="icz icz-cm"></i>Danh sách chiến dịch</a></li>
            <li><a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><i class="icz icz-manage"></i>Quản lý</a>
                <ul class="inside-inside panel-collapse collapse" id="collapse1">
                    <li><a href="#!">Duyệt quảng cáo</a></li>
                    <li><a href="#!">Người dùng</a></li>
                    <li><a href="#!">Nhóm người dùng</a></li>
                    <li><a href="#!">Chiến dịch</a></li>
                    <li><a href="#!">Voucher</a></li>
                    <li><a href="#!">Nhóm đối tượng quảng cáo</a></li>
                </ul>
            </li>
            <li><a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><i class="icz icz-report"></i>Báo cáo</a>
                <ul class="inside-inside panel-collapse collapse" id="collapse2">
                    <li><a href="#!">Báo cáo nạp tiền</a></li>
                    <li><a href="#!">Tình hình sử dụng tiền</a></li>
                    <li><a href="#!">Chi tiết sử dụng tiền</a></li>
                    <li><a href="#!">Báo cáo doanh thu</a></li>
                </ul>
            </li>
            <li><a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><i class="icz icz-chart"></i>Thống kê</a>
                <ul class="inside-inside panel-collapse collapse" id="collapse3">
                    <li><a href="#!">Thống kê về người dùng</a></li>
                    <li><a href="#!">Thống kê về quảng cáo</a></li>
                </ul>
            </li>
            <li><a href="#!" data-toggle="modal" data-target="#popupContact-modal"><i class="icz icz-contact"></i>Liên hệ</a></li>
			<li><a href="#!"><i class="icz icz-logout"></i>Đăng xuất</a></li>
        </ul>
	</div>
</div>

<!-- Begin Filter -->
<div ng-controller="HomeFilterComponentController as homeFilter" off-canvas="sb-filter right shift" class="sb-slidebar sb-filter" ng-click="$event.stopPropagation();">
    <div class="nav">
        <a class="context-back sb-close" href="#!">« Quay lại</a>
        <h2>Bộ lọc</h2>
    </div>
    <div class="wrap">
        <div class="list-group">
            <input type="text" placeholder="Tìm theo số điện thoại hoặc họ tên">
        </div>
        <div class="list-group">
			<div class="controls-date">
				<input type="text" id="d1" class="datetimepicker" value="Chọn ngày bắt đầu">
				<i class="icz icz-calendar"></i>
			</div>
		</div>
		<div class="list-group">
			<div class="controls-date">
				<input type="text" id="d2" class="datetimepicker" value="Chọn ngày kết thúc">
				<i class="icz icz-calendar"></i>
			</div>
		</div>
    </div>
    <div class="sticky">
        <div class="align-center">
            <a href="#!" class="btn btn-link wid50">Xóa tất cả</a><a href="#!" class="btn btn-primary wid50">Áp dụng</a>
        </div>
    </div>
</div>
<!-- End Filter -->
<!-- Popup -->
<div id="detail-more" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md" style="width:520px">
		<div class="modal-content">
			<div class="wrap-popup">
				<h3 class="title-popup">Thông tin chi tiết [Tên khách hàng]<a aria-hidden="true" data-dismiss="modal" class="close c-close" title="Đóng lại"></a></h3>
				<div class="popup-inside popup-confirm-modal">
					<p>Lời mời đã gửi đến <strong>Nguyễn Ngọc</strong> với vai trò: <strong>Khách hàng</strong></p>
					<p>Yêu cầu truy xuất tài khoản <strong>Nguyễn Ngọc</strong> với quyền <strong></strong>[Người quảng cáo]</strong></p>
                </div>
			</div>
		</div>
	</div>
</div>
<!-- jquery js -->
<script src="js/jquery.js"></script>
<script src="js/tether.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.mCustomScrollbar.min.js"></script>
<script src="js/slidebars.min.js"></script>
<script src="js/main.js"></script>
<!-- Data table-->
<script src="js/jquery.dataTables.min.js"></script>
<script src="js/jquery.dataTables_extend.min.js"></script>
<script>
$(document).ready(function () {
    var responsiveHelper = undefined;
    var breakpointDefinition = {
        tablet: 1024,
        phone: 480
    };
    var tableElement = $('#table');

    tableElement.dataTable({
        "autoWidth": false,
		"paging" : false,
        "searching" : false,
        "footer" : true,
        "info" : false,
        preDrawCallback: function () {
            // Initialize the responsive datatables helper once.
            if (!responsiveHelper) {
                responsiveHelper = new ResponsiveDatatablesHelper(tableElement, breakpointDefinition);
            }
        },
        rowCallback: function (nRow) {
            responsiveHelper.createExpandIcon(nRow);
        },
        drawCallback: function (oSettings) {
            responsiveHelper.respond();
        },
		initComplete: function () {
			
        }
    });
});      
</script>
<!-- Date Range-->
<script src="js/moment.min.js"></script>
<script src="js/daterangepicker.js"></script>
<script>
$(function() {
    $('input[name="daterange"]').daterangepicker({
        "opens": "left",
        timePicker: false,
        timePickerIncrement: 30,
        locale: {
            format: 'MM/DD/YYYY'
        }
    });
});
</script>
<!-- Date TimePicker-->
<script src="js/jquery.datetimepicker.js"></script>
<script>
    $('.datetimepicker').datetimepicker()
    .datetimepicker({value:'',step:10, lang:'vi'});
</script>
<script>
window.zaSlides = new slidebars();
window.zaSlides.exit();

	window.zaSlides.init();
	$('#btnMenu').on( 'click', function () {
		window.zaSlides.open('sb-menu');
	});
	//
	//zaLog('header controller');
	$( window.zaSlides.events ).on( 'opened', function () {
		$( '[canvas="container"]' ).addClass( 'js-close-any-slidebar' );
	} );

	$( window.zaSlides.events ).on( 'closed', function () {
		$( '[canvas="container"]' ).removeClass( 'js-close-any-slidebar' );
	} );

	$( 'body' ).on( 'click', '.js-close-any-slidebar', function ( event ) {
		event.stopPropagation();
		window.zaSlides.close();
	} );	
</script>
<script>
(function ($) {
	"use strict";
	function centerModal() {
		$(this).css('display', 'block');
		var $dialog  = $(this).find(".modal-dialog"),
		offset       = ($(window).height() - $dialog.height()) / 2,
		bottomMargin = parseInt($dialog.css('marginBottom'), 10);
		
		if(offset < bottomMargin) offset = bottomMargin;
		$dialog.css("margin-top", offset);
	}

	$(document).on('show.bs.modal', '.modal', centerModal);
	$(window).on("resize", function () {
		$('.modal:visible').each(centerModal);
	});
}(jQuery));	
</script>
<script>
$(window).load(function(){
    $(".nano").mCustomScrollbar({autoHideScrollbar: true, mouseWheelPixels: 200});
});
//window.zaSlides.open('sb-filter');
</script>
</body>
</html>
