<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />
<meta name="description" content="">
<meta name="author" content="">
<title>Zalo Ads</title>
<link href="css/layout.css" rel="stylesheet"> 
</head>

<body class="zad-old">


<a href="#!" class="menu-help" data-toggle="modal" data-target="#popupContact-modal"><i class="icz icz-question-white"></i><strong>Liên hệ</strong></a>
<div canvas="container">
    <div class="wrap-header">
		<a id="btnMenu" href="#!" class="menu-sliding js-toggle-left-slidebar">Menu Sliding</a>
        <div class="top-header">
            <div class="top-header-inside">
                <a class="logo" href="campaign_list.html">Zalo</a>
                <div class="right-header">
                    <ul class="clearfix">
                        <li class="item item-add-cash show-on-small"><a class="ico"><i class="icz icz-add-cash"></i></a></li>
                        <li class="item dropdown"><a class="ico" id="dLabel7" role="button" data-toggle="dropdown"><i class="icz icz-notify"></i><span class="number">9</span></a>
                            <div class="dropdown-menu sub-dropdown-menu clearfix" role="menu" aria-labelledby="dLabel7">
                                <ul class="hgroup">
                                    <li class="active"><a href="#htab-01" role="tab" data-toggle="tab">Tin nhắn hệ thống</a></li>
                                    <li class="action-mark"><a href="#!">Đánh dấu là đã đọc</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active">
                                        <div class="nano" style="max-height:270px;">
                                            <ul>
                                                <li class="obj clearfix">
                                                    <p class="blank">Chưa có thông báo nào từ hệ thống</p>
                                                </li>
                                                <li class="obj new clearfix">
                                                    <a href="#!delete" class="func-delete" title="Xóa"><i class="icz icz-delete-mini"></i></a>
                                                    <a href="javascript:void(0);" class="ic-unread" title="Đánh dấu là đã đọc"></a>
                                                    <a href="#" class="link-obj"></a>
                                                    <div class="desc">
                                                        <p><span class="str">Lam Nguyen</span> vừa bình luận trên bài viết "Coca tưng bừng khai trư ơng..." của bạn<span class="timer">Cách đây 6 giờ</span></p>
                                                    </div>
                                                </li>
                                                <li class="obj clearfix">
                                                    <a href="#!delete" class="func-delete" title="Xóa"><i class="icz icz-delete-mini"></i></a>
                                                    <a href="javascript:void(0);" class="ic-read" title="Đánh dấu là chưa đọc"></a>
                                                    <div class="desc">
                                                        <p><a href="#!"><span class="str">Lam Nguyen</span> vừa bình luận trên bài viết "Coca tưng bừng khai trư ơng..." của bạn<span class="timer">Cách đây 6 giờ</span></a></p>
                                                    </div>
                                                </li>
                                                <li class="obj have-action clearfix">
                                                    <a href="#!delete" class="func-delete" title="Xóa"><i class="icz icz-delete-mini"></i></a>
                                                    <a href="javascript:void(0);" class="ic-read" title="Đánh dấu là chưa đọc"></a>
                                                    <div class="desc">
                                                        <p><a href="#!"><span class="str">Lam Nguyen</span> vừa bình luận trên bài viết "Coca tưng bừng khai trư ơng..." của bạn<span class="timer">Cách đây 6 giờ</span></a></p>
                                                        <span class="action-ins">
                                                            <a href="#!" title="Đồng ý"><i class="icz icz-accept-notify"></i></a><a href="#!" title="Từ chối"><i class="icz icz-deny-notify"></i></a>
                                                        </span>
                                                    </div>
                                                </li>
                                                <li class="obj have-action clearfix">
                                                    <a href="#!delete" class="func-delete" title="Xóa"><i class="icz icz-delete-mini"></i></a>
                                                    <a href="javascript:void(0);" class="ic-read" title="Đánh dấu là chưa đọc"></a>
                                                    <div class="desc">
                                                        <p><a href="#!"><span class="str">Lam Nguyen</span> vừa bình luận trên bài viết "Coca tưng bừng khai trư ơng..." của bạn<span class="timer">Cách đây 6 giờ</span></a></p>
                                                        <span class="action-ins">
                                                            <a href="#!" title="Đồng ý"><i class="icz icz-accept-notify"></i></a><a href="#!" title="Từ chối"><i class="icz icz-deny-notify"></i></a>
                                                        </span>
                                                    </div>
                                                </li>
												<li class="obj have-action clearfix">
                                                    <a href="#!delete" class="func-delete" title="Xóa"><i class="icz icz-delete-mini"></i></a>
                                                    <a href="javascript:void(0);" class="ic-read" title="Đánh dấu là chưa đọc"></a>
                                                    <div class="desc">
                                                        <p><a href="#!"><span class="str">Lam Nguyen</span> vừa bình luận trên bài viết "Coca tưng bừng khai trư ơng..." của bạn<span class="timer">Cách đây 6 giờ</span></a></p>
                                                        <span class="action-ins">
                                                            <a href="#!" title="Đồng ý"><i class="icz icz-accept-notify"></i></a><a href="#!" title="Từ chối"><i class="icz icz-deny-notify"></i></a>
                                                        </span>
                                                    </div>
                                                </li>
												<li class="obj have-action clearfix">
                                                    <a href="#!delete" class="func-delete" title="Xóa"><i class="icz icz-delete-mini"></i></a>
                                                    <a href="javascript:void(0);" class="ic-read" title="Đánh dấu là chưa đọc"></a>
                                                    <div class="desc">
                                                        <p><a href="#!"><span class="str">Lam Nguyen</span> vừa bình luận trên bài viết "Coca tưng bừng khai trư ơng..." của bạn<span class="timer">Cách đây 6 giờ</span></a></p>
                                                        <span class="action-ins">
                                                            <a href="#!" title="Đồng ý"><i class="icz icz-accept-notify"></i></a><a href="#!" title="Từ chối"><i class="icz icz-deny-notify"></i></a>
                                                        </span>
                                                    </div>
                                                </li>
												<li class="obj have-action clearfix">
                                                    <a href="#!delete" class="func-delete" title="Xóa"><i class="icz icz-delete-mini"></i></a>
                                                    <a href="javascript:void(0);" class="ic-read" title="Đánh dấu là chưa đọc"></a>
                                                    <div class="desc">
                                                        <p><a href="#!"><span class="str">Lam Nguyen</span> vừa bình luận trên bài viết "Coca tưng bừng khai trư ơng..." của bạn<span class="timer">Cách đây 6 giờ</span></a></p>
                                                        <span class="action-ins">
                                                            <a href="#!" title="Đồng ý"><i class="icz icz-accept-notify"></i></a><a href="#!" title="Từ chối"><i class="icz icz-deny-notify"></i></a>
                                                        </span>
                                                    </div>
                                                </li>
												<li class="obj have-action clearfix">
                                                    <a href="#!delete" class="func-delete" title="Xóa"><i class="icz icz-delete-mini"></i></a>
                                                    <a href="javascript:void(0);" class="ic-read" title="Đánh dấu là chưa đọc"></a>
                                                    <div class="desc">
                                                        <p><a href="#!"><span class="str">Lam Nguyen</span> vừa bình luận trên bài viết "Coca tưng bừng khai trư ơng..." của bạn<span class="timer">Cách đây 6 giờ</span></a></p>
                                                        <span class="action-ins">
                                                            <a href="#!" title="Đồng ý"><i class="icz icz-accept-notify"></i></a><a href="#!" title="Từ chối"><i class="icz icz-deny-notify"></i></a>
                                                        </span>
                                                    </div>
                                                </li>
												<li class="obj have-action clearfix">
                                                    <a href="#!delete" class="func-delete" title="Xóa"><i class="icz icz-delete-mini"></i></a>
                                                    <a href="javascript:void(0);" class="ic-read" title="Đánh dấu là chưa đọc"></a>
                                                    <div class="desc">
                                                        <p><a href="#!"><span class="str">Lam Nguyen</span> vừa bình luận trên bài viết "Coca tưng bừng khai trư ơng..." của bạn<span class="timer">Cách đây 6 giờ</span></a></p>
                                                        <span class="action-ins">
                                                            <a href="#!" title="Đồng ý"><i class="icz icz-accept-notify"></i></a><a href="#!" title="Từ chối"><i class="icz icz-deny-notify"></i></a>
                                                        </span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <a href="#" class="more">Xem tất cả</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="hide-on-med-and-down item dropdown"><a class="user" id="dLabel3" role="button" data-toggle="dropdown"><span class="avatar"><img src="http://placehold.it/90x90" alt="ZOA"></span><span class="user-name">Lâm Nguyễn Lâm Nguyễn</span></a>
                            <ul class="dropdown-menu sub-action-menu clearfix" role="menu" aria-labelledby="dLabel3" style="width:170px">
                                <li class="first"><a href="#!">Thông tin</a></li>
                                <li><a href="#!">Thoát</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="top-menu clearfix">
            <div class="top-menu-inside">
                <ul class="fl clearfix">
                    <li><a href="#!" class="active"><span><i class="icz icz-home"></i></span></a></li>
                    <li class="item dropdown">
                        <a id="dLabel2" role="button" data-toggle="dropdown" class="sub-menu-main"><span><i class="icz icz-manage"></i>Quản lý</span></a>
                        <ul class="dropdown-menu sub-action-menu clearfix" role="menu" aria-labelledby="dLabel1" style="width:195px">
                            <li><a href="#!">Duyệt quảng cáo</a></li>
                            <li><a href="#!">Người dùng</a></li>
                            <li><a href="#!">Nhóm người dùng</a></li>
                            <li><a href="#!">Chiến dịch</a></li>
                            <li><a href="#!">Voucher</a></li>
                            <li><a href="#!">Nhóm đối tượng quảng cáo</a></li>
                        </ul>
                    </li>
					<li class="item dropdown">
                        <a id="dLabel2" role="button" data-toggle="dropdown" class="sub-menu-main"><span><i class="icz icz-manage"></i>Duyệt quảng cáo</span></a>
                        <ul class="dropdown-menu sub-action-menu clearfix" role="menu" aria-labelledby="dLabel1" style="width:195px">
                            <li><a href="#!">Duyệt quảng cáo</a></li>
                            <li><a href="#!">Người dùng</a></li>
                            <li><a href="#!">Nhóm người dùng</a></li>
                            <li><a href="#!">Chiến dịch</a></li>
                            <li><a href="#!">Voucher</a></li>
                            <li><a href="#!">Nhóm đối tượng quảng cáo</a></li>
                        </ul>
                    </li>
                    <li class="item dropdown"><a href="#!" role="button" data-toggle="dropdown" class="sub-menu-main"><span><i class="icz icz-report"></i>Báo cáo</span></a>
                        <ul class="dropdown-menu sub-action-menu clearfix" role="menu" aria-labelledby="dLabel1" style="width:180px">
                            <li><a href="#!">Báo cáo nạp tiền</a></li>
                            <li><a href="#!">Tình hình sử dụng tiền</a></li>
                            <li><a href="#!">Chi tiết sử dụng tiền</a></li>
                            <li><a href="#!">Báo cáo doanh thu</a></li>
                        </ul>
                    </li>
                    <li class="item dropdown"><a href="#!" role="button" data-toggle="dropdown" class="sub-menu-main"><span><i class="icz icz-chart"></i>Thống kê</span></a>
                        <ul class="dropdown-menu sub-action-menu clearfix" role="menu" aria-labelledby="dLabel1" style="width:180px">
                            <li><a href="#!">Thống kê về người dùng</a></li>
                            <li><a href="#!">Thống kê về quảng cáo</a></li>
                        </ul>
                    </li>
					<li class="item item-help"><a href="#!"class="sub-menu-main"><span><i class="icz icz-about"></i>Hướng dẫn</span></a></li>
                </ul>
                <ul class="fr clearfix">
                    <li class="number-money">Số tiền còn lại: <strong>260,000đ</strong></li>
                    <li class="add-money"><a href="#!" class="btn btn-default btn-cash"><i class="icz icz-cash"></i>Nạp tiền</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="wrap-content">
        <div class="wrap-inside">
            <div class="content-page">
                <div class="page-outside page-manage">
                    <div class="breadcrumb">
                        <span class="title">Lịch sử giao dịch</span>
                    </div>
                    <div class="page-manage-inside">
                        <div class="history-top">
                            <div class="func-bar func-bar-history clearfix">
    							<h3 class="fl">Chi tiết giao dịch: <strong>1000234510 - DD/MM/YYY</strong></h3>
    							<a href="#!" class="btn btn-default btn-sm fr">Tải về</a>
                            </div>
    						<div class="func-filter func-filter-history">
    							<ul>
    								<li>Chi phí: <strong>20.000.000</strong></li>
                                    <li>Kết quả: <strong>1.000.000 lượt nhấn</strong></li>
    							</ul>
    						</div>
                            <div class="clear"></div>
                        </div>
                        <h3 class="title-group-campain"><i class="icc icc-campaign-1 icc-small"></i> Tên chiến dịch - Giảm giá 50% sản phẩm</h3>
                        <table id="table" class="display table table-default" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th class="align-center">Tên quảng cáo</th>
                                    <th class="align-center col-result">Kết quả (lượt nhấn) <i class="icz icz-question-fill" data-toggle="tooltip" data-placement="top" title="Lorem ipsum"></i></th>
                                    <th class="align-center">Chi phí <i class="icz icz-question-fill" data-toggle="tooltip" data-placement="top" title="Lorem ipsum"></i></th>
                                </tr>
                            </thead> 
                            <tbody>
                                <tr>
                                    <td class="align-center align-middle">
                                        <div class="name-campaign have-i" style="text-align:center;width:100%">
											<a href="detail_campaign.html">
												<span class="txt-ins"><a href="#!">Tên chiến dịch 01</a></span>
											</a>
										</div>
                                    </td>
                                    <td class="align-center align-middle">10,000</td>
                                    <td class="align-center align-middle">61,000,000đ</td>
                                </tr>
                                <tr>
                                    <td class="align-center align-middle">
                                        <div class="name-campaign have-i" style="text-align:center;width:100%">
                                            <a href="detail_campaign.html">
                                                <span class="txt-ins"><a href="#!">Tên chiến dịch 01</a></span>
                                            </a>
                                        </div>
                                    </td>
                                    <td class="align-center align-middle">10,000</td>
                                    <td class="align-center align-middle">61,000,000đ</td>
                                </tr>
                                <tr>
                                    <td class="align-center align-middle">
                                        <div class="name-campaign have-i" style="text-align:center;width:100%">
                                            <a href="detail_campaign.html">
                                                <span class="txt-ins"><a href="#!">Tên chiến dịch 01</a></span>
                                            </a>
                                        </div>
                                    </td>
                                    <td class="align-center align-middle">10,000</td>
                                    <td class="align-center align-middle">61,000,000đ</td>
                                </tr>
                                <tr class="row-total">
                                    <td class="align-center align-middle">
                                        <div class="name-campaign have-i" style="text-align:center;width:100%">
                                            <a href="detail_campaign.html">
                                                <span class="txt-ins">TỔNG CỘNG</span>
                                            </a>
                                        </div>
                                    </td>
                                    <td class="align-center align-middle">100,000</td>
                                    <td class="align-center align-middle">200,000,000đ</td>
                                </tr>                                
                            </tbody>
                        </table>
                        <div class="bottom-mn otr">
                            <div class="show-pagination form-default fl">
                                <label class="label">Hiển thị </label>
                                <span class="wrap-select">
                                    <select>
                                        <option value="0">20</option>
                                        <option value="1">30</option>
                                    </select>
                                </span>
                            </div>
                            <div class="pagination fr">
                                <ul class="clearfix">
                                    <li><a href="#!"> &#10094; </a></li>
                                    <li><a class="active" href="#!">1</a></li>
                                    <li><a href="#!">2</a></li>
                                    <li><a href="#!">3</a></li>
                                    <li><a href="#!"> &#10095; </a></li>
                                </ul>
                            </div>
                        </div>
                        <h3 class="title-group-campain"><i class="icc icc-campaign-1 icc-small"></i> Tên chiến dịch - Giảm giá 50% sản phẩm</h3>
                        <table id="table" class="display table table-default" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th class="align-center">Tên quảng cáo</th>
                                    <th class="align-center col-result">Kết quả (lượt nhấn) <i class="icz icz-question-fill" data-toggle="tooltip" data-placement="top" title="Lorem ipsum"></i></th>
                                    <th class="align-center">Chi phí <i class="icz icz-question-fill" data-toggle="tooltip" data-placement="top" title="Lorem ipsum"></i></th>
                                </tr>
                            </thead> 
                            <tbody>
                                <tr>
                                    <td class="align-center align-middle">
                                        <div class="name-campaign have-i" style="text-align:center;width:100%">
                                            <a href="detail_campaign.html">
                                                <span class="txt-ins"><a href="#!">Tên chiến dịch 01</a></span>
                                            </a>
                                        </div>
                                    </td>
                                    <td class="align-center align-middle">10,000</td>
                                    <td class="align-center align-middle">61,000,000đ</td>
                                </tr>
                                <tr>
                                    <td class="align-center align-middle">
                                        <div class="name-campaign have-i" style="text-align:center;width:100%">
                                            <a href="detail_campaign.html">
                                                <span class="txt-ins"><a href="#!">Tên chiến dịch 01</a></span>
                                            </a>
                                        </div>
                                    </td>
                                    <td class="align-center align-middle">10,000</td>
                                    <td class="align-center align-middle">61,000,000đ</td>
                                </tr>
                                <tr>
                                    <td class="align-center align-middle">
                                        <div class="name-campaign have-i" style="text-align:center;width:100%">
                                            <a href="detail_campaign.html">
                                                <span class="txt-ins"><a href="#!">Tên chiến dịch 01</a></span>
                                            </a>
                                        </div>
                                    </td>
                                    <td class="align-center align-middle">10,000</td>
                                    <td class="align-center align-middle">61,000,000đ</td>
                                </tr>
                                <tr class="row-total">
                                    <td class="align-center align-middle">
                                        <div class="name-campaign have-i" style="text-align:center;width:100%">
                                            <a href="detail_campaign.html">
                                                <span class="txt-ins">TỔNG CỘNG</span>
                                            </a>
                                        </div>
                                    </td>
                                    <td class="align-center align-middle">100,000</td>
                                    <td class="align-center align-middle">200,000,000đ</td>
                                </tr>                                
                            </tbody>
                        </table>
                        <div class="bottom-mn otr">
                            <div class="show-pagination form-default fl">
                                <label class="label">Hiển thị </label>
                                <span class="wrap-select">
                                    <select>
                                        <option value="0">20</option>
                                        <option value="1">30</option>
                                    </select>
                                </span>
                            </div>
                            <div class="pagination fr">
                                <ul class="clearfix">
                                    <li><a href="#!"> &#10094; </a></li>
                                    <li><a class="active" href="#!">1</a></li>
                                    <li><a href="#!">2</a></li>
                                    <li><a href="#!">3</a></li>
                                    <li><a href="#!"> &#10095; </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Content-->
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<!-- End Page-->
    
<!-- Begin Menu -->
<div ng-controller="HeaderMenuComponentController as header" off-canvas="sb-menu left reveal" class="sb-slidebar" ng-click="$event.stopPropagation();">
	<div class="menu-inside">
		<div class="info-slidebar">
            <span class="avatar-info" style="background-image:url(images/temp/img_avatar.png)"></span>
            <div class="desc-info">
                <span class="name">Lâm Nguyễn</span>
                <span class="number-money">Số tiền còn lại: <strong>260,000đ</strong></span>
                <a href="#!" class="btn btn-default btn-cash"><i class="icz icz-cash"></i>Nạp tiền</a>
            </div>
        </div>
		<ul class="clearfix collapsible" data-collapsible="accordion">
            <li><a href="#!"><i class="icz icz-cm"></i>Danh sách chiến dịch</a></li>
            <li><a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><i class="icz icz-manage"></i>Quản lý</a>
                <ul class="inside-inside panel-collapse collapse" id="collapse1">
                    <li><a href="#!">Duyệt quảng cáo</a></li>
                    <li><a href="#!">Người dùng</a></li>
                    <li><a href="#!">Nhóm người dùng</a></li>
                    <li><a href="#!">Chiến dịch</a></li>
                    <li><a href="#!">Voucher</a></li>
                    <li><a href="#!">Nhóm đối tượng quảng cáo</a></li>
                </ul>
            </li>
            <li><a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><i class="icz icz-report"></i>Báo cáo</a>
                <ul class="inside-inside panel-collapse collapse" id="collapse2">
                    <li><a href="#!">Báo cáo nạp tiền</a></li>
                    <li><a href="#!">Tình hình sử dụng tiền</a></li>
                    <li><a href="#!">Chi tiết sử dụng tiền</a></li>
                    <li><a href="#!">Báo cáo doanh thu</a></li>
                </ul>
            </li>
            <li><a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><i class="icz icz-chart"></i>Thống kê</a>
                <ul class="inside-inside panel-collapse collapse" id="collapse3">
                    <li><a href="#!">Thống kê về người dùng</a></li>
                    <li><a href="#!">Thống kê về quảng cáo</a></li>
                </ul>
            </li>
            <li><a href="#!" data-toggle="modal" data-target="#popupContact-modal"><i class="icz icz-contact"></i>Liên hệ</a></li>
			<li><a href="#!"><i class="icz icz-logout"></i>Đăng xuất</a></li>
        </ul>
	</div>
</div>

<!-- Begin Filter -->
<div ng-controller="HomeFilterComponentController as homeFilter" off-canvas="sb-filter right shift" class="sb-slidebar sb-filter" ng-click="$event.stopPropagation();">
    <div class="nav">
        <a class="context-back sb-close" href="#!">« Quay lại</a>
        <h2>Bộ lọc</h2>
    </div>
    <div class="wrap">
        <div class="list-group">
            <input type="text" placeholder="Nhập tên chiến dịch">
        </div>
        <div class="list-group">
            <div class="wrap-select">
                <select>
                    <option value="1" disabled selected>Tất cả chiến dịch</option>
                    <option value="2">Danh mục 1</option>
                    <option value="3">Danh mục 2</option>
                </select>
            </div>
        </div>
        <div class="list-group">
            <div class="wrap-select">
                <select>
                    <option value="1" disabled selected>Tất cả loại chiến dịch</option>
                    <option value="2">Danh mục 1</option>
                    <option value="3">Danh mục 2</option>
                </select>
            </div>
        </div>
        <div class="list-group">
            <div class="controls-date">
                <input type="text" id="d1" class="datetimepicker" value="Chọn ngày bắt đầu">
                <i class="icz icz-calendar"></i>
            </div>
        </div>
        <div class="list-group">
            <div class="controls-date">
                <input type="text" id="d2" class="datetimepicker" value="Chọn ngày kết thúc">
                <i class="icz icz-calendar"></i>
            </div>
        </div>
    </div>
    <div class="sticky">
        <div class="align-center">
            <a href="#!" class="btn btn-link wid50">Xóa tất cả</a><a href="#!" class="btn btn-primary wid50">Áp dụng</a>
        </div>
    </div>
</div>
<!-- End Filter -->
<!-- Start Popup -->
<div id="popupContact-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md" style="width:520px">
		<div class="modal-content">
			<div class="wrap-popup">
				<h3 class="title-popup">Liên hệ<a aria-hidden="true" data-dismiss="modal" class="close c-close" title="Đóng lại"></a></h3>
				<div class="popup-inside form-default">
                    <p class="line-form line-block">
                        <label class="label">Tiêu đề:</label>
                        <span class="ctn-line">
                            <input type="text" placeholder="">
                            <em class="tips">Tiêu đề ít nhất 10 ký tự</em>
                            <em class="error">Lorem Ipsum is simply dummy</em>
                        </span>
                    </p>
                    <p class="line-form line-block">
                        <label class="label">Nội dung:</label>
                        <span class="ctn-line">
                            <textarea class="block" placeholder=""></textarea>
                            <em class="tips">Nội dung ít nhất 30 ký tự</em>
                        </span>
                    </p>
                    <div class="line-form">
                        <div class="squaredFour have-label">
                            <input type="checkbox" value="None" id="squaredFour2" name="check" checked />
                            <label for="squaredFour2">Quan tâm Page Zalo để nhận trả lời trợ giúp</label>
                        </div>
                    </div>
                    <a href="#!" class="btn btn-primary fr">Gửi đi</a>
                    <a href="#!" class="btn btn-link fr">Hủy</a>
                    <div class="clear"></div>
                </div>
			</div>
		</div>
	</div>
</div>
<!-- End Popup-->
<!-- jquery js -->
<script src="js/jquery.js"></script>
<script src="js/tether.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.mCustomScrollbar.min.js"></script>
<script src="js/slidebars.min.js"></script>
<script src="js/main.js"></script>
<!-- Data table-->
<script src="js/jquery.dataTables.min.js"></script>
<script src="js/jquery.dataTables_extend.min.js"></script>
<script>
$(document).ready(function () {
    var responsiveHelper = undefined;
    var breakpointDefinition = {
        tablet: 1024,
        phone: 480
    };
    var tableElement = $('#table');

    tableElement.dataTable({
        "autoWidth": false,
		"paging" : false,
        "searching" : false,
        "footer" : true,
        "info" : false,
        preDrawCallback: function () {
            // Initialize the responsive datatables helper once.
            if (!responsiveHelper) {
                responsiveHelper = new ResponsiveDatatablesHelper(tableElement, breakpointDefinition);
            }
        },
        rowCallback: function (nRow) {
            responsiveHelper.createExpandIcon(nRow);
        },
        drawCallback: function (oSettings) {
            responsiveHelper.respond();
        },
		initComplete: function () {
			
        }
    });
});      
</script>
<!-- Date Range-->
<script src="js/moment.min.js"></script>
<!-- <script src="js/daterangepicker.js"></script>
<script>
$(function() {
    $('input[name="daterange"]').daterangepicker({
        "opens": "left",
        timePicker: false,
        timePickerIncrement: 30,
        locale: {
            format: 'MM/DD/YYYY'
        }
    });
});
</script> -->
<!-- Date TimePicker-->
<script src="js/jquery.datetimepicker.js"></script>
<script>
    $('.datetimepicker').datetimepicker()
    .datetimepicker({value:'',step:10, lang:'vi'});
</script>
<script>
window.zaSlides = new slidebars();
window.zaSlides.exit();

	window.zaSlides.init();
	$('#btnMenu').on( 'click', function () {
		window.zaSlides.open('sb-menu');
	});
	//
	//zaLog('header controller');
	$( window.zaSlides.events ).on( 'opened', function () {
		$( '[canvas="container"]' ).addClass( 'js-close-any-slidebar' );
	} );

	$( window.zaSlides.events ).on( 'closed', function () {
		$( '[canvas="container"]' ).removeClass( 'js-close-any-slidebar' );
	} );

	$( 'body' ).on( 'click', '.js-close-any-slidebar', function ( event ) {
		event.stopPropagation();
		window.zaSlides.close();
	} );	
</script>
<script>
(function ($) {
    "use strict";
    function centerModal() {
        $(this).css('display', 'block');
        var $dialog  = $(this).find(".modal-dialog"),
        offset       = ($(window).height() - $dialog.height()) / 2,
        bottomMargin = parseInt($dialog.css('marginBottom'), 10);
		
        if(offset < bottomMargin) offset = bottomMargin;
        $dialog.css("margin-top", offset);
    }

    $(document).on('show.bs.modal', '.modal', centerModal);
    $(window).on("resize", function () {
        $('.modal:visible').each(centerModal);
    });
}(jQuery));	
</script>
<script>
$(window).load(function(){
    $(".nano").mCustomScrollbar({autoHideScrollbar: true, mouseWheelPixels: 200});
});	
</script>
</body>
</html>
