<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />
<meta name="description" content="">
<meta name="author" content="">
<title>Zalo Ads</title>
<link href="css/layout.css" rel="stylesheet"> 
</head>

<body class="zad-old">


<a href="#!" class="menu-help" data-toggle="modal" data-target="#popupContact-modal"><i class="icz icz-question-white"></i><strong>Liên hệ</strong></a>
<div canvas="container">
    <div class="wrap-header">
		<a id="btnMenu" href="#!" class="menu-sliding js-toggle-left-slidebar">Menu Sliding</a>
        <div class="top-header">
            <div class="top-header-inside">
                <a class="logo" href="campaign_list.html">Zalo</a>
                <div class="right-header">
                    <ul class="clearfix">
                        <li class="item item-add-cash show-on-small"><a class="ico"><i class="icz icz-add-cash"></i></a></li>
                        <li class="item dropdown"><a class="ico" id="dLabel7" role="button" data-toggle="dropdown"><i class="icz icz-notify"></i><span class="number">9</span></a>
                            <div class="dropdown-menu sub-dropdown-menu clearfix" role="menu" aria-labelledby="dLabel7">
                                <ul class="hgroup">
                                    <li class="active"><a href="#htab-01" role="tab" data-toggle="tab">Tin nhắn hệ thống</a></li>
                                    <li class="action-mark"><a href="#!">Đánh dấu là đã đọc</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active">
                                        <div class="nano" style="max-height:270px;">
                                            <ul>
                                                <li class="obj clearfix">
                                                    <p class="blank">Chưa có thông báo nào từ hệ thống</p>
                                                </li>
                                                <li class="obj new clearfix">
                                                    <a href="#!delete" class="func-delete" title="Xóa"><i class="icz icz-delete-mini"></i></a>
                                                    <a href="javascript:void(0);" class="ic-unread" title="Đánh dấu là đã đọc"></a>
                                                    <a href="#" class="link-obj"></a>
                                                    <div class="desc">
                                                        <p><span class="str">Lam Nguyen</span> vừa bình luận trên bài viết "Coca tưng bừng khai trư ơng..." của bạn<span class="timer">Cách đây 6 giờ</span></p>
                                                    </div>
                                                </li>
                                                <li class="obj clearfix">
                                                    <a href="#!delete" class="func-delete" title="Xóa"><i class="icz icz-delete-mini"></i></a>
                                                    <a href="javascript:void(0);" class="ic-read" title="Đánh dấu là chưa đọc"></a>
                                                    <div class="desc">
                                                        <p><a href="#!"><span class="str">Lam Nguyen</span> vừa bình luận trên bài viết "Coca tưng bừng khai trư ơng..." của bạn<span class="timer">Cách đây 6 giờ</span></a></p>
                                                    </div>
                                                </li>
                                                <li class="obj have-action clearfix">
                                                    <a href="#!delete" class="func-delete" title="Xóa"><i class="icz icz-delete-mini"></i></a>
                                                    <a href="javascript:void(0);" class="ic-read" title="Đánh dấu là chưa đọc"></a>
                                                    <div class="desc">
                                                        <p><a href="#!"><span class="str">Lam Nguyen</span> vừa bình luận trên bài viết "Coca tưng bừng khai trư ơng..." của bạn<span class="timer">Cách đây 6 giờ</span></a></p>
                                                        <span class="action-ins">
                                                            <a href="#!" title="Đồng ý"><i class="icz icz-accept-notify"></i></a><a href="#!" title="Từ chối"><i class="icz icz-deny-notify"></i></a>
                                                        </span>
                                                    </div>
                                                </li>
                                                
                                            </ul>
                                        </div>
                                        <a href="#" class="more">Xem tất cả</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="hide-on-med-and-down item dropdown"><a class="user" id="dLabel3" role="button" data-toggle="dropdown"><span class="avatar"><img src="http://placehold.it/90x90" alt="ZOA"></span><span class="user-name">Lâm Nguyễn Lâm Nguyễn</span></a>
                            <ul class="dropdown-menu sub-action-menu clearfix" role="menu" aria-labelledby="dLabel3" style="width:170px">
                                <li class="first"><a href="#!">Thông tin</a></li>
                                <li><a href="#!">Thoát</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="top-menu clearfix">
            <div class="top-menu-inside">
                <ul class="fl clearfix">
                    <li><a href="#!" class="active"><span><i class="icz icz-home"></i></span></a></li>
                    <li class="item dropdown">
                        <a id="dLabel2" role="button" data-toggle="dropdown" class="sub-menu-main"><span><i class="icz icz-manage"></i>Quản lý</span></a>
                        <ul class="dropdown-menu sub-action-menu clearfix" role="menu" aria-labelledby="dLabel1" style="width:195px">
                            <li><a href="#!">Duyệt quảng cáo</a></li>
                            <li><a href="#!">Người dùng</a></li>
                            <li><a href="#!">Nhóm người dùng</a></li>
                            <li><a href="#!">Chiến dịch</a></li>
                            <li><a href="#!">Voucher</a></li>
                            <li><a href="#!">Nhóm đối tượng quảng cáo</a></li>
                        </ul>
                    </li>
                    <li class="item dropdown"><a href="#!" role="button" data-toggle="dropdown" class="sub-menu-main"><span><i class="icz icz-report"></i>Báo cáo</span></a>
                        <ul class="dropdown-menu sub-action-menu clearfix" role="menu" aria-labelledby="dLabel1" style="width:180px">
                            <li><a href="#!">Báo cáo nạp tiền</a></li>
                            <li><a href="#!">Tình hình sử dụng tiền</a></li>
                            <li><a href="#!">Chi tiết sử dụng tiền</a></li>
                            <li><a href="#!">Báo cáo doanh thu</a></li>
                        </ul>
                    </li>
                    <li class="item dropdown"><a href="#!" role="button" data-toggle="dropdown" class="sub-menu-main"><span><i class="icz icz-chart"></i>Thống kê</span></a>
                        <ul class="dropdown-menu sub-action-menu clearfix" role="menu" aria-labelledby="dLabel1" style="width:180px">
                            <li><a href="#!">Thống kê về người dùng</a></li>
                            <li><a href="#!">Thống kê về quảng cáo</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="fr clearfix">
                    <li class="number-money">Số tiền còn lại: <strong>260,000đ</strong></li>
                    <li class="add-money"><a href="#!" class="btn btn-default btn-cash"><i class="icz icz-cash"></i>Nạp tiền</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="wrap-content">
        <div class="wrap-inside">
            <div class="content-page">
                <div class="page-outside page-contract">
                    <div class="page-contract-inside">
                        <span class="slstitle">THÔNG BÁO CẬP NHẬT “THỎA THUẬN SỬ DỤNG TÀI KHOẢN ZALO QUẢNG CÁO TRỰC TUYẾN”</span>
                        <div class="group-part">
                            <p>Kính gửi nhà quảng cáo trên hệ thống Zalo Ads,</p>
                            <p>Bắt đầu từ ngày 01/09/2018, Zalo Ads tiến hành điều chỉnh và bổ sung một số Điều khoản trong <strong>“Thỏa thuận sử dụng tài khoản Zalo quảng cáo trực tuyến”</strong>. Chi tiết như sau:</p>
                        </div>
                        <div class="group-part">
                            <h2>1. Cập nhật thông tin Tên doanh nghiệp, Người đại diện:</h2>
                            <ul>
                                <li>Nhằm hỗ trợ nhà quảng cáo có nhu cầu cung cấp Thỏa thuận quảng cáo trực tuyến với Kế toán của Công ty, Zalo Ads hỗ trợ bổ sung thêm trường Tên đơn vị và Người đại diện, được cập nhật trong Khoản 3 Điều 13.</li>
                                <li>Hệ thống Zalo Ads sẽ cập nhật thông tin trong phần Thông tin người dùng và tự động điền trong <strong>“Thỏa thuận sử dụng tài khoản Zalo quảng cáo trực tuyến”</strong>. Nhà quảng cáo chọn <strong>“Tải chi tiết hợp đồng”</strong> trong phần Thông tin hợp đồng trong tài khoản quảng cáo.</li>
                            </ul>
                        </div>
                        <div class="group-part">
                            <h2>2. Cập nhật điều khoản Tính phí duy trì tài khoản</h2>
                            <p>Với những Tài khoản quảng cáo không phát sinh hoạt động tiêu tiền trong 6 tháng gần nhất, Zalo Ads sẽ tiến hành tính phí Duy trì tài khoản quảng cáo. Tài khoản quảng cáo phải có hoạt động tiêu tiền và hệ thống sẽ ghi nhận lần tiêu tiền cuối cùng trên hệ thống. Cập nhật trên Khoản 2 – Điều 5 Nội dung dịch vụ trên Zalo ID. </p>
                            <h3>Định nghĩa và Quy định tính phí duy trì:</h3>
                            <ul>
                                <li>Phí duy trì: 50,000 VND/tháng (năm mươi ngàn đồng một tháng).</li>
                                <li>Hoạt động tiêu tiền: là hoạt động tạo quảng cáo có phát sinh chi phí.</li>
                                <li>Thời gian trừ tiền: hệ thống Zalo Ads sẽ tự động trừ tiền phí duy trì tài khoản vào ngày đầu tiên của mỗi tháng.</li>
                                <li>Quy định tính phí: Zalo Ads tính phí duy trì cho tài khoản không có hoạt động tiêu tiền trong 6 tháng liên tiếp trên hệ thống. Phí duy trì được bắt đầu tính từ tháng thứ 6 và sẽ được trừ vào tháng thứ 7, và tiếp tục tính phí đến khi tài khoản có hoạt động tiêu tiền lại.</li>
                            </ul>
                            <p><strong>Ví dụ:</strong> Nếu tài khoản A có lần cuối tiêu tiền vào ngày 05/06/2018, nhưng không có bất kỳ hoạt động tiêu tiền nào cho đến ngày 04/12/2018, hệ thống sẽ tự động trừ tiền trong tài khoản quảng cáo của tài khoản A vào ngày 01/01/2019 với cách tính như sau:</p>
                            <ul>
                                <li>Chi phí trừ tiền (05/06/2018 – 04/12/2018): 50,000 VND</li>
                                <li>Từ ngày 05/12/2018 – 04/01/2019, tài khoản A vẫn không phát sinh hoạt động tiêu tiền. Ngày 01/02/2019, sẽ tiếp tục bị tính phí duy trì tài khoản là 50.000 VNĐ cho đến khi tài khoản trở về 0 VNĐ hoặc phát sinh hoạt động tiêu tiền. </li>
                                <li>Ngược lại, từ ngày 05/12/2018 – 04/01/2019, tài khoản A phát sinh hoạt động tiêu tiền thì ngày 01/02/2019 không bị tính phí duy trì tài khoản cho đến 6 tháng không hoạt động tiếp theo.</li>
                            </ul>
                            <p><em>Lưu ý: Zalo Ads chỉ trừ trên số tiền đang có trong tài khoản. Khi tài khoản còn 0 VNĐ (không đồng), sẽ không truy thu hoặc ghi nhận tiền âm.</em></p>
                        </div>
                        <div class="group-part">
                            <h2>3. Các lưu ý khác:</h2>
                            <ul>
                                <li>Mọi sự thay đổi được cập nhật trên <strong>Thỏa thuận sử dụng tài khoản Zalo quảng cáo trực tuyến</strong> vào ngày <strong>dd/mm/2018</strong>.</li>
                                <li>Tất cả các tài khoản quảng cáo mới sẽ xác nhận trên Thỏa thuận mới.<br />Nhà quảng cáo cũ khi đăng nhập tài khoản quảng cáo, hệ thống sẽ tự động yêu cầu chủ tài khoản xác nhận lại Thỏa thuận mới mới có thể tiếp tục sử dụng tài khoản. Sau ngày <strong>dd/mm/2018</strong>, Thỏa thuận tự động có hiệu lực trên tất cả các tài khoản quảng cáo cũ chưa xác nhận Thỏa thuận mới.</li>
                            </ul>
                            <p><strong>Mọi thắc mắc, xin vui lòng đội CSKH của Zalo Ads tại Đây hoặc gửi email về <a href="mailto:ads@zaloapp.com">ads@zaloapp.com</a> để được giải đáp.</strong></p>
                        </div>
                        <a href="#!" class="btn btn-primary fr">Tôi muốn xem hợp đồng và xác nhận thỏa thuận dịch vụ mới</a>
                    </div>
                </div>
                <!-- End Content-->
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<!-- End Page-->
<!-- Begin Menu -->
<div ng-controller="HeaderMenuComponentController as header" off-canvas="sb-menu left reveal" class="sb-slidebar" ng-click="$event.stopPropagation();">
	<div class="menu-inside">
		<div class="info-slidebar">
            <span class="avatar-info" style="background-image:url(images/temp/img_avatar.png)"></span>
            <div class="desc-info">
                <span class="name">Lâm Nguyễn</span>
                <span class="number-money">Số tiền còn lại: <strong>260,000đ</strong></span>
                <a href="#!" class="btn btn-default btn-cash"><i class="icz icz-cash"></i>Nạp tiền</a>
            </div>
        </div>
		<ul class="clearfix collapsible" data-collapsible="accordion">
			<li><a href="/WebClient/Home"><i class="icz icz-cm"></i>Danh sách chiến dịch</a></li>
			<li ng-if="header.menuManager"><a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><i class="icz icz-manage"></i>Quản lý</a>
				<ul class="inside-inside panel-collapse collapse" id="collapse1">
					<li><a href="#!">Duyệt quảng cáo</a></li>
					<li><a href="#!">Người dùng</a></li>
					<li><a href="#!">Nhóm người dùng</a></li>
					<li><a href="#!">Chiến dịch</a></li>
					<li><a href="#!">Voucher</a></li>
					<li><a href="#!">Nhóm đối tượng quảng cáo</a></li>
				</ul>
			</li>
			<li ng-if="header.menuReport"><a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><i class="icz icz-report"></i>Báo cáo</a>
				<ul class="inside-inside panel-collapse collapse" id="collapse2">
					<li><a href="#!">Báo cáo nạp tiền</a></li>
					<li><a href="#!">Tình hình sử dụng tiền</a></li>
					<li><a href="#!">Chi tiết sử dụng tiền</a></li>
					<li><a href="#!">Báo cáo doanh thu</a></li>
				</ul>
			</li>
			<li ng-if="header.menuReport"><a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><i class="icz icz-chart"></i>Thống kê</a>
				<ul class="inside-inside panel-collapse collapse" id="collapse3">
					<li><a href="#!">Thống kê về người dùng</a></li>
					<li><a href="#!">Thống kê về quảng cáo</a></li>
				</ul>
			</li>
			<li ng-if="header.menuContact"><a data-toggle="modal" data-target="#popupContact-modal"><i class="icz icz-help"></i>Liên hệ</a></li>
		</ul>
	</div>
</div>
<!-- Start Popup -->
<div id="popupContact-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md" style="width:520px">
		<div class="modal-content">
			<div class="wrap-popup">
				<h3 class="title-popup">Liên hệ<a aria-hidden="true" data-dismiss="modal" class="close c-close" title="Đóng lại"></a></h3>
				<div class="popup-inside form-default">
                    <p class="line-form line-block">
                        <label class="label">Tiêu đề:</label>
                        <span class="ctn-line">
                            <input type="text" placeholder="">
                            <em class="tips">Tiêu đề ít nhất 10 ký tự</em>
                            <em class="error">Lorem Ipsum is simply dummy</em>
                        </span>
                    </p>
                    <p class="line-form line-block">
                        <label class="label">Nội dung:</label>
                        <span class="ctn-line">
                            <textarea class="block" placeholder=""></textarea>
                            <em class="tips">Nội dung ít nhất 30 ký tự</em>
                        </span>
                    </p>
                    <div class="line-form">
                        <div class="squaredFour have-label">
                            <input type="checkbox" value="None" id="squaredFour2" name="check" checked />
                            <label for="squaredFour2">Quan tâm Page Zalo để nhận trả lời trợ giúp</label>
                        </div>
                    </div>
                    <a href="#!" class="btn btn-primary fr">Gửi đi</a>
                    <a href="#!" class="btn btn-link fr">Hủy</a>
                    <div class="clear"></div>
                </div>
			</div>
		</div>
	</div>
</div>
<!-- End Popup-->
<!-- jquery js -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.mCustomScrollbar.min.js"></script>
<script src="js/slidebars.min.js"></script>
<script src="js/main.js"></script>
<script>
window.zaSlides = new slidebars();
window.zaSlides.exit();

	window.zaSlides.init();
	$('#btnMenu').on( 'click', function () {
		window.zaSlides.open('sb-menu');
	});
	//
	//zaLog('header controller');
	$( window.zaSlides.events ).on( 'opened', function () {
		$( '[canvas="container"]' ).addClass( 'js-close-any-slidebar' );
	} );

	$( window.zaSlides.events ).on( 'closed', function () {
		$( '[canvas="container"]' ).removeClass( 'js-close-any-slidebar' );
	} );

	$( 'body' ).on( 'click', '.js-close-any-slidebar', function ( event ) {
		event.stopPropagation();
		window.zaSlides.close();
	} );	
</script>
</body>
</html>
