<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />
<meta name="description" content="">
<meta name="author" content="">
<title>Zalo Ads</title>
<link href="css/layout.css" rel="stylesheet"> 
</head>

<body class="zad-old">


<a href="#!" class="menu-help" data-toggle="modal" data-target="#popupContact-modal"><i class="icz icz-question-white"></i><strong>Liên hệ</strong></a>
<div canvas="container">
    <div class="wrap-header">
		<a id="btnMenu" href="#!" class="menu-sliding js-toggle-left-slidebar">Menu Sliding</a>
        <div class="top-header">
            <div class="top-header-inside">
                <a class="logo" href="campaign_list.html">Zalo</a>
                <div class="right-header">
                    <ul class="clearfix">
                        <li class="item item-add-cash show-on-small"><a class="ico"><i class="icz icz-add-cash"></i></a></li>
                        <li class="item dropdown"><a class="ico" id="dLabel7" role="button" data-toggle="dropdown"><i class="icz icz-notify"></i><span class="number">9</span></a>
                            <div class="dropdown-menu sub-dropdown-menu clearfix" role="menu" aria-labelledby="dLabel7">
                                <ul class="hgroup">
                                    <li class="active"><a href="#htab-01" role="tab" data-toggle="tab">Tin nhắn hệ thống</a></li>
                                    <li class="action-mark"><a href="#!">Đánh dấu là đã đọc</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active">
                                        <div class="nano" style="max-height:270px;">
                                            <ul>
                                                <li class="obj clearfix">
                                                    <p class="blank">Chưa có thông báo nào từ hệ thống</p>
                                                </li>
                                                <li class="obj new clearfix">
                                                    <a href="#!delete" class="func-delete" title="Xóa"><i class="icz icz-delete-mini"></i></a>
                                                    <a href="javascript:void(0);" class="ic-unread" title="Đánh dấu là đã đọc"></a>
                                                    <a href="#" class="link-obj"></a>
                                                    <div class="desc">
                                                        <p><span class="str">Lam Nguyen</span> vừa bình luận trên bài viết "Coca tưng bừng khai trư ơng..." của bạn<span class="timer">Cách đây 6 giờ</span></p>
                                                    </div>
                                                </li>
                                                <li class="obj clearfix">
                                                    <a href="#!delete" class="func-delete" title="Xóa"><i class="icz icz-delete-mini"></i></a>
                                                    <a href="javascript:void(0);" class="ic-read" title="Đánh dấu là chưa đọc"></a>
                                                    <div class="desc">
                                                        <p><a href="#!"><span class="str">Lam Nguyen</span> vừa bình luận trên bài viết "Coca tưng bừng khai trư ơng..." của bạn<span class="timer">Cách đây 6 giờ</span></a></p>
                                                    </div>
                                                </li>
                                                <li class="obj have-action clearfix">
                                                    <a href="#!delete" class="func-delete" title="Xóa"><i class="icz icz-delete-mini"></i></a>
                                                    <a href="javascript:void(0);" class="ic-read" title="Đánh dấu là chưa đọc"></a>
                                                    <div class="desc">
                                                        <p><a href="#!"><span class="str">Lam Nguyen</span> vừa bình luận trên bài viết "Coca tưng bừng khai trư ơng..." của bạn<span class="timer">Cách đây 6 giờ</span></a></p>
                                                        <span class="action-ins">
                                                            <a href="#!" title="Đồng ý"><i class="icz icz-accept-notify"></i></a><a href="#!" title="Từ chối"><i class="icz icz-deny-notify"></i></a>
                                                        </span>
                                                    </div>
                                                </li>
                                                
                                            </ul>
                                        </div>
                                        <a href="#" class="more">Xem tất cả</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="hide-on-med-and-down item dropdown"><a class="user" id="dLabel3" role="button" data-toggle="dropdown"><span class="avatar"><img src="http://placehold.it/90x90" alt="ZOA"></span><span class="user-name">Lâm Nguyễn Lâm Nguyễn</span></a>
                            <ul class="dropdown-menu sub-action-menu clearfix" role="menu" aria-labelledby="dLabel3" style="width:170px">
                                <li class="first"><a href="#!">Thông tin</a></li>
                                <li><a href="#!">Thoát</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="top-menu clearfix">
            <div class="top-menu-inside">
                <ul class="fl clearfix">
                    <li><a href="#!" class="active"><span><i class="icz icz-home"></i></span></a></li>
                    <li class="item dropdown">
                        <a id="dLabel2" role="button" data-toggle="dropdown" class="sub-menu-main"><span><i class="icz icz-manage"></i>Quản lý</span></a>
                        <ul class="dropdown-menu sub-action-menu clearfix" role="menu" aria-labelledby="dLabel1" style="width:195px">
                            <li><a href="#!">Duyệt quảng cáo</a></li>
                            <li><a href="#!">Người dùng</a></li>
                            <li><a href="#!">Nhóm người dùng</a></li>
                            <li><a href="#!">Chiến dịch</a></li>
                            <li><a href="#!">Voucher</a></li>
                            <li><a href="#!">Nhóm đối tượng quảng cáo</a></li>
                        </ul>
                    </li>
                    <li class="item dropdown"><a href="#!" role="button" data-toggle="dropdown" class="sub-menu-main"><span><i class="icz icz-report"></i>Báo cáo</span></a>
                        <ul class="dropdown-menu sub-action-menu clearfix" role="menu" aria-labelledby="dLabel1" style="width:180px">
                            <li><a href="#!">Báo cáo nạp tiền</a></li>
                            <li><a href="#!">Tình hình sử dụng tiền</a></li>
                            <li><a href="#!">Chi tiết sử dụng tiền</a></li>
                            <li><a href="#!">Báo cáo doanh thu</a></li>
                        </ul>
                    </li>
                    <li class="item dropdown"><a href="#!" role="button" data-toggle="dropdown" class="sub-menu-main"><span><i class="icz icz-chart"></i>Thống kê</span></a>
                        <ul class="dropdown-menu sub-action-menu clearfix" role="menu" aria-labelledby="dLabel1" style="width:180px">
                            <li><a href="#!">Thống kê về người dùng</a></li>
                            <li><a href="#!">Thống kê về quảng cáo</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="fr clearfix">
                    <li class="number-money">Số tiền còn lại: <strong>260,000đ</strong></li>
                    <li class="add-money"><a href="#!" class="btn btn-default btn-cash"><i class="icz icz-cash"></i>Nạp tiền</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="wrap-content">
        <div class="wrap-inside">
            <div class="content-page">
                <div class="page-outside page-pay">
                    <div class="breadcrumb">
                        <span class="title">Nạp tiền vào tài khoản</span>
                    </div>
                    <div class="page-pay-inside">
                        <span class="slstitle">Chọn hình thức nạp tiền</span>
						<div class="tabs-pay">
							<ul>
								<li class="active">
									<a class="item" href="pay_case1.html">
										<h3>Nạp tiền trực tuyến</h3>
										<p>Thẻ ATM nội địa, Visa, Master Card</p>
									</a>
								</li>
								<li>
									<a class="item" href="pay_case2.html">
										<h3>Chuyển khoản qua ngân hàng</h3>
										<p>Ghi chính xác <strong>Số Điện Thoại</strong> trong nội dung chuyển khoản</p>
									</a>
								</li>
								<li>
									<a class="item" href="pay_case3.html">
										<h3>Nạp tiền bằng mã voucher</h3>
										<p>Mã voucher 22 ký số bao gồm cả dấu "-"</p>
									</a>
								</li>
							</ul>
						</div>
						<div class="step-1">
							<div class="heading-pay"><span>Chọn thẻ ATM nội địa hoặc thẻ VIsa, MasterCard</span></div>
							<div class="list-card overflow-scroll">
								<span class="title-list-card">Thẻ ATM</span>
								<div class="ins">
									<ul>
										<li class="active">
											<a href="#!"><img src="images/logo_banks/acb.jpg" alt="Zalo Ads"></a>
										</li>
										<li>
											<a href="#!"><img src="images/logo_banks/abbank.jpg" alt="Zalo Ads"></a>
										</li>
										<li>
											<a href="#!"><img src="images/logo_banks/agribank.jpg" alt="Zalo Ads"></a>
										</li>
										<li>
											<a href="#!"><img src="images/logo_banks/bacabank.jpg" alt="Zalo Ads"></a>
										</li>
										<li>
											<a href="#!"><img src="images/logo_banks/baovietbank.jpg" alt="Zalo Ads"></a>
										</li>
										<li>
											<a href="#!"><img src="images/logo_banks/bidv.jpg" alt="Zalo Ads"></a>
										</li>
										<li>
											<a href="#!"><img src="images/logo_banks/donga.jpg" alt="Zalo Ads"></a>
										</li>
										<li>
											<a href="#!"><img src="images/logo_banks/eximbank.jpg" alt="Zalo Ads"></a>
										</li>
										<li>
											<a href="#!"><img src="images/logo_banks/gpbank.jpg" alt="Zalo Ads"></a>
										</li>
										<li>
											<a href="#!"><img src="images/logo_banks/hdbank.jpg" alt="Zalo Ads"></a>
										</li>
										<li>
											<a href="#!"><img src="images/logo_banks/jcb.jpg" alt="Zalo Ads"></a>
										</li>
										<li>
											<a href="#!"><img src="images/logo_banks/lienvietpostbank.jpg" alt="Zalo Ads"></a>
										</li>
										<li>
											<a href="#!"><img src="images/logo_banks/maritimebank.jpg" alt="Zalo Ads"></a>
										</li>
										<li>
											<a href="#!"><img src="images/logo_banks/mastercard.jpg" alt="Zalo Ads"></a>
										</li>
										<li>
											<a href="#!"><img src="images/logo_banks/mbbank.jpg" alt="Zalo Ads"></a>
										</li>
										<li>
											<a href="#!"><img src="images/logo_banks/namabank.jpg" alt="Zalo Ads"></a>
										</li>
										<li>
											<a href="#!"><img src="images/logo_banks/ncbbank.jpg" alt="Zalo Ads"></a>
										</li>
										<li>
											<a href="#!"><img src="images/logo_banks/ocbbank.jpg" alt="Zalo Ads"></a>
										</li>
										<li>
											<a href="#!"><img src="images/logo_banks/oceanbank.jpg" alt="Zalo Ads"></a>
										</li>
										<li>
											<a href="#!"><img src="images/logo_banks/pgbank.jpg" alt="Zalo Ads"></a>
										</li>
										<li>
											<a href="#!"><img src="images/logo_banks/sacombank.jpg" alt="Zalo Ads"></a>
										</li>
										<li>
											<a href="#!"><img src="images/logo_banks/saigonbank.jpg" alt="Zalo Ads"></a>
										</li>
										<li>
											<a href="#!"><img src="images/logo_banks/seabank.jpg" alt="Zalo Ads"></a>
										</li>
										<li>
											<a href="#!"><img src="images/logo_banks/shbbank.jpg" alt="Zalo Ads"></a>
										</li>
										<li>
											<a href="#!"><img src="images/logo_banks/techcombank.jpg" alt="Zalo Ads"></a>
										</li>
										<li>
											<a href="#!"><img src="images/logo_banks/tpbank.jpg" alt="Zalo Ads"></a>
										</li>
										<li>
											<a href="#!"><img src="images/logo_banks/vietabank.jpg" alt="Zalo Ads"></a>
										</li>
										<li>
											<a href="#!"><img src="images/logo_banks/vietcombank.jpg" alt="Zalo Ads"></a>
										</li>
										<li>
											<a href="#!"><img src="images/logo_banks/vietinbank.jpg" alt="Zalo Ads"></a>
										</li>
									</ul>
								</div>
							</div>
							<div class="list-card">
								<span class="title-list-card">Thẻ Visa, Master</span>
								<div class="ins">
									<ul>
										<li class="active">
											<a href="#!"><img src="images/logo_banks/visa.jpg" alt="Zalo Ads"></a>
										</li>
										<li>
											<a href="#!"><img src="images/logo_banks/visa.jpg" alt="Zalo Ads"></a>
										</li>
										<li>
											<a href="#!"><img src="images/logo_banks/visa.jpg" alt="Zalo Ads"></a>
										</li>
									</ul>
								</div>
							</div>
							<div class="line double"></div>
							<a href="#!" class="btn btn-primary fr">Tiếp theo</a>
						</div>
						<div class="step-2 clear">
							<div class="heading-pay"><a href="#!"><i>←</i> Chọn lại ngân hàng</a></div>
							<div class="form-default">
								<div class="line-form line-form-price">
									<label class="label label-strong wid30 align-right fl">Nhập số tiền cần nạp <em>(tối thiểu 50.000 VNĐ)</em></label>
									<div class="ctn-line wid70 fl">
										<span class="wrap-input" style="max-width:370px">
											<input type="text" placeholder="0">
										</span>
									</div>
								</div>
								<div class="line-form line-form-voucher">
									<label class="label label-strong wid30 align-right fl">
									Mã Voucher
										<span class="tooltip-voucher"><i class="icz icz-question-mini" data-toggle="tooltip" data-html="true" data-placement="top" data-title="<h3>Hướng dẫn sử dụng voucher</h3>
										<p>- Nhập số tiền cần nạp</p> 
										<p>- Nhập mã voucher</p> 
										<p>- Nhấn Kiểm Tra để xem thông tin chi tiết của voucher</p> 
										<p>- Nếu số tiền nạp thỏa điều kiện áp dụng của voucher thì nhấn nút Nạp Tiền để tiếp tục thanh toán</p> 
										<p>- Ngược lại, điều chỉnh số tiền cần nạp để thỏa điều kiện của voucher hoặc xóa voucher/nhập voucher khác</p>"></i></span>
									</label>
									<div class="ctn-line wid70 fl">
										<span class="wrap-input">
											<input type="text" placeholder="Ví dụ: 10FA2-80F504-B8492A003">
											<a href="#!" class="btn btn-default">Kiểm tra</a>
										</span>
										<div class="voucher-alert success clearfix">
											<p>Tặng ngay <strong>20%</strong> giá trị nạp (tối đa 5,000,000đ) khi nạp vào tài khoản từ 10,000,000 trở lên</p>
											<span class="bonus">+ 2,000,000VNĐ</span>
										</div>
										<div class="voucher-alert success clearfix">
											<p>Tặng ngay <strong>20%</strong> giá trị nạp (tối đa 5,000,000đ) khi nạp vào tài khoản từ 10,000,000 trở lên</p>
											<span class="bonus fail">Số tiền nạp chưa đủ: + 0VNĐ</span>
										</div>
										<div class="voucher-alert error clearfix">
											<p>Mã voucher đã hết hạn.</p>
										</div>
										<div class="voucher-alert success clearfix">
											<p>Giảm ngay <strong>100,000</strong> khi nạp vào tài khoản từ <strong>1,000,000</strong> trở lên.</p>
											<div class="total-discount">
												<p class="row clearfix">
													<span class="fl">Số tiền nạp vào tài khoản</span>
													<span class="fr">1,000,000VNĐ</span>
												</p>
												<p class="row clearfix">
													<span class="fl">Voucher</span>
													<span class="fr">-100,000VNĐ</span>
												</p>
												<p class="row total clearfix">
													<span class="fl">Số tiền cần thanh toán</span>
													<span class="fr">900,000VNĐ</span>
												</p>
											</div>
										</div>
										<div class="voucher-alert success clearfix">
											<p>Giảm ngay <strong>100,000</strong> khi nạp vào tài khoản từ <strong>1,000,000</strong> trở lên.</p>
											<div class="total-discount">
												<p class="row clearfix">
													<span class="fl">Số tiền nạp vào tài khoản</span>
													<span class="fr">900,000VNĐ</span>
												</p>
												<p class="row clearfix">
													<span class="fl">Voucher <i>(số tiền nạp chưa đủ)</i></span>
													<span class="fr">- 0VNĐ</span>
												</p>
												<p class="row total clearfix">
													<span class="fl">Số tiền cần thanh toán</span>
													<span class="fr">900,000VNĐ</span>
												</p>
											</div>
										</div>
									</div>
								</div>
								<div class="line-form">
									<label class="label label-strong wid30 align-right fl">Hình thức nhận hoá đơn</label>
									<div class="ctn-line wid70 fl">
										<span class="wrap-radio block">
											<input id="ra1" type="radio" name="ra">
											<label for="ra1">Không nhận hoá đơn</label>
										</span>
										<span class="wrap-radio block">
											<input id="ra2" type="radio" name="ra">
											<label for="ra2">Nhận hoá đơn</label>
										</span>
										<div class="inside-form clearfix">
											
											<div class="wid100 fl">
												<div class="line-form">
													<label class="label wid20 align-right fl">Dành cho</label>
													<div class="line-form-wrap wid80 fl">
														<div class="line-form ">
															<div class="ctn-line fl d-flex" >
																<span class="wrap-input personal_customer">
																	<input type="radio" placeholder="Nhập tên của bạn" name="customer_type" id="interprise" checked>
																	<label for="interprise">Doanh nghiệp</label>
																</span>
															</div>
														</div>
														<div class="line-form ">
															<div class="ctn-line wid100 fl d-flex" >
																<span class="wrap-input interprise" data-form="company">
																	<input type="radio" placeholder="Nhập tên của bạn" name="customer_type" id="personal">
																	<label for="personal" >Cá nhân</label>
																</span>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="wid50 fl">
												<div class="line-form">
													<label class="label wid40 align-right fl">Mã hợp đồng</label>
													<div class="ctn-line wid60 fl">
														<input type="text" placeholder="">
													</div>
												</div>
											</div>
											<div class="wid50 fl">
												<div class="line-form">
													<label class="label wid40 align-right fl">Họ tên</label>
													<div class="ctn-line wid60 fl">
														<input type="text" placeholder="">
													</div>
												</div>
											</div>
											<div class="wid50 fl">
												<div class="line-form">
													<label class="label wid40 align-right fl">Tên đơn vị</label>
													<div class="ctn-line wid60 fl">
														<input type="text" placeholder="">
													</div>
												</div>
											</div>
											<div class="wid50 fl">
												<div class="line-form">
													<label class="label wid40 align-right fl">Email</label>
													<div class="ctn-line wid60 fl">
														<input type="text" placeholder="">
													</div>
												</div>
											</div>
											<div class="wid50 fl">
												<div class="line-form">
													<label class="label wid40 align-right fl">Điện thoại</label>
													<div class="ctn-line wid60 fl">
														<input type="text" placeholder="">
													</div>
												</div>
											</div>
											<div class="wid50 fl">
												<div class="line-form">
													<label class="label wid40 align-right fl">Mã số thuế</label>
													<div class="ctn-line wid60 fl">
														<input type="text" placeholder="">
													</div>
												</div>
											</div>
											<!-- <div class="wid100 fl">
												<div class="line-form">
													<label class="label wid20 align-right fl">Địa chỉ</label>
													<div class="ctn-line wid80 fl">
														<textarea></textarea>
														<span class="wrap-checkbox">
															<input id="ch2" type="checkbox" name="ch" checked>
															<label for="ch2">Dùng địa chỉ này để nhận hoá đơn</label>
														</span>
													</div>
												</div>
											</div> -->
										</div>
										<em class="error">Vui lòng kiểm tra thông tin xuất hoá đơn chính xác và không viết tắt vì hoá đơn sẽ không huỷ để xuất lại khi bạn cung cấp thông tin không đúng.</em>
									</div>
								</div>
							</div>
							<div class="line double"></div>
							<a href="pay_success.html" class="btn btn-primary fr">Nạp tiền</a>
						</div>
                    </div>
                </div>
                <!-- End Content-->
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<!-- End Page-->
<!-- Begin Menu -->
<div ng-controller="HeaderMenuComponentController as header" off-canvas="sb-menu left reveal" class="sb-slidebar" ng-click="$event.stopPropagation();">
	<div class="menu-inside">
		<div class="info-slidebar">
            <span class="avatar-info" style="background-image:url(images/temp/img_avatar.png)"></span>
            <div class="desc-info">
                <span class="name">Lâm Nguyễn</span>
                <span class="number-money">Số tiền còn lại: <strong>260,000đ</strong></span>
                <a href="#!" class="btn btn-default btn-cash"><i class="icz icz-cash"></i>Nạp tiền</a>
            </div>
        </div>
		<ul class="clearfix collapsible" data-collapsible="accordion">
			<li><a href="/WebClient/Home"><i class="icz icz-cm"></i>Danh sách chiến dịch</a></li>
			<li ng-if="header.menuManager"><a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><i class="icz icz-manage"></i>Quản lý</a>
				<ul class="inside-inside panel-collapse collapse" id="collapse1">
					<li><a href="#!">Duyệt quảng cáo</a></li>
					<li><a href="#!">Người dùng</a></li>
					<li><a href="#!">Nhóm người dùng</a></li>
					<li><a href="#!">Chiến dịch</a></li>
					<li><a href="#!">Voucher</a></li>
					<li><a href="#!">Nhóm đối tượng quảng cáo</a></li>
				</ul>
			</li>
			<li ng-if="header.menuReport"><a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><i class="icz icz-report"></i>Báo cáo</a>
				<ul class="inside-inside panel-collapse collapse" id="collapse2">
					<li><a href="#!">Báo cáo nạp tiền</a></li>
					<li><a href="#!">Tình hình sử dụng tiền</a></li>
					<li><a href="#!">Chi tiết sử dụng tiền</a></li>
					<li><a href="#!">Báo cáo doanh thu</a></li>
				</ul>
			</li>
			<li ng-if="header.menuReport"><a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><i class="icz icz-chart"></i>Thống kê</a>
				<ul class="inside-inside panel-collapse collapse" id="collapse3">
					<li><a href="#!">Thống kê về người dùng</a></li>
					<li><a href="#!">Thống kê về quảng cáo</a></li>
				</ul>
			</li>
			<li ng-if="header.menuContact"><a data-toggle="modal" data-target="#popupContact-modal"><i class="icz icz-help"></i>Liên hệ</a></li>
		</ul>
	</div>
</div>
<!-- Start Popup -->
<div id="popupContact-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md" style="width:520px">
		<div class="modal-content">
			<div class="wrap-popup">
				<h3 class="title-popup">Liên hệ<a aria-hidden="true" data-dismiss="modal" class="close c-close" title="Đóng lại"></a></h3>
				<div class="popup-inside form-default">
                    <p class="line-form line-block">
                        <label class="label">Tiêu đề:</label>
                        <span class="ctn-line">
                            <input type="text" placeholder="">
                            <em class="tips">Tiêu đề ít nhất 10 ký tự</em>
                            <em class="error">Lorem Ipsum is simply dummy</em>
                        </span>
                    </p>
                    <p class="line-form line-block">
                        <label class="label">Nội dung:</label>
                        <span class="ctn-line">
                            <textarea class="block" placeholder=""></textarea>
                            <em class="tips">Nội dung ít nhất 30 ký tự</em>
                        </span>
                    </p>
                    <div class="line-form">
                        <div class="squaredFour have-label">
                            <input type="checkbox" value="None" id="squaredFour2" name="check" checked />
                            <label for="squaredFour2">Quan tâm Page Zalo để nhận trả lời trợ giúp</label>
                        </div>
                    </div>
                    <a href="#!" class="btn btn-primary fr">Gửi đi</a>
                    <a href="#!" class="btn btn-link fr">Hủy</a>
                    <div class="clear"></div>
                </div>
			</div>
		</div>
	</div>
</div>
<!-- End Popup-->
<!-- jquery js -->
<script src="js/jquery.js"></script>
<script src="js/tether.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.mCustomScrollbar.min.js"></script>
<script src="js/slidebars.min.js"></script>
<script src="js/main.js"></script>
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
<script>
window.zaSlides = new slidebars();
window.zaSlides.exit();

	window.zaSlides.init();
	$('#btnMenu').on( 'click', function () {
		window.zaSlides.open('sb-menu');
	});
	//
	//zaLog('header controller');
	$( window.zaSlides.events ).on( 'opened', function () {
		$( '[canvas="container"]' ).addClass( 'js-close-any-slidebar' );
	} );

	$( window.zaSlides.events ).on( 'closed', function () {
		$( '[canvas="container"]' ).removeClass( 'js-close-any-slidebar' );
	} );

	$( 'body' ).on( 'click', '.js-close-any-slidebar', function ( event ) {
		event.stopPropagation();
		window.zaSlides.close();
	} );	
</script>
</body>
</html>
