<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />
<meta name="description" content="">
<meta name="author" content="">
<title>Zalo Ads</title>
<link href="css/layout.css" rel="stylesheet"> 
</head>

<body class="has-mw zad-old">
<a href="#!" class="menu-help" data-toggle="modal" data-target="#popupContact-modal"><i class="icz icz-question-white"></i><strong>Liên hệ</strong></a>
<div canvas="container">
    <div class="wrap-header">
		<a id="btnMenu" href="#!" class="menu-sliding js-toggle-left-slidebar">Menu Sliding</a>
        <div class="top-header">
            <div class="top-header-inside">
                <a class="logo" href="campaign_list.html">Zalo</a>
				<div class="menu-us">
					<ul>
						<li><a class="active" href="#!">Tài khoản</a></li>
						<li><a href="#!">Chiến dịch</a></li>
						<li><a href="#!">Quản lý lời mời</a></li>
					</ul>
				</div>
                <div class="right-header">
                    <ul class="clearfix">
                        <li class="item item-add-cash show-on-small"><a class="ico"><i class="icz icz-add-cash"></i></a></li>
                        <li class="item dropdown"><a class="ico" id="dLabel7" role="button" data-toggle="dropdown" href="javascript:void(0)" title="Tin nhắn hệ thống"><i class="icz icz-notify"></i><span class="number">9</span></a>
                            <div class="dropdown-menu sub-dropdown-menu clearfix" role="menu" aria-labelledby="dLabel7">
                                <ul class="hgroup">
                                    <li class="active"><a href="#htab-01" role="tab" data-toggle="tab">Tin nhắn hệ thống</a></li>
                                    <li class="action-mark"><a href="#!">Đánh dấu là đã đọc</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active">
                                        <div class="nano" style="max-height:270px;">
                                            <ul>
                                                <li class="obj clearfix">
                                                    <p class="blank">Chưa có thông báo nào từ hệ thống</p>
                                                </li>
                                                <li class="obj new clearfix">
                                                    <a href="#!delete" class="func-delete" title="Xóa"><i class="icz icz-delete-mini"></i></a>
                                                    <a href="javascript:void(0);" class="ic-unread" title="Đánh dấu là đã đọc"></a>
                                                    <a href="#" class="link-obj"></a>
                                                    <div class="desc">
                                                        <p><span class="str">Lam Nguyen</span> vừa bình luận trên bài viết "Coca tưng bừng khai trư ơng..." của bạn<span class="timer">Cách đây 6 giờ</span></p>
                                                    </div>
                                                </li>
                                                <li class="obj clearfix">
                                                    <a href="#!delete" class="func-delete" title="Xóa"><i class="icz icz-delete-mini"></i></a>
                                                    <a href="javascript:void(0);" class="ic-read" title="Đánh dấu là chưa đọc"></a>
                                                    <div class="desc">
                                                        <p><a href="#!"><span class="str">Lam Nguyen</span> vừa bình luận trên bài viết "Coca tưng bừng khai trư ơng..." của bạn<span class="timer">Cách đây 6 giờ</span></a></p>
                                                    </div>
                                                </li>
                                                <li class="obj new have-action clearfix">
                                                    <a href="#!delete" class="func-delete" title="Xóa"><i class="icz icz-delete-mini"></i></a>
                                                    <a href="javascript:void(0);" class="ic-read" title="Đánh dấu là chưa đọc"></a>
                                                    <div class="desc">
                                                        <p><a href="#!"><span class="str">Lam Nguyen</span> vừa bình luận trên bài viết "Coca tưng bừng khai trư ơng..." của bạn<span class="timer">Cách đây 6 giờ</span></a></p>
                                                        <span class="action-ins">
                                                            <a href="#!" title="Đồng ý"><i class="icz icz-accept-notify"></i></a><a href="#!" title="Từ chối"><i class="icz icz-deny-notify"></i></a>
                                                        </span>
                                                    </div>
                                                </li>
                                                <li class="obj have-action clearfix">
                                                    <a href="#!delete" class="func-delete" title="Xóa"><i class="icz icz-delete-mini"></i></a>
                                                    <a href="javascript:void(0);" class="ic-read" title="Đánh dấu là chưa đọc"></a>
                                                    <div class="desc">
                                                        <p><a href="#!"><span class="str">Lam Nguyen</span> vừa bình luận trên bài viết "Coca tưng bừng khai trư ơng..." của bạn<span class="timer">Cách đây 6 giờ</span></a></p>
                                                        <span class="action-ins">
                                                            <a href="#!" title="Đồng ý"><i class="icz icz-accept-notify"></i></a><a href="#!" title="Từ chối"><i class="icz icz-deny-notify"></i></a>
                                                        </span>
                                                    </div>
                                                </li>
												<li class="obj have-action clearfix">
                                                    <a href="#!delete" class="func-delete" title="Xóa"><i class="icz icz-delete-mini"></i></a>
                                                    <a href="javascript:void(0);" class="ic-read" title="Đánh dấu là chưa đọc"></a>
                                                    <div class="desc">
                                                        <p><a href="#!"><span class="str">Lam Nguyen</span> vừa bình luận trên bài viết "Coca tưng bừng khai trư ơng..." của bạn<span class="timer">Cách đây 6 giờ</span></a></p>
                                                        <span class="action-ins">
                                                            <a href="#!" title="Đồng ý"><i class="icz icz-accept-notify"></i></a><a href="#!" title="Từ chối"><i class="icz icz-deny-notify"></i></a>
                                                        </span>
                                                    </div>
                                                </li>
												<li class="obj have-action clearfix">
                                                    <a href="#!delete" class="func-delete" title="Xóa"><i class="icz icz-delete-mini"></i></a>
                                                    <a href="javascript:void(0);" class="ic-read" title="Đánh dấu là chưa đọc"></a>
                                                    <div class="desc">
                                                        <p><a href="#!"><span class="str">Lam Nguyen</span> vừa bình luận trên bài viết "Coca tưng bừng khai trư ơng..." của bạn<span class="timer">Cách đây 6 giờ</span></a></p>
                                                        <span class="action-ins">
                                                            <a href="#!" title="Đồng ý"><i class="icz icz-accept-notify"></i></a><a href="#!" title="Từ chối"><i class="icz icz-deny-notify"></i></a>
                                                        </span>
                                                    </div>
                                                </li>
												<li class="obj have-action clearfix">
                                                    <a href="#!delete" class="func-delete" title="Xóa"><i class="icz icz-delete-mini"></i></a>
                                                    <a href="javascript:void(0);" class="ic-read" title="Đánh dấu là chưa đọc"></a>
                                                    <div class="desc">
                                                        <p><a href="#!"><span class="str">Lam Nguyen</span> vừa bình luận trên bài viết "Coca tưng bừng khai trư ơng..." của bạn<span class="timer">Cách đây 6 giờ</span></a></p>
                                                        <span class="action-ins">
                                                            <a href="#!" title="Đồng ý"><i class="icz icz-accept-notify"></i></a><a href="#!" title="Từ chối"><i class="icz icz-deny-notify"></i></a>
                                                        </span>
                                                    </div>
                                                </li>
												<li class="obj have-action clearfix">
                                                    <a href="#!delete" class="func-delete" title="Xóa"><i class="icz icz-delete-mini"></i></a>
                                                    <a href="javascript:void(0);" class="ic-read" title="Đánh dấu là chưa đọc"></a>
                                                    <div class="desc">
                                                        <p><a href="#!"><span class="str">Lam Nguyen</span> vừa bình luận trên bài viết "Coca tưng bừng khai trư ơng..." của bạn<span class="timer">Cách đây 6 giờ</span></a></p>
                                                        <span class="action-ins">
                                                            <a href="#!" title="Đồng ý"><i class="icz icz-accept-notify"></i></a><a href="#!" title="Từ chối"><i class="icz icz-deny-notify"></i></a>
                                                        </span>
                                                    </div>
                                                </li>
												<li class="obj have-action clearfix">
                                                    <a href="#!delete" class="func-delete" title="Xóa"><i class="icz icz-delete-mini"></i></a>
                                                    <a href="javascript:void(0);" class="ic-read" title="Đánh dấu là chưa đọc"></a>
                                                    <div class="desc">
                                                        <p><a href="#!"><span class="str">Lam Nguyen</span> vừa bình luận trên bài viết "Coca tưng bừng khai trư ơng..." của bạn<span class="timer">Cách đây 6 giờ</span></a></p>
                                                        <span class="action-ins">
                                                            <a href="#!" title="Đồng ý"><i class="icz icz-accept-notify"></i></a><a href="#!" title="Từ chối"><i class="icz icz-deny-notify"></i></a>
                                                        </span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <a href="#" class="more">Xem tất cả</a>
                                    </div>
                                </div>
                            </div>
                        </li>
						<li class="item user-select-container dropdown">
							<a class="ico user-select-body" href="javascript:void(0)" id="dLabel9" role="button" data-toggle="dropdown" title="Truy xuất tài khoản">
								<i class="icz icz-userGroup-white"></i>
							</a>
							<div class="dropdown-menu user-select-menu clearfix" role="menu" aria-labelledby="dLabel9" style="width:360px">
								<div class="user-select-in">
									<p>Truy xuất tài khoản: <strong>Nguyễn Nam Phương</strong>
									</p>
								</div>
								<div class="box-search">
									<input type="text" placeholder="Tìm kiếm tài khoản">
								</div>
								<div class="item-usm">
									<span class="avatar-usm" style="background-image:url(http://placehold.it/90x90)"></span>
									<div class="desc-usm">Lam Nguyen</div>
									<div class="d-flex align-items-center mg-left-auto">
										<div class="tel-usm">0996336166</div>
										<a class="func-exit" href="#!exit">
											<i class="fa fa-sign-out"></i>
										</a>
									</div>
								</div>
								<div class="item-usm">
									<span class="avatar-usm" style="background-image:url(http://placehold.it/90x90)"></span>
									<div class="desc-usm">Lam Nguyen</div>
									<div class="d-flex align-items-center mg-left-auto">
										<div class="tel-usm">0996336166</div>
										<a class="func-exit" href="#!exit">
											<i class="fa fa-sign-out"></i>
										</a>
									</div>
								</div>
								<div class="item-usm">
									<span class="avatar-usm" style="background-image:url(http://placehold.it/90x90)"></span>
									<div class="desc-usm">Lam Nguyen</div>
									<div class="d-flex align-items-center mg-left-auto">
										<div class="tel-usm">0996336166</div>
										<a class="func-exit" href="#!exit">
											<i class="fa fa-sign-out"></i>
										</a>
									</div>
								</div>
								<div class="item-agency">
									<div class="d-flex align-items-center">
										<span class="name-agency"><i class="fa fa-building"></i> Tên Agency</span>
										<a class="func-exit" href="#!exit">
											<i class="fa fa-sign-out"></i>
										</a>
									</div>
									<div class="item-usm-wrap">
										<div class="item-usm">
											<span class="avatar-usm" style="background-image:url(http://placehold.it/90x90)"></span>
											<div class="desc-usm">Lam Nguyen</div>
											<div class="d-flex align-items-center mg-left-auto">
												<div class="tel-usm">0996336166</div>
											</div>
										</div>
										<div class="item-usm">
											<span class="avatar-usm" style="background-image:url(http://placehold.it/90x90)"></span>
											<div class="desc-usm">Lam Nguyen</div>
											<div class="d-flex align-items-center mg-left-auto">
												<div class="tel-usm">0996336166</div>
											</div>
										</div>
									</div>
								</div>		
							</div>
						</li>
                        <li class="hide-on-med-and-down item dropdown">
							<a class="user h-role" id="dLabel3" role="button" data-toggle="dropdown">
								<span class="avatar"><img src="http://placehold.it/90x90" alt="ZOA"></span>
								<span class="user-name">Lâm Nguyễn Lâm Nguyễn</span>
								<span class="user-role">Quản trị bởi Zalo Ads</span>
							</a>
                            <ul class="dropdown-menu sub-action-menu position-left clearfix" role="menu" aria-labelledby="dLabel3" style="width:170px">
                                <li class="first"><a href="#!">Thông tin</a></li>
                                <li><a href="#!">Thoát</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="top-menu hidden clearfix">
            <div class="top-menu-inside">
                <ul class="fl clearfix">
                    <li><a href="#!" class="active"><span><i class="icz icz-home"></i></span></a></li>
                    <li class="item"><a href="#!"><span><i class="icz icz-manage"></i>Doanh thu</span></a></li>
                    <li class="item"><a href="#!"><span><i class="icz icz-report"></i>Quản lý tài khoản và ngân sách</span></a></li>
                    <li class="item"><a href="#!"><span><i class="icz icz-chart"></i>Quản lý lời mời</span></a></li>
					<li class="item item-help"><a href="#!"><span><i class="icz icz-about"></i>Hướng dẫn</span></a></li>
                </ul>
                <ul class="fr clearfix">
                    <li class="number-money">Số tiền còn lại: <strong>260,000đ</strong></li>
                    <li class="add-money"><a href="#!" class="btn btn-default btn-cash"><i class="icz icz-cash"></i>Nạp tiền</a></li>
                </ul>
            </div>
        </div>
		<!-- End Agency -->
		<div class="top-menu clearfix">
            <div class="top-menu-inside">
                <ul class="fl clearfix">
                    <li><a href="#!" class="active"><span><i class="icz icz-home"></i></span></a></li>
					<li class="item"><a href="#!"><span><i class="icz icz-report"></i>Báo cáo</span></a></li>
                    <li class="item dropdown"><a href="#!" role="button" data-toggle="dropdown" class="sub-menu-main"><span><i class="icz icz-userGroup"></i>Công ty quảng cáo</span></a>
						<ul class="dropdown-menu sub-action-menu clearfix" role="menu" aria-labelledby="dLabel1" style="width:200px">
							<li class="in-sub"><span class="label">Thành viên</span></li>
                            <li class="in-sub"><a href="#!">Quản lý thành viên</a></li>
							<li class="in-sub"><a href="#!">Quản lý lời mời thành viên</a></li>
							<li class="divider"></li>
							<li class="in-sub"><span class="label">Khách hàng</span></li>
                            <li class="in-sub"><a href="#!">Quản lý khách hàng</a></li>
							<li class="in-sub"><a href="#!">Quản lý lời mời khách hàng</a></li>
							<li class="in-sub"><a href="#!">Quản lý yêu cầu gia nhập</a></li>
							<li class="divider"></li>
							<li><a href="#!">Báo cáo doanh thu</a></li>
                        </ul>
                    </li>
                    <li class="item dropdown"><a href="#!" role="button" data-toggle="dropdown" class="sub-menu-main"><span><i class="icz icz-manage"></i>Quản lý</span></a>
                        <ul class="dropdown-menu sub-action-menu clearfix" role="menu" aria-labelledby="dLabel1" style="width:180px">
                            <li><a href="#!">Nhóm đối tượng</a></li>
                            <li><a href="#!">Tập tin tải lên</a></li>
                        </ul>
                    </li>
					<li class="item item-help"><a href="#!"class="sub-menu-main"><span><i class="icz icz-about"></i>Hướng dẫn</span></a></li>
                </ul>
                <ul class="fr clearfix">
                    <li class="number-money">Số tiền còn lại: <strong>260,000đ</strong></li>
                    <li class="add-money"><a href="#!" class="btn btn-default btn-cash"><i class="icz icz-cash"></i>Nạp tiền</a></li>
                </ul>
            </div>
        </div>
		<!-- End Agency -->
		<div class="top-menu hidden clearfix">
            <div class="top-menu-inside">
                <ul class="fl clearfix">
                    <li><a href="#!" class="active"><span><i class="icz icz-home"></i></span></a></li>
                    <li class="item"><a href="#!"><span><i class="icz icz-manage"></i>Quản lý</span></a></li>
					<li class="item"><a href="#!"><span><i class="icz icz-ads"></i>Duyệt quảng cáo</span></a></li>
					<li class="item"><a href="#!"><span><i class="icz icz-report"></i>Báo cáo</span></a></li>
					<li class="item"><a href="#!"><span><i class="icz icz-chart"></i>Thống kê</span></a></li>
                    <li class="item dropdown"><a href="#!" role="button" data-toggle="dropdown" class="sub-menu-main"><span><i class="icz icz-userGroup"></i>Công ty quảng cáo</span></a>
                        <ul class="dropdown-menu sub-action-menu clearfix" role="menu" aria-labelledby="dLabel1" style="width:220px">
                            <li><a href="#!">Doanh thu</a></li>
                            <li><a href="#!">Quản lý tài khoản và ngân sách</a></li>
                            <li><a href="#!">Quản lý lời mời</a></li>
                        </ul>
                    </li>
					<li class="item item-help"><a href="#!"><span><i class="icz icz-about"></i>Hướng dẫn</span></a></li>
                </ul>
                <ul class="fr clearfix">
                    <li class="number-money">Số tiền còn lại: <strong>260,000đ</strong></li>
                    <li class="add-money"><a href="#!" class="btn btn-default btn-cash"><i class="icz icz-cash"></i>Nạp tiền</a></li>
                </ul>
            </div>
        </div>
		<!-- End Agency & User -->
    </div>
    <div class="wrap-content">
        <div class="wrap-inside">
            <div class="content-page">
                <div class="page-outside page-manage">
                    <div class="breadcrumb">
                        <span class="title">
								<a href="#!" class="ellipsis-1" style="color:#000">Quản lý nhóm đối tượng</a>
						</span>
					
                    </div>
                    <div class="page-manage-inside">
						<div class="func-bar-mobile">
                            <a href="#!" class="btn btn-sm fr sb-toggle-right">Bộ lọc »</a>
							<a href="#!" class="btn btn-primary btn-sm fr mg-right-10" data-toggle="modal" data-target="#pq-3">Tạo nhóm đối tượng</a>
                        </div>
						<div class="func-bar d-flex clearfix hide-on-med-and-down">
							<div class="func-bar-tabs fl">
								<div class="input-field">
									<i class="fa fa-search"></i>
									<input type="text" name="" id="" placeholder="Nhập tên đối tượng cần tìm">
								</div>
							</div>
							<div class="dropdown group-customize">
								<a href="#!" class="btn btn-primary btn-sm fr hide-on-med-and-down create-group" data-toggle="dropdown">Tạo nhóm đối tượng</a>
								<ul class="dropdown-menu sub-action-menu clearfix" role="menu" aria-labelledby="dLabel1" style="width:190px">
									<li>
										<a href="#!" >
											<span class="label">Từ nhân khẩu học</span>
										</a>
									</li>
									<li>
										<a href="#!">
											<span class="label">Từ danh sách số điện thoại </span>
										</a>
									</li>
									<li>
										<a href="#!" >
											<span class="label">Từ đối tượng tương tự </span>
										</a>
									</li>
								</ul>
							</div>
							
                        </div>
                        <div class="table-container">
							<table id="table" class="display table table-bordered" cellspacing="0" width="100%">
								<thead>
									<tr>
										<th style="width:10%">ID</th>
										<th style="width:25%" class="align-left">Tên nhóm đối tượng người xêm</th>
										<th style="width:25%" class="align-left">Loại nhóm đối tượng</th>
										<th style="width:20%" class="align-left">Ngày tạo</th>
										<th style="width:20%" class="align-left">Thao tác</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="align-middle">
											<div class="td-user">
													12868
											</div>
										</td>
										<td class="align-middle"><p>Đối tượng nhân khẩu học</p></td>
										<td class="align-middle">Nhân khẩu học </td>
										<td class="align-middle">
											<span>02/02/2020 12:00 AM</span>
										</td>
										<td class="align-middle">
											<div class="feature-list">
												<div class="detail" data-toggle="modal" data-target="#popup5">Xem chi tiết</div>
												<div class="delete">
													<img src="images/icn_delete.png" alt="">
												</div>
											</div>
										</td>
									</tr>
									<tr>
										
									</tr>
									<tr>
										<td class="align-middle">
											<div class="td-user">
													12868
											</div>
										</td>
										<td class="align-middle">
											<p>Đối tượng nhân khẩu học ( popup-5)</p>
											<span>Tương tự từ nguồn <a href="" >Danh sách MSB</span>
										</td>
										<td class="align-middle">Nhân khẩu học </td>
										<td class="align-middle">
											<span>02/02/2020 12:00 AM</span>
										</td>
										<td class="align-middle">
											<div class="feature-list">
												<div class="detail" data-toggle="modal" data-target="#popup5">Xem chi tiết</div>
												<div class="delete">
													<img src="images/icn_delete.png" alt="">
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<td class="align-middle">
											<div class="td-user">
													12868
											</div>
										</td>
										<td class="align-middle">
												<p>popup-4</p>

										</td>
										<td class="align-middle">Nhân khẩu học </td>
										<td class="align-middle">
											<span>02/02/2020 12:00 AM</span>
										</td>
										<td class="align-middle">
											<div class="feature-list">
												<div class="detail" data-toggle="modal" data-target="#popup4">Xem chi tiết</div>
												<div class="delete">
													<img src="images/icn_delete.png" alt="">
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<td class="align-middle">
											<div class="td-user">
													12868
											</div>
										</td>
										<td class="align-middle">
												<p>popup-6</p>

										</td>
										<td class="align-middle">Nhân khẩu học </td>
										<td class="align-middle">
											<span>02/02/2020 12:00 AM</span>
										</td>
										<td class="align-middle">
											<div class="feature-list">
												<div class="detail" data-toggle="modal" data-target="#popup6">Xem chi tiết</div>
												<div class="delete">
													<img src="images/icn_delete.png" alt="">
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<td class="align-middle">
											<div class="td-user">
													12868
											</div>
										</td>
										<td class="align-middle">
											<p>popup-7</p>
											
										</td>
										<td class="align-middle">Nhân khẩu học </td>
										<td class="align-middle">
											<span>02/02/2020 12:00 AM</span>
										</td>
										<td class="align-middle">
											<div class="feature-list">
												<div class="detail" data-toggle="modal" data-target="#popup7">Xem chi tiết</div>
												<div class="delete">
													<img src="images/icn_delete.png" alt="">
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
                    </div>
                </div>
                <!-- End Content-->
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<!-- End Page-->
    
<!-- Begin Menu -->
<div ng-controller="HeaderMenuComponentController as header" off-canvas="sb-menu left reveal" class="sb-slidebar" ng-click="$event.stopPropagation();">
	<div class="menu-inside">
		<div class="info-slidebar">
            <span class="avatar-info" style="background-image:url(images/temp/img_avatar.png)"></span>
            <div class="desc-info">
                <span class="name">Lâm Nguyễn</span>
                <span class="number-money">Số tiền còn lại: <strong>260,000đ</strong></span>
                <a href="#!" class="btn btn-default btn-cash"><i class="icz icz-cash"></i>Nạp tiền</a>
            </div>
        </div>
		<ul class="clearfix collapsible" data-collapsible="accordion">
            <li><a href="#!"><i class="icz icz-cm"></i>Danh sách chiến dịch</a></li>
            <li><a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><i class="icz icz-manage"></i>Quản lý</a>
                <ul class="inside-inside panel-collapse collapse" id="collapse1">
                    <li><a href="#!">Duyệt quảng cáo</a></li>
                    <li><a href="#!">Người dùng</a></li>
                    <li><a href="#!">Nhóm người dùng</a></li>
                    <li><a href="#!">Chiến dịch</a></li>
                    <li><a href="#!">Voucher</a></li>
                    <li><a href="#!">Nhóm đối tượng quảng cáo</a></li>
                </ul>
            </li>
            <li><a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><i class="icz icz-report"></i>Báo cáo</a>
                <ul class="inside-inside panel-collapse collapse" id="collapse2">
                    <li><a href="#!">Báo cáo nạp tiền</a></li>
                    <li><a href="#!">Tình hình sử dụng tiền</a></li>
                    <li><a href="#!">Chi tiết sử dụng tiền</a></li>
                    <li><a href="#!">Báo cáo doanh thu</a></li>
                </ul>
            </li>
            <li><a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><i class="icz icz-chart"></i>Thống kê</a>
                <ul class="inside-inside panel-collapse collapse" id="collapse3">
                    <li><a href="#!">Thống kê về người dùng</a></li>
                    <li><a href="#!">Thống kê về quảng cáo</a></li>
                </ul>
            </li>
            <li><a href="#!" data-toggle="modal" data-target="#popupContact-modal"><i class="icz icz-contact"></i>Liên hệ</a></li>
			<li><a href="#!"><i class="icz icz-logout"></i>Đăng xuất</a></li>
        </ul>
	</div>
</div>

<!-- Begin Filter -->
<div ng-controller="HomeFilterComponentController as homeFilter" off-canvas="sb-filter right shift" class="sb-slidebar sb-filter" ng-click="$event.stopPropagation();">
    <div class="nav">
        <a class="context-back sb-close" href="#!">« Quay lại</a>
        <h2>Bộ lọc</h2>
    </div>
    <div class="wrap">
        <div class="list-group">
            <input type="text" placeholder="Tìm theo số điện thoại hoặc tên KH">
        </div>
        <div class="list-group">
            <div class="wrap-select">
                <select>
                    <option value="1" disabled selected>Chọn vai trò</option>
                    <option value="2">Danh mục 1</option>
                    <option value="3">Danh mục 2</option>
                </select>
            </div>
        </div>
        <div class="list-group">
            <div class="wrap-select">
                <select>
                    <option value="1" selected>Đang tham gia</option>
                    <option value="2">Danh mục 1</option>
                    <option value="3">Danh mục 2</option>
                </select>
            </div>
        </div>
    </div>
    <div class="sticky">
        <div class="align-center">
            <a href="#!" class="btn btn-link wid50">Xóa tất cả</a><a href="#!" class="btn btn-primary wid50">Áp dụng</a>
        </div>
    </div>
</div>
<!-- End Filter -->
<!-- Popup -->
<div id="ad-history" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md" style="width:520px">
		<div class="modal-content">
			<div class="wrap-popup">
				<h3 class="title-popup">Lịch sử tham gia của {Nguyễn Ngọc Lan}<a aria-hidden="true" data-dismiss="modal" class="close c-close" title="Đóng lại"></a></h3>
				<div class="popup-inside form-default">
					<div class="list-campain-popup nano">
						<table class="display table table-default table-popup" cellspacing="0" width="100%">
	                        <thead>
	                            <tr>
	                                <th class="align-center">Thời gian</th>
	                                <th class="align-center">Trạng thái</th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <tr>
	                                <td class="align-center align-middle">29/09/2016 - 30/09/2016</td>
	                                <td class="align-center align-middle">Hoạt động</td>
	                            </tr>
								<tr>
	                                <td class="align-center align-middle">29/09/2016 - 30/09/2016</td>
	                                <td class="align-center align-middle">Hoạt động</td>
	                            </tr>
								<tr>
	                                <td class="align-center align-middle">29/09/2016 - 30/09/2016</td>
	                                <td class="align-center align-middle">Hoạt động</td>
	                            </tr>
	                        </tbody>
	                    </table>
                    </div>
                    <div class="clear"></div>
                </div>
			</div>
		</div>
	</div>
</div>
<!-- PQ1 Popup-->
<!-- <div id="pq-1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md" style="width:640px">
		<div class="modal-content">
			<div class="wrap-popup">
				<h3 class="title-popup">Phân quyền và Truy cập<a aria-hidden="true" data-dismiss="modal" class="close c-close" title="Đóng lại"></a></h3>
				<div class="popup-inside pq-container">
					<div class="list-my">
						<ul>
							<li>
								<a href="#!">PNganBTX (09xxxxxxx) <i class="fa fa-close"></i></a>
							</li>
							<li>
								<a href="#!">PNganBTX (09xxxxxxx)</a>
							</li>
						</ul>
					</div>
					<ul class="tabs">
						<li><a class="active" href="#!">Phân quyền <i class="fa fa-exclamation-circle" title="Tips here"></i></a></li>
						<li><a href="#!">Truy cập <i class="fa fa-exclamation-circle" title="Tips here"></i></a></li>
					</ul>
					<div class="content-tabs">
						<p class="tips">Phân quyền cho tài khoản con có thể truy xuất vào các tài khoản quảng cáo mà Công Ty đang quản lý</p>
						<div class="input-search">
							<i class="fa fa-search"></i>
							<input type="text" placeholder="Tìm số điện thoại">
						</div>
						<div class="table-container">
							<table class="display table table-default table-popup" cellspacing="0" width="100%">
								<thead>
									<tr>
										<th class="align-center align-middle" style="width:15px"><input type="checkbox"></th>
										<th class="align-center align-middle">Tên tài khoản quảng cáo</th>
										<th class="align-right align-middle" style="width:80px">Quyền hạn</th>
										<th class="align-center">
											<div class="wrap-select">
												<select>
													<option value="1">Chọn...</option>
												</select>
											</div>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="align-center align-middle"><input type="checkbox"></td>
										<td class="align-center align-middle">
											<div class="td-user">
												<i class="avatar" style="background-image:url(https://via.placeholder.com/150x150)"></i>
												<div class="desc">
													<p class="name">Nguyễn Ngọc Lan</p>
													<p class="tel">090.9999.105</p>
												</div>
											</div>
										</td>
										<td class="align-center align-middle"></td>
										<td class="align-center align-middle">
											<div class="wrap-select">
												<select>
													<option value="1">Tài khoản con</option>
												</select>
											</div>
										</td>
									</tr>
									<tr>
										<td class="align-center align-middle"><input type="checkbox"></td>
										<td class="align-center align-middle">
											<div class="td-user">
												<i class="avatar" style="background-image:url(https://via.placeholder.com/150x150)"></i>
												<div class="desc">
													<p class="name">Nguyễn Ngọc Lan</p>
													<p class="tel">090.9999.105</p>
												</div>
											</div>
										</td>
										<td class="align-center align-middle"></td>
										<td class="align-center align-middle">
											<div class="wrap-select">
												<select>
													<option value="1">Tài khoản con</option>
												</select>
											</div>
										</td>
									</tr>
									<tr>
										<td class="align-center align-middle"><input type="checkbox"></td>
										<td class="align-center align-middle">
											<div class="td-user">
												<i class="avatar" style="background-image:url(https://via.placeholder.com/150x150)"></i>
												<div class="desc">
													<p class="name">Nguyễn Ngọc Lan</p>
													<p class="tel">090.9999.105</p>
												</div>
											</div>
										</td>
										<td class="align-center align-middle"></td>
										<td class="align-center align-middle">
											<div class="wrap-select">
												<select>
													<option value="1">Tài khoản con</option>
												</select>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="space"></div>
					<a href="#!" class="btn btn-primary btn-m fr">Tiếp tục</a>
					<a class="btn btn-link btn-m fr">Hủy</a>
					<div class="clear"></div>
					<div class="content-tabs">
						<p class="tips">Công ty quảng cáo cần truy cập vào tài khoản quảng cáo của tài khoản con</p>
						<div class="tc-list">
							<span class="title-tc">Chọn quyền yêu cầu truy cập</span>
							<ul>
								<li>
									<input id="la-1" type="radio" name="la">
									<label for="la-1">
										<h5>Quản trị viên</h5>
										<p>Quyền cao nhất, có thể sử dụng tất cả chức năng quản lý tài khoản quảng cáo này</p>
									</label>
								</li>
								<li>
									<input id="la-2" type="radio" name="la">
									<label for="la-2">
										<h5>Nhân viên quảng cáo</h5>
										<p>Có thể sử dụng chức năng tự chạy quảng cáo</p>
									</label>
								</li>
								<li>
									<input id="la-3" type="radio" name="la">
									<label for="la-3">
										<h5>Phân tích viên</h5>
										<p>Được xem được các số liệu về thống kê, báo cáo trong trang quản lý của tài khoản quảng cáo này</p>
									</label>
								</li>
							</ul>
						</div>
					</div>
					<div class="space"></div>
					<a href="#!" class="btn btn-primary btn-m fr">Gửi lời mời</a>
					<a class="btn btn-link btn-m fr">Hủy</a>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
</div> -->
<!-- PQ2 Popup-->
<div id="pq-2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md" style="width:640px">
		<div class="modal-content">
			<div class="wrap-popup">
				<h3 class="title-popup">Danh sách các tài khoản đang truy xuất [Ngọc Hải]<a aria-hidden="true" data-dismiss="modal" class="close c-close" title="Đóng lại"></a></h3>
				<div class="popup-inside pq-container">
					<div class="content-tabs">
						<div class="heading-ctabs">
							<p class="tips">3 tài khoản</p>
							<div class="input-search is-show">
								<i class="fa fa-search"></i>
								<input type="text" placeholder="Tìm theo số điện thoại hoặc họ tên">
								<a class="func-remove"><i class="fa fa-close"></i></a>
								<div class="dropdown-menu e-filter-dropdown" role="menu" aria-labelledby="dLabel-efd">
									<div class="list">
										<ul>
											<li class="has-func">
												<a href="#!">
													<div class="desc">
														<span class="img" style="background-image:url(https://via.placeholder.com/150x150)"></span>
														<span class="user-name ellipsis-1">Công Bằng Tôn Nữ Công Bằng Tôn Nữ</span>
													</div>
													<span class="phone-number">099.6336.666</span>
												</a>
												<a class="func-add" href="#!add"><i class="fa fa-plus"></i></a>
											</li>
											<li class="has-func">
												<a href="#!">
													<div class="desc">
														<span class="img" style="background-image:url(https://via.placeholder.com/150x150)"></span>
														<span class="user-name ellipsis-1">Công Bằng Tôn Nữ Công Bằng Tôn Nữ</span>
													</div>
													<span class="phone-number">099.6336.666</span>
												</a>
												<a class="func-add disabled" href="#!add"><i class="fa fa-plus"></i></a>
											</li>
											<li class="has-func">
												<a href="#!">
													<div class="desc">
														<span class="img" style="background-image:url(https://via.placeholder.com/150x150)"></span>
														<span class="user-name ellipsis-1">Công Bằng Tôn Nữ Công Bằng Tôn Nữ</span>
													</div>
													<span class="phone-number">099.6336.666</span>
												</a>
												<a class="func-add" href="#!add"><i class="fa fa-plus"></i></a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="table-container">
							<table class="display table table-default table-popup" cellspacing="0" width="100%">
								<thead>
									<tr>
										<th class="align-center align-middle" style="width:15px"></th>
										<th class="align-left align-middle">Họ tên thành viên công ty</th>
										<th class="align-center align-middle"></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="align-center align-middle"><a class="func-remove" href="#!"><i class="fa fa-close"></i></a></td>
										<td class="align-center align-middle">
											<div class="td-user">
												<i class="avatar" style="background-image:url(https://via.placeholder.com/150x150)"></i>
												<div class="desc">
													<p class="name">Nguyễn Ngọc Lan</p>
													<p class="tel">090.9999.105</p>
												</div>
											</div>
										</td>
										<td class="align-center align-middle">
											<div class="wrap-select">
												<select>
													<option value="1">Quản trị viên</option>
													<option value="1">Người quảng cáo</option>
													<option value="1">Báo cáo viên quảng cáo</option>
												</select>
											</div>
										</td>
									</tr>
									<tr>
										<td class="align-center align-middle"><a class="func-remove" href="#!"><i class="fa fa-close"></i></a></td>
										<td class="align-center align-middle">
											<div class="td-user">
												<i class="avatar" style="background-image:url(https://via.placeholder.com/150x150)"></i>
												<div class="desc">
													<p class="name">Nguyễn Ngọc Lan</p>
													<p class="tel">090.9999.105</p>
												</div>
											</div>
										</td>
										<td class="align-center align-middle">
											<div class="wrap-select">
												<select>
													<option value="1">Quản trị viên</option>
													<option value="1">Người quảng cáo</option>
													<option value="1">Báo cáo viên quảng cáo</option>
												</select>
											</div>
										</td>
									</tr>
									<tr>
										<td class="align-center align-middle"><a class="func-remove" href="#!"><i class="fa fa-close"></i></a></td>
										<td class="align-center align-middle">
											<div class="td-user">
												<i class="avatar" style="background-image:url(https://via.placeholder.com/150x150)"></i>
												<div class="desc">
													<p class="name">Nguyễn Ngọc Lan</p>
													<p class="tel">090.9999.105</p>
												</div>
											</div>
										</td>
										<td class="align-center align-middle">
											<div class="wrap-select">
												<select>
													<option value="1">Quản trị viên</option>
													<option value="1">Người quảng cáo</option>
													<option value="1">Báo cáo viên quảng cáo</option>
												</select>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="space"></div>
					<a href="#!" class="btn btn-primary btn-m fr">Lưu</a>
					<a class="btn btn-link btn-m fr">Hủy</a>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- popup -->
<div id="popup5" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md" style="width:578px">
		<div class="modal-content">
			<div class="wrap-popup">
				<h3 class="title-popup is-custom">Danh sách số điện thoại MSB 
					<span>Đối tượng tương tự</span>
					<a aria-hidden="true" data-dismiss="modal" class="close c-close" title="Đóng lại"></a>
				</h3>
				<div class="popup-inside popupInforPhoneList">
					<div class="box-content">
						<div class="infor-list">
							<div class="infor-item">
								<div class="icon">
									<i class="fa fa-file-text" aria-hidden="true"></i>
								</div>
								<p>Nguồn danh sách SĐT:
									<small>testdanhsachmsb( <a href="#!">filesdt.csv</a>
										)
									</small>
								</p>
							</div>
							<div class="infor-item">
								<div class="icon">
									<i class="fa fa-map-marker" aria-hidden="true"></i>
								</div>
								<p>Vị trí:
									<span >Tất cả
									</span>
								</p>
							</div>
							<div class="infor-item">
								<div class="icon">
									<i class="fa fa-mars" ></i>
								</div>
								<p>Giới tính:
									<span >Tất cả
									</span>
								</p>
							</div>
							<div class="infor-item">
								<div class="icon">
										<i class="fa fa-user" aria-hidden="true"></i>

								</div>
								<p>Độ tuổi:
									<span >24-36
									</span>
								</p>
							</div>
							<div class="infor-item">
								<div class="icon">
										<i class="fa fa-mobile" aria-hidden="true"></i>
								</div>
								
								<p>Nền tảng:
									<span >iOS và Android
									</span>
								</p>
							</div>
						</div>
						<div class="amout-people">
							<p>Số lượng người tiếp cận khoảng</p>
							<p class="number-people">300.000</p>
							<p class="des">Đây là ước lượng số người có thể tiếp cận quảng cáo của bạn từ danh sách số điện thoại mà bạn đã tải lên</p>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- popup-4 -->
<div id="popup4" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md" style="width:578px">
		<div class="modal-content">
			<div class="wrap-popup">
				<h3 class="title-popup is-custom">Đối tượng tương tự -test 1
					<span>Đối tượng tương tự</span>
					<a aria-hidden="true" data-dismiss="modal" class="close c-close" title="Đóng lại"></a>
				</h3>
				<div class="popup-inside popupInforPhoneList">
					<div class="box-content">
						<div class="infor-list">
							<div class="infor-item">
								<div class="icon">
									<i class="fa fa-file-text" aria-hidden="true"></i>
								</div>
								<p>Nguồn danh sách SĐT:
									<small>testdanhsachmsb( <a href="#!">filesdt.csv</a>
										)
									</small>
								</p>
							</div>
							<div class="infor-item">
								<div class="icon">
									<i class="fa fa-map-marker" aria-hidden="true"></i>
								</div>
								<p>Vị trí:
									<span >Tất cả
									</span>
								</p>
							</div>
							<div class="infor-item">
								<div class="icon">
									<i class="fa fa-mars" ></i>
								</div>
								<p>Giới tính:
									<span >Tất cả
									</span>
								</p>
							</div>
							<div class="infor-item">
								<div class="icon">
										<i class="fa fa-user" aria-hidden="true"></i>

								</div>
								<p>Độ tuổi:
									<span >24-36
									</span>
								</p>
							</div>
							<div class="infor-item">
								<div class="icon">
										<i class="fa fa-mobile" aria-hidden="true"></i>
								</div>
								
								<p>Nền tảng:
									<span >iOS và Android
									</span>
								</p>
							</div>
						</div>
						<div class="amout-people">
							<p>Số lượng người tiếp cận khoảng</p>
							<p class="number-people"> > 300.000</p>
							<p class="des">Đây là ước lượng số người có thể tiếp cận quảng cáo của bạn.</p>
							<p class="des">Số này dựa trên những người dùng có sự tương đồng theo nhiều tiêu chí so với tập đối tượng danh sách số điện thoại ban đầu đã lưu của bạn.</p>
							<p class="des">Số ước lượng này không cố định, mà thay đổi theo thời gian thực.</p>

						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end popup-4 -->
<!-- popup-6 -->
<div id="popup6" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md" style="width:578px">
		<div class="modal-content">
			<div class="wrap-popup">
				<h3 class="title-popup is-custom">Nữ 45-54 HCM
					<span>Đối tượng theo nhân khẩu học</span>
					<a aria-hidden="true" data-dismiss="modal" class="close c-close" title="Đóng lại"></a>
				</h3>
				<div class="popup-inside popupInforPhoneList">
					<div class="box-content">
						<div class="infor-list">
							
							<div class="infor-item">
								<div class="icon">
									<i class="fa fa-map-marker" aria-hidden="true"></i>
								</div>
								<p>Vị trí:
									<span >Tất cả
									</span>
								</p>
							</div>
							<div class="infor-item">
								<div class="icon">
									<i class="fa fa-mars" ></i>
								</div>
								<p>Giới tính:
									<span >Tất cả
									</span>
								</p>
							</div>
							<div class="infor-item">
								<div class="icon">
										<i class="fa fa-user" aria-hidden="true"></i>

								</div>
								<p>Độ tuổi:
									<span >24-36
									</span>
								</p>
							</div>
							<div class="infor-item">
								<div class="icon">
										<i class="fa fa-mobile" aria-hidden="true"></i>
								</div>
								
								<p>Nền tảng:
									<span >iOS và Android
									</span>
								</p>
							</div>
							<div class="infor-item">
								<p>Tiêu chí khác:
								</p>
								<p>
									<span>Sở thích (1): Sức khoẻ</span><br>
									<span>Nhân khẩu học(1): Độc thân</span>
								</p>
								

							</div>
						</div>
						<div class="amout-people">
							<p>Số lượng người tiếp cận khoảng</p>
							<p class="number-people"> > 300.000</p>
							<p class="des">Đây là ước lượng số người có thể tiếp cận quảng cáo của bạn.</p>
							<p class="des">Số này dựa trên những người dùng có sự tương đồng theo nhiều tiêu chí so với tập đối tượng danh sách số điện thoại ban đầu đã lưu của bạn.</p>
							<p class="des">Số ước lượng này không cố định, mà thay đổi theo thời gian thực.</p>

						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end popup-6 -->
<!-- popup-7 -->
<div id="popup7" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md" style="width:578px">
		<div class="modal-content">
			<div class="wrap-popup">
				<h3 class="title-popup is-custom">Đã tương tác sản phẩm này
					<span>Đối tượng theo nhân khẩu học</span>
					<a aria-hidden="true" data-dismiss="modal" class="close c-close" title="Đóng lại"></a>
				</h3>
				<div class="popup-inside popupInforPhoneList">
					<div class="box-content">
						<div class="infor-list">
							
							<div class="infor-item">
								<div class="icon">
									<i class="fa fa-map-marker" aria-hidden="true"></i>
								</div>
								<p>Vị trí:
									<span >Tất cả
									</span>
								</p>
							</div>
							<div class="infor-item">
								<div class="icon">
									<i class="fa fa-mars" ></i>
								</div>
								<p>Giới tính:
									<span >Tất cả
									</span>
								</p>
							</div>
							<div class="infor-item">
								<div class="icon">
										<i class="fa fa-user" aria-hidden="true"></i>

								</div>
								<p>Độ tuổi:
									<span >Tất cả
									</span>
								</p>
							</div>
							<div class="infor-item">
								<div class="icon">
										<i class="fa fa-mobile" aria-hidden="true"></i>
								</div>
								
								<p>Nền tảng:
									<span >Tấ cả
									</span>
								</p>
							</div>
						
						</div>
						<div class="amout-people">
							<p>Số người tiếp cận quảng cáo của bạn theo thời gian thực khi quảng cáo được phân phối đến khách hàng tuỳ thuộc vào số người đã tương tác trên sản phẩm này hoặc đã tương tác trên cửa hàng này tại thời điểm đó</p>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end popup-7 -->
<!-- PQ3 Popup-->
<div id="pq-3" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md" style="width:640px">
		<div class="modal-content">
			<div class="wrap-popup">
				<h3 class="title-popup">Thêm khách hàng<a aria-hidden="true" data-dismiss="modal" class="close c-close" title="Đóng lại"></a></h3>
				<div class="popup-inside pq-container">
					<div class="">
						<div class="input-search wid50 fl mg-right-10">
							<i class="fa fa-search"></i>
							<input type="text" placeholder="Nhập số điện thoại mà bạn muốn thêm">
						</div>
						<a href="#!" class="btn btn-primary btn-sm fl">Kiểm tra</a>
						<div class="clear"></div>
						<p class="tips">Nhập số điện thoại (tối đa 20)</p>
						<div class="list-my">
							<ul>
								<li>
									<a href="#!">PNganBTX (09xxxxxxx) <i class="fa fa-close"></i></a>
								</li>
								<li>
									<a href="#!">PNganBTX (09xxxxxxx) <i class="fa fa-close"></i></a>
								</li>
							</ul>
						</div>
						<div class="tc-list">
							<span class="title-tc">Yêu cầu được truy xuất vào tài khoản khách hàng với quyền</span>
							<ul>
								<li>
									<input id="lb-1" type="radio" name="lb">
									<label for="lb-1">
										<h5>Quản trị quảng cáo</h5>
										<p>Quyền cao nhất, có thể sử dụng tất cả chức năng quản lý tài khoản quảng cáo này</p>
									</label>
								</li>
								<li>
									<input id="lb-2" type="radio" name="lb">
									<label for="lb-2">
										<h5>Nhân viên quảng cáo</h5>
										<p>Có thể sử dụng chức năng tự chạy quảng cáo</p>
									</label>
								</li>
								<li>
									<input id="lb-3" type="radio" name="lb">
									<label for="lb-3">
										<h5>Báo cáo viên quảng cáo</h5>
										<p>Được xem được các số liệu về thống kê, báo cáo trong trang quản lý của tài khoản quảng cáo này</p>
									</label>
								</li>
							</ul>
						</div>
					</div>
					<div class="space"></div>
					<a href="#!" class="btn btn-primary btn-m fr">Thêm khách hàng</a>
					<a class="btn btn-link btn-m fr">Hủy</a>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- jquery js -->
<script src="js/jquery.js"></script>
<script src="js/tether.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.mCustomScrollbar.min.js"></script>
<script src="js/slidebars.min.js"></script>
<script src="js/main.js"></script>
<!-- Data table-->
<script src="js/jquery.dataTables.min.js"></script>
<script src="js/jquery.dataTables_extend.min.js"></script>
<script>
$(document).ready(function () {
    var responsiveHelper = undefined;
    var breakpointDefinition = {
        tablet: 1024,
        phone: 480
    };
    var tableElement = $('#table');

    tableElement.dataTable({
        "autoWidth": false,
		"paging" : false,
        "searching" : false,
        "footer" : true,
        "info" : false,
        preDrawCallback: function () {
            // Initialize the responsive datatables helper once.
            if (!responsiveHelper) {
                responsiveHelper = new ResponsiveDatatablesHelper(tableElement, breakpointDefinition);
            }
        },
        rowCallback: function (nRow) {
            responsiveHelper.createExpandIcon(nRow);
        },
        drawCallback: function (oSettings) {
            responsiveHelper.respond();
        },
		initComplete: function () {
			
        }
    });
});      
</script>
<!-- Date Range-->
<script src="js/moment.min.js"></script>
<!-- <script src="js/daterangepicker.js"></script>
<script>
$(function() {
    $('input[name="daterange"]').daterangepicker({
        "opens": "left",
        timePicker: false,
        timePickerIncrement: 30,
        locale: {
            format: 'MM/DD/YYYY'
        }
    });
});
</script> -->
<!-- Date TimePicker-->
<script src="js/jquery.datetimepicker.js"></script>
<script>
    $('.datetimepicker').datetimepicker()
    .datetimepicker({value:'',step:10, lang:'vi'});
</script>
<script>
window.zaSlides = new slidebars();
window.zaSlides.exit();

	window.zaSlides.init();
	$('#btnMenu').on( 'click', function () {
		window.zaSlides.open('sb-menu');
	});
	//
	//zaLog('header controller');
	$( window.zaSlides.events ).on( 'opened', function () {
		$( '[canvas="container"]' ).addClass( 'js-close-any-slidebar' );
	} );

	$( window.zaSlides.events ).on( 'closed', function () {
		$( '[canvas="container"]' ).removeClass( 'js-close-any-slidebar' );
	} );

	$( 'body' ).on( 'click', '.js-close-any-slidebar', function ( event ) {
		event.stopPropagation();
		window.zaSlides.close();
	} );	
</script>
<script>
(function ($) {
	"use strict";
	function centerModal() {
		$(this).css('display', 'block');
		var $dialog  = $(this).find(".modal-dialog"),
		offset       = ($(window).height() - $dialog.height()) / 2,
		bottomMargin = parseInt($dialog.css('marginBottom'), 10);
		
		if(offset < bottomMargin) offset = bottomMargin;
		$dialog.css("margin-top", offset);
	}

	$(document).on('show.bs.modal', '.modal', centerModal);
	$(window).on("resize", function () {
		$('.modal:visible').each(centerModal);
	});
}(jQuery));	
</script>
<script>
$(window).load(function(){
    $(".nano").mCustomScrollbar({autoHideScrollbar: true, mouseWheelPixels: 200});
});	
</script>
</body>
</html>
