@import './_font.scss';
@import './animate.min.scss';
*,body{margin:0;padding:0;box-sizing:border-box;font-family:'OpenSans-Regular';}
html{scroll-behavior: smooth;}
a{text-decoration:none;color:inherit;}
p{line-height: 1.5;}
$color-main:#633A1A;
.wrapper{
    .page-content{
        overflow-x: hidden;
    }
}
.module-menu{z-index:4;position:fixed;top:0;right:0;left:0;width:100%;background-color:#fff;box-shadow:0px 2px 4px rgba(0,0,0,0.2);
    .nav{width: 100%;
        ul{justify-content:center;
            width: 100%;display:flex;list-style:none;align-items:center;
            li{flex-shrink:0;
                a{display:block;padding:30px 20px;font-size:21px;color:#000;font-weight:700;
                    &:hover{color:$color-main;}
                }
            }
        }
    }
}
.module-header{padding:100px 0;position:relative;background-image: linear-gradient(55deg, rgba(35, 132, 141, 0.9) 0%, rgba(134, 201, 186, 0.13) 90%) !important;
  
    .block-image{display:flex;align-items:center;justify-content:center;margin-top:60px;
        .img{margin-right:20px;margin-left:20px;display:block;background-size:130px 125px;background-position:center;background-repeat:no-repeat;width:130px;height:125px;
            &:after{content:'';display:block;padding-top:100%;}
         
        }
    }
    .block-text{margin-top:30px;
        h1{text-align:center;
            span{display:block;font-size:32px;margin-bottom:10px;
                &:nth-child(2){color:#0D984A;}
                &:last-child{margin-bottom:0;color:#633A1A;}

            }
        }
    }
}
.module-introduce{padding-top:100px;padding-bottom:50px;
    h2.title{font-size:32px;color:$color-main;max-width: 1440px;margin:0 auto;text-align:center;}
    .context-introduce{padding-top:100px;max-width:1440px;margin:0 auto;display:flex;align-items:center;
        .block-image{max-width: 30%;flex:0 0 30%;
            .wrap-img{position: relative;
                img{width:320px;display:block;margin-left:auto;}
            }
        }
        .block-text{max-width: 70%;flex:0 0 70%;
            p{font-size:21px;margin-bottom:10px;
                span{font-weight:700;font-family:"OpenSans-Bold";}
                &.text-hightlight{margin-top:25px;margin-bottom:25px;background-color:#FFB000;border-radius:15px;overflow: hidden;padding:15px 20px;}
            }
        }
    }
}
.module-campaign{padding-top:100px;background-image: linear-gradient(55deg, rgba(35, 132, 141, 0.9) 0%, rgba(134, 201, 186, 0.13) 90%) !important;
    h2.title{text-align:center;font-size:32px;color:#000;max-width: 1440px;margin:0 auto;}
    .context-campaign{padding-top:50px;padding-bottom:50px;max-width:1440px;margin:0 auto;position: relative;
        .c-time{margin-bottom:50px;width:50%;padding-right:30px;text-align:right;position: relative;
            &:after{content:'';background-color:$color-main;width:30px;height:30px;border-radius:50%;top:8px;right:0;position: absolute;transform: translateX(50%);}
            h3{font-size:34px;margin-bottom:25px;}
            p{font-size:24px;margin-bottom:10px;
                span{font-weight:700;font-family:"OpenSans-Bold";}
                &.text-hightlight{margin-top:25px;margin-bottom:25px;background-color:#FFB000;border-radius:15px;overflow: hidden;padding:15px 20px;}
            }
            .block-image{
                .wrap-img{display:flex;
                    img{display:block;width:calc(100% / 3)}
                }
            }
            &.is-right{margin-left: auto;
                text-align:left;padding-left:30px;padding-right:inherit;
                &:after{right:inherit;left:0;transform: translateX(-50%);}
            }
        }
        &:before{content:'';position: absolute;top:75px;bottom: 0;right:0;left:0;margin:0 auto;background:$color-main;width: 1px;}
    }
}
.module-setup{padding:100px 0;background-image: linear-gradient(55deg, rgba(35, 132, 141, 0.9) 0%, rgba(134, 201, 186, 0.13) 90%) !important;
    h2.title{text-align:center;font-size:32px;color:#000;max-width: 1440px;margin:0 auto;}
    small{text-align: center;display:block;font-size:18px;margin-top:30px;}
    .context-module-setup{max-width:1180px;margin:0 auto;margin-top:100px;
        .item-setup{display:flex;align-items:center;margin-bottom:50px;background-color:#fff;padding:20px;border-radius:20px;box-shadow:0 4px 10px rgba(0,0,0,0.2);
            .img{width:30%;
                .img_setup{display:block;background-position: center center;background-repeat: no-repeat;background-size: cover;
                    &:after{display: block;content:'';padding-top:66.6666%;}
                }
            }
            .content{width:60%;text-align:center;padding-left:30px;
                .number{font-size:100px;font-weight: bold;}
                .title{font-weight: bold;font-size:24px;}
                p{font-size:21px;}
            }
            &.is-right{
                .content{
                    padding-right:30px;
                }
            }
        }
    }
}
.module-reason{padding:100px 0 50px;background-image: linear-gradient(55deg, rgba(35, 132, 141, 0.9) 0%, rgba(134, 201, 186, 0.13) 90%) !important;
    h2.title{text-align:center;font-size:32px;color:#000;max-width: 1440px;margin:0 auto;}
    .context-reason{max-width:1440px;margin:0 auto;padding-top:100px;
        .reason-item{margin-bottom:50px;
            .reason-item_name{cursor: pointer;color:#fff;padding:15px 30px;font-size:21px;border:1px solid $color-main;position: relative;display:flex;align-items:center;background:rgb(9, 81, 81);
                p{padding-right:50px;}
                img{margin-left:auto;flex-shrink: 0;transform: rotate(-90deg);width:24px;transition:all 400ms ease;
                }
                &.is-active{
                    img{
                        transform: rotate(0);
                    }
                }
                // &:hover{
                //     img{transform: rotate(0);}
                // }
            }
            .reason-item_content{display:none;border:1px solid $color-main;padding:30px;border-top:none;
                p{font-size:21px;}
                .block-image{justify-content:center;display: flex;margin-top:50px;margin-right:-20px;margin-left:-20px;
                    img{display:block;padding:20px;}
                    &.block-1{
                        display:flex;
                        img{width: 225px;}
                    }
                    // &.block-2{
                    //     display:flex;
                    //     img{width: 275px;}
                    // }
                    &.is-f1{
                        img{ margin-bottom:30px;}
                    }
                    &.is-f2{
                        img{ }
                    }
                    &.mt-0{margin-top:0;}
                }
                &.is-active{display: block;}
            }
        }
    }
}
.module-benefit{padding:100px 0 100px;
    h2.title{position:relative;z-index:3;text-align:center;font-size:32px;color:#000;max-width: 1440px;margin:0 auto;}
    .context-benefit{position:relative;z-index:3;max-width:1440px;margin:0 auto;padding-top:100px;display:flex;flex-wrap:wrap;
        li{
            width:calc(100% / 3);padding:0 30px;list-style: none;
        }
        .item-benefit{background-color:#fff;box-shadow:0px 4px 6px rgba(0,0,0,0.2);margin-bottom:20px;border-radius:8px;
            .img{display:block;background-repeat: no-repeat;background-size: cover;background-position: center center;width:100%;
                &:after{content:'';display: block;padding-top:56.25%;}
            }
            p{padding:20px;height:134px;}
        }
    }
    .register{
        text-align: center;margin-top:20px;
        a{padding:15px 25px;background-color:rgba(35, 132, 141, 0.9);color:#fff;border-radius:4px;font-size:18px;font-weight: bold;}
    }
}
.module-opportunity{padding:100px 0 50px;height:100vh;background-image: linear-gradient(55deg, rgba(35, 132, 141, 0.9) 0%, rgba(134, 201, 186, 0.13) 90%) !important;
    h2.title{text-align:center;font-size:48px;color:$color-main;max-width: 1440px;margin:0 auto;}
    .context-opportunity{max-width:1440px;margin:0 auto;padding-top:100px;
        .opportunity-item{font-weight:bold;border-radius:8px;color:#fff;max-width:480px;margin:0 auto;padding:20px 50px;text-align:center;font-size:24px;margin-bottom:20px;
            &.is-1{background:#FFB000}
            &.is-2{background:#E60019}
            &.is-3{background:#AF0A1B}
        }
        img{display:block;margin:0 auto;margin-bottom:20px;}
    }
}
@keyframes pulse{
	0%{background-image: linear-gradient(to right,rgba(0,143,229,0.8),rgba(0,143,229,1) ) ;}
	50%{background-image: linear-gradient(to right,rgba(255,176,0,0.8),rgba(255,176,0,1) ) ;}
	100%{background-image: linear-gradient(to right,rgba(42,135,55,0.8),rgba(42,135,55,1) ) ;}
}
.module-form{
    .context-form{display:flex;align-items:center;max-width:1440px;margin:60px auto 0;
        .block-text{width:50%;margin-top:0;padding-right:40px;
            p{color:#fff;font-size:21px;
                span{margin-right:20px;font-size:48px;color:rgb(255, 209, 0);font-weight:bold;font-family: 'OpenSans-Bold';}
         
                @media(max-width:1024px){margin-left:0 !important;}
            }
        }
        .block-form{width:50%;
            form{border: 2px dashed rgb(255, 255, 255) !important;padding:30px;background:#095151;
                h3{color:rgb(255, 209, 0);;font-size:32px;text-align: center;}
                h4{color:#fff;font-size:18px;text-align: center;}
                p{text-align: center;color:#fff;font-size:18px;margin-top:10px;margin-bottom:20px;}
                span{display:block;margin-bottom:5px;color:#fff;text-align: center;font-weight:bold;
                    a{font-size:18px;text-decoration: underline;
                        &:hover{
                            color:#0068ff;
                        }
                    }
                }
                .form-el{width:100%;
                    input{width:100%;outline:none;border:none;padding:15px 20px;border-radius:4px;margin-bottom: 20px;;}
                    &:last-child{
                        input{cursor: pointer;color:#fff;font-size:24px;font-weight:bold;
                            background-image:linear-gradient(rgb(174, 8, 8), rgb(174, 8, 8)) !important;
                            &:hover{opacity: 0.7;}
                         }
                     }
                }
            }
        }
    }
    @media(max-width:769px){
        .context-form{flex-direction: column;padding:0 20px;
            .block-text,.block-form{width:100%;margin-top:20px;padding-right:0;
                p{text-align:center; color:#095151;}
                
            }
        }
    }
    @media(max-width:568px){padding-top:50px;
        h2.title{font-size:24px;}
        .context-form{margin-top:10px;
            .block-text,.block-form{
                p{font-size:18px;
                    span{font-size:32px;}
                }
                form{
                    .heading{
                        h3{font-size:24px;margin-bottom:10px;}
                        h4{font-size:18px}
                    }
                }
            }
        }
    }
}
.module-register{padding:150px 0 150px;background-image:url('https://www.dulichvietnam.com.vn/kinh-nghiem/wp-content/uploads/2019/12/nhung-quan-an-ngon-tai-ha-giang-8.jpg');background-repeat: no-repeat; background-attachment: fixed;width:100%;background-size:cover;position: relative;text-align: center;
	&:after{content:'';position: absolute;top:0;right: 0;left:0;background-color:rgba(0,0,0,0.6);width: 100%;height:100%;}
	a.button-register{position: absolute;z-index: 2;padding:20px 40px;top:50%;transform: translate(-50%, -50%);margin:0 auto;border-radius:20px;font-weight:bold;box-shadow:0px 4px 6px rgba(0,0,0,0.6); animation-name: pulse;
		animation-duration: 5s;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;    
		animation-play-state: running;
		background-image: linear-gradient(to right,rgba(0,143,229,0.8),rgba(0,143,229,1) ) ;color:#fff;font-size:32px;
	}
	@media(max-width:576px){
		a.button-register{font-size:24px;padding:14px}
	}

}
.footer{
  
    background: #f5f5f5 url(https://pozaatea.vn/wp-content/uploads/2019/12/ft-bg.png) no-repeat;
    background-size: cover;
    .context-footer{padding: 100px 0;max-width:1440px;margin:0 auto;text-align: center;
        .name-contact{font-size:24px;font-weight: bold;}
        p{font-size:18px;margin-bottom:5px;}
        .title{font-size:24px; font-weight: bold;margin-top:30px;}
        .fanpage{display:flex; justify-content: center;
            .item-fanpage{padding:0 20px;}
            @media(max-width:414px){flex-direction: column;
                .item-fanpage{margin-bottom:20px;width:100%;}
            }
        }
    }
    
}

@media(max-width:1024px){
    .module-menu{display:none;}
    .module-header{padding-top:0;height:100%;padding-bottom:100px;
        .el{display:none;}
        .block-text{margin-top:0 !important;padding-top:30px;
            h1{span{font-size:48px;}}
        }
        .block-image{
            flex-wrap:wrap;
            .img{width:370px;margin-bottom:20px;}
        }
    }
    .module-introduce{height:100%;
        padding:50px 20px;
        h2.title{text-align: center;}
        .context-introduce{padding-top:50px;flex-wrap:wrap;
            .block-text,.block-image{max-width:100%;flex:0 0 100%;
                .wrap-img{margin-top:20px;
                    img{margin-left: inherit;display: unset;margin-left:4%;}
                }
            }
        }
    }
    .block-1{
        img{width: 150px !important;}
    }
    .module-campaign{height:100%;padding:50px 20px;}
    .module-reason{height:100%;padding:50px 20px;
        .block-image{
           
        }
    }
    .module-benefit{height:100%;padding:50px 20px;
        .context-benefit{
            .benefit-item{height:350px;}
        }
    }
    .module-opportunity{
        height:100%;padding:50px 20px 100px;
    }
}
@media(max-width:414px){
    .module-menu{display:none;}
    .module-header{padding-top:0;height:100%;padding-bottom:100px;
        .el{display:none;}
        .block-text{margin-top:50px;
            h1{span{font-size:32px;}}
        }
        .block-image{
            flex-wrap:wrap;
            .img{width:370px;margin-bottom:20px;}
        }
    }
    .module-introduce{height:100%;
        padding:50px 20px;
        h2.title{text-align: center;font-size:24px;}
        .context-introduce{padding-top:50px;flex-wrap:wrap;
            .block-text,.block-image{max-width:100%;flex:0 0 100%;
                p{font-size:18px;}
                .wrap-img{margin-top:20px;
                    img{margin-left: inherit;display: unset;width: 100%;}
                }
            }
        }
    }
    .module-campaign{height:100%;padding:50px 20px;
        h2.title{font-size:24px;}
        .context-campaign{
            &:before{display:none;}
            .c-time{width:100%;text-align:center;padding:0;
                 p{font-size:18px;}
                &:after{display:none;}
                .block-image{
                    .wrap-img{display:inherit;
                        img{width:100%;margin:0 auto;}
                    }
                }
                &.is-right{text-align:center;padding:0;}
            }
        }
    }
    .module-reason{height:100%;padding:50px 20px;
        h2.title{font-size:24px;}
        .context-reason{
            .reason-item{margin-bottom:20px;
                .reason-item_name{font-size:18px;
                    p{padding-right:15px;}
                }
                .reason-item_content{
                    p{font-size:18px;}
                    .block-image{
                        display: block;
                        img{width:100%;margin: 0 auto;}
                        &.block-1{
                            flex-direction: column;
                            img{width: 100% ! important;}
                        }
                    }
                }
            }
        }
    }
    .module-benefit{height:100%;padding:50px 20px;
        h2.title{font-size:24px;}
        .context-benefit{padding-top:50px;display:inherit;
            li{width:100%;}
            .item-benefit{width:100%;height:100%;margin:10px 0;font-size:18px;margin-bottom:20px;
                p{height:100% !important;}
                
            }
        }
        .register{margin-top:50px;}
    }
    .module-opportunity{
        h2.title{font-size:24px;}
        height:100%;padding:50px 20px 100px;
        .context-opportunity{
            padding-top:30px;
            .opportunity-item{font-size:18px;}
        }
        
    }
    .module-setup{
        h2.title{font-size:24px;}
        .context-module-setup{margin-top:30px;padding:0 20px;
            .item-setup{flex-direction: column;
                .img{width: 100%;order:2}
                .content{width: 100%;order: 1;padding:0 !important;margin-bottom:20px;}
            }
        }
    }
}
.b-tab{display:none;
	&.active{display:block;}
}
.module-tabs{
    ul{display:flex;align-items:flex-start;
        li{list-style: none;
            a{display:block;cursor: pointer;
                 padding:10px;background-color:#fff;
                color:grey;opacity:0.5;font-weight:bold;
                &:hover{border:1px solid  #095151;border-bottom:none;
                    opacity:1;color:#095151;
                }
                &.active{border:1px solid  #095151;border-bottom:none;
                    opacity:1;color:#095151;background-color:#095151;color:#fff;
                }
            }
        }
        @media(max-width:768px){
            flex-wrap: nowrap;overflow-x:scroll;
            li{flex-shrink:0;width:60%;
                a{height:200px;}
            }
        }
    }
}
.module-option{
    border:1px solid #095151;padding:10px;
    .content-option{
        span{display:block;font-size:21px;margin-top:10px;margin-bottom:10px;}
    }
}
.message-form{display:none;font-size:24px;position: fixed;text-align:center;box-shadow:0px 2px 4px rgba(0,0,0,0.2);border-radius:4px;width:250px;color:#fff;padding:15px 30px;background-color:green;top:50%;transform: translateY(-50%);right:0;left:0;margin:0 auto;
    &.show{
        display: block;
    }
}