block Body

.body
	.hotline
		a(href="tel:0376307374")
			i.Phone.is-animating
	.header(style="background-image:url(images/img_banner.png)" id="header")
		.taskbar
			.logo
				img(src="images/img_logo.jpg", alt="")
			ul.menu
				li
					a.item-menu(href="#header") Trang chủ
				li
					a.item-menu(href="#introduce") Giới thiệu
				li
					a.item-menu(href="#product") Sản phẩm
				li
					a.item-menu(href="#contact") Liên hệ
		.content-banner
			h1(class="wow pulse") Đại Thanh Audio <br>Âm thanh của mọi nhà
			.list-func
				a.func-contact Liên hệ
				a.func-buy(href="tel:0376307374") Mua
	.wrapper-content
		.introduce#introduce
			.content
				.wrap
					h2 Đại Thanh Audio 
					.line
					p Cung cấp lắp đặt hệ thống âm thanh gia đình chuyên nghiệp, âm thanh bãi, âm thanh nhập khẩu
					.addr
						span Địa chỉ:
						span 219 Hoàng Tăng Bí - P.Đức Thắng, Bắc Từ Liêm - Hà Nội
					.phone
						span Số điện thoại:
						span 0376307374
			.img
				<iframe width="100%" height="450" src="https://www.youtube.com/embed/M-_O-wS5rPU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		.our-product#product
			.head
				h2.title Sản phẩm Nổi Bật
				.line
			.product-list
				.item-product.wow.slideInLeft(data-wow-duration="1s" data-wow-offset="50")
					.content
						.wrap
							span Hãng abc
							h3 Tên sản phẩm A
							p lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum orem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
							strong 10.000.000
								sup đ
							.list-func
								a.func-detail Thông số
								a.func-buy(href="tel:0376307374") Mua
					.img
						.swiper-container.gallery-top
							.swiper-wrapper
								.swiper-slide
									.image(style="background-image:url(images/img_banner.png)", alt="")
								.swiper-slide
									.image(style="background-image:url(images/img1.jpg)", alt="")
								.swiper-slide
									.image(style="background-image:url(images/img2.jpg)", alt="")
								.swiper-slide
									.image(style="background-image:url(images/img3.jpg)", alt="")
								.swiper-slide
									.image(style="background-image:url(images/img4.jpg)", alt="")
								.swiper-slide
									.image(style="background-image:url(images/img1.jpg)", alt="")
							.swiper-button-next.swiper-button-white
							.swiper-button-prev.swiper-button-white
						.swiper-container.gallery-thumbs
							.swiper-wrapper
								.swiper-slide
									.image(style="background-image:url(images/img_banner.png)", alt="")
								.swiper-slide
									.image(style="background-image:url(images/img1.jpg)", alt="")
								.swiper-slide
									.image(style="background-image:url(images/img2.jpg)", alt="")
								.swiper-slide
									.image(style="background-image:url(images/img3.jpg)", alt="")
								.swiper-slide
									.image(style="background-image:url(images/img4.jpg)", alt="")
								.swiper-slide
									.image(style="background-image:url(images/img1.jpg)", alt="")
		.hot-product#hot-product
			.head
				h2.title Sản phẩm Bán chạy
				.line
			.product-list
				.item-product.wow.slideInLeft(data-wow-duration="1s" data-wow-offset="50")
					.content
						.wrap
							span Hãng abc
							h3 Tên sản phẩm A
							p lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum orem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
							strong 10.000.000
								sup đ
							.list-func
								a.func-detail Thông số
								a.func-buy(href="tel:0376307374") Mua
					.img(style="background-image:url(http://daithanhaudio.com//assets/uploads/product/img_banner.png)")
					
				.item-product.wow.slideInLeft(data-wow-duration="1s" data-wow-offset="50")
					.content
						.wrap
							span Hãng abc
							h3 Tên sản phẩm A
							p lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum orem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
							strong 10.000.000
								sup đ
							.list-func
								a.func-detail Thông số
								a.func-buy(href="tel:0376307374") Mua
					.img(style="background-image:url(http://daithanhaudio.com//assets/uploads/product/img_banner.png)")
				.item-product.wow.slideInLeft(data-wow-duration="1s" data-wow-offset="50")
					.content
						.wrap
							span Hãng abc
							h3 Tên sản phẩm A
							p lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum orem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
							strong 10.000.000
								sup đ
							.list-func
								a.func-detail Thông số
								a.func-buy(href="tel:0376307374") Mua
					.img(style="background-image:url(http://daithanhaudio.com//assets/uploads/product/img_banner.png)")
				.item-product.wow.slideInLeft(data-wow-duration="1s" data-wow-offset="50")
					.content
						.wrap
							span Hãng abc
							h3 Tên sản phẩm A
							p lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum orem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
							strong 10.000.000
								sup đ
							.list-func
								a.func-detail Thông số
								a.func-buy(href="tel:0376307374") Mua
					.img(style="background-image:url(http://daithanhaudio.com//assets/uploads/product/img_banner.png)")
						
		.contact#contact
			.head
				h2.title Liên hệ
				.line
				.addr
					span Địa chỉ:
					span 219 Hoàng Tăng Bí - P.Đức Thắng, Bắc Từ Liêm - Hà Nội
				.phone
					span Số điện thoại:
					span 0376307374
			.form-register
				form.wow.slideInLeft(data-wow-duration="1s" data-wow-offset="100")
					span Gửi thông tin liên hệ và phản hồi, chúng tôi sẽ trả lời bạn trong thời gian sớm nhất
					input(type="text" placeholder="Nhập họ và tên")
					input(type="text" placeholder="Nhập Số điện thoại")
					input(type="text" placeholder="Nhập email")
					input(type="text" placeholder="Nhập địa chỉ")
					textarea(placeholder="Nhập thông tin liên hệ và phản hồi")
					a.button-submit(href="#!") Gửi


				.maps.wow.slideInRight(data-wow-duration="1s" data-wow-offset="100")
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2710.6564103085225!2d105.77886988408048!3d21.08373803613736!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31345571447dc2b5%3A0xd64d979c759496c!2zxJDhuqFpIFRoYW5oIEF1ZGlv!5e0!3m2!1svi!2s!4v1587103664471!5m2!1svi!2s" width="100%" height="494" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

		.footer(style="background-image:url(images/footer.jpg)")