block Body

.body
	.hotline
		a(href="tel:0942622239")
			i.Phone.is-animating
	.header(style="background-image:url(images/saurieng.jpg)" id="header")
		.taskbar
			.logo
				img(src="images/logo.jpg", alt="saurienganhnongdan Sầu riêng anh nông dân")
			ul.menu
				li
					a.item-menu(href="#header") Trang chủ
				li
					a.item-menu(href="#introduce") Giới thiệu
				li
					a.item-menu(href="#product") Nhượng quyền
				li
					a.item-menu(href="#contact") Đăng ký 
		.content-banner
			.content-left.wow.slideInLeft(data-wow-duration="1s" data-wow-offset="100")
				h1 Nhượng quyền Sầu riêng Anh Nông Dân
				.item-list
					.item 1. Chi phí nhượng quyền thấp và được nhiều ưu đãi
					.item 2. Cam kết chất lượng sản phẩm nhượng quyền và nguồn sản phẩm dồi dào
					.item 3. Chi phí đầu tư linh động và được hỗ trợ xây dựng cửa hàng
			.content-right
				.form-register.wow.slideInRight(data-wow-duration="1s" data-wow-offset="100")
					form
						span Đăng ký nhận tư vấn chi tiết
						small Hãy nhập thông tin của bạn tại đây, chúng tôi sẽ tư vấn chi tiết về chính sách nhượng quyền thương hiệu
						input(type="text" placeholder="Nhập họ và tên")
						input(type="text" placeholder="Nhập Số điện thoại")
						textarea(placeholder="Nhập email hoặc địa chỉ facebook")
						a.button-submit(href="#!") Gửi Yêu cầu
	.wrappr-body-content
		.context-body
			.gioithieu
				.context-gioithieu
					.content-left.wow.slideInLeft(data-wow-duration="1s" data-wow-offset="100")
						h2  Sầu riêng Anh Nông Dân
						p Sầu riêng Anh Nông Dân với tiêu chí “sạch trước cái đã” đang dần được khách hàng tất cả mọi nơi tin chọn và nhượng quyền. Khi Nhượng quyền tại Sầu riêng Anh Nông Dân quý khách được lắng nghe về sản phẩm, tư vấn kỹ càng,khui dùng tại chỗ và quan trọng nhất là được cửa hàng nhận khuyết điểm hoàn tiền hoặc đổi trả, bồi thường vốn nếu sầu riêng không như tư vấn.
					.content-right.wow.slideInRight(data-wow-duration="1s" data-wow-offset="100")
						img(src="images/img_sp2.png", alt="saurienganhnongdan Sầu riêng anh nông dân")
			.mohinhnhuongquyen
				.context-mohinhnhuongquyen
					.title Mô hình nhượng quyền sầu riêng Anh Nông Dân
					.item-list
						.item
							strong 1
							p Mô hình kinh doanh không rủi ro, độc nhất ngành hàng trái cây
						.item
							strong 2
							p Chi phí nhượng quyền cực hấp dẫn chỉ với 2 con số
						.item
							strong 3
							p Chi phí lần đầu linh động có thể dưới 30 triệu trên 1 cửa hàng
						.item
							strong 4
							p Tìm kiếm mặt bằng và xây dựng cửa hàng
			.goiuudai
				.context-goiuudai
					.title Ưu đãi gói cửa hàng không phí phát sinh
					.item-list
						.item
							strong <small class="green">15 Triệu</small> Chi phí cọc hàng hóa(sầu riêng )
							p Sau khi chấm dứt hợp đồng sẽ hoàn trả !
							
						.item
							strong <small class="organe">20 Triệu</small> phí nhượng quyền thương hiệu
							p Hỗ trợ tư vấn chiến lược kinh doanh ,Thiết kế set up cửa hàng ,Hỗ trợ xây dựng đội nhóm kênh  bán hàng
						.item
							strong <small class="red">10%</small> lợi nhuận cửa hàng (tiền hỗ trợ đội marketing khi cửa hàng hoạt động tốt )
							
			.mohinhsanpham
				.context-mohinhsanpham
					.title Mô hình sản phẩm
					.item-list
						.item
							strong 1
							p Sầu riêng quả
							img(src="images/list_image/3.jpg", alt="saurienganhnongdan Sầu riêng anh nông dân")
						.item
							strong 2
							p Nước mía sầu riêng mang đi
							img(src="images/miasaurieng.png", alt="saurienganhnongdan Sầu riêng anh nông dân")
							
						.item
							strong 3
							p Bánh crepe sầu riêng
							img(src="images/cepsaurieng.jpg", alt="saurienganhnongdan Sầu riêng anh nông dân")
			.quytrinh
				.context-quytrinh
					.title Quy trình nhượng quyền sầu riêng Anh Nông Dân
					.item-list
						.item
							p.green Mức phí cơ sở
						.item
							p.organe Mức phí trung bình
							
						.item
							p.red Mức phí cao cấp
					.item-list2
						.item
							strong 1
							p Thống nhất mức phí nhượng quyền và đưa ra kế hoạch - phương hướng phát triển cho cơ sở
						.item
							strong 2
							p Xây dựng cơ sở nhượng quyền và thiết kế cửa hàng kinh doanh cho đối tác
						.item
							strong 3
							p Đào tạo nhân sự và hoàn thiện khai trương
			.loiich
				.context-loiich
					.title Lợi ích chọn nhượng quyền sầu riêng Anh Nông Dân
					.item-list
						.item
							strong Cam kết lợi nhuận thu nhập cao
							p - Lượng khách hàng trung bình của một khách kính doanh thương hiệu Anh nông dân có thể dao động 30-50khach/ngày<br> - Thu nhập khoảng 2-3 triệu/ngày hoặc hơn<br> - Pass đơn và chuyển khách hàng tại khu vực nếu kính doanh tốt
						.item
							strong Chí phí nhượng quyền thấp & được hỗ trợ từ Anh Nông Dân
							p - Chi phí nhượng quyền hợp lý (khoảng 30tr-60tr/cơ sở)<br>- Được hỗ trợ giá và có đầu tư thêm nếu cửa hàng kính doanh tốt<br>- Nâng cấp vốn đầu tư chi phí thấp<br>- Không có chi phí phát sinh khi đầu tư
						.item
							strong Mặt hàng đa dạng, khách hàng chọn lựa nhiều
							p - Mặt hàng Sầu riêng đa dạng và chất lượng được nhiều khách hàng  đánh giá cao<br> - Nhiều hình thức chế biến khác nhau được tư vấn khi bạn nhượng quyền
						.item
							strong  Dễ kinh doanh, đơn giản vận hành
							p - Đối tượng tiêu dung rộng khắp toàn quốc- Dễ dàng vẫn chuyển và không lo vấn đề hư hao sản phẩm<br>- Hộ trợ hệ thống quản lý kính doanh hiệu quả<br> - Quy trình vận hành được hướng dẫn chi tiết khi nhượng quyền
						.item
							strong Được hỗ trợ set up, marketing quảng cáo
							p - Hỗ trợ setup và xây dựng kinh doanh cho đối tác<br>- Được quảng cáo và PR thương hiệu tại cơ sở<br>- Nâng cấp quy mô và mở rộng kinh doanh qua kênh marketing hiệu quả <br>- Hỗ trợ hình ảnh, và xây dựng thương hiệu
			.luuy
				.context-luuy
					.title LƯU Ý DÀNH CHO CÁC ĐỐI TÁC SẦU RIÊNG ANH NÔNG DÂN
					.notify - Các đối tác nhường quyền sẽ được ANH NÔNG DÂN hỗ trợ công cụ PR, đăng tải thông tin và quảng cáo cơ sở, đối tác trên web chúng tôi tại saurienganhnongdan.com, google tìm kiếm, các trang thương mại điện tử, tổ chức sự kiện và các chương trình quảng bá PR dành cho cơ sở bạn.<br>- Đồng thời sản phẩm bạn kinh doanh luôn được kiểm soát và bán đúng giá, đúng nguồn gốc, tuyệt đối nghiêm cấm các hành vi gian lận, hàng không chất lượng, và đảm bảo mang đến sức khỏe tốt cho khách hàng tiêu dung.<br>- Giá quy định theo công ty, tránh lạm phát và nâng giá bừa bãi, không bán sản phẩm hết date, hoặc tráng sản phẩm không đúng chuẩn mà ANH NÔNG DÂN đã bàn giao.
			.hinhanhsp
				.context-hinhanhsp
					.title Hình ảnh Cửa hàng
					.item-list.is-botique
						.item
							img(src="images/list_image/cuahang1.jpg", alt="saurienganhnongdan Sầu riêng anh nông dân")
						.item
							img(src="images/list_image/cuahang2.jpg", alt="saurienganhnongdan Sầu riêng anh nông dân")
						.item
							img(src="images/list_image/cuahang3.jpg", alt="saurienganhnongdan Sầu riêng anh nông dân")
						.item
							img(src="images/list_image/cuahang4.jpg", alt="saurienganhnongdan Sầu riêng anh nông dân")
						.item
							img(src="images/list_image/cuahang5.jpg", alt="saurienganhnongdan Sầu riêng anh nông dân")
						.item
							img(src="images/list_image/cuahang6.jpg", alt="saurienganhnongdan Sầu riêng anh nông dân")
						
						
			.hinhanhsp
				.context-hinhanhsp
					.title Hình ảnh sản phẩm Sầu Riêng Anh Nông Dân
					.item-list
						.item
							img(src="images/list_image/1.jpg", alt="saurienganhnongdan Sầu riêng anh nông dân")
						.item
							img(src="images/list_image/2.jpg", alt="saurienganhnongdan Sầu riêng anh nông dân")
							
						.item
							img(src="images/list_image/3.jpg", alt="saurienganhnongdan Sầu riêng anh nông dân")
						.item
							img(src="images/list_image/4.jpg", alt="saurienganhnongdan Sầu riêng anh nông dân")
						.item
							img(src="images/list_image/5.jpg", alt="saurienganhnongdan Sầu riêng anh nông dân")
							
						.item
							img(src="images/list_image/6.jpg", alt="saurienganhnongdan Sầu riêng anh nông dân")
						.item
							img(src="images/list_image/7.jpg", alt="saurienganhnongdan Sầu riêng anh nông dân")
						.item
							img(src="images/list_image/8.jpg", alt="saurienganhnongdan Sầu riêng anh nông dân")
						.item
							img(src="images/list_image/9.jpg", alt="saurienganhnongdan Sầu riêng anh nông dân")
						.item
							img(src="images/list_image/10.jpg", alt="saurienganhnongdan Sầu riêng anh nông dân")
						.item
							img(src="images/list_image/11.jpg", alt="saurienganhnongdan Sầu riêng anh nông dân")
						.item
							img(src="images/list_image/12.jpg", alt="saurienganhnongdan Sầu riêng anh nông dân")
						.item
							img(src="images/list_image/13.jpg", alt="saurienganhnongdan Sầu riêng anh nông dân")
						.item
							img(src="images/list_image/14.jpg", alt="saurienganhnongdan Sầu riêng anh nông dân")
						.item
							img(src="images/list_image/15.jpg", alt="saurienganhnongdan Sầu riêng anh nông dân")
						.item
							img(src="images/list_image/25.jpg", alt="saurienganhnongdan Sầu riêng anh nông dân")
						.item
							img(src="images/list_image/26.jpg", alt="saurienganhnongdan Sầu riêng anh nông dân")
						.item
							img(src="images/list_image/27.jpg", alt="saurienganhnongdan Sầu riêng anh nông dân")
			.hinhanhsp
				.context-hinhanhsp
					.title Hỗ trợ nguồn cung cấp Trái cây sạch miền tây và trái cây nhập khẩu giá tốt nhất thị trường
					.item-list
						.item
							img(src="images/list_image/16.jpg", alt="saurienganhnongdan Sầu riêng anh nông dân")
						.item
							img(src="images/list_image/17.jpg", alt="saurienganhnongdan Sầu riêng anh nông dân")
							
						.item
							img(src="images/list_image/18.jpg", alt="saurienganhnongdan Sầu riêng anh nông dân")
						.item
							img(src="images/list_image/20.jpg", alt="saurienganhnongdan Sầu riêng anh nông dân")
							
						.item
							img(src="images/list_image/21.jpg", alt="saurienganhnongdan Sầu riêng anh nông dân")
						.item
							img(src="images/list_image/22.jpg", alt="saurienganhnongdan Sầu riêng anh nông dân")
						.item
							img(src="images/list_image/23.jpg", alt="saurienganhnongdan Sầu riêng anh nông dân")
						.item
							img(src="images/list_image/24.jpg", alt="saurienganhnongdan Sầu riêng anh nông dân")
			.lienhe
				.context-lienhe
					.title Liên hệ
					.contact
						span Hotline:
						span 0819321678
					.addr
						.item
							span Chi nhánh 1:
							span Số 64 Chu Văn An, Phường Liên Bảo, Vinh Yên
					.addr
						.item
							span Chi nhánh 2:
							span 02 Xã đàn ,Hà Nội
					.addr
						.item
							span Chi nhánh 3:
							span Số 1 Đường Phạm Công Trứ, Phường Bẩn Yên NhânNhân, Thị xã Mỹ Hào, Hưng Yên
					.addr
						.item
							span Chi nhánh 4:
							span  Số 70 nguyễn Sỹ Sách , QuậnTân Bình  ,Hồ Chí Minh
					.form-register.wow.slideInRight(data-wow-duration="1s" data-wow-offset="100")
						form
							span Đăng ký nhận tư vấn chi tiết
							small Hãy nhập thông tin của bạn tại đây, chúng tôi sẽ tư vấn chi tiết về chính sách nhượng quyền thương hiệu
							input(type="text" placeholder="Nhập họ và tên")
							input(type="text" placeholder="Nhập Số điện thoại")
							textarea(placeholder="Nhập email hoặc địa chỉ facebook")
							a.button-submit(href="#!") Gửi Yêu cầu
				.footer
					img(src="images/list_image/footer.png", alt="saurienganhnongdan Sầu riêng anh nông dân")