block Modal

.modal-container#modal-chitietsp
	.bl-modal-heading
		span Thông số kỹ thuật
		a.func-close-modal(href="javascript:void(0)")
			i.icn.icn-small-remove
	.bl-modal-context
		.list-infor
				ul
					li 
						span Tên thông số
						span Giá trị
					li 
						span Tên thông số
						span Giá trị
					li
						span Tên thông số
						span Giá trị Giá trị Giá trị Giá trị Giá trị
		
