// Core variables and mixins bourbon
@import "bourbon";

/* Body */
html{-webkit-font-smoothing:antialiased; scroll-behavior: smooth;}
body{background:#F7F9FB;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%;font-display:swap;
	@media only screen and (max-width:414px){font-size:calc(100% + 1 * (100vw - 360px)/ 39)}
}
body, html{height:100%;
	@include from($tablet){height:auto}
}

/* General */
.page-content{background-color:#F7F9FB;min-height:100%;@include margin(null auto);
	
}

