//- ====================== SETUP HTML ==============================
- var page = "Đại Thanh Audio"
- var responsiveDevice = "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
- var description = "Đại thanh audio - Âm Thanh của mọi nhà, Chuyên cung cấp các sản phẩm âm thanh chất lượng cao đến mọi nhà"

//------------------------------ Javascript ------------------------------
- var jquery = true
- var jquery_link = "js/jquery.min.js"
- var modernizr = false
- var modernizr_link = "js/plugins/modernizr.min.js"
- var wowjs = false
- var wowjs_link = "js/wow.min.js"

//------------------------------ URL ------------------------------
- var Url = ""