title=page

block meta
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="viewport" content=`${responsiveDevice}`)
	meta(name="description" content=`${description}`)
	meta(name="format-detection" content="telephone=no")
	meta(name="author" content="Thanh Lịch")
	meta(name="copyright" content="2020 Thanh Lịch")
	meta(name="robots" content="index, follow")
	meta(name="revisit-after" content="7 days")
	meta(property="og:url" content="saurienganhnongdan.com")
	meta(property="og:title" content="Sầu riêng anh nong dân")
	meta(property="og:image" content="../html/images/saurieng.jpg")
	link(rel="icon" type="image/ico" href="../html/images/img_logo.jpg")

//- Include css
block css
	link(href="css/animate.min.css" rel="stylesheet" type="text/css")
	link(href="css/layout.css" rel="stylesheet" type="text/css")
	
//- Include css
style.
