extends layout.pug

//- Setting
block setting
	- var layout = true
	- var loading = false
	- var dockbar = false
	- var tooltip = true
	- var popup = false
	- var modal = true
	- var wowjs = true

block head
	include head.pug

block pages
	- bodyC.push("")
	- layoutClasses.push("")
	- bodyClasses.push("page-content")
	- dockbarClasses.push("dockbar")

//- Add Body
block body
	include page/_home.pug
//- Add Tooltip
block tooltip
	include page/tooltip.pug

//- Add Modal
block modal
	include page/modal_chitietsp.pug

block javaScripts extend
	script.
		$(".func-detail").click(function(){
			$("html").addClass("overlay-modal");
			$("#modal-chitietsp").addClass("is-show");
		});
		$(".func-close-modal").click(function(){
			$("html").removeClass("overlay-modal");
			$(".modal-container").removeClass("is-show");
		});
		$(document).ready(function(){
			if($(window).width() > 1024){
				new WOW().init();
			}
		
		});
			$(window).scroll(function (event) {
			var scroll = $(window).scrollTop();
			var width = $(window).width();
			if (scroll >= 100 && width > 1024) 
			{
			$('.taskbar').addClass('is-fixed');
			} 
			else {
			$('.taskbar').removeClass('is-fixed');
			}
			});
