include config.pug
block setting
	- var loading = false
	- var dockbar = false
	- var tooltip = false
	- var popup = false
	- var modal = false

doctype
html(lang="en")
	head
		block head

	//- add class for wrapper
	- var bodyC = [];
	- var layoutClasses= [];
	- var bodyClasses = [];
	- var dockbarClasses = [];
	block pages

	body(class=`${bodyC}`)
		if loading
			.layer-loading
		if layout
			block layout
				div(class=`${bodyClasses}`)
					block body
			if dockbar
				div(class=`${dockbarClasses}`)
					block dockbar
		.bl-tooltip
			if tooltip
				block tooltip
		.bl-popup
			if popup
				block popup
		.bl-modal
			if modal
				block modal

		// Include Plugin
		block javaScripts
			include javascript.pug
			
		block javaScripts extend
			