// Core variables and mixins bourbon
@import "bourbon";

// Tooltip
.bl-tooltip{display:block;z-index:-1;opacity:0;visibility:hidden;@include position(fixed, 0);@extend %tr-all;background-color:rgba(#35425B, 0.85);overflow:hidden;
	&.is-hidden{z-index:-1!important;opacity:0!important;visibility:hidden!important;}
}
.overlay-tooltip{}
.overlay-tooltip{
	.bl-tooltip{z-index:1001;opacity:1;visibility:visible;@extend %tr-all;
		.tooltip-container{
			&.is-show{bottom:0;@extend %tr-all;}
		}
	}
}
.bl-tooltip{
	.tooltip-container{@include position(absolute, null);bottom:-100%;background-color:#fff;width:100%;border-top-left-radius:$gutter;border-top-right-radius:$gutter;overflow:hidden;
		@include from($tablet){left:50%;width:600px;margin-left:-300px}
		.bl-tooltip-heading{display:flex;justify-content:space-between;align-items:center;height:50px;@include padding(null $gutter);border-bottom:1px solid $border;
			span{color:$text;font-size:$size-medium;font-weight:$weight-semibold}
			.func-close-tooltip{flex-shrink:0;@include size(50px);margin-right:-$gutter;color:inherit;
				[class^=icn]{display:inline-block;@include size(50px);@include padding(15px);font-size:1.25rem;vertical-align:middle}
			}
		}
		.bl-tooltip-context{max-height:400px;@include padding($gutter);overflow-y:scroll;-webkit-overflow-scrolling:touch;
			.list-share{display:flex;
				li{margin-right:10px;
					.item-share{display:block;width:44px;}
				}
			}
			p{font-size:0.75em;margin-top:10px;}
			.input-group{position:relative;height:48px;margin-top:10px;
				box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
				input{
					@include position(absolute, 0 0 null 0);
					@include size(100%);
					outline:none;
					border:1px solid #ADBACA;
					font-size:0.875em;
					padding-left:16px;
					color:#2C3F58;
					padding-right:120px;
					border-radius:4px;
					box-shadow:none;
					user-select:all;
				}
				.func-copy{
					color:#BC946C;font-weight:bold;
					@include position(absolute, 0 0 null null);
					height: 100%;
					width: 93px;
					z-index: 2;
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 0.875em;
					&:after{
						content: '';
						position: absolute;
						top: 50%;
						left: 0;
						background-color: rgba(44, 63, 88, 0.25);
						height: 28px;
						width: 1px;
						-webkit-transform: translateY(-50%);
						-ms-transform: translateY(-50%);
						transform: translateY(-50%);
					}
				}
			}
			@media only screen and (max-height:600px){max-height:280px}
		}
	}
}

// Modal
.bl-modal{display:block;z-index:-1;opacity:0;visibility:hidden;@include position(fixed, 0);@extend %tr-all;background-color:rgba(#35425B, 0.85);overflow:hidden;
	&.is-hidden{z-index:-1!important;opacity:0!important;visibility:hidden!important;}
}
.overlay-modal{overflow:hidden;}
.overlay-modal{
	.bl-modal{z-index:1002;opacity:1;visibility:visible;@extend %tr-all;
		.modal-container{
			&.is-show{top:50%;transform:translateY(-50%) ;transition:all 0.35s ease;}
		}
	}
}
.bl-modal{
	.modal-container{@include position(absolute, null $gutter);top:-100%;background-color:#fff;@extend %is-radius;overflow:hidden;
		@include from($tablet){left:50%;width:600px;margin-left:-300px}
		.bl-modal-heading{display:flex;justify-content:space-between;align-items:center;height:50px;@include padding(null $gutter);border-bottom:1px solid $border;
			span{color:$text;font-size:$size-large;font-weight:$weight-semibold}
			.func-close-modal{flex-shrink:0;@include size(50px);margin-right:-$gutter;color:inherit;
				[class^=icn]{display:inline-block;@include size(50px);@include padding(15px);font-size:1.25rem;vertical-align:middle}
			}
		}
		.bl-modal-context{@include padding($gutter);
			.list-infor{
				ul{
					li{font-size:0.875em;display:flex;align-items:flex-start;padding:10px;border-bottom:1px solid #dedede;
						span{display:block;font-size:1em;
							&:first-child{flex-grow:1;min-width:0;font-weight:bold;min-width:85px;color:#778699;padding-right:20px;}
							&:last-child{flex-shrink:0;}
						}
						&:last-child{margin-bottom:inherit;}
					}
				}
			}
		}
	}
}

// Popup
.bl-popup{display:block;z-index:-1;opacity:0;visibility:hidden;@include position(fixed, 0);@extend %tr-all;background-color:rgba(36, 46, 66, 0.85);overflow:hidden;
	&.is-hidden{z-index:-1!important;opacity:0!important;visibility:hidden!important;}
}
.overlay-popup{height:100%;overflow:hidden;}
.overlay-popup{
	.page-content{height:100%;overflow:hidden;transform-style:preserve-3d;transform-origin:0% 50%;animation:rotateBox 0.5s forwards ease-in;transition:all 0.5s;}
	.bl-popup{z-index:1001;opacity:1;visibility:visible;@extend %tr-all;
		.popup-container{height:96.5%;
			&.is-show{bottom:0;@extend %tr-all;}
		}
	}
}
.bl-popup{
	.popup-container{@include position(absolute, null);bottom:-100%;background-color:#fff;width:100%;border-top-left-radius:$gutter;border-top-right-radius:$gutter;overflow:hidden;
		@include from($tablet){left:50%;width:600px;margin-left:-300px}
		.bl-popup-heading{display:flex;justify-content:center;align-items:center;@include position(absolute, 0 0 null 0);z-index:10;background-color:$white;height:50px;@include padding(null $gutter);border-bottom:1px solid $border;text-align:center;border-top-left-radius:$gutter;border-top-right-radius:$gutter;
			span{color:$text;font-size:$size-large;font-weight:$weight-semibold}
			[class^=func-]{@include position(absolute, 0 null null 0);@include size(50px);color:inherit;
				[class^=icn]{display:inline-block;@include size(50px);@include padding(14px);font-size:1.325rem;vertical-align:middle}
			}
		}
	}
}
@keyframes rotateBox{
	50%{transform:scale(0.92, 1);transform-origin:center;}
	100%{transform:scale(0.88, 0.99);transform-origin:center;}
}

