// Core variables and mixins bourbon
@import "bourbon";
/* Module */
@keyframes shadow-pulse{
	0%{
		box-shadow:rgba(44,143,180,0.2);
		transform:scale(1);
	}
	100%{
		box-shadow:rgba(44,143,180,0.8);
		transform:scale(1.1);

	}
}
.hotline{position:fixed;right:30px;bottom:30px;@include size(50px);z-index: 999;background-color:rgba(44,143,180,1);border-radius:50%;
	display:flex;align-items:center;justify-content:center;animation: shadow-pulse 1s linear infinite;
	
	.Phone {
		position: relative;
		display: block;
		margin: 0;
		width: 1em;
		height: 1em;
		font-size: 50px;
		background-color: #3498db;
		border-radius: 0.5em;
		box-shadow:
		  0 0 0 0em rgba(#3498db, 0),
		  0em 0.05em 0.1em rgba(#000000, 0.2);
		transform: translate3d(0, 0, 0) scale(1);
	  }
	  
	  .Phone::before,
	  .Phone::after {
		position: absolute;
		content: "";
	  }
	  
	  .Phone::before {
		top: 0;
		left: 0;
		width: 1em;
		height: 1em;
		background-color: rgba(#fff, 0.1);
		border-radius: 100%;
		opacity: 1;
		transform: translate3d(0, 0, 0) scale(0);
	  }
	  
	  .Phone::after {
		top: 0.25em;
		left: 0.25em;
		width: 0.5em;
		height: 0.5em;
		background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTYuNiAxMC44YzEuNCAyLjggMy44IDUuMSA2LjYgNi42bDIuMi0yLjJjLjMtLjMuNy0uNCAxLS4yIDEuMS40IDIuMy42IDMuNi42LjUgMCAxIC40IDEgMVYyMGMwIC41LS41IDEtMSAxLTkuNCAwLTE3LTcuNi0xNy0xNyAwLS42LjQtMSAxLTFoMy41Yy41IDAgMSAuNCAxIDEgMCAxLjIuMiAyLjUuNiAzLjYuMS40IDAgLjctLjIgMWwtMi4zIDIuMnoiIGZpbGw9IiNmZmZmZmYiLz48L3N2Zz4=);
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		transform: translate3d(0, 0, 0);
	  }
	  
	  .Phone.is-animating {
		animation: phone-outer 3000ms infinite;
		
		&::before {
		  animation: phone-inner 3000ms infinite;
		}
		
		&::after {
		  animation: phone-icon 3000ms infinite;
		}
	  }
	  
	  @keyframes phone-outer {
		0% {
		  transform: translate3d(0, 0, 0) scale(1);
		  box-shadow:
			0 0 0 0em rgba(#3498db, 0),
			0em 0.05em 0.1em rgba(#000000, 0.2);
		}
		33.3333% {
		  transform: translate3d(0, 0, 0) scale(1.1);
		  box-shadow:
			0 0 0 0em rgba(#3498db, 0.1),
			0em 0.05em 0.1em rgba(#000000, 0.5);
		}
		66.6666% {
		  transform: translate3d(0, 0, 0) scale(1);
		  box-shadow:
			0 0 0 0.5em rgba(#3498db, 0),
			0em 0.05em 0.1em rgba(#000000, 0.2);
		}
		100% {
		  transform: translate3d(0, 0, 0) scale(1);
		  box-shadow:
			0 0 0 0em rgba(#3498db, 0),
			0em 0.05em 0.1em rgba(#000000, 0.2);
		}
	  }
	  
	  @keyframes phone-inner {
		0% {
		  opacity: 1;
		  transform: translate3d(0, 0, 0) scale(0);
		}
		33.3333% {
		  opacity: 1;
		  transform: translate3d(0, 0, 0) scale(0.9);
		}
		66.6666% {
		  opacity: 0;
		  transform: translate3d(0, 0, 0) scale(0);
		}
		100% {
		  opacity: 0;
		  transform: translate3d(0, 0, 0) scale(0);
		}
	  }
	  
	  @keyframes phone-icon {
		0% { transform: translate3d(0em, 0, 0); }
		2% { transform: translate3d(0.01em, 0, 0); }
		4% { transform: translate3d(-0.01em, 0, 0); }
		6% { transform: translate3d(0.01em, 0, 0); }
		8% { transform: translate3d(-0.01em, 0, 0); }
		10% { transform: translate3d(0.01em, 0, 0); }
		12% { transform: translate3d(-0.01em, 0, 0); }
		14% { transform: translate3d(0.01em, 0, 0); }
		16% { transform: translate3d(-0.01em, 0, 0); }
		18% { transform: translate3d(0.01em, 0, 0); }
		20% { transform: translate3d(-0.01em, 0, 0); }
		22% { transform: translate3d(0.01em, 0, 0); }
		24% { transform: translate3d(-0.01em, 0, 0); }
		26% { transform: translate3d(0.01em, 0, 0); }
		28% { transform: translate3d(-0.01em, 0, 0); }
		30% { transform: translate3d(0.01em, 0, 0); }
		32% { transform: translate3d(-0.01em, 0, 0); }
		34% { transform: translate3d(0.01em, 0, 0); }
		36% { transform: translate3d(-0.01em, 0, 0); }
		38% { transform: translate3d(0.01em, 0, 0); }
		40% { transform: translate3d(-0.01em, 0, 0); }
		42% { transform: translate3d(0.01em, 0, 0); }
		44% { transform: translate3d(-0.01em, 0, 0); }
		46% { transform: translate3d(0em, 0, 0); }
	  }
}

.header{
	@extend %backgroundCover--center;position:relative; overflow: hidden;
	&:after{content:'';display:block;padding-top:36.25%;}
	&:before{content:'';@include position(absolute, 0 0 0 0);width:100%;height:100%;background:rgba(0, 0, 0, 0.5);z-index:1;}
	.content-banner{@include position(absolute, 50% 0 null 0);transform:translateY(-50%);margin:0 auto;z-index:2;width:100%;
		h1{text-align:center;font-size:3em;color:#fff;}
		.list-func{display:flex;justify-content:center;margin-top:65px;
			.func-contact{margin-right:30px;
				height:48px;font-size:22px;color:#fff;font-weight:700;display:flex;align-items:center;background-image: linear-gradient(to right, rgba(2,255,55,0.8), rgba(44, 143,180,1));width:167px;justify-content:center;border-radius:4px;
			}
			.func-buy{
				height:48px;font-size:22px;color:#fff;font-weight:700;display:flex;align-items:center;border-radius:4px;width:167px;justify-content:center;border:2px solid #fff;
			}
		}
	}
	.taskbar{display:flex;align-items:center;padding:0 5%;justify-content: space-between;padding-top:30px;position: relative;z-index: 111;transition: all 500ms ease-in-out;
		.logo{@include size(100px);overflow: hidden;border-radius:50%;
			img{display:block;max-width:100%;}
		}
		.menu{display:flex;align-items:center;
			li{
				a.item-menu{color:#fff;font-weight:bold;padding:0 20px;display:block;font-size:1.25em;}
				&:hover{
					a{color:rgba(2,255,55,0.8);}
				}
			}
		}
		&.is-fixed{
			position:fixed;width: 100%;background-color:rgba(255,255,255,0.9);align-items:center;padding:10px 5%;box-shadow:0 4px 6px rgba(0, 0, 0, 0.2);
			.logo{@include size(80px)}
			.menu{
				li{
					a.item-menu{color:#000;}
				}
			}
		}
	}
	@media(max-width:1024px){
		&:after{content:'';display:block;padding-top:80%;}
		.taskbar{display:none;}
		.content-banner{
			h1{font-size:1em;}
			.list-func{
				margin-top:20px;
				.func-contact{width:100px;height:36px;font-size:15px;}
				.func-buy{height:36px;width:100px;font-size:15px;}
			}
		}
	}
}
.wrapper-content{
	.introduce{display:flex;
		.content{width:50%;display:flex;align-items:center;
			.wrap{margin:0 auto;max-width: 400px;}
			h2{font-size:3em;font-weight:bold;}
			.line{width:100px;height:3px;background-color:#2CB453;margin-top:10px;}
			p{font-size:18px;line-height: 23px;margin-top:23px;}
			.addr{margin-top:11px;
				span{font-size:18px;
					&:first-child{color:#2CB453;margin-right:3px;}
				}
			}
			.phone{
				span{font-size:18px;
					&:first-child{color:#2CB453;margin-right:3px;}
				}
			}
		}
		.img{width:50%;position:relative;
			
		}
	}
	.contact{
		padding-top:150px;
		h2.title{font-size:3em;font-weight:bold;text-align:center;}
		.line{width:100px;height:3px;background-color:#2CB453;margin-top:10px;margin:0 auto;}
		.addr{margin-top:11px;text-align:center;
			span{font-size:18px;
				&:first-child{color:#2CB453;margin-right:3px;}
			}
		}
		.phone{text-align:center;
			span{font-size:18px;
				&:first-child{color:#2CB453;margin-right:3px;}
			}
		}
		.form-register{max-width:1000px;margin:0 auto;display:flex;align-items:flex-start;margin-top:75px;
			form{width: 50%;padding-right:30px;
				span{color:gray;font-size:16px;display:block;margin-bottom:20px;}
				input{width:100%;border:none;outline:none;font-size:16px;height:44px;border-radius:4px;background:#fff;box-shadow:0 4px 6px rgba(0, 0, 0, 0.2);margin-bottom:10px;padding:5px 20px;}
				textarea{
					width:100% !important;border:none;outline:none;font-size:16px;height:44px;border-radius:4px;background:#fff;box-shadow:0 4px 6px rgba(0, 0, 0, 0.2);margin-bottom:10px;padding:10px 20px;resize:none;min-height: 150px;color:#000;
				}
				.button-submit{
						height:44px;font-size:22px;color:#fff;font-weight:700;display:flex;align-items:center;background-image: linear-gradient(to right, rgba(2,255,55,0.8), rgba(44, 143,180,1));width:167px;justify-content:center;border-radius:4px;
					
				}
			}
			.maps{width:50%;}
		}
	}
	.our-product{padding-top:150px;
		h2.title{font-size:3em;font-weight:bold;text-align:center;}
		.line{width:100px;height:3px;background-color:#2CB453;margin-top:10px;margin:0 auto;}
		.product-list{margin-top:75px;max-width:1232px;margin:0 auto;
			.item-product{padding:50px 0;border-bottom:1px solid #dedede;
				display:flex;border-radius:4px;
				.content{width:50%;display:flex;align-items:center;padding:25px 20px;
					h3{font-size:2.25em;font-weight:bold;}
					.line{width:100px;height:3px;background-color:#2CB453;margin-top:10px;}
					p{font-size:18px;line-height: 23px;margin-top:10px;}
					strong{color:#e10c00}

					.list-func{display:flex;margin-top:100px;
						.func-detail{margin-right:20px;
							height:40px;font-size:18px;color:#fff;font-weight:700;display:flex;align-items:center;background-image: linear-gradient(to right, rgba(2,255,55,0.8), rgba(44, 143,180,1));width:167px;justify-content:center;border-radius:4px;
						}
						.func-buy{
							height:40px;font-size:18px;color:#000;font-weight:700;display:flex;align-items:center;border-radius:4px;width:167px;justify-content:center;border:2px solid #000;
						}
					}
				}
				
				.img{width:50%;position:relative;
					.swiper-container{max-width:450px;
						.swiper-wrapper{width:100%;height:100%;
							.swiper-slide{width:100%;height:100%;
								.image{@extend %backgroundCover--center;background-size:cover;@include size(100%);
									&:after{content:'';display:block;padding-top:100%;}
								}
							}
						}
						&.gallery-top,&.gallery-top2,&.gallery-top3{border:2px solid grey;margin-bottom:10px;}
						&.gallery-thumbs,&.gallery-thumbs2,&.gallery-thumbs3{
							.swiper-wrapper{
								.swiper-slide{border:1px solid grey;}
							}
						}
					}
				}
			}
		}
	}
	.footer{margin-top:50px;
		@extend %backgroundCover--center;position:relative;
		&:after{content:'';display:block;padding-top:28%;}
	}
	@media(max-width:1024px){
		.introduce{flex-direction:column;padding-top:50px;
			.content{width:100%;
				h2{font-size:1.125em;text-align:center;}
				.line{margin:0 auto;margin-top:5px;}
				p{font-size:0.813em;text-align:center;padding:0 20px;}
				.addr{text-align:center;margin-top:5px;
					span{font-size:0.813em;
					}
				}
				.phone{text-align:center;
					span{font-size:0.813em;
					}
				}
			}
			.img{width:100%;margin-top:20px;}
		}
		.our-product{padding-top:50px;
			h2.title{font-size:1.125em;text-align:center;}
			.line{margin:0 auto;margin-top:5px;}
			.product-list{padding:0 20px;
				.item-product{flex-direction:column;margin-top:30px;
					.img{order:1;width:100%;}
					.content{order:2;width:100%;@include padding(10px);
						.wrap{width:100%;}
						span{font-size:0.813em;}
						h3{font-size:1em;}
						p{font-size:0.813em;}
						.list-func{margin-top:20px;}
					}
				}
			}
		}
		.contact{padding-top:50px;
			h2.title{font-size:1.125em;text-align:center;}
			.line{margin:0 auto;margin-top:5px;}
			.addr{text-align:center;margin-top:5px;
				span{font-size:0.813em;
				}
			}
			.phone{text-align:center;
				span{font-size:0.813em;
				}
			}
			.form-register{padding:0 20px;margin-top:30px;
				flex-direction:column;
				form{width:100%;padding-right:0;
					.button-submit{margin:0 auto;}
				}
				.maps{width:100%;margin-top:20px;}
			}
		}
	}
}
.hot-product{padding-top:150px;
	h2.title{font-size:3em;font-weight:bold;text-align:center;}
	.line{width:100px;height:3px;background-color:#2CB453;margin-top:10px;margin:0 auto;}
	.product-list{margin-top:75px;max-width:1232px;margin:0 auto;display:flex;max-width:1000px;margin:0 auto;justify-content:center;flex-wrap:wrap;
		.item-product{padding:0 50px;width:50%;
			display:flex;border-radius:4px;flex-direction:column;margin-top:50px;
			.content{display:flex;align-items:center;padding:25px 20px;order:2;background-color:#fff;box-shadow:0px 10px 20px rgba(#000000, 0.2);
				.wrap{width:100%;}
				h3{font-size:2.25em;font-weight:bold;}
				.line{width:100px;height:3px;background-color:#2CB453;margin-top:10px;}
				p{font-size:16px;line-height: 23px;margin-top:10px;}
				strong{color:#e10c00}

				.list-func{display:flex;margin-top:20px;
					.func-detail{margin-right:20px;
						height:40px;font-size:16px;color:#fff;font-weight:700;display:flex;align-items:center;background-image: linear-gradient(to right, rgba(2,255,55,0.8), rgba(44, 143,180,1));width:167px;justify-content:center;border-radius:4px;
					}
					.func-buy{
						height:40px;font-size:16px;color:#000;font-weight:700;display:flex;align-items:center;border-radius:4px;width:167px;justify-content:center;border:2px solid #000;
					}
				}
			}
			
			.img{position:relative;order:1;width:100%;@extend %backgroundCover--center;
				&:after{content:'';display:block;padding-top:100%;}
			}
		}
		@media(max-width:768px){
			.item-product{
				width:100%;padding:0 20px;
				.content{
					h3{font-size:21px;}
					p{font-size:14px;word-break: break-all}
				}
			}
		}
	}
}