@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/opensan/OpenSans-Regular.ttf');
    src: url('../fonts/opensan/OpenSans-Regular.ttf') format('truetype'), /* Safari, Android, iOS */;
    
    /* IE9 Compat Modes */
  }
  @font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/opensan/OpenSans-Bold.ttf');
    src: url('../fonts/opensan/OpenSans-Bold.ttf') format('truetype'), /* Safari, Android, iOS */;
    
    /* IE9 Compat Modes */
  }
  @font-face {
    font-family: 'OpenSans-ExtraBold';
    src: url('../fonts/opensan/OpenSans-ExtraBold.ttf');
    src: url('../fonts/opensan/OpenSans-ExtraBold.ttf') format('truetype'), /* Safari, Android, iOS */;
    
    /* IE9 Compat Modes */
  }
