// Core variables and mixins bourbon
@import "zalo_core_sass/bourbon";

hr.line{display:block;background:none;border:0;border-bottom:1px solid $color-border}
hr.line-spacing{display:block;background:none;border:0;border-bottom:5px solid #f5f7f9;@include margin(null (-$gutter));
}
.bl-module{
	&.is-transparent{background:transparent;
		.func-back{background-color:transparent}
	}
	&.is-null{@include padding(0)}
}
.heading{@include padding(12px null 16px);}
.module-heros{padding-top:0;
	.context-heros{
		.swiper-pagination{right:0;left:0;bottom:0;@include margin(null auto);
			.swiper-pagination-bullet{background-color:#B7BCD2;@include size(6px);@include margin(0 2px);border-radius:50%}
			.swiper-pagination-bullet-active{position:relative;background-color:#102269;@include size(6px);}
		}
		.swiper-heros{
			.swiper-wrapper{
				.swiper-slide{
					.item-hero{
						.img-hero{display:block;@extend %backgroundCover--center;@extend %borderRadius--l;box-shadow:0 2px 5px rgba(0, 0, 0, 0.12)!important;
							&:after{content:'';display:block;padding-top:50.75%;}
						}
					}
				}
			}
		}
	}
}
.module-quick-links{padding-top:0;
	.context-quick-links{
		.quick-link-list{display:flex;align-items:flex-start;justify-content:center;
			li{flex-shrink:0;
				.item-quick-link{display:block;color:inherit;width:70px;@include margin(null 9px);
					.img-container{background-color:#F0F4F8;border-radius:26px;@include size(70px);@include padding(18px);display:flex;align-items:center;justify-content:center;
						img{width:100%;}
					}
					span{display:block;font-size:$size-normal;color:$color-text;text-align:center;margin-top:6px;}
				}
			}
		}
	}
}
.module-just4you{padding-top:0;
	.context-just4you{
		.just4you-list{display:flex;align-items:center;background-color:#F0F4F8;border-radius:8px 0 0 8px;@include padding(8px);margin-right:-$gutter;-webkit-overflow-scrolling:touch;overflow-x:scroll;
			li{flex-shrink:0;
				.item-just4you{display:flex;align-items:center;width:150px;background-color:$color-light;@extend %borderRadius--l;@include padding(8px 16px 8px 10px);margin-right:($gutter / 2);
					.img-container{@include size(40px);flex-shrink:0;margin-right:12px;
						img{width:100%;}
					}
					span{display:block;font-size:$size-normal;color:$color-text;}
				}
			}
		}
	}
}
.module-collection{padding-top:0;
	.context-collection{
		.collection-list{display:flex;flex-wrap:wrap;@include margin(-5px);
			li{width:calc(100% / 3);@include padding(5px);
				a.item-collection{display:block;color:inherit;background-color:#F0F4F8;@extend %borderRadius--l;@include padding(8px);
					span{display:flex;align-items:center;justify-content:center;text-align:center;height:40px;color:$color-text;line-height:$gutter;word-break:break-word;font-size:$size-normal;}
					.img-container{height:58px;display:flex;align-items:center;justify-content:center;margin-bottom:5px;
						.img-logo{display:block;max-width:100%;}
					}
				}
			}
		}
	}
}
.module-promotion-package{background-color:$color-main;margin-top:12px;@include padding(8px $gutter 24px);
	.context-promotion{@include margin(null (-$gutter));
		.swiper-pagination{right:$gutter;top:22px;@include margin(null auto);
			.swiper-pagination-bullet{background-color:tint(#9FDDFF, 70%);@include size(6px);@include margin(0 2px);border-radius:50%}
			.swiper-pagination-bullet-active{position:relative;background-color:#9FDDFF;@include size(6px);}
		}
		.swiper-promotion{padding-left:$gutter;
			.swiper-wrapper{
				.swiper-slide{
					.item-promotion{display:block;
						.img-promotion{display:block;@extend %backgroundCover--center;@extend %borderRadius--l;
							&:after{content:'';display:block;padding-top:50.75%;}
						}
						.desc{margin-top:8px;
							h2{font-size:$size-medium;color:$color-light;font-weight:600}
							p{font-size:$size-small;color:rgba(255, 255, 255, 0.75);}
						}
					}
				}
			}
		}
	}
}
.module-new{
	.tab-thumbs{@include margin(12px null 16px);
		.swiper-wrapper{
			.swiper-slide{
				span{color:$color-text-grey;font-weight:700;font-size:$size-large;}
				&.swiper-slide-thumb-active{
					span{color:$color-text;}
				}
				&:nth-child(1){text-align:left;}
				&:nth-child(2){text-align:center;}
				&:nth-child(3){text-align:right;}
			}
		}
	}
	.grid-content{@include margin(null (-$gutter));
		.swiper-wrapper{@include padding(null $gutter);
			.swiper-slide{
				a.seemore{color:inherit;display:flex;align-items:center;justify-content:flex-end;@include padding($gutter 40px $gutter $gutter);
					span{color:$color-text;font-size:$size-normal;font-weight:600;}
					[class^="icn"]{color:$color-text;margin-left:6px;font-size:$size-large}
				}
				.new-list{
					.item-new{display:flex;color:inherit;align-items:flex-start;margin-bottom:24px;padding-right:($gutter * 2);
						.img-new{flex-shrink:0;width:160px;margin-right:16px;display:block;@extend %backgroundCover--center;background-color:#f2f4f8;@extend %borderRadius--l;
							&:after{display:block;content:'';padding-top:56.25%;}
						}
						.desc{
							h2{color:$color-text;font-size:$size-medium;font-weight:600;line-height:24px;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;word-break:break-word;}
							p{color:$color-text-second;font-size:$size-normal;margin-top:2px;}
						}
						&:last-child{margin-bottom:0}
					}
				}
			}
		}
	}
}