/*!
 * Slidebars - A jQuery Framework for Off-Canvas Menus and Sidebars
 * Version: 2.0.2
 * Url: http://www.adchsm.com/slidebars/
 * Author: Adam Charles Smith
 * Author url: http://www.adchsm.com/
 * License: MIT
 * License url: http://www.adchsm.com/slidebars/license/
 */

/**
 * Box Model, Html & Body
 */

html, body, [data-name=container], [data-off] {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html, body {
	//width: 100%;
	//height: 100%;
	overflow-x: hidden;
	//@include media-breakpoint-up(md){width:auto;height:auto;overflow:inherit}
}

/**
 * Canvas
 */

[data-name] {
	z-index: 1;
}

[data-name=container] {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	position: relative;
	/*background-color: white; /* Basic background color, overwrite this in your own css. */
	-webkit-overflow-scrolling: touch; /* Enables momentum scrolling on iOS devices, may be removed by setting to 'auto' in your own CSS. */
}

[data-name=container]:before, [data-name=container]:after {
	clear: both;
	content: '';
	display: table;
}

/**
 * Off-Canavs
 */

[data-off] {
	display: none;
	position: fixed;
	overflow: hidden;
	overflow-y: auto;
	background-color: black; /* Basic background color, overwrite this in your own css. */
	color: white; /* Basic colors, overwrite this in your own css. */
	-webkit-overflow-scrolling: touch; /* Enables momentum scrolling on iOS devices, may be removed by setting to 'auto' in your own CSS. */
}

[data-off*=top] {
	width: 100%;
	height: 255px;
	top: 0;
}

[data-off*=right] {
	width: 255px;
	height: 100%;
	top: 0;
	right: 0;
}

[data-off*=bottom] {
	width: 100%;
	height: 255px;
	bottom: 0;
}

[data-off*=left] {
	width: 255px;
	height: 100%;
	top: 0;
	left: 0;
}

[data-off*=reveal] {
	z-index: 0;
}

[data-off*=push] {
	z-index: 1;
}

[data-off*=overlay] {
	z-index: 9999;
}

[data-off*=shift] {
	z-index: 0;
}

/**
 * Animation
 */

[data-name], [data-off] {
	@media screen and (max-width: 992px) {
		-webkit-transform: translate( 0px, 0px );
			-ms-transform: translate( 0px, 0px );
				transform: translate( 0px, 0px );
		-webkit-transition: -webkit-transform 300ms;
				transition:         transform 300ms;
		-webkit-backface-visibility: hidden;
	}
}

[data-off*=shift][data-off*=top] {
	-webkit-transform: translate( 0px, 50% );
	        transform: translate( 0px, 50% );
}

[data-off*=shift][data-off*=right] {
	-webkit-transform: translate( -50%, 0px );
	        transform: translate( -50%, 0px );
}

[data-off*=shift][data-off*=bottom] {
	-webkit-transform: translate( 0px, -50% );
	        transform: translate( 0px, -50% );
}

[data-off*=shift][data-off*=left] {
	-webkit-transform: translate( 50%, 0px );
	        transform: translate( 50%, 0px );
}

/**
 * Print
 */

@media print {
	[data-name] {
		-webkit-transform: translate( 0px, 0px ) !important;
		    -ms-transform: translate( 0px, 0px ) !important;
		        transform: translate( 0px, 0px ) !important;
	}

	[data-off] {
		display: none !important;
	}
}