// Core variables and mixins bourbon
@import "bourbon";

/*!
 * Layout
 * @author Lam Nguyen
 */
	/* Ellips */
	.ellips-2{overflow:hidden;text-overflow:ellipsis;display:block;display:-webkit-box!important;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-break:break-word}

	/* Avatar */
	.avatar{position:relative;@extend %is-radius-rounded;
		.num{background-color:#e1e5ea;display:flex;justify-content:center;align-items:center;border-radius:100%;text-align:center;color:$primary;font-size:11px;font-weight:500}
	}
	.avatar--s{@include size(24px);line-height:24px}
	.avatar--m{@include size(36px);line-height:36px}
	.avatar--l{@include size(44px);line-height:44px}
	.avatar-img{@include position(absolute,0 null null 0);z-index:1;@include size(100%);@extend %backgroundCover--center;@extend %is-radius-rounded;}

	/* Status */ 
	.status{position:relative;padding-left:$gutter/1.5;color:$text;font-size:$size-normal;
		&:before{@include position(absolute, 6px null null 0);content:"";background-color:$grey;@include size(8px);@extend %is-radius-rounded;}
		&.is-success{
			&:before{background-color:$success}
		}
		&.is-warning{
			&:before{background-color:$warning}
		}
		&.is-danger{
			&:before{background-color:$danger}
		}
		&.is-info{
			&:before{background-color:$info}
		}
		&.is-draft{
			&:before{background-color:$grey}
		}
	}
	/* type template */
	.type-template{position:relative;padding-left:$gutter/1.5;color:$text;font-size:$size-small;
		&:before{@include position(absolute, 4px null null -4px);content:"";background-color:$grey;@include size(10px);@extend %is-radius-rounded;}
		&.is-s1{
			&:before{background-color:$color-table-1}
		}
		&.is-s2{
			&:before{background-color:$color-table-2}
		}
		&.is-s3{
			&:before{background-color:$color-table-3}
		}
		&.is-s4{
			&:before{background-color:$color-table-4}
		}
		&.is-s5{
			&:before{background-color:$color-table-5}
		}
		&.is-s6{
			&:before{background-color:$color-table-6}
		}
		&.is-s7{
			&:before{background-color:$color-table-7}
		}
		&.is-s8{
			&:before{background-color:$color-table-8}
		}
		&.is-s9{
			&:before{background-color:$color-table-9}
		}
		&.is-s10{
			&:before{background-color:$color-table-10}
		}
		&.is-s11{
			&:before{background-color:$color-table-11}
		}
		&.is-s12{
			&:before{background-color:$color-table-12}
		}
		&.is-s13{
			&:before{background-color:$color-table-13}
		}
		&.is-s14{
			&:before{background-color:$color-table-14}
		}
		&.is-s15{
			&:before{background-color:$color-table-15}
		}
		&.is-s16{
			&:before{background-color:$color-table-16}
		}
		&.is-s17{
			&:before{background-color:$color-table-17}
		}
		&.is-s18{
			&:before{background-color:$color-table-18}
		}
		&.is-other{
			&:before{background-color:$color-table-other}
		}
		&.is-default{
			&:before{background-color:$color-table-default}
		}
	}
	/* Input file Container */
	.inputfile-container{@include position(absolute,0 null null 0);@include size(100%);
		.inputfile{@include size(0.1px);opacity:0;overflow:hidden;position:absolute;z-index:-1}
		.inputfile + label{display:block;position:relative;z-index:10;@include size(100%);cursor:pointer}
		.inputfile:focus + label, .inputfile + label:hover{}
	}

	/* Switch */
	.switch{position:relative;display:inline-block;@include size(40px, 24px);
		input{opacity:0;width:0;height:0}
		.slider{@include position(absolute, 0);background-color:#D7E1EA;cursor:pointer;transition:.4s;
			&:before{@include position(absolute, null null 4px 4px);content:"";background-color:white;@include size(16px);transition:.4s;box-shadow:0 2px 2px rgba(0, 0, 0, 0.2)}
		}
		input:checked + .slider{background-color:$primary}
		input:checked + .slider:before{transform:translateX(16px)}
		.slider.round{border-radius:34px}
		.slider.round:before{border-radius:50%}
	}
	/* Custom Radio */
	[type="radio"]:checked,[type="radio"]:not(:checked){position:absolute;left:-9999px}
	[type="radio"]:checked + label,[type="radio"]:not(:checked) + label{position:relative;display:inline-block;padding-left:24px;cursor:pointer;color:$text;font-size:$size-normal;line-height:1}
	[type="radio"]:checked + label:before,[type="radio"]:not(:checked) + label:before{@include position(absolute, 50% null null 0);content:"";background:#fff;@include size(16px);margin-top:-8px;border:1px solid $primary;border-radius:100%;}
	[type="radio"]:checked + label:after,[type="radio"]:not(:checked) + label:after{@include position(absolute, 50% null null 4px);content:"";background:$primary;@include size(8px);margin-top:-4px;border-radius:100%;transition:all 0.2s ease}
	[type="radio"]:not(:checked) + label:after{opacity:0;transform:scale(0)}
	[type="radio"]:checked + label:after{opacity:1;transform:scale(1)}
	[type="radio"]:checked + label:after{opacity:1;transform:scale(1)}
	[type="radio"]:not(:checked) + label:before{background:transparent;border-color:$grey-light}

	/* Custom Checkbox */
	[type="checkbox"]:checked,[type="checkbox"]:not(:checked){position:absolute;left:-9999px}
	[type="checkbox"]:checked + label,[type="checkbox"]:not(:checked) + label{position:relative;display:inline-block;padding-left:24px;cursor:pointer;color:$text;font-size:$size-normal;line-height:1}
	[type="checkbox"]:checked + label:before,[type="checkbox"]:not(:checked) + label:before{@include position(absolute, 50% null null 0);content:"";background:$primary;@include size(16px);margin-top:-8px;border:1px solid $primary;border-radius:4px}
	[type="checkbox"]:checked + label:after,[type="checkbox"]:not(:checked) + label:after{@include position(absolute, 50% null null 0);content:"\ea0a";@include size(16px);margin-top:-7px;@include padding(null 2px);color:$white;font-size:0.75rem;font-family:$font-icon;transition:all 0.2s ease}
	[type="checkbox"]:not(:checked) + label:after{opacity:0;transform:scale(0)}
	[type="checkbox"]:checked + label:after{opacity:1;transform:scale(1)}
	[type="checkbox"]:not(:checked) + label:before{background:transparent;border-color:$grey-light}

	/* Input group */
	.input-group{display:block;position:relative;margin-bottom:8px;
		label.label-custom{display:block;position:relative;z-index:2;background-color:$grey-lighter;width:100%;@include padding(14px 12px);@extend %is-radius;cursor:pointer;overflow:hidden;
			&:before{display:none}
			&:after{display:none}
			span{display:block;color:$text;font-size:$size-normal;font-weight:$weight-semibold}
			&.is-oa{display:flex;align-items:center;@include padding(8px null);
				.avatar{flex-shrink:0;margin-right:$gutter/2}
			}
		}
		input:checked ~ label{background-color:$white;box-shadow:0 0 0 2px $primary;
			//&:after{display:block}
		}
		input{display:none}
	}

	/* Custom heading */
	.heading{margin-bottom:1.5rem;
		.dropdown-oa{
			.button{position:relative;@include padding(null 1.5rem null 0.875rem);
				&:before{@include position(absolute, 12px 6px null null);content:"\ea34";color:$text;font-family:$font-icon;font-size:0.875rem}
				&:hover{background-color:$grey-lighter;color:inherit;border-color:$grey-lighter}
				.name-oa{max-width:150px;}
			}
			.avatar{flex-shrink:0;margin-right:8px}
			.is-oa{display:flex;align-items:center;
				.name-oa{max-width:162px;}
			}
		}
	}

	/* Custom Tag */ 
	.tag{
		strong{font-weight:$weight-semibold;
			&.is-value{margin-left:6px;color:$primary;}
		}
		.tag-link{display:flex;align-items:center;height:100%;color:inherit}
	}

	/* Custom Dropdown */
	.select .dropdown-toggle{@include position(absolute, 0);z-index:1;cursor:pointer;}
	.dropdown{display:inline-block;position:relative;
		&.is-show{
			.dropdown-menu{display:block}
		}
		::-webkit-scrollbar{@include size(6px)}
		::-webkit-scrollbar-track{box-shadow:inset 0 0 5px #e4edf4;border-radius:20px;}
		::-webkit-scrollbar-thumb{background:rgba($grey, 0.5);border-radius:20px;}
		::-webkit-scrollbar-thumb:hover{background:$grey}
	}
	.dropdown-menu{display:none;position:absolute;z-index:1001;background-color:$white;min-width:176px;max-height:245px;margin-top:4px;margin-bottom:4px;border:1px solid $grey-light;@extend %is-radius;@extend %is-shadow-4;overflow-y:auto;
		&.is-right{right:0!important;left:inherit!important}
		&.is-nav{left:-130px!important;width:980px;
			.nav-list{width:19%;
				&:last-child{width:24%;}
				ul li{white-space:inherit;}
			}
			@include widescreen{left:0!important;width:1140px;
				.nav-list{width:20%;
					&:last-child{width:20%}
				}
			}
		}
		&.is-notification{width:360px;max-height:inherit;overflow-y:hidden;
			.content-tab{display:flex;flex-direction:column;padding-bottom:40px;
				ul{max-height:300px;overflow-y:auto;}
			}
			.actions{background-color:$white;@include position(absolute, null 0 0 0);z-index:1;}
		}
		&.is-support{width:220px}
		&.is-budget{width:350px;
			ul{width:150px}
			.budget-inline{background-color:$grey-lightest;width:200px;@include padding(1rem);border-radius:0 8px 8px 0;
				span.label-budget{display:block;margin-bottom:2px;color:tint($grey, 30%);font-size:10px;}
				span.c-budget{display:block;margin-bottom:8px;color:$text;font-size:$size-normal;
					strong{color:$success;font-size:$size-medium;font-weight:$weight-semibold}
				}
				.percent-cash{margin-top:6px;margin-bottom:1rem;
					.line-percent-cash{position:relative;background-color:$grey-lighter;@include size(100%, 4px);margin-bottom:4px;@extend %is-radius-rounded;
						span{@include position(absolute, 0 null null 0);background-color:$primary;height:4px;@extend %is-radius-rounded;}
					}
					.line-percent-value{display:flex;align-items:center;justify-content:space-between;
						span{color:$text;font-size:10px}
					}
				}
			}
		}
		> .subtitle-dropdown:first-child{margin-top:($gutter/2)}
		.subtitle-dropdown{display:block;@include padding(4px ($gutter/2));color:tint($grey, 30%);font-size:$size-small;}
		.subtitle-dropdown + ul li a{padding-left:28px}
		ul{
			li{margin-bottom:-8px;@include padding(4px);white-space:nowrap;
				&:last-child{margin-bottom:0}
				a{display:block;@include padding(7px ($gutter/2));color:$text;font-size:$size-normal;@extend %is-radius;
					[class^=icz]{position:relative;top:1px;@include size(14px);@include padding(1px);font-size:0.875rem}
					&:hover{background-color:$background-primary;color:$primary}
				}
			}
		}
		.nav-list{@include padding(1rem null);
			&:last-child{background-color:$grey-lightest;border-radius:0 8px 8px 0;}
			span.subtitle-nav{display:block;@include padding(null 1.25rem);color:tint($grey, 30%);font-size:$size-small;}
		}
		.tab-in-dropdown{display:flex;align-items:center;@include padding(null 1rem);border-bottom:1px solid $border;
			a.tab-item{position:relative;margin-right:$gutter;@include padding(1rem null);color:tint($grey, 30%);font-size:$size-small;
				&.is-active{color:$primary;font-weight:$weight-semibold;
					&:before{@include position(absolute, null 0 -1px 0);content:"";background-color:$primary;height:2px;}
				}
				&:hover{color:$grey}
			}
			a.func-setting{@include size(36px);margin-left:auto;margin-right:-10px;@include padding(10px);
				[class^=icz]{display:block;@include size(16px);@include padding(0);color:$text;font-size:1rem}
				&:hover{
					[class^=icz]{color:$primary}
				}
			}
		}
		.content-tab{
			ul{@include padding(8px);
				li{position:relative;@include padding(0);white-space:inherit;
					>a{display:flex;position:relative;@include padding(8px);
						.img{flex-shrink:0;@include size(44px);margin-right:8px;@extend %backgroundCover--center;@extend %is-radius;}
						.desc{padding-right:1rem}
						p{color:$text;font-size:$size-normal;line-height:20px;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;display:block;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-break:break-word;
							strong{color:$primary;font-weight:$weight-semibold;}
						}
						span{
							&.is-timer{display:block;color:tint($grey, 30%);font-size:10px}
							&.is-cta{display:block;margin-top:8px;color:$link;font-size:$size-small}
						}
						&:hover{font-weight:inherit}
					}
					&.is-new{
						.func-read{display:block;}
					}
					.func-read{display:none;@include position(absolute, 4px 4px null null);@include size(16px);@include padding(4px);
						&:hover{background-color:transparent}
						i{display:block;background-color:$primary;@include size(8px);border-radius:100%}
					}
				}
			}
			.actions{display:flex;justify-content:space-between;@include padding(null 1rem);border-top:1px solid $border;
				a{display:block;@include padding(10px null);font-size:$size-small}
			}
		}
	}

	/* Custom Button */ 
	.button{
		&.is-add{border:1px dashed $grey-light;
			&:hover{background-color:$grey-lighter}
		}
		&.is-white.has-text-link:hover{background:none}
	}

	/* Custom Control */ 
	.control{
		&.is-daterange{width:220px}
	}

	/* Hidden */ 
	.feature-hidden{position:relative;background-color:$grey-lighter;@include padding(2px 4px);color:$grey;font-size:62.5%;border:1px dashed $grey-light;border-radius:8px}

	/* Tippy */
	.tippy-box{background:$text;color:$white;font-size:10px;font-weight:$weight-semibold;pointer-events:auto;
		.dropdown-menu{display:block;min-width:140px;margin-top:-12px}
		&[data-theme="tomato"]{background:transparent;
			.dropdown-menu{margin-left:-20px}
		}
		.tippy-arrow:before{border-top-color:$text!important}
		*{pointer-events:initial}
	}

	/* Ico */
	.ico-new{display:inline-block;background:url(../images/v2/label_new_v2.png) 0 0 no-repeat;background-size:cover;@include size(30px, 16px);vertical-align:middle;}
