// Core variables and mixins bourbon
@import "bourbon";
// Animation
.ico-success{
	&.is-active-ico{
		@keyframes outline{
			from{
				stroke-dasharray:0, 345.576px;
			}
			to{
				stroke-dasharray:345.576px, 345.576px;
			}
		}
		#outline{
			animation:.38s ease-in outline;
			transform:rotate(0deg);
			transform-origin:center;
		}
		
		@keyframes circle{
			from{
				transform:scale(1);
			}
			to{
				transform:scale(0);
			}
		}
		#white-circle{
			animation:.35s ease-in .35s forwards circle;
			transform:none;
			transform-origin:center;
		}
		
		@keyframes check{
			from{
				stroke-dasharray:0, 75px;
			}
			to{
				stroke-dasharray:75px, 75px;
			}
		}
		#check{
			animation:0.34s cubic-bezier(0.65, 0, 1, 1) 0.8s forwards check;
			stroke-dasharray:0, 75px;
		}
	}
	
	
	@keyframes check-group{
		from{
			transform:scale(1);
		}
		50%{
			transform:scale(1.09);
		}
		to{
			transform:scale(1);
		}
	}
	#check-group{
		animation:.32s ease-in-out 1.03s check-group;
		transform-origin:center;
	}
}

	

// Modal
.bl-modal{display:block;z-index:-1;opacity:0;visibility:hidden;@include position(fixed, 0);@extend %tr-all;background-color:#242E42;overflow:hidden;
	&.is-hidden{z-index:-1!important;opacity:0!important;visibility:hidden!important;}
}

.overlay-modal{overflow:hidden;
	body{overflow-y:scroll}
}
.overlay-modal{
	.bl-modal{z-index:1002;opacity:1;visibility:visible;@extend %tr-all;
		.modal-container{
			&.is-show{top:0%;transition:all 0.35s ease;}
		}
	}
}

.bl-modal{
	.modal-container{@include position(absolute, null);top:-100%;background:#242E42;
		
		.bl-modal-heading{
			.func-close-modal{flex-shrink:0;@include size(50px);color:$grey-light;@include position(absolute, 36px 36px null null);
				[class^=icz]{display:inline-block;@include size(50px);@include padding(7px);font-size:2rem;vertical-align:middle}
				&:hover{color:$grey}
			}
		}
		.bl-modal-context{min-height:70px;
			.context-modal{@extend %tr-all;
				&.is-hide{transform:scale(0);position:absolute;z-index:-1;}
			}
			.context-register{width:100%;display:flex;flex-direction:column;align-items:center;justify-content:center;background-color:$white;@include padding(48px);
				.head{
					.ico-success{display:block;@include size(78px);@include margin(null auto);}
					
					h2{font-size:$size-xlarge;line-height:36px;font-weight:$weight-bold;color:$text;margin-top:24px;text-align:center;}
					p{color:$text;font-size:$size-normal;line-height:22px;max-width:576px;@include margin(14px auto 24px);text-align:center;}
				}
				.body{width:100%;
					.form-register{display:flex;flex-wrap:wrap;@include margin(null -10px);
						.field{width:50%;@include padding(null 10px);
							&:nth-last-child(2){width:100%}
							&:last-child{position:relative;width:100%;text-align:center;margin-top:8px;
								.func-back-form{@include position(absolute, 10px null null 10px);display:flex;align-items:center;color:inherit;
									[class^="icz"]{color:$text;margin-right:8px;font-size:0.875rem;}
									span{font-size:$size-medium;display:block;line-height:24px;color:$text;}
								}
							}
						}
					}
					.field{
						.button{
							[class^="icz"]{margin-right:10px;}
						}
						.help{display:none;}
						.control{position:relative;height:54px;background-color:$white;border-radius:$radius-small;padding-top:14px;border:1px solid #DCE1E7;
							input{border-color:transparent;box-shadow:none;padding-right:15px;padding-left:15px;font-size:$size-medium;font-weight:$weight-semibold;color:$text;width:98%;@include position(absolute, null 1px 1px 1px);height:35px;}
							.label{@include position(absolute, 14px null null 16px);font-size:$size-medium;font-weight:$weight-normal;color:#989EA5;@extend %tr-all;pointer-events:none;}
							input:not(:focus):valid ~ .label,input:focus ~ .label{top:5px;font-size:$size-normal;}
							&.is-invalid{border:1px solid $danger;}
							&.is-focus{border:1px solid #1744CF;box-shadow:0 0 4px rgb(23,68,207,0.5);}
						}
						.control.is-invalid + .help{display:block;}
					}
				}
			}
			.context-send-template{display:flex;
				.col-right{background-color:$white;@include padding(100px);flex-grow:1;
					.head{color:$text;font-size:$size-xlarge;font-weight:$weight-bold;line-height:36px;margin-bottom:16px;
					}
					.text{color:#5F656D;font-size:$size-normal;line-height:22px;letter-spacing:-0.22px;margin-bottom:16px;}
					.body{
						.form-send-template{
							.field{
								.button{margin-top:8px;width:100%;
									[class^="icz"]{margin-right:10px;}
								}
								.help{display:none;}
								.control{position:relative;height:54px;background-color:$white;border-radius:$radius-small;padding-top:14px;border:1px solid #DCE1E7;
									input{border-color:transparent;box-shadow:none;padding-right:15px;padding-left:15px;font-size:$size-medium;font-weight:$weight-semibold;color:$text;width:98%;@include position(absolute, null 1px 1px 1px);height:35px;}
									.label{@include position(absolute, 14px null null 16px);font-size:$size-medium;font-weight:$weight-normal;color:#989EA5;@extend %tr-all;pointer-events:none;}
									input:not(:focus):valid ~ .label,input:focus ~ .label{top:5px;font-size:$size-normal;}
									&.is-invalid{border:1px solid $danger;}
									&.is-focus{border:1px solid #1744CF;box-shadow:0 0 4px rgb(23,68,207,0.5);}
								}
								.control.is-invalid + .help{display:block;}
							}
						}
					}

				}
				.col-left{background-image:url(../images/img_bg_send_template.png);@extend %backgroundCover--center;@include size(276px, auto);@include padding(110px 36px);
					.head{color:$white;font-size:$size-medium;font-weight:$weight-semibold;line-height:24px;margin-bottom:20px;
					}
					.body{
						.list{
							.item{display:flex;align-items:center;margin-bottom:12px;
								[class^="icz"]{color:$success;background-color:$white;border-radius:50%;@include size(12px);font-size:0.75rem;@include padding(0);flex-shrink:0;margin-right:12px}
								span{display:block;font-size:$size-small;color:$white;line-height:18px;}
								&:last-child{margin-bottom:0;}
							}
						}
					}
				}
			}
		}
		&#modal-form{@include size(100%);overflow-y:auto;
			.bl-modal-context{@include margin(15vh auto);
				@include from($tablet){max-width:778px;@include margin(null auto);
				}
			}
		}
	}
}

// Popup
.bl-popup{display:block;z-index:-1;opacity:0;visibility:hidden;@include position(fixed, 0);@extend %tr-all;background-color:rgba(36, 46, 66, 0.85);overflow-y:scroll;
	&.is-hidden{z-index:-1!important;opacity:0!important;visibility:hidden!important;}
}
.overlay-popup{height:100%;overflow:hidden;}
.overlay-popup{
	.page-content{height:100%;overflow:hidden;transition:all 0.5s;}
	.bl-popup{z-index:1001;opacity:1;visibility:visible;@extend %tr-all;
		.popup-container{
			&.is-show{z-index:1;opacity:1;@extend %tr-all;}
		}
	}
}
.bl-popup{@include padding($gap);
	.popup-container{opacity:0;}
}
.popup-container{background-color:#fff;min-width:960px;max-width:1280px;min-height:100%;@include margin(null auto);@extend %is-radius;overflow:hidden;
	.bl-popup-heading{display:flex;align-items:center;position:relative;background-color:$white;height:50px;@include padding(null $gutter);border-bottom:1px solid $border;text-align:center;border-top-left-radius:$gutter;border-top-right-radius:$gutter;
		span{color:$text;font-size:$size-large;font-weight:$weight-semibold}
		[class^=func-]{@include position(absolute, 0 0 null null);@include size(50px);color:$grey-light;
			[class^=icz]{display:inline-block;@include size(50px);@include padding(14px);font-size:1.325rem;vertical-align:middle}
			&:hover{color:$grey}
		}
	}
	.bl-popup-context{position:relative}
}

// responsive
@media(max-width:1023px){
	.bl-modal{
		.modal-container{
			.bl-modal-heading{
				.func-close-modal{top:20px;right:20px;@include size(24px);
					[class^="icz"]{font-size:1.5rem;@include size(24px);@include padding(0);}
				}
			}
			.bl-modal-context{margin:10vh 24px !important;
				.context-modal{
					&.context-send-template{
						.col-left{display:none;}
						.col-right{@include padding(24px);
							.head{text-align:center;}
							.text{text-align:center;font-size:0.813em;}
							.form-send-template{
								.field{
									.control{height:44px;
										input{height:26px;font-size:$size-normal}
										.label{top:11px;font-size:$size-normal;}
										input:not(:focus):valid ~ .label,input:focus ~ .label{top:3px;font-size:$size-small;}
									}
								}
							}
						}
					}
					&.context-register{@include padding(24px);
						.head{
							[class^="icz"]{@include size(48px);font-size:3rem;}
							h2{font-size:$size-large;color:$text;margin-top:16px;text-align:center;}
							p{color:$text;font-size:$size-normal;line-height:22px;}
						}
						.body{
							.form-register{
								.field{width:100%;
									.func-back-form{position:inherit;left:inherit;top:inherit;justify-content:center;margin-top:16px;@include padding(16px null)}
									.control{height:44px;
										input{height:26px;font-size:$size-normal}
										.label{top:11px;font-size:$size-normal;}
										input:not(:focus):valid ~ .label,input:focus ~ .label{top:3px;font-size:$size-small;}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}