// Core variables and mixins bourbon
@import "bourbon";

/* Body */
$background-color:$white;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
html{-webkit-font-smoothing:antialiased;background-color:$background-color; scroll-behavior:smooth;}
body{background:$background-color;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%;font-display:swap;overflow-x:auto;
	@media only screen and (max-width:414px){font-size:calc(100% + 1 * (100vw - 360px)/ 39)}
}
body, html{height:100%;
	@include from($tablet){height:auto}
}
.context{max-width:1004px;@include padding(null 12px);@include margin(null auto);}

.header{box-shadow:0 16px 32px rgba(67,86,100,0.17);@include padding(16px null);@include position(fixed, -100% 0 null 0);width:100%;z-index:200;background-color:$white;@extend %tr-all;
	.context{display:flex;align-items:center;justify-content:center;
		.logo-zad{display:block;background:url(../images/img_logo_zad.png) 0 0 no-repeat;background-size:cover;@include size(122px, 24px);}
		.group-cta{flex-shrink:0;margin-left:auto;display:flex;
			.button{border-radius:32px;
				&.is-outlined{border-color:$primary;color:$primary;margin-right:12px;display:none;}
			}
		}
	}
	&.is-fixed{top:0;}
	@include from($desktop){
		.context{justify-content:space-between;
			.logo-zad{display:block;@include size(162px, 32px);}
			.group-cta{
				.button{
					&.is-outlined{display:inherit;}
				}
			}
		}
	}
}
.section-hero{position:relative;background-image:url(../images/img_hero_mobile.png);@extend %backgroundCover--center;height:600px;margin-bottom:480px;
	.context{display:flex;align-items:center;justify-content:center;position:relative;z-index:2;height:100%;
		.col-left{
			.logo{display:block;background:url(../images/img_logo.png) 0 0 no-repeat;background-size:cover;@include size(260px, 52px);@include margin(null auto 48px);}
			.text{max-width:280px;margin-bottom:48px;color:$white;font-weight:$weight-semibold;font-size:$size-medium;line-height:24px;text-align:center;}
			.group-cta{display:block;max-width:250px;@include margin(null auto);
				.button{display:block;
					&.is-outlined{background-color:transparent;border-color:$white;color:$white;position:relative;overflow:hidden;
						&:after{content:'';background-color:rgba(255,255,255,0.6);border:1px solid $white;width:40px;height:100px;@include position(absolute,-25px null 0 -50px);z-index:0;opacity:0.4;transition:all 300ms ease-in;transform:rotate(30deg);}
						&:hover{
							&:after{
								left:200px;
								// transform:translateX(0);
							}
						}
					}
				}
				.button:not(:last-child){margin-bottom:16px;}
			}
		}
		.col-right{@include position(absolute, 510px 0 null 0);@include margin(null auto);padding-bottom:50px;
			.img-mockup-main{display:block;background:url(../images/img_mockup.png) 0 0 no-repeat;background-size:cover;@include size(274px, 552px);@include margin(null auto);}
			.content-mockup-inside{@include position(absolute, 10px 12px 60px 12px);z-index:3;max-width:250px;margin:0 auto;box-shadow:0px 6px 32px rgba(0,0,0,.18);border-radius:20px;
				&:after{content:'';@include position(absolute, 0 0 null 0);z-index:11;@include size(106px, 22px);background-image:url(../images/img_taitho.png);background-size:106px 22px;background-repeat:no-repeat;@include margin(null auto);}
				&:before{content:'';@include position(absolute, null 0 10px 0);z-index:11;@include size(83px, 5px);background-color:#2C2E30;border-radius:3px;@include margin(null auto);}
				.swiper-pagination{right:0;left:0;bottom:-45px;@include margin(null auto);
					.swiper-pagination-bullet{background-color:$grey-light;opacity:0.5;@include size(8px);@include margin(0 5px);border-radius:50%}
					.swiper-pagination-bullet-active{position:relative;background-color:$primary;@include size(8px);opacity:1;}
				}
				.swiper-mockup{overflow:hidden;border-radius:28px;background-color:#3E8EF4;
					.swiper-wrapper{
						.swiper-slide{
							.item-mockup{display:block;
								.img-mockup{display:block;@extend %backgroundCover--center;
									&.is-mockup1{background-image:url(../images/img_content_mockup1.png)}
									&.is-mockup2{background-image:url(../images/img_content_mockup2.png)}
									&.is-mockup3{background-image:url(../images/img_content_mockup3.png)}
									&:after{content:'';display:block;padding-top:532px;}
								}
							}
						}
					}
				}
			}
		}
	}
	@include from($desktop){background-image:url(../images/img_hero.png);height:580px;margin-bottom:64px;
		.context{justify-content:space-between;
			.col-left{flex-grow:1;min-width:0;
				.logo{width:362px;height:72px;margin:inherit;margin-bottom:36px;}
				.text{font-size:$size-large;line-height:32px;text-align:left;max-width:500px;}
				.group-cta{display:flex;max-width:inherit;
					.button{
						&:first-child{margin-right:1rem;}
					}
				}
			}
			.col-right{position:relative;top:inherit;right:inherit;left:inherit;bottom:inherit;padding-bottom:0;margin-top:70px;margin-right:40px;flex-shrink:0;box-shadow: 0px 6px 32px rgba(0,0,0,0.18);border-radius:50px;
				.img-mockup-main{@include size(288px, 580px)}
				.content-mockup-inside{bottom:10px;max-width:264px;
					.swiper-pagination{right:0;left:0;bottom:50%;margin-right:-354px;transform:rotate(90deg);
						.swiper-pagination-bullet{background-color:$white;opacity:0.5;@include size(12px);@include margin(0 7px);border-radius:50%;
							&:focus{outline:none;}
						}
						.swiper-pagination-bullet-active{position:relative;background-color:$white;@include size(12px);opacity:1;}
					}
					.swiper-mockup{border-radius:32px;
						.swiper-wrapper{
							.swiper-slide{
								.item-mockup{
									.img-mockup{
										&:after{padding-top:562px;}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
.section-about{padding-top:80px;position:relative;
	.img-about{display:none;}
	.context{
		.about-box{background-image:url(../images/img_box_mb.png);border:1px solid #ABBFFD;box-shadow:0px 12px 24px rgba(67,86,100,0.17);@extend %backgroundCover--center;@include padding(16px);
			.text{color:$primary;font-size:$size-large;font-weight:$weight-semibold;text-align:center;line-height:28px;}
		}
		.about-benefit{@include margin(80px null);
			.head{font-size:$size-xlarge;font-weight:$weight-bold;line-height:36px;text-align:center;margin-bottom:36px;color:$text;}
			.list{
				.item{margin-bottom:36px;
					.bullet{display:block;background-color:$primary;@include size(14px);@include margin(null auto 16px);}
					.title{display:block;font-size:$size-large;font-weight:$weight-semibold;line-height:28px;color:$text;text-align:center;margin-bottom:16px;}
					.desc{display:block;font-size:$size-medium;color:$grey;line-height:24px;max-width:250px;@include margin(null auto);text-align:center;}
					&:last-child{margin-bottom:0;}
				}
			}
		}
	}
	@include from($tablet){padding-top:0;
		.context{
			.about-benefit{
				.head{max-width:500px;margin-left:auto;margin-right:auto;}
				.list{display:flex;justify-content:space-between;flex-wrap:wrap;
					.item{width:48%;
						.bullet{@include size(16px);}
						.title{font-size:$size-xlarge;line-height:36px}
						.desc{max-width:300px;}
						&:last-child{width:100%;margin-bottom:0;
						}
						
					}
				}
			}
		}
	}
	@include from($desktop){padding-top:0;
		.img-about{display:block;margin-top:48px;background:url(../images/img_bg_about.png) center center no-repeat;background-size:cover;@include size(100%, 350px)}
		.context{
			.about-box{background-image:url(../images/img_box_pc.png);border-color:#CDD2DD;@include padding(24px 85px);
				.text{color:$text;font-size:$size-xlarge;font-weight:$weight-bold;line-height:36px;}
			}
			.about-benefit{@include margin(120px null 100px);
				.head{font-size:2.25em;font-weight:$weight-bold;line-height:48px;max-width:696px;@include margin(null auto 64px);}
				.list{display:flex;justify-content:space-between;
					.item{width:inherit;margin-bottom:0;
						.bullet{margin-bottom:32px;}
						.title{font-size:$size-xlarge;font-weight:$weight-bold;line-height:36px;}
						.desc{max-width:315px;}
						&:first-child{
							.desc{max-width:275px;}
						}
						&:last-child{width:inherit;
						}
					}
				}
			}
		}
	}
}
.section-type-template{position:relative;background-color:#f0f5fa;overflow:hidden;
	&:after{content:'';@include position(absolute, -245px null null 48px);@include size(370px);border:4px solid $white;opacity:0.64;border-radius:50%;z-index:1;}
	.context{@include padding(80px null);z-index:2;position:relative;
		.thumb-content{@include padding(null 12px);
			.head{font-size:$size-xlarge;font-weight:$weight-bold;line-height:36px;text-align:center;margin-bottom:24px;color:$text;}
			.swiper-container{@include margin(null -12px);padding-left:12px;
				.swiper-wrapper{
					.swiper-slide{color:$grey;font-size:$size-large;font-weight:$weight-semibold;
						&.swiper-slide-active{color:$primary;}
					}
				}
			}
			.gallery-top-desktop{display:none;}
			.swiper-pagination{position:relative;
				&.pagination-control-desktop{display:flex;flex-direction:column;
					.swiper-pagination-bullet{color:$grey;font-size:$size-large;font-weight:$weight-semibold;line-height:28px;@include padding(12px 30px);position:relative;@include size(288px, auto);text-align:left;border-radius:none;background:none;border-radius:0 26px 26px 0;opacity:1;user-select:none;
						&:focus{outline:none;}
					}
					.swiper-pagination-bullet-active{color:$primary;background-color:#E5EFFF;
						&:after{content:'';@include position(absolute, 0 null 0 0);z-index:2;background-color:$primary;width:3px;}
					}
				}
				&:after{content:'';@include position(absolute, 0 null 0 0);z-index:1;background-color:#C0C8D3;width:1px;}
			}
		}
		.template-content{margin-top:24px;position:relative;padding-bottom:35px;
			.img{display:block;background-position:0 0;background-repeat:no-repeat;background-size:cover;@include margin(null auto);box-shadow:$shadow-1;
				&.is-img1{background-image:url(../images/img_type_template_1.png);@include size(340px, 316px)}
				&.is-img2{background-image:url(../images/img_type_template_2.png);@include size(340px, 316px)}
				&.is-img3{background-image:url(../images/img_type_template_3.png);@include size(340px, 181px)}
			}
			.desc{font-size:$size-medium;color:$text;line-height:24px;margin-top:24px;@include padding(null 18px);}
			.swiper-pagination{right:0;left:0;bottom:0;@include margin(null auto);
				&#template-pagination{
					.swiper-pagination-bullet{background-color:$grey-light;opacity:0.5;@include size(8px);@include margin(0 5px);border-radius:50%}
					.swiper-pagination-bullet-active{position:relative;background-color:$primary;@include size(8px);opacity:1;}
				}
			}
		}
	}
	@include from($tablet){padding-top:0;
		&:after{content:'';@include position(absolute,0 0 null 0);@include size(680px);border:4px solid $white;opacity:0.64;border-radius:50%;z-index:1;@include margin(null auto);transform:translate(15%, -60%);}
		.context{
			.thumb-content{width:375px;@include margin(null auto);@include padding(0)}
			.template-content{
				.img{box-shadow:$shadow-4;
					&.is-img1{@include size(375px, 349px)}
					&.is-img2{@include size(375px, 348px)}
					&.is-img3{@include size(375px, 200px)}
				}
				.desc{max-width:375px;@include margin(24px auto null);}
			}
		}
	}
	@include from($desktop){
		.context{@include padding(100px null);display:flex;
			.thumb-content{order:2;flex-grow:1;width:530px;@include padding(0);
				.head{font-size:2.25em;font-weight:$weight-bold;line-height:48px;margin-bottom:16px;text-align:left;}
				.gallery-thumbs{display:none;}
				.gallery-top-desktop{display:block;margin-bottom:32px;
					.swiper-wrapper{
						.swiper-slide{
							.desc{font-size:$size-medium;color:$text;line-height:24px;max-width:500px;word-break:break-word;}
						}
					}
				}
			}
			.template-content{order:1;max-width:375px;flex-shrink:0;margin-right:74px;margin-top:0;
				.img, .desc{@include padding(0)}
				.swiper-pagination{
					&#template-pagination{display:none;}
				}
				.swiper-container{overflow:inherit;
					.swiper-wrapper{
						.swiper-slide{
							.desc{display:none;}
						}
					}
				}
			}
		}
	}
}
.section-advantage{
	.context{@include padding(80px null);
		.head{font-size:$size-xlarge;font-weight:$weight-bold;line-height:36px;text-align:center;margin-bottom:36px;color:$text;}
		.list{
			.item{margin-bottom:48px;
				.img{display:block;background-color:$white;@extend %backgroundCover--center;@include size(72px);@include margin(null auto 24px);border-radius:50%;box-shadow:0px 16px 32px rgba(67,86,100,.17)}
				.title{display:block;font-size:$size-large;font-weight:$weight-semibold;line-height:28px;color:$text;text-align:center;margin-bottom:12px;}
				.desc{display:block;max-width:250px;@include margin(null auto);color:$grey;font-size:$size-medium;line-height:24px;text-align:center;}
				&:last-child{margin-bottom:0;}
			}
			li{
				&:nth-child(1) .img{background-image:url(../images/img_advantage_1.png)}
				&:nth-child(2) .img{background-image:url(../images/img_advantage_2.png)}
				&:nth-child(3) .img{background-image:url(../images/img_advantage_3.png)}
				&:nth-child(4) .img{background-image:url(../images/img_advantage_4.png)}
				&:nth-child(5) .img{background-image:url(../images/img_advantage_5.png)}
			}
		}
	}
	@include from($tablet){
		.context{
			.list{display:flex;justify-content:center;flex-wrap:wrap;
				.item{width:calc(100% / 3);@include padding(null 12px)}
			}
		}
	}
	@include from($desktop){
		.context{@include padding(100px null);
			.head{font-size:2.25em;font-weight:$weight-bold;line-height:48px;margin-bottom:64px;}
			.list{
				.item{
					.title{font-size:$size-xlarge;line-height:36px;}
					.desc{max-width:300px;}
					&:last-child, &:nth-last-child(2){margin-bottom:0;}
				}
			}
		}
	}
}
.section-register{position:relative;background-image:url(../images/img_bg_register_mb.png);@extend %backgroundCover--center;
	.context{@include padding(80px 36px);
		.head{color:$white;font-size:$size-xlarge;font-weight:$weight-bold;line-height:36px;text-align:center;margin-bottom:14px;}
		.text{margin-bottom:1.5rem;color:$white;font-size:$size-normal;text-align:center;line-height:22px;
			strong{font-weight:800;color:$white;font-size:$size-xlarge}
		}
		.notice{display:flex;max-width:300px;@include margin(24px auto null);
			[class^="icz"]{position:relative;top:3px;color:$white;@include size(1rem);font-size:1rem;flex-shrink:0;margin-right:8px;}
			.text{margin-bottom:0}
		}
		input{border:none;box-shadow:none;
			&:focus, &:hover, &:active, &:visited{border:none;box-shadow:none;}
		}
	}
	@include from($tablet){background-image:url(../images/img_bg_register.png);
		.context{@include padding(null $gutter);
			.text{font-size:$size-medium}
			.notice{max-width:680px}
		}
	}
	@include from($desktop){
		.context{@include padding(100px null);
			.head{font-size:2.25em;font-weight:$weight-bold;line-height:48px;margin-bottom:16px;}
			.form-register{max-width:730px;@include margin(36px auto null);}
		}
	}
}
.footer{background-color:#F2F6FB;@include padding(24px 18px);text-align:center;
	.text{font-size:$size-small;line-height:18px;
		@include from($tablet){font-size:$size-medium;line-height:24px;}
	}
}
.notice-submit-success{@include position(fixed, -100% 0 null 0);background-color:$success;z-index:1005;@extend %tr-all;
	.context-notice{display:flex;align-items:center;justify-content:center;@include padding(1rem);
		.content{display:flex;align-items:center;justify-content:center;max-width:980px;@include margin(null auto);
			[class^="icz"]{@include size(24px);color:$white;font-size:1.5rem;}
			span{margin-left:$gutter;color:$white;font-size:$size-normal;padding-right:30px;
				strong{display:block;color:$white;font-weight:$weight-bold}
			}
		}
		.func-close-notice{@include position(absolute, 50% 16px null null);@include size(32px);margin-top:-16px;@include padding(4px);
			[class^="icz"]{@include size(24px);@include padding(2px);color:$white;font-size:1.25rem;}
		}
	}
	&.is-active{top:0;}
	@include from($desktop){
		.context-notice{
			.content{
				span{font-size:$size-medium;padding-right:0;}
			}
		}
	}
}

.module-send-template{background-color:#242E42;min-height:100vh;display:flex;@include padding(40px null);flex-direction:column;justify-content:center;align-items:center;
	.func-back-index{@include position(fixed, 36px 36px null null);
		[class^="icz"]{color:$grey-light;@include size(2rem);font-size:2rem;
			&:hover{color:$grey}
		}
	}
	.logo-zad{display:block;background:url(../images/img_logo.png) 0 0 no-repeat;background-size:cover;@include size(186px, 37px);@include margin(null auto);
		@include from($tablet){@include size(242px, 48px);}
	}
	.context-modal{@extend %tr-all;
		&.is-hide{transform:scale(0);position:absolute;z-index:-1;}
	}
	.context-register{display:flex;flex-direction:column;width:778px;@include margin(40px auto null);align-items:center;justify-content:center;background-color:$white;@include padding(48px);@extend %is-radius;
		.head{
			.ico-success{display:block;@include size(78px);@include margin(null auto);}
			h2{margin-top:1rem;color:$text;font-size:$size-large;font-weight:$weight-bold;text-align:center;}
			p{max-width:576px;@include margin(14px auto 24px);color:$grey;font-size:$size-normal;line-height:22px;text-align:center;}
			@include from($desktop){
				h2{margin-top:1.5rem;font-size:$size-xlarge;line-height:36px}
			}
		}
		.body{width:100%}
	}
	.context-send-template{display:flex;width:778px;@include margin(40px auto null);@extend %is-radius;overflow:hidden;
		.col-right{background-color:$white;@include padding(100px);flex-grow:1;
			.head{color:$text;font-size:$size-xlarge;font-weight:$weight-bold;line-height:36px;margin-bottom:16px}
			.text{color:$grey;font-size:$size-normal;line-height:22px;letter-spacing:-0.22px;margin-bottom:16px;}
		}
		.col-left{background-image:url(../images/img_bg_send_template.png);@extend %backgroundCover--center;@include size(276px, auto);@include padding(70px 36px);
			.head{color:$white;font-size:$size-medium;font-weight:$weight-semibold;line-height:24px;margin-bottom:20px}
			.body{
				.list{
					.item{display:flex;align-items:center;margin-bottom:12px;
						[class^="icz"]{color:$success;background-color:$white;border-radius:50%;@include size(12px);font-size:0.75rem;@include padding(0);flex-shrink:0;margin-right:12px}
						span{display:block;font-size:$size-small;color:$white;line-height:18px;}
						&:last-child{margin-bottom:0;}
					}
				}
			}
		}
		@include until($desktop){width:100%;@include padding(null $gutter)}
	}
	@include until($desktop){
		.func-back-index{@include position(fixed, 18px 18px null null)}
		.context-register{@include padding(24px);@include margin(24px);width:inherit;max-width:100%;
			.head{
				[class^="icz"]{@include size(48px);font-size:3rem;}
				h2{font-size:$size-large;color:$text;margin-top:16px;text-align:center;}
				p{color:$grey;font-size:$size-normal;line-height:22px;}
			}
		}
		.context-send-template{
			.col-left{display:none;}
			.col-right{@include padding(24px);border-radius:8px;
				.head{text-align:center;}
				.text{text-align:center;font-size:0.813em;}
			}
		}
	}
}

// Field Custom
.form-register{display:flex;flex-wrap:wrap;
	.field{width:100%;
		.func-back-form{display:flex;align-items:center;justify-content:center;margin-top:1rem;color:inherit;@include padding(12px null);
			&:hover{
				[class^="icz"], span{color:$primary;}
			}
			[class^="icz"]{color:$text;margin-right:8px;font-size:0.875rem;}
			span{font-size:$size-medium;display:block;line-height:24px;color:$text;}
		}
	}
	@include from($desktop){@include margin(null -8px);
		.field{width:50%;@include padding(null 8px);
			&:nth-last-child(2){width:100%}
			&:last-child{position:relative;width:100%;margin-top:8px;
				.func-back-form{@include position(absolute, inherit null 0 10px);}
				.button{max-width:200px;}
			}
		}
	}
}
.field{
	.button{margin-top:8px;width:100%;
		[class^="icz"]{margin-right:10px;}
		&.is-outlined{background:transparent;border-color:$white;color:$white}
	}
	.help{display:none;}
	.control{position:relative;height:54px;background-color:$white;border-radius:$radius-small;
		input{@include position(absolute, 0);height:100%;@include padding(null 1rem);color:$text;font-size:$size-medium;font-weight:$weight-semibold;
			&:focus, &:not(:focus):valid, &.error, &.has-value{padding-top:24px;}
			&.error{border:1px solid $danger;}
		}
		.label{@include position(absolute, 14px null null 16px);color:$grey-light;font-size:$size-medium;font-weight:$weight-normal;pointer-events:none;transition:all 0.2s ease;}
		input:not(:focus):valid ~ .label, input:focus ~ .label, input.error ~ .label, input.has-value ~ .label{top:6px;font-size:$size-small}
		input.error ~ label{display:none}
		input.error ~ label.error{display:block;@include position(absolute, 6px null null 16px);color:$danger;font-size:$size-small;font-weight:$weight-normal;pointer-events:none;transition:all 0.2s ease;}
	}
	.control.is-invalid + .help{display:block;}
	@include until($desktop){
		.field{width:100%;
			.func-back-form{position:inherit;left:inherit;top:inherit;justify-content:center;margin-top:16px;@include padding(16px null)}
			.control{height:48px;
				input{@include padding(null 12px);height:26px;font-size:$size-normal}
				.label{top:13px;left:13px;font-size:$size-normal;}
				input:not(:focus):valid ~ .label,input:focus ~ .label{top:4px;font-size:$size-small;}
			}
		}
	}
}