// Core variables and mixins bourbon
@import "bourbon";

/*!
 * Layout
 * @author Lam Nguyen
 */

 /* Ellips */
.ellips-2{overflow:hidden;text-overflow:ellipsis;display:block;display:-webkit-box!important;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-break:break-word}

/* Avatar */
.avatar{position:relative;@extend %circle;
	.num{background-color:#e1e5ea;display:flex;justify-content:center;align-items:center;border-radius:100%;text-align:center;color:$color-base;font-size:11px;font-weight:500}
}
.avatar--s{@include size(24px);line-height:24px}
.avatar--m{@include size(48px);line-height:48px}
// .avatar--l{@include size(90px);line-height:90px}
// .avatar--xl{@include size(120px);line-height:120px}
.avatar-img{@include position(absolute,0 null null 0);z-index:1;@include size(100%);@extend %backgroundCover--center;border-radius:100%}

/* Button */
.btn{display:inline-block;position:relative;background-color:#fff;vertical-align:middle;cursor:pointer;white-space:nowrap;color:$color-base;font-weight:700;line-height:1.25;border:0;text-align:center;@extend %borderRadius--m;@extend %userSelect-none;text-transform:uppercase;box-shadow:inset 0 0 0 1px #999;
    &:hover{opacity:0.8}
	&.btn-primary{color:#fff;background-color:tint($color-main,30%);background-image:linear-gradient(to right, $color-main, tint($color-main,30%));box-shadow:none;
		&.disabled, &[disabled]{background-color:rgba(#D8D8D8,0.2) !important;opacity:1}
	}
	&.btn-outline-primary{color:$color-main;box-shadow:inset 0 0 0 1px $color-main}
    &.btn--s{height:33px;@include padding(10px 15px);font-size:0.688em}
	&.btn--m{height:44px;@include padding(14px 30px);font-size:0.813rem;
		@media only screen and (max-width : 349px){font-size:0.75rem}
	}
	&.btn--l{@include padding(14px 40px);font-size:0.938rem;
		@media only screen and (max-width : 349px){font-size:0.813rem}
	}
	&.btn-outline-danger{color:$color-error;background-color:#fff;box-shadow:inset 0 0 0 1px $color-error}
	&.btn-danger{color:#fff;background-color:$color-error;box-shadow:none}&:hover{opacity:0.95}
	&.btn-link{background-color:transparent;color:$color-main;box-shadow:none}
	&.is-shadow{
		&:before{@include position(absolute, 0);content:"";@extend %borderRadius--m;box-shadow:0 10px 20px rgba(0, 0, 0, 0.2)!important}
	}
	&.disabled, &[disabled]{cursor:not-allowed;pointer-events:none;background:#dedede;color:#848688;box-shadow:none}
	&.is-loading{padding-left:35px;cursor:not-allowed;pointer-events:none;opacity:0.65;
		&:before{@include position(absolute, 50% null null 10px);content:"";background:url(../images/loading.gif) 0 0 no-repeat;background-size:cover;@include size(20px);margin-top:-10px}
	}
	[class^=icn]{position:relative;top:-1px;@include size(16px);@include padding(0)}
}

/* Form */
input[type="radio"] + label, input[type="checkbox"] + label{@extend %userSelect-none}
input:not([type="checkbox"]),input:not([type="radio"]),input:not([type="submit"]), select, textarea{display:inline-block;background-color:#fff;width:100%;font-size:0.938rem;font-family:$primary-font;@extend %borderRadius--m;border:1px solid #e2e2e2;-webkit-appearance:none;
    &:focus{outline:0 none}
	&:disabled{background-color:#eaeaea;color:rgba(0,0,0,0.5);border:solid 1px #ddd}
	&.is-transparent{@include padding(12px 10px);border:0}
}
select{@include padding(12px 10px);-webkit-appearance:none;-moz-appearance:none;appearance:none}
.wrap-select{display:block;position:relative;background-color:#fff;@include size(100%, 44px);@extend %borderRadius--m;border:1px solid #e2e2e2;
    &:before{@include position(absolute, 50% 10px null null);z-index:1;content:"";margin-top:-4px;@include triangle("down", 11px, 8px, $color-base)}
    select{position:relative;z-index:2;background-color:transparent;padding-right:20px;border:0 none;box-shadow:none}
    &.focus{border-color:$color-main;
        select{color:$color-main}
	}
	&.is-transparent{border:0}
}
label[class*="required"]:after{content:"*";display:inline-block;vertical-align:top;margin-left:4px;color:$color-error}

input.style-custom[type="checkbox"] + label, input.style-custom[type="radio"] + label{cursor:pointer;display:inline-block;position:relative;margin-bottom:8px;padding-left:30px;color:$color-base;font-size:0.938em}

input.style-custom[type="checkbox"] + label:after{display:none;@include position(absolute, 1px null null 0);content:"";background:url("../images/checkbox.png") 0 -18px no-repeat;background-size:18px 36px;@include size(18px)}
input.style-custom[type="radio"] + label:after{display:none;@include position(absolute, 1px null null 0);content:"";background:url("../images/radio.png") 0 -18px no-repeat;background-size:18px 36px;@include size(18px)}

input.style-custom[type="checkbox"] + label:before, input.style-custom[type="radio"] + label:before{@include position(absolute, 1px null null 0);content:"";background:url("../images/checkbox.png") no-repeat;background-size:cover;@include size(18px)}
input.style-custom[type="radio"] + label:before{background:url("../images/radio.png") no-repeat;background-size:18px 36px;overflow:hidden}

input.style-custom[type="checkbox"]:checked + label:after{display:block}
input.style-custom[type="checkbox"]:checked + label:before{display:none}
input.style-custom[type="radio"]:checked + label:after{display:block}
input.style-custom[type="radio"]:checked + label:before{display:none}

.is-invalid, .error{border:1px solid $color-error!important}
.is-invalid ~ .invalid-feedback{display:block}
.invalid-feedback{display:none;width:100%;margin-top:0.25rem;font-size:80%;color:$color-error}

::-webkit-input-placeholder{color:rgba(0, 0, 0, 0.4)}
::-moz-placeholder{color:rgba(0, 0, 0, 0.4)}
:-ms-input-placeholder{color:rgba(0, 0, 0, 0.4)}
:-moz-placeholder{color:rgba(0, 0, 0, 0.4)}

/* Utility - Ratio */
.aspectRatio{position:relative;
    &.aspectRatio--100{
        &:before{content:"";display:block;padding-top:100%}
    }
    &.aspectRatio--16-9{
        &:before{content:"";display:block;padding-top:56.25%}
    }
}

/* Animation */
@keyframes blink{
	0%{background-color:#eff1f3}
	50%{background-color:#e1e5ea}
	100%{background-color:#eff1f3}
}
@keyframes blink2{
	0%{background-color:#ddd}
	50%{background-color:#efefef}
	100%{background-color:#ddd}
}

// Set All
.is-mt-gutter{margin-top:-$gutter!important}
.overflow-x{overflow:hidden;-webkit-overflow-scrolling:touch;overflow-x:scroll;margin-left:-$gutter;margin-right:-$gutter;padding-left:$gutter;padding-right:$gutter}
.heading, .heading-in-trans{display:flex;justify-content:space-between;align-items:center;position:relative;@include padding($gutter null);color:inherit;
	&:hover{color:inherit;}
	.avatar{flex-shrink:0}
	.icn-small-right{flex-shrink:0;display:inline-block;@include size(30px);margin-right:-5px;@include padding(3px);font-size:1.5rem;vertical-align:middle}
	.func-remove, .func-more{@include position(relative, null null inherit null);;flex-shrink:0;display:inline-block;margin-left:auto;@include padding(5px $gutter);color:$color-main;font-size:0.813rem;vertical-align:middle}
	a{@include position(absolute, null -4px 4px null);height:30px;line-height:30px;
		.icn-small-right{@include size(26px)}
	}
}
.heading-in-trans{@include padding($gutter);
	a{right:6px}
}
/* Star */
.rating{float:left;border:none;
	&.disabled{position:relative;
		&:before{@include position(absolute, 0);content:"";z-index:2;background:transparent;}
	}
}
.rating > input{display:none} 
.rating > label:before{background:none;overflow:inherit;width:auto;height:auto;margin:2px;font-size:10px;font-family:$font-icon;display:block;content:"\ea13"}
.rating > label:after{display:none}
.rating > .half:before{content:"\ea25";position:absolute}
.rating > label{color:#ddd;float:right;margin-bottom:0}

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label{color:$color-main} /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label{color:$color-main}

.rating-star{display:flex;align-items:center;margin-left:-2px;
	[class^=icn]{flex-shrink:0;display:block;@include size(14px, 16px);@include padding(3px 2px);color:#ddd;font-size:10px;
		&.active{color:$color-main}
	}
	&.is-large{
		[class^=icn]{@include size(20px, 22px);@include padding(3px 2px);font-size:16px;}
	}
	&.is-min{
		[class^=icn]{@include size(10px);@include padding(1px);font-size:8px;}
	}
}

/* Form */
.default-form{
	.form-row{position:relative;display:flex;@include margin(null 0);
		[class^=func]{display:none;@include position(absolute, null 0 0 null);@include size(44px);color:$color-base}
		[class^=icn]{display:inline-block;@include size(44px);@include padding(14px);font-size:1rem;vertical-align:middle}
		label{display:block;margin-bottom:5px}
		&.has-func-right{
			input{padding-right:44px}
			.func-pin, .func-search, .func-calendar{display:block}
			&.has-func-reset{
				.func-reset{right:44px}
				input{padding-right:88px}
			}
		}
		&.has-func-reset{
			.func-reset{display:block}
			input{padding-right:44px}
		}
		&.has-func-search{
			input{@include padding(10px null);padding-left:40px}
			.func-search{left:0;right:inherit;
				[class^=icn]{@include padding(15px);}
			}
		}
		.func-reset{
			[class^=icn]{display:inline-block;@include size(44px);@include padding(14px);color:#DEDEDE;font-size:1rem;vertical-align:middle}
		}
		.is-invalid ~ [class^=func]{bottom:23px}
	}
	.or{display:inline-block;position:relative;@include size(30px, 44px);@include padding(null 5px);
		&:before{@include position(absolute, 50% null null 50%);content:"";background-color:$color-base;@include size(6px, 2px);margin-top:-1px;margin-left:-3px}
	}
	.checkbox-list ul{margin-left:-$gutter;margin-right:-$gutter;
		li{
			.input-group{
				label{margin-bottom:0}
			}
			&:last-child{
				.input-group{border-bottom:0}
			}
		}
		.a-link{display:block;background-color:#fff;@include padding(14px $gutter);}
	}
	.line-var{margin-bottom:$gutter;border-bottom:1px solid $color-border}
	.input-group{display:block;position:relative;background-color:#fff;border-bottom:1px solid $color-border;
		label{display:block;position:relative;z-index:2;width:100%;@include padding(14px $gutter);text-align:left;cursor:pointer;overflow:hidden;
			&:after{display:none;@include position(absolute, 50% 5px null null);z-index:2;@include size(32px);content:'';background-color:#fff;background-image:url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23008DF2' fill-rule='nonzero'/%3E%3C/svg%3E ");background-repeat:no-repeat;background-position:2px 3px;transform:translateY(-50%);cursor:pointer}
		}
		input:checked ~ label{
			&:after{display:block}
		}
		input{@include position(absolute, 50% 30px null null);z-index:2;@include size(32px);order:1;transform:translateY(-50%);cursor:pointer;visibility:hidden}
	}
	.input-group-radio{display:block;position:relative;margin-right:$gutter;margin-bottom:$gutter;
		label{display:block;position:relative;z-index:2;background-color:#fff;@include padding(6px $gutter);text-align:left;cursor:pointer;border:1px solid #DEDEDE;overflow:hidden}
		input:checked ~ label{border-color:$color-main}
		input{display:none;visibility:hidden}
	}
}

/* Divider */
.divider{display:block;background-color:$color-border;@include size(100%, 1px);@include margin($gutter null);border:0}

/* Input file Container */
.inputfile-container{@include position(absolute,0 null null 0);@include size(100%);
	.inputfile{@include size(0.1px);opacity:0;overflow:hidden;position:absolute;z-index:-1}
	.inputfile + label{display:block;@include size(100%);cursor:pointer}
	.inputfile:focus + label, .inputfile + label:hover{}
}