$background       : #f2f4f8 !default;

// Color Font
$color-base       : #000 !default;
$color-main       : #008df2 !default;
$color-second     : transparent !default; // Chưa set
$color-dark       : #000 !default;
$color-light      : #fff !default;
$color-grey       : rgba(0,0,0,0.5) !default;
$color-price      : #FF3C00 !default; // Chưa set
$color-border     : #f5f7f9 !default;
$color-link       : $color-main !default;

$color-highlight-1: #F2AF83 !default;
$color-highlight-2: #f66274 !default;

$color-success    : #6ec410 !default;
$color-error      : #de221f !default;
$color-warning    : #e3cf1e !default;

// Font Style
$font-icon: 'Nucleo'!default;

// Page
$base-font: $font-stack-system;
$base-font-size: 16px;
$base-font-weight: 400;

$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Nunito', sans-serif;

$max-width: 600px;
$main_sprites: "../images/main_sprites.png";
$main_sprites_size: 600px 600px;
$line-height: 1.5;
//$grid-gutter-width: 30px !default; // bật khi xài bootstrap
$gutter: 10px;

